[2020-08-29 23:04] dai-shi opened #4 "[Tips] How to persist a value with localStorage/AsyncStorage"
It's not supported by the lib itself, but here's an idea how to persist data.

[code]

or

[code]

[2020-08-30 07:34] dai-shi opened #5 "[Tips] Atoms can be created on demand"
Atoms can be created at anytime, like event callbacks and useEffect, or in promises.

Here's a simple Todo example.

[code]

[2020-09-05 23:12] dai-shi opened #6 "[Tips] useReducer equivalent"
useAtom with primitive atoms is analogous to useState. We can create something similar to useReducer.

[code]

[2020-09-08 01:22] dai-shi opened #11 "[Tips] How to use with immer"
@gsimone suggested useImmerAtom:

[code]

Or, we could create a writable atom:
[code]

We might be able to create a helper function.
[code]

[2020-09-08 22:36] camsloanftc commented on #4
Just a thought: these "tips" issues might serve well in an examples readme instead.

It was kind of a happy accident that I noticed these. I could see them getting buried eventually.

[2020-09-08 22:50] dai-shi commented on #4
Agreed. We'd eventually move them to readme or a upcoming website.

[2020-09-08 23:31] dai-shi opened #13 "How is jotai different from zustand?"
## Name

Jotai means "state" in Japanese.
Zustand means "state" in German.

## Analogy

Jotai is close to Recoil.
Zustand is close to Redux.

## Where state resides

Jotai state is within React component tree.
Zustand state is in the store outside React.

## How to structure state

Jotai state consists of atoms (i.e. bottom-up).
Zustand state is one object (i.e. top-down).

## Technical difference

[2020-09-09 10:09] znk opened #15 "SSR example (w/ Next.js)"
It's a refreshing and beautiful take on state management, fitting perfectly my usecase!
Going through the source code, I don't see any re/hydration mechanism.

@dai-shi : If Jotai is SSR-ready or close to, could you set up an example? Or point out how?

Thanks!

[2020-09-09 10:40] asfktz commented on #5
Hi @dai-shi, thanks for releasing this library! 🙏
I wonder,  when an atom will be garbage collected?

For example, of you remove a todo, the garbage collector will kick in?

[2020-09-09 10:58] dai-shi commented on #15
@znk Thanks for opening up the issue. I'll be honest on this. It's not close at all. But, we would like to somehow support it, both for Jotai and Zustand https://github.com/react-spring/zustand/issues/182. My experience in SSR is limited. I'd need to learn technical details at first. Help appreciated. Thanks!

[2020-09-09 11:08] dai-shi commented on #5
Hi @asfktz !
First off, let's define terminologies:
- atom config: The return value of `atom()`. It's an object which never changes.
- atom value: The return value of `useAtom(...)[0]`. It's the real value stored in Provider.

The atom value is removed from the Provider when no components (precisely `useAtom` hook) use it any longer. This takes care of dependencies: If atomA depends on atomB, atom

[2020-09-09 14:14] asfktz commented on #5
Hmm..! I get it now
Thanks @dai-shi

[2020-09-10 02:52] Drakota commented on #13
Jotai looks fun to play with, thank you!

I've just realized that Zustand and Jotai were made by you guys @ react-spring, this brings the question, what kind of problems have you run into that justified two different state management libraries to be created? Is there any concerns of one library being cannibalized by the other one?

[2020-09-10 03:34] dai-shi commented on #13
While we were discussing about improving Zustand, we had two major points that we can't implement in Zustand. The first is that Zustand is an external store by design. We want a lib that only store states internally in React, which we believe supports CM better. The second is atom model that is often requested in some Zustand issues. We can't simply add the different concept into Zustand without i

[2020-09-10 14:40] brandonculver opened #23 "Is atomFamily behavior possible?"
Recoil has atomFamily which allows atoms to be created and referenced with something akin to a groupId.  It seems like that kind of behavior can not be replicated without some kind string key identifiers.

[2020-09-10 15:16] dai-shi commented on #23
Hi, nice to see this issue is opened for discussion.

https://recoiljs.org/docs/api-reference/utils/atomFamily
Reading the doc, I'm not sure if I understand groupId can reference atoms.
Oh, atoms created with atomFamily can be referenced by a name.

The base form would be something like:
[code]

[2020-09-10 15:43] brandonculver commented on #23
Yeah, wasn't for sure if it could be accomplished so easily but I guess there is nothing preventing it.

[2020-09-10 16:31] nksaraf commented on #23
Have worked with this api and there could be an easy way to do it.. whatever key the user plans to use can be stringified and used to cache(as a simple object) atoms. Generate new ones when an atom with a new key is requested, otherwise return the reference to a preexisting atom from the cache

[2020-09-10 16:39] csr632 opened #25 "side effect in render phase"
https://github.com/react-spring/jotai/blob/eeeb7c1d9c947105befeb5e1ada28f4aa24db89c/src/useAtom.ts#L32

The callback of `useContextSelector` called in render phase. So I think this line is a side effect in render phase.

[2020-09-10 16:54] dai-shi commented on #25
This line is actually OK, because we throw the promise anyway.
But, that's a good point. We are told that render must be pure. However, if we take the Fetch-on-Render approach and throw a promise, we need to mutate a state somewhere (= side effect), otherwise when a promise resolves it doesn't get the new state (= keep loading).

If we don't have async, the implementation would be much simplified.

[2020-09-10 19:29] xiaoyu-tamu opened #26 "How to avoid extra rerender?"
with Jotai, the `<FakeCard />` will re-render whenever editId changed, but Recoil.js does not because i can select only setter function. How to achieve the same behavior with Jotai?

## Recoil
[code]

## Jotai
[code]

[2020-09-10 20:21] ghmeec commented on #4
RN example of data persistence will be appreciated

[2020-09-10 21:46] dai-shi commented on #26
Hi, thanks for opening up the issue.
Jotai core doesn't provide `useSetRecoilState` equivalent. Instead, we use write-only atoms.

[code]

----
Now, I wonder if we can build a generalized hook.
[code]

[2020-09-10 22:01] dai-shi commented on #4
Something like this?
[code]
Error handling omitted.

[2020-09-11 00:08] dai-shi commented on #23
Has anyone tried if it (the code snippet in https://github.com/react-spring/jotai/issues/23#issuecomment-690358851) really works?

[2020-09-11 01:10] sonatard commented on #13
Thanks for awesome library!!

What does it mean that ”extenal store” and ”store states internally in React ”?

[2020-09-11 01:35] dai-shi commented on #13
@sonatard "Internal state" means `React.useState`, everything else is basically external (from the React point of view). Usually, we create a store object and put state in it, so I called "external store."

[2020-09-11 03:16] dai-shi opened #27 "[Docs] API"
Here's a draft for API docs.

## atom

`atom` is a function to create an atom config. It's an object and the object identity is important. You can create it from everywhere. Once created, you shouldn't modify the object. (Note: There might be an advanced use case to mutate atom configs after creation. At the moment, it's not officially supported though.)

[code]

There are two kinds of atoms:  a w

[2020-09-11 03:17] dai-shi commented on #27
This is just a first draft. Feedback is very welcomed to improve it.

[2020-09-11 03:26] LXSMNSYC commented on #15
@dai-shi React SSR doesn't support side-effects and error-boundaries. Suspense is similar to an Error Boundary that is solely tasked to catch Promises.

One of the problems that is blocking for SSR support is how `useAtom` supports normal and suspended states.
https://github.com/react-spring/jotai/blob/master/src/useAtom.ts#L59

In SSR patterns, usually you wouldn't throw a Promise immediately, as

[2020-09-11 10:26] tiberiuichim opened #28 "family support for atoms?"
I wonder if there's gonna be support for atoms family, like Recoil has: https://recoiljs.org/docs/api-reference/utils/atomFamily

[2020-09-11 11:02] merisbahti commented on #6
cool

[2020-09-11 11:19] gsimone commented on #28
Duplicate of #23

[2020-09-11 11:19] #28 closed

[2020-09-11 14:37] Shiroy opened #30 "Atoms value updates do not get propagated to transitively dependent atoms"
Hello,

I encounter an issue with the following snippet:
[code]

### Observed behaviour

When I update `value`, `double` is updated as well but `triple` is not. `triple` is updated only after a second render. The following snippet explain the sequence:
[code]

### Expected behaviour

I would expect the snippet above to work as:

[code]

It seems that level > 1 dependency relationships between atom

[2020-09-11 14:49] dai-shi commented on #30
Hi! Nice catch! Must be a bug. We'd need to write a failing test.

[2020-09-11 15:03] NorweskiDrwal commented on #27
I would love to see an example of updating properties of a stored object.

`const objectAtom = atom({ funkyPig: { glasses: 'stylish', bling: 'golden' })`

Say I wanna update `bling`.

[2020-09-11 15:29] dai-shi opened #32 "[Tips] Updating atom object property"
Atoms can hold any primitive values, including objects.
Here's an example to updating a property of an object.

[code]

We could also create an update action atom.

[code]

[2020-09-11 15:30] dai-shi commented on #27
@NorweskiDrwal Hi, I made a new Tips issue. Please check: #32

[2020-09-11 15:30] hsw107 commented on #27
I would love to see clarification/documentation on how to use atoms across multiple files. So far I'm using one file that contains all the atoms and I import the individual atoms I need into my component files, but not sure if that's the best way.

I'd also like to see what @NorweskiDrwal asked about.

[2020-09-11 15:35] dai-shi commented on #27
@hsw107 You can define atoms anywhere in any files, export them, and import them where needed. If you are asking some best practices to organize atoms in files, it's a good question. We'd like to collect various use cases and find a good pattern.

[2020-09-11 15:42] hsw107 commented on #32
Using `[immer](https://immerjs.github.io/immer/docs/introduction)` could simplify this, especially with even deeper nesting:
e.g.

[code]

[2020-09-11 15:43] dai-shi commented on #32
Exactly! See also #11.

[2020-09-11 15:44] hsw107 commented on #32
@dai-shi You're way ahead of me, thanks! :) Maybe I should spend more time looking through all these issue!

[2020-09-11 16:03] NorweskiDrwal commented on #32
Ooooh, you guys are the best!
I am learning about Observer Patterns in JS and wanted to write a state management lib using OP for giggles, so I found [this](https://bennetthardwick.com/blog/recoil-js-clone-from-scratch-in-100-lines/), which led me here (and to Recoil) and now I'm just writing a handler's layer on top of Jotai to learn how stuff works.
@dai-shi thanks a lot for doing all this ;)

[2020-09-11 16:10] #30 closed

[2020-09-11 16:11] dai-shi commented on #30
@Shiroy It's fixed! Thanks for reporting!

[2020-09-12 00:30] dai-shi commented on #15
@LXSMNSYC Thanks for the notes! So, this is an issue with async behavior. Do you see any issues if we don't use async operations at all?

I'd expect React will eventually support Suspense in server. (Actually, I did once tried catching promise and retying render in server, in one of my experimental projects, which is totally a hack.)
Anyway, I see we need some additional hooks or options to suppor

[2020-09-12 02:38] LXSMNSYC commented on #15
There's not much of an issue. If you separate suspended states from normal states, developers would be aware about the existence of suspended data, giving them the responsibility to handle SSR. Normal states, on the other hand, wouldn't be an issue.

I am not sure with the exact details but as I am aware, SSR skips side-effects. As for now, I only use the window check to prevent Suspense from happ

[2020-09-12 11:36] dai-shi commented on #5
Here's the basic working ToDo example: https://codesandbox.io/s/jotai-demo-ijyxm

[2020-09-12 20:55] gauravkumar37 commented on #27
OTOH if one wants an atom to be completely resident within the component including the atom config, sort of like the React's `useState`, a custom hook like this can be useful:
[code]

[code]

[2020-09-12 22:23] kentcdodds commented on #23
If someone wants a case study to try this with, you could see if you could port this example to jotai: https://github.com/kentcdodds/react-performance/blob/e92b1a1b61dae6f852524dfe9f8b81511a55113c/src/final/06.extra-4.js#L15-L18

[2020-09-12 22:37] gsimone commented on #23
@dai-shi we could test this on the strand repo, I have nodes and fields that could be implemented with this 👍

[2020-09-12 23:02] dai-shi commented on #27
@gauravkumar37
[code]
would also work.

[2020-09-12 23:14] dai-shi commented on #23
https://github.com/kentcdodds/react-performance/blob/e92b1a1b61dae6f852524dfe9f8b81511a55113c/src/final/06.extra-4.js#L15-L18
[code]

So, this requires supporting function as an initializer.
And, we use `Map` instead.

[code]

(Supporting async initializer would require more work..

[2020-09-13 00:38] cevr commented on #26
I think a set of utility hooks for common patterns (like the one mentioned above) would add that icing on top of a wonderful cake

[2020-09-13 01:29] dai-shi commented on #26
@cevr Yeah, I agree. And, I want to separate them from the core. Let me start with this one.

The utility hooks can get big. I need someone volunteer to help it, especially for documentation & examples.

[2020-09-13 01:51] dai-shi commented on #23
https://github.com/kentcdodds/react-performance/blob/e92b1a1b61dae6f852524dfe9f8b81511a55113c/src/final/06.extra-4.js#L82

Ah, it's calling the function with referentially different objects.
We'd need to shallow compare (or deep compare) or stringify the params. (Is `JSON.stringify` safe for this purpose?)

[2020-09-13 06:33] dai-shi opened #36 "[Tips] useSelector equivalent"
While the atom model fits with bottom-up approach (composing small atoms), we could create a big atom and select pieces out of it.

[code]

We can make this a hook. Let's try for a read-only atom.

[code]

[2020-09-13 08:29] dwelle opened #37 "Support functional updates for derived atoms"
Currently, setters of derived atoms do not support functional updates.

Proposed API:

[code]

In other words, is there a reason why the setter of derived atom isn't a `SetStateAction` same as for primitive atoms?

[2020-09-13 08:37] dai-shi commented on #23
Maybe, use https://lodash.com/docs/4.17.15#isEqual ?

[code]

btw, is there a way to remove an atom from the family?

[2020-09-13 08:41] dwelle commented on #37
Users can of course add it themselves:

[code]

But supporting it by default would be best.

[2020-09-13 08:45] dai-shi commented on #37
Hi @dwelle 😄

Actually, there were that logic in Provider previously.
I removed it from the core because it's sometimes extra work, and it seems to me a hidden implication.

So, the current suggestion is:
[code]

...as you commented.

[2020-09-13 08:47] dai-shi commented on #37
We could support it with `atom` (but not very intuitive), special atom creator, or a helper function.

[2020-09-13 08:49] dwelle commented on #37
What do you mean by extra work and hidden implication?

I'd argue making setters of primitive and derived atoms is not easily justifiable and intuitive. Especially since consumers of atoms don't know whether it's a derived atom (and why should they). In one case they can do functional updates, and in the other they can't. Why?

[2020-09-13 08:55] dwelle commented on #37
Ok, I understand why --- the setter of the derived atom is basically a reducer, and as such you don't want to prescribe what the `update` value is (same as `useReducer`). So this is a pickle.

[2020-09-13 08:55] dai-shi commented on #37
The thing is your derived atoms don't always support function updates and sometimes causes unexpected behavior.

For example, we can create a derived atom like this:
[code]

If we implicitly do the function update like primitive atoms, it doesn't work as expected.

[2020-09-13 08:57] dwelle commented on #37
Yea, trouble is, since there's only a single `useAtom` API, users (especially non-TS users) can't easily know what type of atom they're using and what API to expect.

[2020-09-13 09:16] dai-shi commented on #37
Yeah, for non-TS usage, we'd need to make the atom name descriptive, for example.
Closing this as resolved.

[2020-09-13 09:16] #37 closed

[2020-09-13 09:33] dwelle opened #38 "Support reducers for primitive atoms"
Allow primitive atoms to define reducers (setters), which will allow to transform the update. I don't think you should need to create a pair of a primitive and a derived atoms (where you don't export the primitive atom at all) just to accomplish this.

It seems it's somewhat supported even now, but it's undocumented and not typed correctly:

[code]

[Sandbox](https://codesandbox.io/s/jotai-demo-fo

[2020-09-13 09:57] dai-shi commented on #38
Yeah, I have that usage in mind.
However, as you said, TS can't infer types because of the context sensitive function.
So, I left it as an undocumented feature.

Creating a pair of atoms was actually my suggestion. #6

[code]

Still, you may not be happy with this.

It might be just a documentation issue.

[2020-09-13 10:01] dai-shi commented on #38
Wait, if it's just a typing issue, can we do this:

[code]

[2020-09-13 10:56] dwelle commented on #38
It should be typed as this:

[code]

I'll check the source later to see if it can be helped.

[2020-09-13 11:39] gauravkumar37 commented on #11
TypeScript version for `NonPromise` values:
[code]

[2020-09-13 13:28] dai-shi commented on #38
I agree the extra atom is just an overhead. For DX, if we make `reducerAtom`, it would be just an implementation detail whether it's of 2 atoms or one.

Thanks! Yeah, we need to use `any`. Although I wouldn't add this in core, I'm happy to add in utils. Let me draft a PR.

[2020-09-13 13:39] dai-shi commented on #38
I might change my mind in the future, if there were a better way.

[2020-09-13 13:40] dai-shi commented on #6
Closing this in favor of #38

[2020-09-13 13:40] #6 closed

[2020-09-13 13:55] dwelle commented on #38
I meant just adding the type (if we manage to fix it --- I haven't looked at it yet). If not, it can indeed live in utils as a helper method.

[2020-09-13 14:30] dai-shi commented on #11
Looks nice! Can you avoid `any`?

[2020-09-13 14:53] dai-shi commented on #26
https://www.npmjs.com/package/jotai/v/0.5.0 published which includes #35
Please report if any issue is found. Closing this.

[2020-09-13 14:53] #26 closed

[2020-09-13 15:02] gauravkumar37 commented on #11
When using function syntax, we can just specify `<Value>`.
If present in .ts file, we can specify `<Value>` as well.
But if present in .tsx file, we either need to specify `<Value, >` or `<Value extends `something`>`
So, `<Value, >` works in both .ts and .tsx files, I have edited the code above.

[2020-09-13 15:07] dai-shi commented on #11
I see. It was for *.tsx. I sometimes use `<Value extends unknown>`. Didn't know `<Value, >` works. Weird, but nice workaround.

[2020-09-13 15:12] dai-shi commented on #11
Since v0.5.0, we have `jotai/utils`. See #35
I'd like to have both `useImmerAtom` and `withImmer` in "utils".
Would you like to draft a PR?

[2020-09-13 17:45] italodeandra opened #41 "Is it possible to reset the atom to its original default value?"
My main goal here is to discuss about it if there's no core functionality or util that does it.

[2020-09-13 21:50] dai-shi commented on #41
Thanks for opening up this discussion. An instant question in mind is what would be the use case.

[2020-09-13 22:02] italodeandra commented on #41
In my case I have an atom that keeps the status of a component. It has a default value and the only "one" that knows the default value is the atom himself. Currently I have the workaround of keeping a **defaultValue** const together with the atom like this:

[code]

When I need to reset the value I do as follows:

[code]

But I think it would be great to be able to reset it. Something like:

[code

[2020-09-13 22:29] dai-shi commented on #41
Thanks for the example. There are various ways to implement it.
What I'd like to understand it is how often this feature is required.
If it's say 80% of use cases, it should probably be implemented in core. Otherwise, I'd put it in utils.

As for the code, in addition to yours, I can propose something like this:
[code]

The thing to consider is it's only for primitive atoms. derived atoms don't ha

[2020-09-13 22:52] dai-shi commented on #41
Maybe it should be more explicit:
[code]

[2020-09-13 23:14] italodeandra commented on #41
I really liked the second one. Feels more natural.
And I don't think this should be core. This kind of use case is personal. I could simply use a variable to store the value (as I'm doing right now) or just set the value to 42 again without using any default value. But I like to treat my code as an art, so I want it just to be as nice as possible.
But I would totally go for an util. I'm for sure n

[2020-09-14 01:40] brookslybrand commented on #23
Using `JSON.stringify` will unfortunately not work, as changing the order of the keys will technically result in a different param, whereas Recoil would consider this the same param. You can see the bug in this [code sandbox](https://codesandbox.io/s/atomfamily-r9idq?file=/src/JotaiApp.js:1493-1505). Clicking "Change me!" in the recoil button will update both atoms (really the same atom), whereas

[2020-09-14 02:37] dai-shi commented on #11
Hm, but that requires immer as a (peer) dependency. That's not really acceptable. How can we deal with it?

[2020-09-14 02:48] kentcdodds commented on #23
I'm a big fan of [dequal](https://npm.im/dequal) which is very small (it's an intentional feature). I use it in [use-deep-compare-effect](https://www.npmjs.com/package/use-deep-compare-effect) and it's great 👍

[2020-09-14 03:04] dai-shi commented on #23
Thanks SO much for doing it!

Didn't know it's that big.

OK, this is contradictory to Jotai's philosophy (= no string keys)

That said, for atomFamily, people would expect Recoil's behavior, and it's easy to use (compared to reference-equality + memoization), so using deep-equality would make sense.

[2020-09-14 03:08] dai-shi commented on #11
We could use `peerDependenciesMeta`, and put immer helpers in `jotai/immer` instead of `jotai/utils`.

[2020-09-14 03:16] williamtran29 opened #43 "Does this lib support RN?"
hi
I'm curious. Can I use Jotai with React Native?

Thanks

[2020-09-14 03:34] dai-shi commented on #43
Yes, I suppose so. There's nothing react-dom specific.

[2020-09-14 04:08] williamtran29 commented on #43
awesome, thanks!

[2020-09-14 13:13] brookslybrand commented on #23
Yeah, I don't see a problem with writing your own comparison function, it's just another thing that needs to be tested and compared

[I dug into recoil's implementation](https://twitter.com/BrooksLybrand/status/1305324788085293056) a bit more last night after writing my comment. It looks like they use their own [custom stringify function](https://github.com/facebookexperimental/Recoil/blob/master/

[2020-09-14 13:56] dai-shi commented on #23
Wow, your research is so helpful.
Yeah, I don't want to support arbitrary values for this one.
Primitives, objects, arrays, and combination of them would work for many cases.
I was actually thinking if shallow equal covers 80% use cases. But, maybe not, because object array and array in object property would be often used.
Sure, we can guard from unexpected values. TS would also help.

The next ch

[2020-09-14 14:35] merisbahti opened #44 "Focusable atoms (optics for this lib)"
Hello,

Interesting library!

Would it be possible for you to provide utilities for using this in conjunction with a optics library? My idea for a pretty nice api would be:

[code]

Or even:

[code]

The optics library I like is https://github.com/akheron/optics-ts

The idea is that if any of the focused atoms are "set", then the big atom is updated, leading to a update to the focused atom.

[2020-09-14 15:05] dai-shi commented on #44
I'm not familiar with a opitc library. (Now, I remember I've heard of "lens")
If we add a property to atom (undocumented behavior), you could do anything.

[code]

I'm not sure if this is correct...

[2020-09-14 17:05] brookslybrand commented on #23
Happy to help!

Yep, I think you're right, anything beyond those types isn't particularly useful or easy to reason about.

Yeah, I think adding the `initializeWrite` makes sense, just because it matches your `atom` API. I personally don't find `selectorFamily` that helpful, it's more just there to mirror `atomFamily` I think. Given that jotai doesn't have a `select` I would argue that you don't re

[2020-09-14 17:46] stereoplegic commented on #15
Could initial (or persisted) state on SSR, followed by async on hydrate, resolve this?

[2020-09-14 19:24] merisbahti commented on #44
Looks about right (typing it will be interesting, since some optics are ReadOnly, and some are removable).

Thanks, I think this resolves my issue.

[2020-09-14 19:24] #44 closed

[2020-09-14 22:05] dai-shi commented on #44
If you make a working version of `atomWithFocus`, please share it here.

[2020-09-14 22:23] dai-shi commented on #23
I'd go with it. For some case with string names, ref equality is fine. Even with the example by Kent, shallow equal works. We document usage for recoil-like-behavior.

That's great! I'll draft a PR then.

One remaining concern is if we need to provide a way to remove atoms from the family. Our current implementation only allow adding atoms.

[2020-09-15 00:50] brookslybrand commented on #23
Awesome! Let me know when the PR is up and I'll try it out.

From everything I've seen and tried, I don't think there's a way to remove atoms from an `atomFamily`, so I really wouldn't worry about it. There certainly is the potential that someone could just continue adding new atoms forever and overload their memory, but that's going to be a pretty rare case and I imagine they'd be doing something

[2020-09-15 00:59] dai-shi commented on #23
@gsimone If you were to use this atomFamily in strand, would you need removability?

[2020-09-15 03:43] #38 closed

[2020-09-15 05:17] merisbahti commented on #44
Hey dai-shi, I managed to create a focus function for the special case of `ReadWrite` atoms and only for the optics of kind: `Lens`, `Equivalance` and `Isomorphism`. So no Read-only optics, nor any `Prism` (it is possible, I just wanted to scope this).

So the problem I have is that I have to typecast the value in the getter to `NonPromise<A>` and the value setter to `NonFunction<S>`.

[code]

Ps.

[2020-09-15 06:17] dai-shi commented on #44
Looks cool.

If this works for you, it's good.

It's a bit annoying for me too, when we create utility functions.
If you or someone has a suggestion to improve `jotai.atom` typing, I'd be happy to discuss.

[2020-09-15 06:34] dai-shi commented on #23
@brookslybrand #45 is ready for trial.

[2020-09-15 06:59] dai-shi commented on #25
Closing this. I'd definitely revisit this once CM/Suspense lands and we understand the best practices.
Feel free to reopen for further discussions.

[2020-09-15 06:59] #25 closed

[2020-09-15 07:00] dai-shi commented on #43
I wish someone would try with RN and share their experiences.

[2020-09-15 08:16] italodeandra commented on #23
Hey guys, I don't want to interrupt the discussion but as I see both of you discussing about how the "compare" function of Recoil works, I can give you guys some insight.

@brookslybrand Is right about Recoil using their own stringify to make comparisons. That's because they found a more performant way of comparing objects by transforming them into array.

It works roughly like this: They get your

[2020-09-15 08:18] italodeandra commented on #23
By the way, I agree with you guys making just like React.memo to receive a comparison function instead of implementing the comparison function on the library. As I said on my comment above, you have different comparison solutions for each cash, so I would rather have control over that.

[2020-09-15 08:42] dai-shi commented on #23
@italodeandra Hey, thanks for chiming in.
It's interesting to see transforming an object into an array for performance.
In #45, I took the `areEqual` approach, so you could do as you want. (even the transformation would be possible with WeakMap.)

[2020-09-15 09:02] italodeandra commented on #43
Hi,

I tested on React Native (using Expo) and its working fine.
You can check here: https://snack.expo.io/@italoandrade/jotai-rn-example

I also tested on Nextjs but weirdly it doesn't work because of "useLayoutEffect" when it's already fixed here:
https://github.com/react-spring/jotai/blob/de300431edac274f8881dcc06841ee417075cdf4/src/useAtom.ts#L18-L22

Codesandbox: https://codesandbox.io/s/jota

[2020-09-15 09:08] dai-shi commented on #43
Cool!

I'll be trying with nextjs sometime soon. it's on my list. i'm a newbie. check: #15

[2020-09-15 09:10] italodeandra commented on #43
Oh, sorry I didn't notice this issue. You're doing a great job!

[2020-09-15 12:44] dai-shi commented on #15
Hello everyone! I finally made my first nextjs example with jotai, based on https://github.com/vercel/next.js/tree/canary/examples/with-mobx

https://codesandbox.io/s/nextjs-with-jotai-5ylrj

This has home-made hydration mechanism. It doesn't deal with async actions yet.

[2020-09-15 13:46] bricejar opened #48 "Browser support (IE11 supported?)"
On which browsers will jotai work ?

Is IE11 supported ?

[2020-09-15 14:00] dai-shi commented on #48
Good question. Jotai intensively uses `Map`, `WeakMap` and `Symbol`. IE11 seems to support those, so it's expected to work. Can you confirm?

To use the CJS build:
[code]

[2020-09-15 14:31] rattrayalex commented on #36
`useSelector` seems a bit toilsome to write, should it be baked-in?

When I first read the readme, and saw `const sum = atom(get => get(count1) + get(count2) + get(count3))`, I assumed that it would intelligently memoize for me, so that if none of the counts have changed, the sum would not recalculate. In other words, I assumed that a jotai `atom` with a get function was the same as a [recoil sele

[2020-09-15 14:37] dai-shi commented on #36
useSelector here is just to show the possibility, and I’m not sure if there’s real use cases.

Yes, the derived atoms work like recoil’s selector. They are only recalculated if one or more of its dependencies change.

[2020-09-15 14:46] rattrayalex commented on #36
Oh okay, great.

I see, your `useSelector` example there was just to generalize the `useNum` function. So instead of writing `useNum` you would write:
[code]
However, wouldn't this still update every time any item in the tree changes? Sorry if I misunderstand, I am new to many of these concepts

[2020-09-15 15:01] dai-shi commented on #36
No, your useNumValue updates only if num is changed. This is because the useSelector creates a new derived atom in it. Happy to help you for better understanding.

[2020-09-15 23:07] dai-shi commented on #25
https://recoiljs.org/blog/2020/09/15/0.0.11-released/
So, it looks like recoil stores their state outside react...
We should probably follow react-query/swr pattern.
For async read operation, it should probably be fine. For async write, we might need to re-implement with effect chaining...

[2020-09-16 14:47] dai-shi commented on #25
We fixed the async write in the latest version (v0.6.1).
Now, we should be able to follow the rule: https://gist.github.com/sebmarkbage/75f0838967cd003cd7f9ab938eb1958f

[2020-09-17 08:41] dai-shi opened #50 "Limitation: Does not work accross multiple roots"
Unlike zustand, jotai doesn't work across rerenderers.

This is because jotai is React state oriented.
Also partly intentional to distinguish jotai from zustand.

We might be able to provide an escape hatch for this if there's certain demand and use cases.
Refs:
- https://github.com/pmndrs/react-three-fiber/blob/master/api.md#consuming-context-from-a-foreign-provider
- https://recoiljs.org/docs/ap

[2020-09-17 10:04] stfnsr opened #51 "jotai.surge.sh broken on safari?"
I'm under the impression that the website is broken on Safari, at least with iOS 14 and macOS Safari 14.
I am not able to enter text in the input field - in iOS the keyboard pops up, but typing doesn't have any effect.
On Desktop, the field seems selected, but i get no cursor, and typing has no effect.

This seems to be caused by " * {user-select: none;}".
(On a related note, i also found it very

[2020-09-17 10:46] dai-shi commented on #51
Thanks for reporting. Confirmed the issue on Safari 13.
The examples in master branch is already fixed. Probably by #21
We just need to re-deoploy it. cc: @drcmda

[2020-09-17 19:44] mwood23 commented on #27
Could you clarify this part of the docs?

The way it reads it makes it seem like the registration of an atom to the Provider is done somewhere else. Based on [the code ](https://github.com/pmndrs/jotai/blob/79bb27f920de734b621caa5e5e8c71172d5fe90f/src/useAtom.ts#L80)it seems like it would be more fair to say something like this...

`atom` is a function to create an atom config. It's an object and

[2020-09-17 22:29] dai-shi commented on #27
Thanks for your feedback!

I wanted to make an analogy to typical Context+useState usage. Maybe I should add some code.

I see. We need to add some notes then.

The registration is rather implicit, so it's not a user who registers explicitly, I'd say. Let me try to incorporate.

Would love to see what would build (even a small example).

This is valid, but this is equivalent to `React.useState(0)`

[2020-09-18 05:33] merisbahti commented on #44
Still can’t get the types to work for Prisms locally for some reason... it seems that the `NonPromise` type swallows and hides the `undefined` from for example: `NonPromise<A | undefined>` and turns it into just `NonPromise<A>` - which is incorrect since prisms can be ”undefined” or focus on no values.

https://www.npmjs.com/package/jotai-optics
https://github.com/merisbahti/jotai-optics

Thanks f

[2020-09-18 05:49] dai-shi commented on #44
That's unexpected. Can you reproduce it on TypeScript playground?

Honestly, I'm not very happy with the current typings of `atom()`. If there's a better way, we'd like to reconsider. https://github.com/pmndrs/jotai/pull/45#issuecomment-692498439

[2020-09-18 07:36] merisbahti commented on #13
I was curious about the statement:

So I made a lib which looks/feels like jotai/recoil but the atoms are outside the tree:

https://github.com/merisbahti/klyva

Take a look at the tests:
https://github.com/merisbahti/klyva/blob/master/test/atom.test.ts

The atom exposes two functions: `write` and `subscribe`, so it’s pretty trivial to make a `useAtom` from that.

But also, for fun, I exposed a fu

[2020-09-18 08:07] dai-shi commented on #13
@merisbahti Hi! Glad to see you got inspired and created something.
Yeah, it's an important distinction for me. We believe that having state in React as single source of truth can give more benefit in CM. But, I can't easily convince someone about it: a) CM is not yet ready and we don't know what it's like when it lands, b) the benefit can be trivial for most apps.
Jotai is the same as Recoil, in

[2020-09-18 08:11] merisbahti commented on #13
aah I was wondering why that was the case, I see, well then that explains it for me! thanks!

btw I'm the author for that linked issue ;)

[2020-09-18 08:16] dai-shi commented on #13
aaah, what a shame. didn't pay much attention.

[2020-09-18 08:36] nahtnam opened #52 "How to allow partial objects when updating"
Hey,

I have an atom like this:

[code]

In my code I want to do the following:

[code]

Is this supported? Currently, you have to spread `...test` inside of the `setTest`, however, this does not deep merge all objects inside of `cache`

[2020-09-18 08:46] dai-shi commented on #52
The core library doesn't support it directly. So, either you spread it (1) or use immer. See #11 for immer patterns. We may plan to add immer related helpers in another bundle.

(1)
[code]

[2020-09-18 08:47] dai-shi commented on #52
There is another issue #32

[2020-09-18 09:06] nahtnam commented on #52
Thanks, this is perfect!

[2020-09-18 09:06] #52 closed

[2020-09-18 09:55] MeloJR commented on #5
Hi! It feels a bit strange to me adding an atom instead of a simple object when you add a todo so I was asking myself if we could use an approach similar to the one used in this [recoil video](https://youtu.be/_ISAA_Jt9kI?t=649). The idea is to use derived atoms (or selectors in recoil) with a memoized function. Something like this:
[code]
Has this approach sense in the jotai paradigm? Thank you.

[2020-09-18 13:08] dai-shi commented on #5
Yeah, I see what you mean. You might get crazy without TS types.

Your approach also seems valid. So, you have a big todosAtom atom, and each todoAtom is a derived atom out of it. (wait, how do you add a new atom to todosAtom?)

In this case, you'd need to keep ids somehow, so it would be just easier to use `atomFamily`. atomFamily is discussed and proposed in #45

[2020-09-18 13:57] MeloJR commented on #5
My goal is to use only "simple" array/objects values for atoms instead of objects created by an atom function. With this assumption, todosAtom's value is an array of todos (with, id, title and completed) and the derived atoms selects the element of the array that they want. The code will look like this:

[code]

I made a fork of your todo demo [here](https://codesandbox.io/s/jotai-demo-forked-4cwp

[2020-09-18 14:17] dai-shi commented on #5
Yes, it totally does. It's just another practice. Create a big atom (well not that big) and derive smaller pieces. I mean proposing such a new practice is always welcomed.

I just wanted to point out there could be another practice that fulfill your goal.

[2020-09-18 15:17] MeloJR commented on #5
Yeah, I took a look to atomFamily and it looks interesting. The problem that I detected with the solution I proposed is that I need to update todosAtom's value in order to update one todo, so it rerenders all components that use this atom, directly or indirectly 😓. So, it breaks the idea behind recoil (as far as I understood the message of the video I linked above).

[2020-09-18 17:09] italodeandra commented on #4
I'm having a problem with typing both atoms (the original and the persisted).

Can you check this codesandbox?
https://codesandbox.io/s/dreamy-frog-5zpbh?file=/src/App.tsx

What am I doing wrong?

On the persisted atom I'm using SetStateAction to mimic the native useState hook that accepts a function.

[2020-09-18 21:56] dai-shi commented on #4
If you don't specify the type in L9, TS infers the atom as PrimitiveAtom.
But if you do like `atom<Person | null>(...)`, it is inferred as read-only atom.
So, it is correct.

I wish to improve atom() types to avoid such confusion. Not sure how..

[2020-09-18 22:25] dai-shi commented on #5
You can fix it with `React.memo`. I think your idea is still valid.

Finally made the version with atomFamily (I needed to use `areEqual`).
https://codesandbox.io/s/jotai-demo-forked-n8isd?file=/src/App.js

[2020-09-19 05:41] merisbahti commented on #44
After creating the sandbox:

https://codesandbox.io/s/jotai-demo-forked-l2b0g?file=/src/App.tsx

It looks like the types are correct:
When using useAtom on the prism:ed atom, the `value` is `number | undefined` and `setValue` is `SetStateAction<number>` which is correct.

[2020-09-19 13:28] dwelle opened #54 "Allow reducer updates to be optional"
The `dispatch` function of reducer atoms should support optional updates if the reducer defines the update as optional.

To detect this, Jotai could use the same pattern that React's `useReducer` does:

[code]

Use case:

[code]

[2020-09-19 13:34] dwelle commented on #54
sidenote: why wrap the types in tuples?

https://github.com/pmndrs/jotai/blob/af47162797d434835a5cd790874cbe1cee5f6f5f/src/useAtom.ts#L18-L20

[2020-09-19 22:50] dai-shi commented on #54
Otherwise, it doesn't work. https://github.com/microsoft/TypeScript/issues/23182#issuecomment-379091887

[2020-09-19 23:04] dai-shi commented on #54
Can you confirm if #55 solves your use case?

[2020-09-20 11:08] #23 closed

[2020-09-21 06:35] a-eid commented on #4
@dai-shi is `action.type` different btw `react` `react-native`

from you comments seems that react has `init` && `set` react native has `load` && `save` ?
could you clarify please ?

[2020-09-21 06:39] dai-shi commented on #4
@a-eid Nothing special. I just tried various patterns. Which do you think is better?

[2020-09-21 07:15] a-eid opened #58 "How to use it in a non singleton way, ie: as a state for a reusable component ?"
Great work thank you!!

I was thinking how could I use atoms in a non singleton way, for example if I'm making a reusable Component `Dropdown` & I wanna hold onto some state for each instance of the Component in atoms like for a dropdown it would be `options`, how do I do that ?

[2020-09-21 07:27] a-eid commented on #4
@dai-shi they both are fine, I personally think `init` & `set` are more descriptive.

but to clarify they are the same actions names in `react` and `react-native` ?

checking the source code, it looks like they are the same for `react-native` & `react`.

by the way your `use-context-selector` looks awesome

thank you.

[2020-09-21 07:44] dai-shi commented on #4
@a-eid Those action names are something I just defined and they have nothing to do with `react` or `react-native`. (Or, I misunderstood your question.)

[2020-09-21 11:13] italodeandra commented on #58
I didn't completely get it what you're looking for. But I know atoms can be created on render, perhaps that can help.

[2020-09-21 11:18] italodeandra opened #59 "When using the type "null" on a atom, the TypeScript understand that I want to use the "read" property instead of "initialValue""
But using `undefined` I get the right type `initialValue`.

That could be because `null` is an object and an object is a function. So the `NonFunction` helper mistakes null with a function.

![image](https://user-images.githubusercontent.com/19225266/93760669-c8fc3380-fc0c-11ea-9303-4fb4df751106.png)
![image](https://user-images.githubusercontent.com/19225266/93760733-e3cea800-fc0c-11ea-9e74-758d3

[2020-09-21 11:23] a-eid commented on #58
@italodeandra yes they do, I'm just wondering what would be the best way to create/consume atoms in a non singleton way.

to clarify what I want is:

some stateful reusable components are too big to re-render for each change the happens, I wanna hold it's state in atoms and consume it where needed.

for example

[code]

say this component will be needed all over the place

I wanna hold its state i

[2020-09-21 11:38] dai-shi commented on #58
@a-eid Can you create a codesandbox example to show what you would like to do? Even if it's incomplete. Then, we could help based on it.
What you described sounds like something possible with useState.

----

OK, now I see your point.

[code]

Something like this?

There can be various patterns.

Explicit lazy ref initialization:
[code]

Create multiple atoms in a ref:
[code]

Instead of useRef, w

[2020-09-21 11:49] dai-shi commented on #59
@italodeandra I assume you are not on the latest (v0.7.0) which no longer has `NonFunction`. cf. #53
Can you confirm please?

[2020-09-21 13:28] italodeandra commented on #59
I can confirm that it was outdated. I updated to latest (v0.7.0) but it's still the same typing.
Perhaps it's another reason?

I know that doesn't break anything. Now I'm just wondering if you consider that problem.

[2020-09-21 17:39] tushar-upadhyay opened #60 "Is it possible to read an atom's current state without using useAtom?"
Suppose i am storing some authentication state of a user in an atom and i want to call an API with that state. So how can i do that outside the functional component?

[2020-09-21 19:15] znk commented on #60
Quotting from #13, whether it's not possible or not covered by this library:

[2020-09-21 19:43] Maadtin commented on #4
Can you just asign the atom to itself instead of creating 2 different atoms? It's that "correct" ? thanks :)

[2020-09-21 20:35] lishine commented on #60
But about atom.read, atom.write ?

[2020-09-21 20:41] lishine opened #61 "[Next.js] Error using useUpdateAtom"
Using Next.js
Attached screenshot
The code is like this
[code]

Wrapping Component in _app with Provider
And then using this custom hook in some component

When I used useUpdateAtom code directly, just copied from the repo, it worked.

my tsconfig:
[code]

![image](https://user-images.githubusercontent.com/6741645/93819110-faecb480-fc63-11ea-8d69-2dbf9b4498aa.png)

[2020-09-21 20:46] lishine commented on #61
![image](https://user-images.githubusercontent.com/6741645/93819607-a0078d00-fc64-11ea-8792-e1ed6875b64f.png)

[2020-09-21 20:47] lishine commented on #61
"react": "16.13.1"

[2020-09-21 21:12] a-eid commented on #58
@dai-shi thank you,
if I create an atom from within the component ( on the fly ), how do u think it's best to use it outside / from deep within the component tree ?

[2020-09-21 22:03] dai-shi commented on #59
As we claim TypeScript friendliness, TS typing issue can be considered a problem.

https://codesandbox.io/s/fragrant-pine-wiggi?file=/src/App.tsx
I tried this, but can't reproduce the weird behavior. Is it only with the editor?

I'd appreciate if you could dig this in deep.

[2020-09-21 22:37] dai-shi commented on #4
@Maadtin good point.

[code]

This works, but it's undocumented because typing in TS for this has a pitfall.
We have `atomWithReducer` in "jotai/utils", so this can be:

[code]

The only concern is "reducer" typically indicates a pure function...

BTW, you don't want to `localStorage.getItem`, do you?

[2020-09-21 22:59] dai-shi commented on #60
They are just definitions, so you can't call them.

Correct. Just think it like the normal `React.useState()`.

So, here's the workaround:

[code]

Ah, outside component... I missed that, so it's like this:

[code]

But, as you may notice, this naive pattern doesn't seem like good practice.
The point is that `useEffect` is the method to connect React world and outside world.

[2020-09-21 23:06] dai-shi commented on #61
So, I assume that esm doesn't work in nextjs server, maybe? Let me create the cjs build.

[2020-09-21 23:25] lishine commented on #61
Ok, I added dev-dependency esm
And run NODE_OPTIONS='-r esm' next dev
And it works fine

Is it the way people import esm ?
I am using node 14.8. isn't es modules supported already?

[2020-09-21 23:32] dai-shi commented on #58
@a-eid you are welcome,
you can use a context and pass down the atom (not the atom value).

[2020-09-21 23:37] dai-shi commented on #61
Don't know. We need someone familiar with next...

[2020-09-21 23:38] lishine commented on #61
OK, I run it with NODE_OPTIONS='-r esm'
Even didn't install any esm package
And it works fine

[2020-09-21 23:55] dai-shi commented on #4
We don't need a derived atom and we can do it in useEffect too.

[code]

Cc @gsimone

[2020-09-22 04:59] merisbahti opened #63 "No .cjs version of utils avaliable"
There’s a `index.cjs` file in the distribution, but no `utils.cjs`, is there any reason? I’m trying to debug an error with jest so I’m just wondering. Thanks!

[2020-09-22 05:37] dai-shi commented on #15
Hey! I made another example with async get.

https://codesandbox.io/s/nextjs-with-jotai-async-pm0l8?file=/store.js

I see at least two issues, which I hope someone can help.
1. There's a warning in console `Warning: Did not expect server HTML to contain a <div> in <div>.`
2. The very first ssr is rendered before `prefetchedPostData` is available.

[2020-09-22 05:39] dai-shi commented on #63
Soon it will have. #62

[2020-09-22 05:46] merisbahti commented on #63
awesome, thanks 🥳😅

[2020-09-22 05:47] tushar-upadhyay commented on #60
So that mean, we cannot seperate buisness logic with the component right?

[2020-09-22 05:48] dai-shi commented on #63
https://github.com/pmndrs/jotai/pull/62#issuecomment-696438508
You could test it with the csb ci build, until it's merged and released.

[2020-09-22 05:51] dai-shi commented on #60
You could make a custom hook, but it depends on React. If that's what you mean, yes.

[2020-09-22 08:11] LXSMNSYC commented on #15
[code]

There's no guarantee. If you want to prefetch data on server-side, you can guarantee the hydration by fetching the data through [`getServerSideProps`](https://nextjs.org/docs/basic-features/data-fetching#getserversideprops-server-side-rendering), that is, `getServerSideProps` must wait for the initial data to resolve (you have to `await`).

As for SSR Suspense, Next.js would respond with a

[2020-09-22 09:32] dai-shi commented on #15
@LXSMNSYC Thanks for your help!
I updated my example: https://codesandbox.io/s/nextjs-with-jotai-async-pm0l8?file=/store.js

In my example, this is avoided with `EMPTY_POST_DATA`.

[2020-09-22 10:15] MeloJR commented on #5
Thanks for the example. One question: if you want to load the todos from an API or a localStorage, where will you do this load with atomFamily?

[2020-09-22 10:37] dai-shi commented on #5
That's actually a good question. Basically, it doesn't change anything with atomFamily, I suppose, but we'd still need to come up with better ideas for save/load (serialize/deserialize) features. #4

[2020-09-22 10:50] MeloJR commented on #5
Well, it needs to take the `completed` value of param, at least.

[2020-09-22 13:33] #54 closed

[2020-09-22 13:33] LXSMNSYC commented on #15
@dai-shi as far as I know, `getServerSideProps` provided props can only be received by it's owner component, and cannot be accessed by the App component. Therefore, if you are planning to hydrate all stores for the whole app, you should prefetch the data and hydrate it inside the App's `getInitialData` method, otherwise, you can hydrate the store granularly per page (using `getServerSideProps`.

[2020-09-22 13:40] LXSMNSYC commented on #15
@dai-shi So far, looks great. I'm sorry about the other comment, disregard what I said regarding the getInitialProps. I was actually viewing the index page and I didn't notice it, I thought the App component didn't catch the initialState props

[2020-09-22 13:41] #61 closed

[2020-09-22 13:41] #63 closed

[2020-09-22 13:49] LXSMNSYC opened #65 "Race conditions in rapidly updating async atoms"
@dai-shi's example sandbox: https://codesandbox.io/s/nextjs-with-jotai-async-pm0l8?file=/pages/_app.js

### Current Behavior
Clicking the button rapidly immediately opts-out of the fallback UI and shows a stale success state, then switches to the current state.

### Expected Behavior
Suspense should not opt-out of fallback until the current Promise state has been resolved.

[2020-09-22 13:51] #50 closed

[2020-09-22 13:57] LXSMNSYC commented on #60
If you want a jotai-like decoupling from React, you might want to read this article: https://bennetthardwick.com/blog/recoil-js-clone-from-scratch-in-100-lines/

[2020-09-22 14:02] dai-shi commented on #65
Good point. Overall, async behavior is still not optimal. This one should be fixer sooner. I hope I can write a test first.

[2020-09-22 15:02] Maadtin commented on #4
Yeah I forgot to Add localStorage.getItem  for when reloading the page, 😄  thanks for replying! and yeah I don't think Ill have problems since I don't use TS. :)

[2020-09-23 00:29] dai-shi commented on #5
@MeloJR Oh, I see. You are right. I missed it.

[code]

Something like this 👆 . It's a bit annoying that this basic atoms have to take care of (de)serialization. I'd like to separate it somehow.

[code]

You know, we are still challenging about (de)serialization. Ideas are welcome. Eventually, a good pattern will turn into a helper function.

[2020-09-23 04:27] merisbahti commented on #63
Hey, I’m not sure I understand how to use it. I tried with a direct import like this:

[code]

But I get the error that there’s no typings defined for it.

If I use

[code]

I still get the same error as before, i.e. something similar to that code is not transpiled from `node_modules`.

How is this supposed to work?

Here’s my repo: https://github.com/merisbahti/jotai-optics

[2020-09-23 04:35] dai-shi commented on #63
@merisbahti

How about this?

[code]

[2020-09-23 04:39] merisbahti commented on #63
Hey, I get the same error (no typings found for utils.cjs.js)

Hmm...
I was wondering why does

`import { atom } from ’jotai’`

work?

It seems like it just works is because in package.json you specify `main` as `index.cjs.js`.

[2020-09-23 04:40] merisbahti commented on #63
As a workaround btw, I made this file:
[code]

https://github.com/merisbahti/jotai-optics/blob/master/src/external-types.d.ts

It’s alright.

[2020-09-23 05:39] dai-shi commented on #63
Sorry, I wasn't careful enough. So, it's the typescript error.
Your workaround seems good.

Alternatively, can we use this?
https://www.typescriptlang.org/docs/handbook/triple-slash-directives.html

[code]

(never tried.

[2020-09-23 06:25] merisbahti commented on #63
hmm, might work - but it feels like this would be rollups responsibility?
maybe we have missed something in the configuration?

On Wed, 23 Sep 2020 at 07:39, Daishi Kato <notifications@github.com> wrote:

[2020-09-23 12:35] dai-shi commented on #15
Thinking about this a bit, the server part shouldn't be difficult, but I'm not sure how to do it on client. As we keep the id in an atom state, we need to sync it somehow in the browser url. I expected [shallow routing](https://nextjs.org/docs/routing/shallow-routing) may help, but so far it doesn't work as expected.

[2020-09-23 14:11] srcspider opened #66 "How does jotai know the exact dependents? Can we have lifescycle explained in the docs"
Can you please update the README with one line or small paragraph on how jotai know what the dependents are for an atom with them? ie. In the example of `const uppercaseAtom = atom(get => get(textAtom).toUpperCase())` how does it know that `textAtom` is a dependent of `uppercaseAtom` and call the callback function only if `textAtom` updates.

_I've sadly failed to confirm after throwing a glance a

[2020-09-23 14:54] dai-shi commented on #66
Hey, thanks for asking. There's many points you asked. Let me organize it. I'd appreciate you confirm if anything is missing. Basically, we need to improve docs, I suppose. I'd also need some help from someone to improve docs in general.

1. how jotai knows the dependents
2. lifecycle transparency especially with async
3. non-singleton example
4. typing atoms
5. atom internal workings

I actually

[2020-09-23 15:04] dai-shi commented on #66
It would take time to have organized docs.

Let me start writing something here, getting some feedbacks, and then create a draft.

To begin with, let's explain this. In the current implementation, every time we invoke the "read" function, we refresh dependents.

[code]

The read function is the first parameter of the atom.
Initially dependency is empty. At the first use, we run the read function,

[2020-09-23 15:05] srcspider commented on #66
Yes that seems to be all of them. Sorry for making the question a bit
overcomplicated.

On Wed, Sep 23, 2020, 5:55 PM Daishi Kato <notifications@github.com> wrote:

[2020-09-23 16:06] srcspider commented on #66
Next time, when we re-run the read function (because its dependency (=textAtom) is updated),
we build the dependency again, which is the same in this case. we then remove stale dependents and replace with the latest one.

So then, inferring what's not said...
1. `Atom` is `( read, write, dependents )` tuple of two functions (first of which might be simplified to value, 2nd of which might be omitte

[2020-09-23 23:16] dai-shi commented on #66
Your comment is very helpful. In the end, we should be able to produce a doc. Let me comment one by one.

We should distinguish atom config, atom dependents and atom value (because you also mention garbage collection.) The result of `atom()` is what I call atom config. It's a JS object, and it never changes. All changeable states reside in Provider. Provider contains atom value and atom dependents

[2020-09-24 04:55] italodeandra commented on #59
Hi @dai-shi,

It could be indeed my IDE's fault. I can't dig any deeper because it doesn't affect the code really. Is just how my IDE shows which property he thinks I'm filling there, if it is **initialValue** or **read** function.

I'm closing this for now but I'll keep an eye for this and will update here if I get to see anything. Now that I know the "TypeScript friendliness" we're aiming for I'

[2020-09-24 04:55] #59 closed

[2020-09-24 07:09] srcspider commented on #66
I see. Thanks for the in-depth clarification.

[2020-09-24 11:02] a-eid opened #67 "is it possible to mutate state, without causing subscribed components to re-render ?"
this is a very weird use-case but sometimes I wanna just update an atom without re-render ?
is that possible ? if so how ?

[2020-09-24 11:02] #67 closed

[2020-09-24 11:51] dai-shi commented on #67
Unofficial answer: If you mutate an atom value (object), it won't re-render. Same as useState.
Official answer: What would be the valid use case? If you want to mutate something useRef+useContext seems a better way.

[2020-09-24 11:53] a-eid commented on #67
@dai-shi after thinking about it for a while, I thought I might not need it.

thanks

[2020-09-25 11:57] ozio commented on #13
I need the same article, but for Recoil.

[2020-09-25 12:11] dai-shi commented on #13
You mean the comparison between Jotai and Recoil?

[2020-09-25 12:17] fkocovski opened #68 "Pass parameters to atom with async read function"
First of all, amazing library, thank you so much :)

When I initialize an `atom` that will make an async call to an API endpoint, is there a way to pass an attribute? I know that I could write a primitive `atom` that will hold the parameter and make the async one dependent on it, but a more direct approach would be more elegant in my opinion.

I tried initializing it as follows but it keeps re-ren

[2020-09-25 13:12] dai-shi commented on #68
Hi,
It sounds to me that you would like to use `write` function, but I'm not quite sure. Please elaborate your use case, otherwise.

Here's an example with two atoms.

[code]

This is not initialized unless it's explicitly used and invoked.

[code]

If you really want to avoid two atoms, you could do this:

[code]

This is undocumented behavior. It's undocumented because we can't easily type it wi

[2020-09-25 13:37] ozio commented on #13
Yup.

I saw small explanation in the README.md, but it's too short to decide. For me it sounds like "we don't use strings as a keys - that's the main reason to use Jotai". In the other words, if I'll make a simple wrapper for Recoil to exclude string keys - what's the difference will be?

[2020-09-25 13:37] dai-shi commented on #66
About atom internal workings,
I try to make it work as straightforward, but there's something to note.
- If you create a primitive atom, it will use predefined read/write functions to emulate `useState` behavior.
- If you create an atom with read/write functions, they can provide any behavior with some restrictions as follows.
- `read` function will be invoked during React render phase, so the fun

[2020-09-25 14:00] fkocovski commented on #68
Thank you I just tried it and it actually works. Very straightforward logic :) Just a small clarification, are you referencing `doFetch` in the dependencies array of `useEffect` for performance reasons?

Again, thank you so much and I'm really looking forward to using Jotai even more!

[2020-09-25 14:27] dai-shi commented on #13
Alright. First off, I'm familiar with Jotai and Zustand about their implementations, the backgrounds and goals. However, I'm not familiar with Recoil implementation at all. I grasp the Recoil docs, but don't understand it fully. Hence, it's pretty biased and maybe not accurate. Having that said, yes the biggest difference is no string keys. Recoil has it by design to allow serialization easily. Jo

[2020-09-25 14:32] dai-shi commented on #68
No, it's just because I know the exhaustive-deps rule complains otherwise.
Note `doFetch` returned by `useAtom` is wrapped by `useCallback`, so it's stable.

[2020-09-25 14:46] fkocovski commented on #68
Great, I was hoping it was because of the warnings.

Amazing 👍

Thank you once more for the help and keep up the terrific work!

[2020-09-25 14:46] #68 closed

[2020-09-25 19:08] mmiller42 commented on #27
Can you clarify how the `get` function subscribes to updates for a derived atom? For example, I assume something like this wouldn't work right?

[code]

though I'm not sure (I figured it tracks the dependencies the first time it's evaluated)

[2020-09-25 23:04] dai-shi commented on #27
@mmiller42
It should work. (More precisely, it's fixed since v0.7.0. Prior to that version, dependencies are accumulated in each invocation of `get`.)
Note `condition` should come from some other atoms for proper tracking. If it's just a global variable, the behavior would become just random..

Please also follow the discussion in #66. I need your feedbacks.

It will track them every time it's eva

[2020-09-26 07:33] #65 closed

[2020-09-27 23:11] dai-shi commented on #4
Hi, I added persistence to my simple todo example.
https://codesandbox.io/s/jotai-todos-ijyxm

I hope this pattern can be a general solution to persistence/serialization.

[code]

[2020-09-28 00:00] JLarky commented on #11
Here's ready to go example, it doesn't use `NonPromise` and has an example of using generic type instead of just inferring type from the initial value

[code]

[2020-09-28 07:47] fkocovski opened #71 "Imperatively refresh atomFamily"
What would be the best way to imperatively refresh an `atomFamily`?

Let's say I have following case, where I use `get(updateAtomFamily)` in order to track it as dependency in the `atomFamily` so that I trigger the fetch imperatively:

[code]

Then my idea was to imperatively `useUpdateAtom` in my component as a refresh function like this:

[code]

and then have the imperative call:

[code]

Howev

[2020-09-28 08:01] dai-shi commented on #71
@fkocovski Hi, nice to see you trying `atomFamily`

Would you create a small repro in codesandbox?

Please consider using `write` (the 2nd arg of `atom()`) instead of `read`.
You might need two atomFamilies.

Maybe related: #68

[2020-09-28 08:41] fkocovski commented on #71
Here is a small codesandbox in which I managed to reproduce the error. Please note that the async `atomFamily` has both a primitive `atom` as well as a derived `atom` as dependency. Hope this helps.

https://codesandbox.io/s/white-shadow-0zqo3

[2020-09-28 09:17] cbioley commented on #11
@JLarky I can't make TS happy. I've got the following error:

[code]

(TypeScript 4.0.3, jotai 0.6.2, immer 7.0.9)

[2020-09-28 09:48] dai-shi commented on #11
@cbioley Would you try jotai v0.7.2 please?

[2020-09-28 10:27] dai-shi commented on #5
@MeloJR

I made the todos example with atomFamily to support persistence with localStorage.
https://codesandbox.io/s/react-typescript-forked-eilkg?file=/src/App.tsx

Please check it out and let us know if you find any issues.

[2020-09-28 10:30] dai-shi commented on #4
https://github.com/pmndrs/jotai/issues/5#issuecomment-699922179
Another persistence example with atomFamily.

<overview>
<details>

[code]

</details>
</overview>

[2020-09-28 10:57] cbioley commented on #11
@dai-shi It works perfectly. Thank you 👍

[2020-09-28 11:06] MeloJR commented on #5
Great! I have checked it quickly and it looks very interesting. I will code some concepts that I wanted to test following your example. If I find any issue I will post it here. Thanks!

[2020-09-28 12:09] dai-shi commented on #71
Thanks for the repro. It seems to reproduce the error with `primitive1` instead of `derived`.
I will investigate it.

Meanwhile, if you have a question about using `write` for your use case, let me know.

[2020-09-28 14:46] fkocovski commented on #71
Thanks for the prompt feedback @dai-shi , for the moment I reverted as per your suggestions to the `write` function with `useEffect` and a normal `fetch` inside of it. Sadly I lost the leverage of `Suspense` on component re-render, but it works!

The library is truly a game-changer, I love the streamlined APIs, I've started integrating it in one of our projects ;) Looking forward to all the new fe

[2020-09-28 22:14] dai-shi commented on #71
Yeah, suspending on write is very tricky. For now, the atom you invoke `write` should suspend. Technically, it can't know its dependents before the first write.
If you have time, could you create a small codesandbox to illustrate your use case? I'd like to learn the use cases for `write` suspense.

[2020-09-29 02:41] dai-shi commented on #60
While I was ideating the persistence pattern https://github.com/pmndrs/jotai/issues/4#issuecomment-699700511, I came up with this idea.

[code]

It will only allow to read committed state, so it's essentially the same as:

[code]

in https://github.com/pmndrs/jotai/issues/60#issuecomment-696423318.

Just found https://recoiljs.org/docs/api-reference/core/useRecoilCallback is a bit similar, or not.

[2020-09-29 09:24] fkocovski commented on #71
https://codesandbox.io/s/elastic-cloud-zj3fe

The idea is to have a normal `atom` which gets data asynchronously on component render. This part already works perfectly by creating the `atom` like this:

[code]

and then having a normal component with `useAtom`:

[code]

What I still struggle is with the `newPost` use-case: how would I imperatively tell the atom to re-fetch the data after I created

[2020-09-29 11:06] dai-shi commented on #71
`read` should basically be pure (in React terminology), and we can't imperatively fetch data with `read`. So, `write` should do the job.

If we could make the initial data empty, and fill it with useEffect on mount, it should be easy.
The question here is how to fill the initial data from the server.

I have one idea, which may not seem perfect, but it works.
https://codesandbox.io/s/headless-hill

[2020-09-29 11:42] dai-shi commented on #51
@stfnsr sorry for the delay. it's fixed now.

[2020-09-29 11:42] #51 closed

[2020-09-29 20:52] fkocovski commented on #71
I like your approach. For the moment I decided to stick to the empty `atom` variant and fill it with `useEffect`. I also tried the approach of having a primitive refresh `atom` with an initial value of 0 and use that as a dependency in the async `get` part and increment that one in order to trigger a re-fetch. That works now flawlessly in 0.7.3!

[2020-09-29 22:28] edgesoft commented on #48
@bricejar https://github.com/pmndrs/jotai/blob/master/src/Provider.ts#L35

Here Proxy is used and that is not supported by IE11. However there are polyfills but they are mostly not very stable.

[2020-09-29 22:33] dai-shi commented on #48
@edgesoft Oh, you are right. If it's the only blocking issue, I can probably change it to object getters. Polyfills should work fine in this case of simple proxy getters.

[2020-09-29 22:35] edgesoft commented on #48
@dai-shi Thanks! I don't think it will be an issue since is not used extensively.

[2020-09-30 04:25] jcoussard commented on #71
I really like this library! While I'm still trying the figure out its quirks, I figured solving a puzzle is a good way to learn.

Here is my attempt at it: https://codesandbox.io/s/cool-firefly-xhyc2

Is it a good way to solve that problem? I'm wondering whether `const postsAtom = atom(fetchPosts());` is a good practice or not since it initialize the atom with a promise.

(PS it seems codesandbox'

[2020-09-30 08:53] dai-shi commented on #71
@jcoussard

[code]

Mind blown! 🤯
Yeah, it works. (The old versions of jotai prohibited passing promises to primitive atoms in types. Newer versions removed the restriction.)
The way it works is even though postsAtom has a promise at first, we read it though latestPostsAtom, which resolves the promise. Clever.
Only the concern is it's difficult follow for beginners and TS typing would be a bit tri

[2020-09-30 09:27] dai-shi commented on #71
I was wrong. The promise in the primitive atom is resolved before render just like the derived atom. So, it works without the pitfall.

https://codesandbox.io/s/late-cache-ujkp0?file=/src/App.js

[2020-09-30 14:31] Kerumen opened #73 "import from 'jotail/utils' throwing an error"
[code]

I'm using Next.js and when I try to import from `jotai/utils` it's throwing this error:

<img width="981" alt="Screenshot 2020-09-30 at 16 30 24" src="https://user-images.githubusercontent.com/5436545/94699116-44ab5e00-033a-11eb-9ccc-b85abb83eefa.png">

[2020-09-30 14:53] jcoussard commented on #71
I don't think it's resolved before render, it's the <Suspense> container doing its job displaying the fallback while waiting for the atom's promise to be fulfilled.

[2020-09-30 22:28] dai-shi commented on #73
Hi, does this help?

[code]

We may need to reconsider dist file names for node server environment..

[2020-09-30 22:34] dai-shi commented on #71
Yep. That's correct. I mean, it's the library that let `<Suspense>` do the job.
My point was that the codesandbox example in my previous comment just works (which I misunderstand before.)

[2020-10-01 15:47] dai-shi opened #74 "Atom initialization bug with two atoms and useEffect"
Reported in Discord channel.

Reproduction: https://codesandbox.io/s/competent-rubin-zf1nd?file=/src/App.js

Simply by opening it, it shows an error. 😱

[2020-10-01 18:22] garretteklof commented on #15
I'm getting an `Error: Rendered more hooks than during the previous render` just by wrapping the `<Provider>` in `_app.js`. I originally had a whole architecture written but ran into this issue, then proceeded to comment everything out and it seems to be happening just by simply wrapping the root provider. Any thoughts on why this could be? I really want to make this library work as opposed to rea

[2020-10-01 21:53] dai-shi commented on #15
@garretteklof Hmm, not sure what causes the error. Would it be possible for you to create a small repro with codesandbox?

[2020-10-02 03:54] garretteklof commented on #15
@dai-shi thanks for the quick reply! It looks like it's occurring with the official Next.js starter `npx create-next-app` -> here's a [codesandbox](https://codesandbox.io/s/y2kx8?file=/pages/_app.js) with the template and the jotai `<Provider>` wrapped in `_app.js`

[2020-10-02 08:21] fkocovski opened #76 "Concurrent mode async data fetching with atomFamily"
Hey let's say I have a `Parent` component that fetches data and renders a list of that data. So far so good. Then for each element of the parent data fetched a `Child` component is rendered that uses `atomFamily`. Now each `Child` component initialized the `atomFamily` with the same ID, so I thought the caching mechanism should kick in and after it sees that data was fetched once from the `atomFam

[2020-10-02 09:28] #74 closed

[2020-10-02 10:01] dai-shi commented on #15
Thanks for the sandbox. And, I'm totally confused.

My example which worked fine no longer works after I modified package.json.
https://codesandbox.io/s/nextjs-with-jotai-5ylrj?file=/package.json

Now reverting the jotai version doesn't help. Or, I don't know how to revert.
Can anybody please help us?

[2020-10-02 11:06] LXSMNSYC commented on #15
I think, in theory, this could be the problem: https://github.com/pmndrs/jotai/blob/master/src/useIsoLayoutEffect.ts#L7

Usually, this is how I define an isomorphic useLayoutEffect:

[code]

[2020-10-02 11:33] Kerumen commented on #73
@dai-shi Yes but then I have the following TS error:

[code]

[2020-10-02 11:35] LXSMNSYC commented on #15
@dai-shi I would like to help but I can't build the `dist` files properly :/
![image](https://user-images.githubusercontent.com/4783372/94918620-80cef200-04e5-11eb-965d-a268a8cc6676.png)

[2020-10-02 11:38] dai-shi commented on #73
Oh,,, right. I wonder how other libs solve this bundling issue...

[2020-10-02 11:41] dai-shi commented on #15
I've never seen `Provider_ts`. Where do they come from???

[2020-10-02 11:41] Kerumen commented on #73
Why don't you expose everything from the main entry point?

[2020-10-02 11:44] LXSMNSYC commented on #15
@dai-shi It seems that the .ts files aside from 'utils' are not being resolved by `rollup` and therefore does not get bundled. The published package seems fine: https://unpkg.com/jotai@0.7.4/index.cjs.js

What I did is just run `yarn`

[2020-10-02 11:45] dai-shi commented on #73
Because I want to explicitly split utils out of core. We took the same approach as zustand.
I'll make a small PR and would like you to see if it works. One moment.

[2020-10-02 11:59] dai-shi commented on #15
...but the published package is the result of what I run `yarn build`.

[2020-10-02 12:09] LXSMNSYC commented on #15
@dai-shi I tried re-cloning my fork repo, ran `yarn` and waited. The `dist` is still the same.

[2020-10-02 12:09] dai-shi commented on #15
https://github.com/dai-shi/use-context-selector/issues/24
Alright, so if we lock the version of use-context-selector v1.1.4 in codesandbox, it should work?

[2020-10-02 12:11] dai-shi commented on #15
That sounds interesting... There must be some differences between your env and my env.

[2020-10-02 12:45] dai-shi commented on #15
https://codesandbox.io/s/nextjs-with-jotai-5ylrj
Finally, it's back. what a relief.

@LXSMNSYC Thanks again.

@garretteklof It should work if you re-install the package.

[2020-10-02 23:34] #76 closed

[2020-10-02 23:35] #73 closed

[2020-10-03 11:40] a-eid opened #81 "unable to resolve `react-dom` when used with react-native ?"
![Screen Shot 2020-10-03 at 1 39 16 PM](https://user-images.githubusercontent.com/19273413/94990633-eec6f800-057d-11eb-9a0c-fe8fd8ee84b6.png)

it seem to be an issue with `use-context-select` @dai-shi .

[2020-10-03 11:45] dai-shi commented on #81
Oh!!! The single bundle doesn't work for RN... Thanks for reporting!

[2020-10-03 11:47] a-eid commented on #81
no problem, I hope this gets resolved soon, I really like the library,
thank you!

[2020-10-03 11:52] a-eid commented on #81
I have another project working with `^0.7.2`, but now even if I install that version it doesn't work for some reason.
I'm not sure I understand why.

[2020-10-03 11:53] dai-shi commented on #81
If you lock the use-context-selector version to v1.1.4, it would work.

[2020-10-03 11:54] a-eid commented on #81
thank you. @dai-shi

[2020-10-03 12:00] a-eid commented on #81
probably not a good idea, but I edited `yarn.lock` to lock the `use-context-selector` version.
if you want -with you instruction- I can work on a PR to fix this issue.

thank you.

[2020-10-03 12:04] dai-shi commented on #81
Thanks. The dependency version is already fixed in the latest version.

Anyway, I will fix it soon.
https://github.com/dai-shi/use-context-selector/pull/26 This should be it. I'd just release it and make a PR here in jotai.

[2020-10-03 21:52] #81 closed

[2020-10-04 03:11] dai-shi commented on #43
There was an issue with v0.8.0 and pre-0.8.0 without locking a dependency package. #81
It's now fixed in v0.8.1.

[2020-10-04 03:11] #43 closed

[2020-10-04 07:11] fjcalzado commented on #13
This kind of comparisons are great @dai-shi, I would add them to front page documentation.

[2020-10-04 07:36] fjcalzado opened #84 "[Question] Where do atoms and derived atoms values 'live'?"
Hi @dai-shi, first of all thank you for this library. It is great to have different options, approaches and improvements around the React state topic. Good job!

I'm playing a bit with it and trying to better understand what's happening under the hood, which use cases can be easily covered with jotai and which doesn't (if any). And several questions arised. I didn't check code yet, sorry, so my qu

[2020-10-04 07:36] fjcalzado commented on #84
I'll continue in this post

[2020-10-04 07:44] dai-shi commented on #84
Yes, totally. Provider holds a big `Map` of atom and atom values.

I had thought about adding `useDebugValue` in Provider, which we already have in useAtom, but it wouldn't be very useful, because an atom is not printable. Maybe we could create a special serializer to show the big `Map`, but I'm not sure how.

[2020-10-04 07:52] dai-shi commented on #13
But they are rather too big to fit in the readme. What would you suggest otherwise?
btw, we should be preparing a new web site, so that would help it sooner or later.
Maybe we'd put the comparison in docs and add links in the mean time.

[2020-10-04 07:56] #4 closed

[2020-10-04 07:56] #27 closed

[2020-10-04 07:56] #66 closed

[2020-10-04 08:04] dai-shi opened #85 "Improve docs/*.md"
#83 added some drafts. we need to improve them.

There would be several levels of contributions.
- Fix typo, grammar, and/or expressions (please file a PR)
- Ask questions in a new issue to clarify, add,  and improve descriptions (a followup PR would be nice)
- Or, you can start a PR directly with a draft doc and discuss there

Feel free to ask general questions in this issue. Also we have a chann

[2020-10-04 08:08] dai-shi opened #86 "[Umbrella] Improve showcase"
https://github.com/pmndrs/jotai/blob/master/docs/showcase.md has only a few examples with no description.

- Add descriptions
- Add examples
- Update examples
- Make examples pretty Look&Feel
- Organize examples with category or something

[2020-10-04 08:10] dai-shi opened #87 "Add utils test"
We don't have any tests for jotai/utils. Would someone work on it?

[2020-10-04 08:15] dai-shi opened #88 "Improve core tests"
Core tests are the followings:

[code]

I need someone to help advice if it's ok or if there's room for improvement. I followed the same pattern as in zustand, but I'm not quite sure if testing with `findByText` is a good/desired way (instead of using `expect`.)

[2020-10-04 08:18] dai-shi commented on #11
Action item is to create a new `'jotai/immer'` bundle like `'jotai/utils'`.
I was thinking of putting `useImmerAtom`, `withImmer`, and `atomWithImmer`.
It's open for discussion.

Would anybody want to work on it?

[2020-10-04 08:20] dai-shi commented on #32
I'm not sure where/how I should write this on in the docs.
Or, is it so obvious that we don't need to describe in docs?

[2020-10-04 08:25] dai-shi commented on #36
I'm not sure how I should do with this because our basic recommendation is bottom-up approach. Just close it, leave it or write something in docs?

This is kind of top-down approach and jotai-optics by merisbahti seems like a right solution.
https://github.com/merisbahti/jotai-optics

[2020-10-04 08:26] fjcalzado commented on #84
Can I ask you why is not printable?

By the way, I edited my post 2 above with a new sample and question, maybe you missed it, sorry.

[2020-10-04 08:27] dai-shi commented on #48
Let me close this. Please reopen if you need further discussion.

The current understanding of IE11 support is: It should work with proxy-polyfill.

[2020-10-04 08:30] dai-shi commented on #58
@a-eid Do you have any other questions? If we have concrete ideas, we could write something in docs.

#5 is a related issue.

[2020-10-04 08:33] dai-shi commented on #71
I'm not sure what to do with this issue. It seems too technical and edge use cases to write it in the current docs. Suggestions?

[2020-10-04 08:42] dai-shi commented on #84
Yes, it's by design and `read` must be pure (in react terms), so it's technically correct.
Notice if you unmount PageA, the value in Provider is garbage collected, and after that if you mount PageA again, it will re-run the `read`.

No, it has nothing to do with ref equality. I would do the same if we used string keys.
This behavior is because we store atom values in Provider, and only initialize

[2020-10-04 08:45] dai-shi commented on #84
I simply mean this:
[code]

We don't have anything to distinguish atomA from atomB when we print.
With string keys, this wouldn't be a problem.

[2020-10-04 09:07] Aslemammad commented on #11
Hey @dai-shi, These days, I'm going to read the docs and the source, because I loved the idea of jotai, and I wanted to work on this, no problem with that?

[2020-10-04 09:49] dai-shi commented on #11
@Aslemammad Yes, please go ahead.

It's basically like utils:

1. create ./src/immer.ts
2. add two lines in ./rollup.config.
3. create ./docs/immer.md

You can add `immer` in devDependencies, but I'd like to avoid adding it in peerDependencies if `yarn build` works fine.

[2020-10-04 13:44] a-eid commented on #58
@dai-shi thank you, you previous comment answered the the query I had in mind.

[2020-10-04 13:44] #58 closed

[2020-10-04 15:20] LuckyPigeon commented on #87
I can do this, and can also try to work on #88, since they are both belongs to the test category.

[2020-10-04 16:08] fjcalzado commented on #13
Yes, sorry, I meant adding links, agree. I'd keep front page tidy & simple, with quick access to the most relevant topics. I find these kind of comparisons extremely useful as long as they are based on technical facts, as you did (instead of marketing slogans as you can see in many other libraries).

[2020-10-04 16:45] fjcalzado commented on #84
I see your point, you are right. The only way I come up with is to add an optional name upon atom creation with the only purpose of labelling it for debug/inspection:

[code]

Although this could be confused with a string key (which is not). Another downside: it makes API dirtier.

[2020-10-04 17:03] Aslemammad commented on #11
@dai-shi, That's cool, I'm going to work on it.

[2020-10-04 17:10] LuckyPigeon commented on #86
I can work on this, and would you prefer all the code in a PR or separate them into a few PR, for example, an example a PR?

[2020-10-04 18:24] fjcalzado commented on #84
Regarding the original topic...

All right, so if I understood correctly, an atom value life cycle could be described more or less like this:
- We create an atom using `const myAtom = atom(read, write)`. We register `read` and `write` methods associated to the atom unique ID (the object reference that is returned).
- We consume an atom with the hook `useAtom(myAtom)`. Under the hood, provider's ma

[2020-10-04 18:43] JLarky opened #92 "atoms and error boundaries"
I'm trying out jotai in one of my projects and it was crashing with code like this
[code]
and I was confused why this error wasn't caught by the react error boundary (of `react-error-boundary` fame). Then I realized that my component three was like this `JotaiProvider -> ErrorBoundary -> MyComponent` so doing something like `ErrorBoundary -> JotaiProvider -> ErrorBoundary -> MyComponent` helped, b

[2020-10-04 21:45] dai-shi commented on #86
Good question. For the time being, I'd just put codesandbox/github links in showcase.md.
We also have examples folder in the repo, and we'd like to improve it eventually.

We do have a channel in the pmndrs discord server. please find the discord badge in readme.

[2020-10-04 21:54] dai-shi commented on #84
[code]

Actually, we don't need to change the public API.

[code]

[2020-10-04 22:20] dai-shi commented on #84
If this happens in a batch it works fine, because we garbage collect in useEffect.
Otherwise, out of lack with the current implementation.

I prefer to avoid adding another abstraction. If the current implementation didn't work with some libraries or some use cases, we'd change the garbage collection strategy. Maybe delay gc a commit later of a few commits (but that's not very predictable.) 🤔

[2020-10-04 22:31] dai-shi commented on #92
ErrorBoundary should be inside JotaiProvider.
Provider should catch errors in the render phase and useAtom will throw it.
So, if what you observe is different, it's likely to be a bug.
Would you be willing to create a repro in codesandbox?

[2020-10-04 22:54] dai-shi commented on #87
@merisbahti
https://github.com/pmndrs/jotai/pull/91#issue-497444938

I prefer splitting utils.
[code]

How do you guys feel?

[2020-10-04 23:34] LuckyPigeon commented on #87
Looks good to me

[2020-10-05 00:09] dai-shi commented on #87
OK, I will create a PR to split src/utils.
@merisbahti started working on testing useUpdateAtom.
@LuckyPigeon would you like to start looking into #88?

[2020-10-05 04:47] merisbahti commented on #87
Absolutely.

[2020-10-05 05:54] fjcalzado commented on #84
By the way, I created the following [sandbox](https://codesandbox.io/s/jotai-scope-scenario-n8j6u) with the scenario I mentioned before.

In that case, what about multiple & nestable providers? Same as we do with React context. That will add flexibility with no new concepts. Place a provider on top to have global state, drop another one down deeper for a more local state, etc. Does that violate de

[2020-10-05 06:10] swagatikapanda123 commented on #85
I am excited to work on this , Could you please assign it to me?

[2020-10-05 07:18] dai-shi commented on #85
This is like an umbrella issue. So, please create a sub task and assign yourself.

[2020-10-05 07:32] LuckyPigeon commented on #87
Sure

[2020-10-05 09:09] #13 closed

[2020-10-05 11:02] dai-shi commented on #84
Currently, the impl supports nested providers giving different contexts, just like normal React contexts. I'm not a big fan of changing this behavior.

My question is how developers clean up atom values.

This means never garbage collected, right? It leads memory leak potentially.

Does it reveal the issue?

[2020-10-05 15:07] geoyws opened #97 "Confusion regarding the setter function for atoms; expected `set` to receive the atom's `Value` type instead of its `Update` type"
Hi everyone, really appreciate the work done on jotai.

I've been spending hours today trying to understand why `set` wouldn't accept my atom's `Value` type but instead accepts the `Update` type. Codesandbox [here](https://codesandbox.io/s/react-typescript-forked-reijr?file=/src/App.tsx).

Can anyone enlighten me?

[code]

[2020-10-05 18:54] fjcalzado commented on #84
That [sandbox](https://codesandbox.io/s/jotai-scope-scenario-n8j6u?file=/src/app.tsx) is just a playground to show a simple scenario with navigation and an expensive atom. Navigate to page A, `userDataAtom` will initialize its value (via fetch), go to B and come back to A, a second initialization is done. What I wanted to say is that, using context you can avoid that second initialization.

No, it

[2020-10-05 18:55] merisbahti commented on #97
There's an utility called `atomWithReducer` that would be helpful here....

See here:
[code]
https://codesandbox.io/s/react-typescript-forked-yg70b?file=/src/App.tsx:0-414

I'd suggest that route, or maybe inspect the type declaration for `atomWithReducer`.

[2020-10-05 22:34] dai-shi commented on #84
That I understood.

Yeah. I meant if the provider is not unmounted. We are on the same page.

Right.

I start getting your point.

So your proposal is to add `autoclean` flag in Provider, and if it's `false`, we don't garbage collect. If not specified, the default is the current behavior (= garbage collected.)

It would be easy to implement, but I wonder if developers can effectively use it. Seems

[2020-10-05 22:45] dai-shi commented on #97
Yeah, it's called something like context sensitive functions, and it's the behavior of typescript. It can't be helped.

If you split atoms, it should work as you expect.
[code]

Or, use `atomWithReducer` as @merisbahti suggested. (Thanks!)

[2020-10-06 00:55] dai-shi commented on #84
OK, I have an idea: let Provider have a new WeakMap to save atom value before removing it, and reuse it on reinitializing it. It's an implementation detail. For users, it's like `autoclean` is always false. (Now, there might be a way to simplify the impl further. 🤔 )

[2020-10-06 01:28] eyuu24 commented on #85
Hi, can I take the first sub task? _Fix typo, grammar, and/or expressions (please file a PR)_

Does this involve reviewing the readme.md and other md files?

[2020-10-06 01:35] dai-shi commented on #85
Basically, all docs/*.md files.

Sorry for confusion. I meant sub tasks are more granular ones. Unless many contributors work conflict each other, it's not so important. See #90 for example.

In other words, please go ahead.

[2020-10-06 01:44] dai-shi commented on #11
Notice #95 changed the src folder structure. Now, it'd be like:
- ./src/immer.ts
- ./src/immer/useImmerAtom.ts
- ...

[2020-10-06 04:40] Aslemammad commented on #11
@dai-shi Ok. thanks.

[2020-10-06 05:44] geoyws commented on #97
Thanks @dai-shi !

@merisbahti Unfortunately `atomWithReducer` doesn't grant me access to `get` and `set` :(

[2020-10-06 06:06] dai-shi commented on #97
`atomWithReducer` should work fine if it's working with just one atom.

Please let us know how you solve it anyway. 💪

[2020-10-06 08:47] LuckyPigeon opened #104 "Create a setup local environment tutorial"
## Description

I've encountered a few error when I setting up at both LINUX & Windows environment.

The reason of my linux environment is I use `npm install` instead `yarn install`, while windows couldn't execute the command like `mv`, `cp` and `rm`

To avoid other new-to-jotai contributor and users who want to build jotai at their local environment, I suggest we update a setup tutorial at the bo

[2020-10-06 09:04] dai-shi commented on #104
Thanks for raising this up.
How about using https://github.com/shelljs/shx ?

[2020-10-06 09:32] LuckyPigeon commented on #104
@dai-shi
It works! Could I send the PR for this? Just update the copy command in package.json from `mv` to `shx mv`, `rm` to `shx rm` and `cp` to `shx cp`.

[2020-10-06 09:51] dai-shi commented on #104
Sure, please!
Could you try if `shx rm -rf` can replace `rimraf`? Then, we can remove it.

[2020-10-06 10:23] LuckyPigeon commented on #104
@dai-shi
After I tried, `shx rm -rf` is equivalent to `rimraf`

[2020-10-06 10:59] dai-shi commented on #104
Nice. Would you replace it and remove it in the PR?

[2020-10-06 13:28] #104 closed

[2020-10-06 13:46] dai-shi opened #107 "Write tests for immutableMap"
immutableMap is an internal module. It's an abstract module.
I wonder if anyone would be interested in writing tests for it.
Note that we want to test the api, not the implementation (the type `ImmutableMap` is representing implementation), because the goal is to come up with better implementation with same functionality.

[2020-10-06 13:51] dai-shi opened #108 "Benchmark immutableMap (create a benchmark tool)"
After #107, or in parallel with it, we would want to create a benchmark tool for immutableMap.
It would allow us to evaluate the current implementation, compare possible alternative implementations, and improve the entire performance of jotai.

Anybody keen about performance?

[2020-10-06 13:53] dai-shi commented on #108
btw, benchmarking of jotai itself would also be interesting and important.

[2020-10-06 14:52] Aslemammad commented on #107
@dai-shi What we should do? Could you explain more? or what we need to learn?

[2020-10-06 16:35] Aslemammad commented on #86
@dai-shi in the future, I'll write articles about jotai and deep dive in it.

[2020-10-06 17:02] Aslemammad opened #109 "How to start the development of the project"
Hey @dai-shi, I don't have any clue how to start the development of the project, Could you explain how to start the project as watch mode and ... for development, and how to see the result.

[2020-10-06 18:49] fjcalzado commented on #84
Exactly, that was one of the proposal. The other one was to being able to assign atoms to a certain Provider, so you can completely mimick React Context and place Providers wherever you want along with its atoms.

It can be harsh to understand and use it, I agree. It is a trade off, the more flexibility you offer, the more powerful the library would be. The less flexibility the easier to use altho

[2020-10-06 21:58] dai-shi commented on #109
If someone has a suggestion, I'd like to hear too!

For me, if I were to fix a bug, I'd firstly create a failing test. After that, fix code to pass the test. Finally, build the package and install it in an example app to confirm.
If I were to develop a new util, I'd simply do it in codesandbox. 😉

[2020-10-06 22:19] dai-shi commented on #107
It is going to be something like this:

- Read ./src/core/immutableMap.ts
- Ask questions if something is not clear
- Create ./tests/core/immutableMap.test.ts
- Send a PR and discuss

Jotai uses a single provider component to store all atom states (values) in its component tree.
It is important that the provider works with good performance, because it can be a bottleneck.
One of the challenges is

[2020-10-06 23:25] dai-shi opened #110 "Error "atom state not found. possibly a bug." with Todo example"
Repro: https://codesandbox.io/s/react-typescript-forked-g51jw

![jotai11](https://user-images.githubusercontent.com/490574/95270507-8fffc800-0876-11eb-880e-e2b7f5a479f1.gif)

[2020-10-07 03:33] tarngerine opened #111 "Jotai not compiling with Typescript"
Hi all,

I'm getting this error as soon as I import `useAtom` from jotai

[code]

I've tried to clear node_modules and yarn install again. Pretty new to Typescript and React so maybe I'm missing something obvious. Thanks for your assistance!

[2020-10-07 03:39] dai-shi commented on #111
https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#type-only-imports-and-export
Seems like it's supported since 3.8. Which version of typescript do you use?

[2020-10-07 04:50] Aslemammad commented on #109
Aha, Thanks for the suggestions.

[2020-10-07 04:53] Aslemammad commented on #107
@dai-shi I appreciate this, thanks.

[2020-10-07 05:08] tarngerine commented on #111
ah, that'll likely be the issue! thank you! i was on 3.7.2

[2020-10-07 05:08] #111 closed

[2020-10-07 06:32] LuckyPigeon commented on #86
@dai-shi
I guess I need to split this to several PRs, at least a PR for one enhancement. I will start from adding descriptions.

[2020-10-07 06:54] dai-shi commented on #86
Sure. That's expected.

[2020-10-07 07:00] LuckyPigeon commented on #88
@dai-shi
Test with `findByText` is good in our case, since we have using asynchronous in our case and `findByText` is also do with asynchronous and promise. Then search the content shows within 1 second by default.
And for the testcase improvement, I'm still reviewing the code.

[2020-10-07 07:08] LuckyPigeon commented on #86
@dai-shi
Is there a way to modify and commit the code in the showcase(`codesandbox`)?

[2020-10-07 07:20] dai-shi commented on #86
@LuckyPigeon No. Just fork it and replace with the new URL.

[2020-10-07 07:52] LuckyPigeon commented on #86
@dai-shi
`github` can easily link to `codesandbox` by change `https://github.com/<repo_name>` to `https://githubbox.com/<repo_name>`.
Due to this feature, is it a good idea that we download all of examples in showcase.md and put them into `examples` folder?
Then we can modify and commit it easily, and we can also connect to codesandbox as easy as before.

[2020-10-07 08:52] dai-shi commented on #86
@LuckyPigeon Alright, I understand your suggestion. I was going to work on `examples` some time later, but as you express your motivation, let me work a bit on `examples` folder so that you can put multiple examples in different folders. Hold on a moment.

[2020-10-07 09:35] dai-shi commented on #86
@LuckyPigeon
It's ready. We have one example `./examples/hello`.
This can work both locally or in codesandbox. If it runs locally it will use the local jotai src, if in codesandbox it will use the published jotai package. http://githubbox.com/pmndrs/jotai/tree/master/examples/hello

Would you try adding another example as a start?

[2020-10-07 09:53] Aslemammad commented on #109
Hey @dai-shi, do you have a ready codesandbox for development? (for fork)

[2020-10-07 09:57] dai-shi commented on #109
Do you mean an example app to fork? Please check docs/showcase.md.

[2020-10-07 09:59] Aslemammad commented on #109
Thanks, I found them.

[2020-10-07 11:20] LuckyPigeon commented on #86
@dai-shi
Sure!

[2020-10-07 12:03] goncy opened #112 "Rendering suspense callback while running async actions"
Probably this was a decission, not a bug, but wanted to be sure. I have an async actions that updates the status in different phases:

[code]
And in my code I want to show a spinner for a certain part if status includes "init" or "pending". Instead of that, I always get the suspense fallback in the root of my app.

Repro: https://codesandbox.io/s/practical-bouman-b3r9v

[2020-10-07 12:17] dai-shi commented on #112
While in general, we still have room for discussion about how suspense should work (esp, for `write`), I think your use case can be solved with the current impl.
If I understand correctly, you just want to control loading status by yourself without `<Suspense>`. If that's the case, `write` shouldn't return a promise.

[code]

How does that sound?

[2020-10-07 12:23] goncy commented on #112
That sounds good, similar to not using async await or wrap the execution in a function in useEffect, thanks!

[2020-10-07 12:23] #112 closed

[2020-10-07 15:19] #110 closed

[2020-10-07 20:38] elav000 opened #114 "Bridge example throws "useContextSelector requires special context""
Repro steps:
* Open up the example in the [useBridge/Bridge](https://github.com/pmndrs/jotai/blob/master/docs/core.md#usebridgebridge) docs at [https://codesandbox.io/s/jotai-r3f-fri9d](https://codesandbox.io/s/jotai-r3f-fri9d)
* Click on `Add`
* View the error raised from `use-context-selector` :
![image](https://user-images.githubusercontent.com/12959403/95385055-4dec7b80-08a2-11eb-963a-7e28b943

[2020-10-07 21:19] dai-shi commented on #114
Thanks for reporting. The issue confirmed. 🤔

[2020-10-07 21:41] Aslemammad commented on #11
@dai-shi Hey, I'm working on immer support, and I wanted to know, what is atomWithImmer and what should it do? Could you explain?

[2020-10-07 22:30] dai-shi commented on #11
Sure, we haven't discussed about it. It will create a primitive atom and apply withImmer.

[code]

Something like this ☝️ in JS. Refer `atomWithReducer` for proper typing.

[2020-10-07 22:33] Aslemammad commented on #11
Haha, @dai-shi I wrote the same thing, but IDK why, but I felt bad about it. Thanks.

[2020-10-07 22:41] dai-shi commented on #11
@Aslemammad Maybe because the typing is tricky. Also, please note I didn't test it at all, and count on you.

[2020-10-08 10:19] #114 closed

[2020-10-08 11:16] dai-shi commented on #114
https://codesandbox.io/s/jotai-r3f-fri9d
Fixed!

[2020-10-08 11:38] dai-shi commented on #97
Closing this. Feel free to reopen for further discussion.

[2020-10-08 11:38] #97 closed

[2020-10-08 14:44] elav000 commented on #114
Thank you!!!

[2020-10-08 18:58] Aslemammad commented on #11
Hey @dai-shi, I implemeted the functions, Check it, any suggestion or problem? If it's ok I'll send the PR.
[codesandbox](https://codesandbox.io/s/jotai-immer-typescript-7s1fp?file=/src/App.tsx).
should I write the tests and ....?

And I wanted to say thanks for the oppertunity.

[2020-10-08 23:24] dai-shi commented on #11
Looks good. I want to make the return type of atomWithImmer stricter.
[code]

tests would be nice, but we could do it separately.

[2020-10-08 23:26] x4080 opened #118 "Question : can I just use 'setter' in one component and 'listener' in another ?"
Hi,

I'm using
[code]
inside component A

and using
[code]
inside component B

but whenever I call setcounter, component A always rerender

How to use setcounter without rerendering component A ?

In recoil, it works out of the box

Thanks

[2020-10-08 23:31] dai-shi commented on #118
yes. as jotai provides minimal api, it's slightly different from recoil.
we have [write-only atom](https://github.com/pmndrs/jotai#writeonlyatoms) in core,
and [useUpdateAtom](https://github.com/pmndrs/jotai/blob/master/docs/utils.md#useupdateatom) in utils.

Let us know if they work out for you.

[2020-10-08 23:48] x4080 commented on #118
@dai-shi Thanks for quick response, I'll take a look at those

[2020-10-08 23:54] x4080 commented on #118
@dai-shi I changed by code for 'setter' to
[code]

and

[code]

And it seems still rerender the component A, anything I miss ?

Thanks, and sorry to bother you so much

[2020-10-09 00:01] x4080 commented on #118
Ok, got it - I test the rerender using  (rendered: {++useRef(0).current}) now and it works

[2020-10-09 00:23] dai-shi commented on #118
Good that it worked out.

A small note to anyone:
- render and commit are separated in react ("render" in general means "render" + "commit" in react)
- it may render more than once and commit just once
- jotai optimizes commits and you may see some extra renders (meaning, extra "render"s in react, but no extra "render"s in general)
- this is because the upstream use-context-selector (v1.2) which b

[2020-10-09 01:52] x4080 commented on #118
@dai-shi yes, good pointers that you have there

[2020-10-09 02:35] x4080 commented on #60
@dai-shi

I use below in recoil
[code]

I'm using recoil for form state, the listener is inside the components inside the form component, and in this save form function, I can get the value of the form state without needed to listen for form state all the time in the form component - it makes a lot of different in my case

Can we got something like this ?

Thanks

[2020-10-09 03:13] dai-shi commented on #60
@x4080
Hi, I'm still not sure what `useRecoilCallback` exactly does, so correct me if I'm wrong.

Here's what I come up with for your use case.

[code]

[2020-10-09 03:23] x4080 commented on #60
@dai-shi Thanks again, the useRecoilCallback create a function that can get the latest value of the atom, without having to userecoil listener, the benefit is theres no rerender at all to get the value

Sorry if im not clear, if we can get the value stored by jotai without actively listening to it (listener is in other component) then it will be perfect

[2020-10-09 03:25] x4080 commented on #60
oh i just remember, the atomform content is the field contents of the form which is listened in other component for editing the fields

[2020-10-09 03:44] dai-shi commented on #60
So, we want a way to read the latest value without using it. So again, it's like this:

[code]
 Are we on the same page? Maybe you want to show us a small working (non-working) example.

[2020-10-09 03:52] x4080 commented on #60
im on mobile right now, ill create some thing to test later thanks

[2020-10-09 06:46] istarkov opened #119 "Initial atom state"
Currently the most issue I see with atoms is initial atom state which especially on server cant be inside any global objects ie localStorage etc. (setEffect is not working on server too)

Creating atoms and passing them through a context - loss of main advantages (u would need to create dependent atoms in context etc)

Probably passing Provider value to atom on initial call could solve this?

I.e.

[2020-10-09 07:16] dai-shi commented on #119
Hi, thanks for chiming in.

I'm not quite sure if I understand the problem. Would you elaborate with code snippet?

For localStorage, we could read it when creating an atom, because it's sync.
[code]
(but, it sounds like something different from what you mention.)

For, nextjs getServerProps, we need some hacks, so far I've got these:
https://codesandbox.io/s/nextjs-with-jotai-5ylrj
https://codesa

[2020-10-09 07:26] istarkov commented on #119
On server rendering state can come and come from db etc. We can't use examples above, db state isnt known at module level and cant be cached into global vars as requests and io is processed in event loop and you cant be sure that global vars has results from current request.

[2020-10-09 07:40] dai-shi commented on #119
Do you have a query for the DB which can build from the current request?
What about something like this?

[code]

[2020-10-09 07:51] Aslemammad commented on #11
@dai-shi I think now it's ready, is it the time to send the PR?

[2020-10-09 07:51] istarkov commented on #119
Once u created atom definition inside component you need to share it between all components where it used using Context or props. Also instead of defining atom at place where its needed - at Component  module, you need to define it now at some upper node in the tree.
IMO most beauty and simplicity of idea lost :-(

[2020-10-09 08:04] dai-shi commented on #119
Ah, yes, got it. we need to pass the atom using context or props.

If we have uid, session id, or request object, we could use Map/WeakMap at module level
to store atom for each uid, and share it between components. atomFamily might work, if we could remove unused atoms.

[2020-10-09 08:05] dai-shi commented on #11
@Aslemammad Sure!

[2020-10-09 08:11] istarkov commented on #119
Yep, WeakMaps are so rarely used that I always forget about. Just a small wrapper around and it can work well. Thank you.

[2020-10-09 08:27] dai-shi commented on #119
You are welcome!

For someone interested, it's like this.

[code]

[2020-10-09 10:19] Aslemammad commented on #11
@dai-shi .

[2020-10-09 16:06] pyros2097 commented on #71
@fkocovski why don't you just do something like this,
[code]

[2020-10-09 16:27] fkocovski commented on #71
Hey @pyros2097 thanks for the input. That is however exactly what I wanted to avoid: creating a dummy atom to refresh the async call. Meanwhile using the set part works flawlessly for me and I am using that approach to refresh async atoms.

[2020-10-09 21:19] x4080 commented on #60
@dai-shi I got it to work now, using your example
[code]

My implementation of save form look like this
[code]

Maybe the callbackAtom shoud be added to utility too ? It is useful tool

Thanks for everything

[2020-10-09 23:23] dai-shi commented on #60
Here's a draft:

[code]

Is anyone interested in making this real??

[2020-10-10 06:06] JLarky commented on #92
OK :) that wasn't easy and I'm still not 100% there :) I managed to reproduce it basically by accident :)

So here are the steps:
1. go to https://codesandbox.io/s/jotai-issue-92-forked-uih92?file=/src/App.tsx
2. edit App.tsx source code and you will see
![image](https://user-images.githubusercontent.com/7026/95647231-a67a6f00-0a82-11eb-9861-f9e2cb298cb8.png)
and under overlay:
![image](https://us

[2020-10-10 06:30] #11 closed

[2020-10-10 06:31] dai-shi opened #122 "Add docs and test for jotai/immer"
This is a follow up task for #120.

[2020-10-10 06:48] Aslemammad commented on #122
Which part should I edit? And how it works?

[2020-10-10 06:59] dai-shi commented on #92
Thanks for trying out. tbh, we are still not very sure about hot reload behavior, so I downloaded your codesandbox, built and run locally.

It shows this after clicking the button.
[code]

Is it the expected behavior?

[2020-10-10 07:03] dai-shi commented on #122
For docs: Create a new file `./docs/immer.md`

For tests: Create three new files `./tests/immer/atomWithImmer.d.ts` `./tests/immer/useImmerAtom.d.ts` `./tests/immer/withImmer.d.ts`

`yarn test` should run all tests.

[2020-10-10 07:54] Aslemammad commented on #122
@dai-shi I did the same thing for the test, yesterday. I'll work on them. thanks

[2020-10-10 12:25] dai-shi commented on #87
Closed by #98 #99 #100 #101

[2020-10-10 12:25] #87 closed

[2020-10-10 16:29] JLarky commented on #92
yes, that's how it suppose to function in all cases, but the bug is in the fact that sometimes it crashes on a higher level, and the only way I could reproduce it in codesandbox if you don't click the button at all, but trigger hot code reload instead (but as I said, in my real app it has nothing to do with code reload, I just couldn't find a way to reproduce it on codesandbox yet)

[2020-10-10 20:50] x4080 commented on #60
Yes, read multiple atom at once is pretty important

[2020-10-10 23:09] dai-shi commented on #92
Hm, one note here is that the behavior of hot reload and real app can be caused by different reasons. I will investigate the hot reload behavior (which can be hard), but that may not fix the issue in the real app.

[2020-10-10 23:17] dai-shi commented on #60
@x4080 Would you try `useAtomCallback` above, and see if it works for your use case?

[2020-10-11 00:11] dai-shi commented on #92
OK, I'd say the hot reload behavior is a limitation of current implementation (or theoretical one).
Check out this example:
https://codesandbox.io/s/jotai-issue-92-forked-om7e9?file=/src/atoms.ts

[2020-10-11 02:39] JLarky commented on #92
yes, this one works as expected. Did you just move atom into different file and that's it? :)

Anyway :) I will try to reproduce the exact issue I was having on my end if we can't do anything with this hot reload example :)

[2020-10-11 09:51] Aslemammad commented on #122
People, if you have any idea about immer docs in jotai, share with us here.

[2020-10-11 09:55] Aslemammad commented on #108
@dai-shi  How we write it? and what to learn? suggestions? ...

[2020-10-11 09:59] dai-shi commented on #122
(Should we keep this issue open for a while?

[2020-10-11 10:05] dai-shi commented on #108
First of all, this is not a trivial issue. It requires some general knowledge for benchmarking and understanding how it would be used in jotai (we need to design benchmark scenario.) I don't have a full answer.

That said, if I were to do this, I'd use [benchmark](https://www.npmjs.com/package/benchmark) and start with a simple scenario.

You might want to start with #107 before working on benchma

[2020-10-11 10:32] Aslemammad commented on #108
Got it, I'm just learning and I love challenges. Thanks.

[2020-10-11 10:34] Aslemammad commented on #122
@dai-shi Choose the best. I think we shall close it because if someone wanted to edit the docs, he/she would create a new issue, so do the best.

[2020-10-11 10:37] dai-shi commented on #122
Closing this as the initial work is done with #125. Please file a new issue/PR for any improvements.

[2020-10-11 10:37] #122 closed

[2020-10-12 09:28] fkocovski opened #127 "Batched write dependency"
Batched write dependencies can lead to queueing of state updates:

https://codesandbox.io/s/white-smoke-hzw12?file=/src/atoms.js

If selector `atom` is marked as dependency in another `atom`, batched write does not propagate writes anymore.

Tested both with `atom` and `atomFamily`

[2020-10-12 12:13] #127 closed

[2020-10-12 20:58] x4080 commented on #60
@dai-shi Sorry for late reply, I'm not using typescript, so in plain javascript your function would be

[code]

Is that correct ? And how do I use it using my example above ?

[code]

And can it get multiple atom @once ?

Thanks

[2020-10-12 22:57] dai-shi commented on #60
@x4080

The JS version would be:

[code]

You would use it like this:

[code]

[2020-10-13 08:06] dai-shi commented on #92
@JLarky Just let you know that the latest version 0.9.2 fixed a bug, which may or may not be relevant to your issue.

[2020-10-13 21:56] x4080 commented on #60
@dai-shi Yes it works perfectly thanks

[2020-10-13 22:05] dai-shi commented on #60
@x4080 Thanks for confirming!

----

Is anyone interested in drafting a PR for this new `./src/utils/useAtomCallback.ts` ?
I'm not so sure about the hook name and open for proposals.

[2020-10-15 04:02] dai-shi commented on #36
Maybe if we support `equalityFn` too, it might be useful if someone is used to react-redux.

Let me try...

[2020-10-15 11:15] dai-shi commented on #84
Done in #131. It's basically never removed.

[2020-10-16 09:27] PutziSan opened #134 "scheduler not mentioned as peerDependency in documentation"
When using this package with yarn v2 (yarn berry), it throws while building:

[code]

I can resolve it by adding [scheduler](https://www.npmjs.com/package/scheduler) to my dependencies.

To solve the problem from your side, I see 2 possibilities:
- You could add an installation instruction, that mentions the need to install react and scheduler or
- you could define scheduler as a dependency
- (or

[2020-10-16 09:54] dai-shi commented on #134
Hi, thanks for trying. Currently, scheduler is used in core.

I'm not sure if developers need to install scheduler separately because react-dom depends on it. Same for react-native. Is it something different for you? Does yarn v2 repro the error with react-dom? Are there any other ways to solve this issue?

[2020-10-16 11:14] PutziSan opened #135 "add react-dom as a peer dependency (yarn 2 compatibility)"
When using this package with yarn v2 (yarn berry), it throws while building:

[code]

You depend on [use-context-selector](https://www.npmjs.com/package/use-context-selector), and they declared `react-dom` as a peerDependency. So you should also add `react-dom` to your peerDependencies to make sure, it is available.

## workaround at the moment

Currently workaround is adding this to `.yarnrc.yml`

[2020-10-16 11:21] PutziSan commented on #134
I have react-dom installed and this error will throw.

Yarn v2 is changed so that it forces a package to mention all dependencies in its package.json. If you define scheduler as peerDependency, I have to add it to my dependencies, or it will not be available.

So to make this package usable with yarn 2, the 3 points above are the only possibilities which I can think of.

[2020-10-16 11:35] DynamicArray opened #136 "Problem with ESM/CJS configuration and Rollup"
Seems your config is sending mixed messages about your package state to Rollup. I don't claim to understand the issue, but the problem arises when using [Snowpack](https://www.snowpack.dev/). @FredKSchott describes here: https://github.com/pikapkg/snowpack/discussions/1321

[2020-10-16 11:40] dai-shi commented on #135
Oh, OK. So the issue is not only about scheduler but the peer dependency of use-context-selector.
I'd like to know if this issue is only with yarn 2. We also need to take care of RN users.

Does your app package.json not include react-dom? Does it give you an error without the workaround? 🤔

[2020-10-16 11:42] dai-shi commented on #134
Ah, I see. I didn't know the behavior. We'd like to support yarn 2. 🤔

[2020-10-16 11:45] dai-shi commented on #136
Thanks for reporting. I need to understand the problem. Will read the description.

[2020-10-16 11:48] dai-shi commented on #136
OK, the issue is in use-context-selector. Let me look for a solution.

[2020-10-16 12:44] #36 closed

[2020-10-16 12:46] dai-shi opened #137 "Write test for utils/useSelector"
Discussed in #36 and created PR #133.
`./tests/utils/useSelector.ts` is still missing.

[2020-10-16 12:51] dai-shi commented on #135
Could you explain why it's easier? Does `packageExtensions` not work for `scheduler`?

[2020-10-16 13:01] PutziSan commented on #135
This issue will be resolved when jotai adds `react-dom` as a peerDependency in package.json. I do not see any disadvantage in doing this.

In #134 you must decide, what you want to do with the scheduler dependency, this decision seems not that trivial to me.

[2020-10-16 13:06] dai-shi commented on #135
Thanks. For React Native users, they don't install react-dom. Actually, peerDependencyMeta specifies react-dom as optional.

[2020-10-16 13:10] dai-shi commented on #134
This seems like a solution for us.

[2020-10-16 21:27] JLarky commented on #92
I tried to reproduce it again, and as far as it looks both 0.7 and 0.9 work without issues. So I'm closing this because that thing with hot reload is not a huge deal, and I don't see those issues that I first saw.

[2020-10-16 22:35] #136 closed

[2020-10-16 23:18] JLarky commented on #92
I take it back :)

https://codesandbox.io/s/jotai-issue-92-forked-mp5g2?file=/src/Crash.tsx

here's the code:
[code]

if you comment out one of those `set*` functions or change the order it will crash below JotaiProvider, but in this exact configuration it crashes higher than JotaiProvider

[2020-10-16 23:40] dai-shi commented on #92
Thanks for the clarification!
OK, this is a bit controversial. Currently, it's by design.
We throw errors in render (atom.read) to error boundaries, but for atom.write we throw errors to the write function (even if it's async write).
What would be the behavior if you used `React.useState` instead of `useAtom`?
We should make it consistent as far as we could.

[2020-10-17 00:05] dai-shi commented on #32
Let me just close this as explained and resolved. We do now have `jotai/immer` bundle which eases this use case with mutation style.

[2020-10-17 00:05] #32 closed

[2020-10-17 00:15] JLarky commented on #92
@dai-shi what I don't understand in your reply is why it's different in this particular case? as I said if you run just one of those `set*` functions (so just comment out one of them) it crashed on the different level

[2020-10-17 00:19] dai-shi commented on #60
Well, I'm working on it now.

[2020-10-17 00:42] dai-shi commented on #92
So, with both `set*`, it shows `High level oopsie...`, and if we comment out the first one, it shows `Oopsie on Crash level...`. Good point.

This is because of the place we invoke atom.write function. But, I agree it's weird. I guess this reveals another issue about batched writes.

I also find my explanation wasn't so accurate, because it shows error boundaries. I may have misunderstood somethin

[2020-10-17 02:47] dai-shi commented on #92
This description might not be accurate either.

Anyway, the good news is I reproduced the issue in #141. The bad news is I don't know how to solve it yet.

[2020-10-17 06:18] dai-shi commented on #135
So, for now our recommendation is the workaround described in https://github.com/pmndrs/jotai/issues/135#issue-723129121

[code]

or the one described in https://github.com/pmndrs/jotai/pull/139#issuecomment-710701325

[code]

[2020-10-17 06:29] #134 closed

[2020-10-17 06:29] #135 closed

[2020-10-17 07:26] dai-shi commented on #92
@JLarky Hey, I think I fixed the issue in #141.
Would you try your example with the build? https://ci.codesandbox.io/status/pmndrs/jotai/pr/141/builds/63867

[2020-10-17 08:29] merceyz commented on #135
In that case you need to declare `react-dom` as an optional peer dependency.

This is an issue in general, Yarn 2's PnP mode is just really strict about it. Not declaring it as a peer dependency means that `use-context-selector` relies on hoisting to bring `react-dom` to a level where it can access it, which is not guaranteed to happen and relies on undefined behaviour.

[2020-10-17 08:35] dai-shi commented on #135
What I'm not sure is if yarn 2 really requires an _intermediate_ library package to declare all peer dependencies of its children, grand children and grand grand children. It sounds unlikely to me.

[2020-10-17 09:18] merceyz commented on #135
It does, please give https://dev.to/arcanis/implicit-transitive-peer-dependencies-ed0 a read on why

[2020-10-17 09:26] dai-shi commented on #135
Alright, I wasn't aware this. Thanks for noting.

[2020-10-17 11:23] #60 closed

[2020-10-17 11:25] dai-shi opened #143 "Write tests for utils/useAtomCallback"
Discussed in #60 and created PR #140.
`./tests/utils/useAtomCallback.ts` is still missing.

[2020-10-18 20:18] Aslemammad commented on #109
@dai-shi Hey, Sorry for the lateness, these days I can't contribute because of some reasons, I'll continue soon, Sorry.

[2020-10-19 00:15] dai-shi commented on #92
@JLarky Note it's already published as v0.10.0.

[2020-10-19 05:30] JLarky commented on #92
can confirm that v0.10.0 fixes both example on codesandbox and the issue in my app

[2020-10-19 05:30] #92 closed

[2020-10-19 16:26] prbxr opened #146 "Preact"
What is the compatibility with Preact?
Currently it seems to be working.
But I saw in the README Jotai requires scheduler dependency...

[2020-10-19 20:03] dai-shi commented on #146
Goooood point. Does it work with the latest version v0.10.0?
Yes, it depends on scheduler, which is technically for concurrent mode, so it may not be so important in preact?

[2020-10-19 20:04] dai-shi commented on #146
Does it mean preact has a scheduler compat layer?

[2020-10-19 21:14] prbxr commented on #146
jotai 0.10.0
preact 10.5.4
I don't know about any scheduler compat layer, at least it is not in the api and not in it's types
I don't know if it is important in preact, don't undestand it. It does not use concurrent yes. It says it is like react 15.

[2020-10-19 21:21] dai-shi commented on #146
Cool. If it works, it works. There's no intention to kill the compatibility.
In a longer term, jotai (and many other react state libs) will depend on a new hook useMutableSource once it lands. I assume preact will provide a compat hook then.

[2020-10-20 07:40] fkocovski opened #147 "State not found v0.10.0 for async atoms"
Async `atoms` that have primitive `atoms` as dependents can't find the state if multiple ones are used inside a component.

Repro with `atomFamily`: https://codesandbox.io/s/zen-hellman-plh9w

Repro with `atom`: https://codesandbox.io/s/suspicious-germain-zr0wu

[2020-10-20 13:07] dai-shi commented on #88
We need more async tests. Basic ones are still missing. ref: #148

[2020-10-20 16:48] garrettmk commented on #147
I had a similar issue, but it doesn't look like it was solved by #148. Here's a [sandbox](https://codesandbox.io/s/crimson-silence-xvg3o) to illustrate. The atom dependencies look like this:

Primitive atom -> async atom (simulated fetch) -> derived atom

Changing the primitive atom causes the async atom to re-fetch, as expected. However the derived atom never resolves.

[2020-10-20 21:41] dai-shi commented on #147
@garrettmk Thanks for reporting. The sandbox link has the code yet unchanged? I'll try to repro in test.

[2020-10-20 22:51] dai-shi commented on #147
@garrettmk I'll merge #148, and work on the issue reported as a new PR. Would you create a new issue with the correct sandbox link please?

[2020-10-20 22:52] #147 closed

[2020-10-20 22:55] #5 closed

[2020-10-22 12:55] secretlifeof opened #150 "Performance when using in the root of a deeply nested tree"
Hello!

Thanks a lot for this library. It is a joy to use!

I don't know if I am doing things correctly, but I am struggling with a performance issue. Have a DOM tree that is deeply nested and useAtom is located at the root of the tree (opening/closing and information for modals). I know it is an overkill for that.

**If the click event triggers an empty function (not activating jotai) this is the

[2020-10-22 22:09] dai-shi commented on #150
@secretlifeof
Thanks for reporting! We definitely need more work on performance in general.
This seems like a bug. How can I repro?
Would you confirm if this improves with jotai v0.10.1?

[2020-10-23 11:26] italodeandra opened #151 "Declaration or statement expected "export type""
https://github.com/pmndrs/jotai/blob/9bd3ea476d1a69f6f967a42a587c9bf8b0d16e41/src/index.ts#L4

`import type`/`export type` construct started being supported on TypeScript 3.8 and I just wanted to point that out because CRA still ships with `3.7.2` and this syntax won't work if you don't update TypeScript. It might be nice to add that on the documentation or use a different syntax for exporting typ

[2020-10-23 11:30] italodeandra commented on #151
I'm not familiar with releasing a new Jotai version but maybe there's a babel for translation TypeScript 3.8> for <3.7 that might also solve that. Not sure which is the best approach.

[2020-10-23 11:44] dai-shi commented on #151
Hi, thanks for reporting. Yeah, I'm aware of the issue at certain point.
Now that CRA v4 is (will be) released just today, we don't have to worry too much about it?

[2020-10-23 11:48] italodeandra commented on #151
Sure. With CRA v4 this won't happen anymore, but just for new projects. For old projects, TypeScript 3.8> will still be a requirement.

[2020-10-23 11:54] dai-shi commented on #151
When I was trying CRA before, I updated typescript, which wasn't a big deal. (I'm not sure if that holds now, because CRA v3 had some issues with typescript+eslint even without jotai.)

Would you like to add some notes in `./docs/typescript.md`? PR appreciated.

[2020-10-23 11:57] italodeandra commented on #151
Yeah, I didn't mean to create a big of a deal with that, sorry. I'll add the note and keep this issue as a reference. I'll add the error to the title so people will find it when searching for it.

[2020-10-23 12:31] #151 closed

[2020-10-25 10:39] #137 closed

[2020-10-26 16:22] fkocovski opened #155 "atomFamily caches too aggressively async requests"
When using `atomFamily` starting from v0.10.0 the `get` part is cached thus preventing new refetch of data even if initialising parameters change. This behaviour does not happen with 0.9.2.

https://codesandbox.io/s/sharp-oskar-2kmtx?file=/src/atoms.js

In order to check, open the console and try to navigate between components `A` and `B`.

[2020-10-26 22:33] dai-shi commented on #155
@fkocovski Hi, this might be controversial.

#131 did this.

So, it was intentional. Under the `<Provider>`, atom values are kept. If you need to reevaluate `read`, add a dependency or create a new atom.

Now, two questions are: a) isn't it intuitive? b) how should we solve your use case?

[2020-10-27 16:24] paulshen opened #156 "Rerendering issue starting with 0.8.1"
It seems that Jotai rerenders all connected components, even ones that are not subscribed to changing atoms.

https://codesandbox.io/s/jotai-demo-forked-4fzwi

This issue starts with 0.8.1. It's okay with 0.8.0. If you type into the input and look at the console, you will see `Static` is rerendering.

[2020-10-27 18:17] DynamicArray opened #157 "Can atomFamily be called with multiple params?"
``
export const areaState = atomFamily(({ area_id, period, agent_id }) => async get => {
	if (parseInt(area_id) > 0 && parseInt(agent_id) > 0) {
		const r = await getAreaData(area_id, period, agent_id);
		return r.result;
	}
});
``

and then

`
const [areaStatistics] = useAtom(
		areaState({ area_id: settings.areaid, period: settings.period, agent_id: settings.agentid })
	);
`

causes a perpetual

[2020-10-27 21:46] dai-shi commented on #156
Hi, thanks for trying. If I understand it correctly, this is what I'm aware of.
Long story short, you want to check the commit count with `useEffect` which should be something you would expect, instead of render count. (In CM=Concurrent Mode, render functions get called multiple times anyway.)

A technical note: This is to make it the lib CM-compatible without useMutableSource, which is not yet re

[2020-10-27 21:54] paulshen commented on #156
@dai-shi thanks for the quick reply!

Sorry I didn't make the example more clear. I was referring to `Static` rerendering when you type in the input. This doesn't happen if you change `jotai` version to `0.8.0`.

It does seem that `useEffect` does not get called inside `Static` even though it is rendering so maybe it's okay (and related to CM like you say)? Weird thing for me is that if `Static` r

[2020-10-27 21:54] dai-shi commented on #157
We have the third argument `areEqual` in atomFamily, which defaults to `Object.is`.
You want to pass shallowEqual from some libs, or create your own equality function.

[code]

[2020-10-27 23:06] paulshen commented on #156
If you open the [sandbox](https://codesandbox.io/s/jotai-demo-forked-4fzwi?file=/src/App.js) now and type in the input, you'll see that `Static` is rendered with `renderRef.current = 1` in `console.log`. However, this is not committed to the DOM (still renders 0).

[2020-10-28 00:25] dai-shi commented on #156
To me it's expected, but it would only be for ones who know the internal implementation. I start regretting to add CM support too early. Let me work on a possible fix with feature detection.

[2020-10-29 13:11] likern opened #159 "Consider React Native for persistence support"
Hello! I now it might not be the issue for right now.
But if you are going to add persistence support, please, _consider React Native also_. So persistence layer would be optional / configurable.

There is no HTML and DOM in React Native and components (`View`, `Text`, `TextInput`) map to Native Android / iOS components. And **there is no Web API** like https://www.w3.org/TR/IndexedDB or https://d

[2020-10-29 13:42] dai-shi commented on #159
Hi,
Please check `docs/persistence.md` and feel free to suggest improvements (and possibly a PR).

We don't add persistence support in core to keep it premitive, but utils can.
So far, because there are many patterns, we haven't yet come up with a single recommended solution.

btw, have you tried jotai with RN? Would be great to hear your experience.

[2020-10-30 10:09] #157 closed

[2020-10-30 10:10] DynamicArray commented on #157
Thank you, just what I needed.

[2020-10-30 12:15] #156 closed

[2020-10-30 12:45] #155 closed

[2020-10-30 16:42] secretlifeof commented on #150
Hello @dai-shi. Thanks for answering! I have been trying to build a mockup this week. But I am not able to reproduce the flickering. Have also tried to use Zustand, but the same flickering/glitch occurs. I don't really believe this is a performance issue with jotai per se. I use a new UI library and was wondering if that is the cause, but benchmarking shows that it performs better than Chakra-UI/S

[2020-11-01 03:36] dai-shi commented on #146
jotai v0.10.2 should work better with preact.
Please give it a try.

In summary:
- we don't intend to kill the compatibility with preact
- the current version should work
- in the future version that depends on uMS, we'd need preact compat layer support.
- feel free to file an issue if someone find any problems with preact.

Having that said, let's close this issue.

[2020-11-01 03:36] #146 closed

[2020-11-01 03:38] dai-shi commented on #84
@fjcalzado Closing this now. Let me know if we continue discussion here (reopen) or you open a new issue to refresh discussion.

[2020-11-01 03:38] #84 closed

[2020-11-01 03:44] dai-shi commented on #71
current status:

- #158 added a new feature so that may help for certain use cases.
- @jcoussard 's suggestion https://github.com/pmndrs/jotai/issues/71#issuecomment-701148885 is still valid for other use cases.

This issue is still open for suggestions. I think we could either add notes in docs or create a new util. Any volunteers?

[2020-11-01 03:49] dai-shi commented on #119
#158 added `shouldRemove`. There can still be cases `weakAtomFamily` works better.
We can add it to utils if someone suggests some use cases.

For now, I don't think we have any actions for this issue, so closing this.

[2020-11-01 03:49] #119 closed

[2020-11-01 03:51] dai-shi commented on #109
Closing this as the original question is answered.

[2020-11-01 03:51] #109 closed

[2020-11-02 19:24] likern commented on #159
I'm going to try and test jotai for my React Native project.
I will share my experience.

[2020-11-02 20:10] likern commented on #159
I'm using React Native version `0.62.2` with Hermes JS Engine https://hermesengine.dev `0.4.1` version.
When I wrapped my application into `<Provider>` component from jotai I see white screen / nothing.

There is not error, error logs and indicator that something doesn't work.
But one time error message appeared, as far as I remember it stated `No proxy support`.

For more modern Hermes JS there i

[2020-11-02 21:52] dai-shi commented on #159
@likern Thanks for your trial. That's totally unexpected for me. Let me create a PR to remove Proxy usage. I will ask you for testing it.

[2020-11-02 22:52] dai-shi opened #161 "RFC: jotai/devtools"
@c0d3t3k is doing nice work on devtools: https://github.com/c0d3t3k/jotai-devtools

Should we have it officially? I also have been thinking that the current debugging tool is weak.

A few comments after having a glance at [the article](https://dev.to/c0d3t3k/jotai-not-exactly-redux-dev-tools-57i6):
- We already have `atom.debugLabel` so it can be used as well?
- Having a hook for each atom is an i

[2020-11-03 10:39] Aslemammad commented on #143
Hey, I'll work on it.

[2020-11-03 11:16] dai-shi commented on #143
@Aslemammad That's nice. This hook is a bit difficult to understand. So, feel free to ask me questions for clarification. (BTW, are you in the discord server?)

[2020-11-03 11:22] Aslemammad commented on #143
@dai-shi Sure, yes, I am.

[2020-11-03 18:55] c0d3t3k commented on #161
@dai_shi, thank you for reviewing [our article](https://dev.to/c0d3t3k/jotai-not-exactly-redux-dev-tools-57i6), providing feeback and possibly considering our `jotai-devtools` for official inclusion in Jotai!

Here are some of our thoughts:

- I agree `atom.debugLabel` should be able to be used as the atom name for the devtools instance by default.
- `jotai-devtools` uses a single hook per atom in

[2020-11-04 08:49] dai-shi commented on #161
@c0d3t3k Sounds good. We still want to refine the api, but for now I have two points.

This is very good to know. Atom-level sounds good. And we already have debug value at Provider anyway.
I would like to hear others' opinions. Anyone looking at this issue?

That seems too much for me. Would you mind taking a look at zustand/middleware which has devtools?

[2020-11-04 17:07] likern commented on #41
@dai-shi How to use `atomWithReset` with `atom`?

I have this atom which represents tags attached to task (todo-list):
[code]
Shown tasks can be filtered by tags. When new task is created it inherits `filterTags` - current tags which are used for filtering.
If I close task creation component (without actual creation) I want to **reset task tags to original** `filterTags`.
How to do this? It looks

[2020-11-04 18:07] merisbahti opened #163 "Atoms value becomes `undefined` after using React.useCallback in useSelector (with atomFamily)"
Hey,

This is quite elaborate, but I havent managed to make a smaller example.

Buggy code is here:
https://github.com/merisbahti/jotai-optics/blob/meris/clean-arrayfamily/example/index.tsx

To run it, just clone the repo and `cd example; yarn start`.

The problem appears when removing a field in the form (using the X button), then adding a new field... This resutls in an exception where the value

[2020-11-04 23:17] dai-shi commented on #41
It's true because it only has the notion of default value.

Now, as you use a writable derived atom, it's your responsibility to write a reset handler.

[code]

[2020-11-05 06:55] merisbahti commented on #163
https://youtu.be/JhjK1T_tO6E

I made more complicated youtube instructions... But recorded it in 4k... so I'm not sure if this will ever be a video that one can watch? Try and wait for the 4k quality to be released... :P

Basically.

1. git clone git@github.com:merisbahti/jotai-optics.git
2. cd jotai-optics
3. git checkout meris/clean-arrayfamily
3. yarn
4. cd example
5. yarn
6. yarn start
7. (fol

[2020-11-05 07:07] dai-shi commented on #163
@merisbahti Thanks for reporting this. Could you copy&paste the error stack trace?

[2020-11-05 07:14] merisbahti commented on #163
[code]

[code]

[2020-11-05 07:28] dai-shi commented on #163
Thanks. Can you tell what the `field` atom is like? It's a derived atom, correct? Is it async?

[2020-11-05 07:30] dai-shi commented on #163
If possible, can you confirm if this issue is caused by this line returning `undefined`?

https://github.com/pmndrs/jotai/blob/4c45660d60f6e72a627e4428f0c41aa964ff803b/src/core/Provider.ts#L220

[2020-11-05 08:57] merisbahti commented on #163
currently at work but will check when finished.

[2020-11-05 16:22] likern commented on #41
Finally I wanted this code to work. But it doesn't work.
[code]

`tagsAtom` is a persistense atom which loads tags from database.
[code]
`taskTagsAtom` represents tags for task. Initially it sets tags from `tagsAtom`. If `taskTagsAtom` modifies tags - it should only modify it's local copy, without touching `tagsAtom`. For these purposes I'm using immer and `produce()`.

On **reset** `taskTagsAtom`

[2020-11-05 23:08] dai-shi commented on #41
@likern
`set(tagsAtom, newTags);` is modifying `tagsAtom` value. Its `read` function doesn't have a dependency, so it will only invoked once at initialization.

Basically, you would like to avoid setting self in `write`. Which means no `@ts-expect-error`. I'd suggest to make two atoms (one primitive and one derived), but if one really wants to make it one atom `atomWithReducer` is a good pattern.

[2020-11-05 23:14] dai-shi commented on #41
Basically, what you struggle with is the persistence pattern. `docs/persistence.md` might help. It only has some snippets though. Suggestions to improve the docs are very welcomed.

[2020-11-05 23:34] likern commented on #41
As I understand, `set(taskTagsAtom, newTags);` should not update another atom `tagsAtom`, only it's own value. And I nowhere modify `tagsAtom` directly - so I presumed it should have it's original value.

I'm still investigating the issue, but it looks like it's a bug of immer itself https://github.com/immerjs/immer/issues/626. And `produce` have no effect - it just modifies original value.

But t

[2020-11-05 23:43] dai-shi commented on #41
I misunderstood something in your code. So, the tagsAtom can simply be like this?

[code]

Then,
[code]
should always return a same value, yes.

[2020-11-05 23:53] dai-shi commented on #41
An atom config object created by `atom()` should not be mutated. If you want to make sure if you can `Object.freeze(anAtom)`. You can never change atom values without calling `set(anAtom, value)`.

[2020-11-05 23:54] likern commented on #41
@dai-shi Yes, I provided definition of `tagsAtom` to give better picture. The problem with `taskTagsAtom`.
`taskTagsAtom` should initially get the same value as `tagsAtom`, then it can be modified (`tagsAtom` should be untouched). And if reset requested `taskTagsAtom` should get it's initial value which is equal to `tagsAtom`.

But the problem is that
[code]
inherently modifies `tagsAtom`. So if I

[2020-11-05 23:59] likern commented on #41
@dai-shi Even though logically I worked with `taskTagsAtom`'s data by calling
[code]

[2020-11-06 00:00] dai-shi commented on #41
Oh, now I get it. My apologies for some comments based on my misunderstanding.

So, I guess it's the issue of `produce` usage or behavior?

Yes, this is mutating an atom value, which is not desired.

To be fair, we have the same issue with `useState`.

[2020-11-06 00:07] dai-shi commented on #41
Not sure what you mean. We agree the issue is mutating an atom value (object) accidentally, no?

Let's open a new issue for this discussion? (this issue is about "reset")

[2020-11-06 00:14] dai-shi opened #166 "Atom values can be mutated accidentally"
ref: https://github.com/pmndrs/jotai/issues/41#issuecomment-722705742

[2020-11-06 00:14] likern opened #167 "Discussion: atom values should be freezed/immutable"
Based on discussion in https://github.com/pmndrs/jotai/issues/41

[2020-11-06 00:15] dai-shi commented on #41
@likern #166 created. I can change the title and description if you have a suggestion.

[2020-11-06 00:15] #41 closed

[2020-11-06 00:15] dai-shi commented on #167
oops.

[2020-11-06 00:16] dai-shi commented on #166
closing in favor of #167.

[2020-11-06 00:16] #166 closed

[2020-11-06 00:17] dai-shi commented on #167
Do you agree the issue exists even with `React.useState`?

[2020-11-06 00:32] likern commented on #167
I agree that if some object is shared between components, it's change changes all components. But because callbacks with updated value are used - UI is still valid.

Let's say I have that array of tags. If tag value is changed (isSelected = true) it doesn't cause a rerender.
But I get `onPress(tagId: string, isSelected: boolean)` callback fired. And it will rerender valid components.

[2020-11-06 00:38] likern commented on #167
If atom is changed inherently, there is no notification of that, we don't know that it's happened.

And if `useAtom(atom)` will be called in some other components we accidentally get wrong value. Without even knowing about it.

[2020-11-06 01:04] likern commented on #167
If I'm correct Recoil has immutable atom values.
https://github.com/facebookexperimental/Recoil/issues/112#issuecomment-631068581

[2020-11-06 02:42] dai-shi commented on #167
I'm not sure if I understand this.

But, I get these two.

Hm, wonder if they deep freeze it.

[2020-11-06 02:44] dai-shi commented on #167
I would like to revisit this: https://github.com/pmndrs/jotai/issues/41#issuecomment-722705742

[code]

Why on earth immer goes wrong?

[2020-11-06 02:57] likern commented on #167
Frankly speaking I don't know. From my understanding this is totally valid code. But `taskTags` is also updated.
I tried different variations of code, still that behaviour.

[2020-11-06 03:08] likern commented on #167
But I use Hermes engine in React Native. It might lack some of API. Also, since in my Hermes version no Proxy support, I use `enableES5()` from setup instructions. https://immerjs.github.io/immer/docs/installation#immer-on-older-javascript-environments

[2020-11-06 03:09] likern commented on #167
But I use Hermes engine in React Native. It might lack some of API. Also, since in my Hermes version no Proxy support, I use `enableES5()` from setup instructions. https://immerjs.github.io/immer/docs/installation#immer-on-older-javascript-environments

[2020-11-06 03:31] dai-shi commented on #167
Does removing Array.from help?

[code]

[2020-11-06 04:05] likern commented on #167
No, didn't help. Changing `find` to ` findIndex` also.

[2020-11-06 06:52] merisbahti commented on #163
Unfortunately, this did not work. I added a console log right before that line:

[code]

Here's how it looked in the console (I added a console log right before I start clicking)
![Screenshot 2020-11-06 07:51:51](https://user-images.githubusercontent.com/2946728/98335283-f8240400-2004-11eb-89e1-03df3e8cab3f.png)

[2020-11-06 09:44] dai-shi commented on #163
I have no clue, so next experiment. What if you use a simplified useSelector?
[code]

[2020-11-06 11:45] italodeandra commented on #167
I was really bothered by this. I wasn't able to understand why immer wasn't doing it's job. So I replicated OP problem on [codesandbox](https://codesandbox.io/s/boring-tdd-kg53g?file=/src/App.tsx) but for some reason, the code works normally as intended. The original `tagsAtom` is not mutated.

The problem might be on the instanced array that populated the `tagsAtom`. I wanted to test it better (w

[2020-11-06 13:00] dai-shi opened #168 "Add test for Provider initialValues prop"
implemented in #164.

would someone help on this?

[2020-11-06 14:14] likern commented on #167
It returns `Promise<Tag[]>` with `Tag` being
[code]
It's populated by TypeORM.

[2020-11-06 14:29] likern commented on #167
**I get it**, thank you so much for pointing out to the right direction!

[code]
solves the problem 😄

[2020-11-06 14:43] merisbahti commented on #163
Hey, thanks.

Yeah, same behaviour with the simplified selector.

[2020-11-06 16:08] italodeandra commented on #167
Nice. I was suspecting you were using a class. But I thought it was weird for this to happen. I wasn't even aware of `immerable`, it is really nice to know.

[2020-11-06 20:36] merisbahti commented on #163
Actually, dai-shi, it seems like the error is in my side,

I actually took the time to implement the bug in my library on this branch:
https://github.com/merisbahti/klyva/tree/meris/klyva-next

So I'll spend some time to figure out what I'm doing wrong, thanks for your help.

I'll try and keep this issue posted as I find out more, but you can close it if you want. (I'll still write here even if it

[2020-11-06 22:41] dai-shi commented on #167
@italodeandra Nice comments!
@likern Glad you solve it and clarify it.

Now, back to the original discussion, I'm not a big fan of adding deep-freeze or any kind in core.
So, I think this should be solved in utils or docs.

Let's see how this works:
[code]
[code]
Would anyone be interested in trying?

[2020-11-07 10:08] dominictwlee commented on #168
sure I'll look into it.

[2020-11-07 11:54] #168 closed

[2020-11-07 13:07] likern commented on #167
@dai-shi I was wondering how it is implemented in Recoil.
It looks like they implemented **deep freeze** https://github.com/facebookexperimental/Recoil/blob/master/src/util/Recoil_deepFreezeValue.js, but it works only in `__DEV__` mode.

[code]

https://github.com/facebookexperimental/Recoil/blob/19bfa7515d375ad68a88462f7cc479fdd2d8fdb7/src/recoil_values/Recoil_atom.js#L428

I think this might be

[2020-11-08 00:55] dai-shi commented on #167
Yeah, that's one option for sure.

Let me propose another one which I think is to keep our code simple.
[code]

[2020-11-08 01:27] dai-shi commented on #167
Hm, I noticed Recoil_atom.js is atom.ts in our case, not Provider.

So, this should be another option:
[code]

[2020-11-08 01:48] dai-shi opened #172 "[Refactor] implement mForEach instead of mKeys in immutableMap.ts"
It should be more efficient and reduce bundle size.

[2020-11-08 01:49] dai-shi commented on #167
Would you like to try #171 and see if it's satisfying?

[2020-11-08 10:00] likern commented on #167
[code]

[code]

![Screenshot_2020-11-08-12-56-06-829_com breeffy feeve](https://user-images.githubusercontent.com/842306/98462011-f3f11580-21c1-11eb-8621-acf7784de47f.jpg)

[2020-11-08 11:02] dai-shi commented on #167
@likern Thanks for trying!

[code]

Oh, no. It was unexpected, sorry.

[2020-11-08 11:06] dai-shi commented on #167
https://github.com/pmndrs/jotai/pull/171/commits/fc64847c056f7c5c7a13eb71661b0f9ecf484149
This should fix it.

[2020-11-08 23:11] dai-shi commented on #15
Updated my example with jotai v0.10.4 which supports `initialValues`.
https://codesandbox.io/s/nextjs-with-jotai-5ylrj?file=/pages/_app.js
[code]

[2020-11-09 02:44] dai-shi commented on #161
Closed by #169 and #173.

[2020-11-09 02:44] #161 closed

[2020-11-09 02:44] dai-shi opened #175 "RFC: jotai/optics"
@merisbahti originally filed the issue #44.
As I wasn't familiar with optics then, a separate package `jotai-optics` made sense.
I'm not yet very familiar with it, but I start getting to know its power and suitability with jotai api.
So, it would be a good option to provide `jotai/optics` officially.

Just yesterday, @c0d3t3k announced [an article](https://dev.to/c0d3t3k/jotai-now-with-optics-29ld

[2020-11-09 09:43] #172 closed

[2020-11-09 09:51] merisbahti commented on #175
Really interesting and fun to hear, I can make a PR for this. 👍

[2020-11-09 10:32] dai-shi opened #177 "atomFamily.remove should follow areEqual"
atomFamily's createAtom.remove should follow areEqual if it is specified.
ref: https://github.com/pmndrs/jotai/pull/176#discussion_r519700888

Preferably with tests.

[2020-11-09 10:45] dai-shi commented on #167
Now, let's try another approach.

[code]

Does this work?

https://codesandbox.io/s/react-forked-mdmic?file=/src/App.js

Okay, this seems fine.

Now, I prefer to avoid having deepFreeze in core.
The question is how we switch freeze mode and nomal mode without affecting app code.

[2020-11-09 11:20] dai-shi opened #178 "Weird error without Provider: TypeError Cannot read property 'Symbol()' of null"
In the latest version (0.10.4), if we forgot to add `<Provider>`, the error message is not understandable.

This is maybe because #162 changed the way we show the message which revealed the bug in use-context-selector.

Repro: https://codesandbox.io/s/lucid-wright-0wc7o?file=/src/App.js

<img width="242" alt="image" src="https://user-images.githubusercontent.com/490574/98537889-4c610980-22cd-11eb-

[2020-11-09 12:09] #178 closed

[2020-11-09 14:21] likern opened #180 "Discussion: atomFamily better alternative"
I've tried to use `atomFamily` or implement my own alternative. But looks like I had no succeess, so I decided to discuss my vision and ideas.

## atomFamily drawback
As I understand `atomFamily` was copied from RecoilJS. While at first glance it might look good, trying to implement this pattern in real life fails shortly. That's the problems I found.

### Can't fetch or load data to `atomFamily`

[2020-11-09 19:04] dominictwlee commented on #107
@Aslemammad Are you still working on this?

[2020-11-09 19:08] Aslemammad commented on #107
@dominictwlee Hey, yes I'm working on it.

[2020-11-09 19:37] dominictwlee commented on #107
Cool, I'll have a look at it.

[2020-11-09 19:50] Aslemammad commented on #107
if u need any help, tell me, I'd love to work on it.

[2020-11-09 21:02] dominictwlee commented on #107
@dai-shi So given that the api for immutableMap methods are dependent on the implementation detail of receiving an immutable map type, I'm not entirely sure we can avoid writing tests that avoid its implementation details.

Could you clarify what you had in mind for this? Thanks!

[2020-11-09 22:43] dai-shi commented on #107
@dominictwlee Glad you start investigating it.
So, the background of this work is to improve performance.
If we have many atoms, our immutableMap becomes big which can cause bad performance of the entire library.

Originally, the code is embedded in Provider.ts, but as we move it to immutableMap.ts,
we can compare different implementations.
To compare different implementations, we need to test it

[2020-11-09 22:53] dominictwlee commented on #107
Yep makes sense, looks similar to some of the test cases I drafted out. K I know where to take this from here.

[2020-11-10 05:48] mdingena opened #184 "Updating an atom dependency without having the dependent in the same component doesn't update the dependent"
## Context

I have an `attackerSkillSetAtom` atom:

[code]

I have a component with a `skillSetAtom` prop that accepts an atom:

[code]

I have a page in my app that displays skills (for a game) in a list with these `UpdateSkill` components on it. The route for this page is `/skills/:party` because I'd like to show a different skill set for the attacking player and the defending player. My routing

[2020-11-10 06:20] dai-shi commented on #184
Hey! Thanks for trying. Looks like an interesting use case.

I will look at your description more in detail later, but one question out of my head is where you place `<Provider>`. It needs to be outside of your router if you need to keep values across routes.

Yes, this is a valid usage.

[2020-11-10 09:10] dai-shi commented on #180
I agree atomFamily is only useful when we have id (=param) in advance.

I'd like to solve each item one by one without using utils, and in the end, we could hopefully propose new utils.

The first one. Hm, this already sounds hard.
I'm not sure if atoms should be used for server caching, but let's see how far we can go.

It needs to be one big atom.

[code]

Now, to get one item, can we use id?

[

[2020-11-10 09:15] mdingena commented on #184
[code]

[2020-11-10 12:25] #177 closed

[2020-11-10 12:28] italodeandra commented on #15
Hi @dai-shi,

Is the `initialValues` required or can I skip it if my SSR page doesn't require changing the atom's default values?

[2020-11-10 12:38] dai-shi commented on #15
You can skip it. It's optional.

[2020-11-10 13:09] dai-shi commented on #184
Thanks.

I read the description again. It seems like a bug. We started supporting keeping atom values across routes since v0.10, and there might still be some cases not covered.

I'll investigate it further as it's important if it's really a bug, but if you are willing to help the project, a *small* reproduction with codesandbox would be so much helpful. I suppose one route with a primitive atom a

[2020-11-10 13:43] dai-shi commented on #167
@likern I made a util #185.

[2020-11-10 23:09] #107 closed

[2020-11-10 23:36] mdingena commented on #184
Here is a reproduction: https://codesandbox.io/s/late-smoke-2z91z

* Observe the derived values on the home page: `42` and `1337`.
* Navigate to Key 1 page.
* Observe the primitive values on the Key 1 page: `42` and `1337`.
* Click the button, observe that `key1` value becomes `43`.
* Navigate to home page.
* **Observe that derived value has not updated.**

To see it working:
* **remove the `<Swit

[2020-11-10 23:52] dai-shi commented on #184
@mdingena Thanks for the small reproduction! This is very helpful. I know what's happening underneath. Now, thinking how to solve this.

FYI, if you use React DevTools, you can check the Provider state.

<img width="621" alt="image" src="https://user-images.githubusercontent.com/490574/98747268-8b40ad80-23fa-11eb-9200-d14c8b9b562d.png">

Find `DebugState` in `hooks`.

[2020-11-11 00:37] c0d3t3k opened #187 "useBridge Hook Fails for Atoms with Custom Read/Write Handlers"
The `useBridge` hook seems to fail with atoms that have custom read/write handlers when the atom is used in the same component where the hook is called.
This usage seems to create some sort of feedback loop causing React to throw a `Maximum Update Depth Exceeded` exception.

[CodeSandbox to Reproduce the Issue](https://codesandbox.io/s/jotai-bridge-issue-piqrj)

[2020-11-11 08:52] dai-shi commented on #187
Looks like this has nothing to do with `useBridge`. I guess you can repro without it.

The problem is because atoms are created in render.
Here's the fixed version with useMemo.
https://codesandbox.io/s/jotai-bridge-issue-forked-6krbq?file=/src/App.tsx

Unless necessary, the recommendation is to define atoms outside render.

[2020-11-11 10:03] dai-shi commented on #88
Two points to improve our tests.

1) use single `waitFor` wrapping multiple `getTextBy`s instead of multiple `findByText`s.
ex. https://github.com/pmndrs/jotai/pull/170/files#diff-9b93a57f63999f35f29dafb87113a31d78f31f63e01db59c772f60b309c7fe6eR31-R34

2) use jest.fn and toHaveBeenCalledTimes instead of naive counters (`readCount` and `updateCount`)
ex. https://github.com/pmndrs/jotai/pull/188/fil

[2020-11-11 10:39] LuckyPigeon commented on #88
@dai-shi
Thanks for the tips!

[2020-11-11 12:09] c0d3t3k commented on #187
Alright, I will use `useMemo` from now on for this situation. Thanks for your time and help!

[2020-11-11 12:09] #187 closed

[2020-11-11 12:12] vasco3 opened #190 "Unnecessary reference to Facebook in the comparison between Jotai and Recoil"
In the comparison [jotai vs. recoil](https://github.com/pmndrs/jotai/blob/master/docs/comparison.md#how-is-jotai-different-from-recoil), it seems to me like the mentioning of Facebook product is unnecessary.

People using Jotai are already using code by Facebook, such as React. So I don't see why it matters if Recoil is made by Facebook or not. I wonder which was the intention of this mention. I g

[2020-11-11 12:26] dai-shi commented on #190
Thanks for the notice. Yeah, that was careless. Let me remove it in a second.

[2020-11-11 12:28] #190 closed

[2020-11-12 05:20] JLarky opened #191 "wrong type signature for useAtomDevtools"
`WritableAtom<Value, Value>` will only work for simple atoms, and will fail if a custom updater is used.

Codesandbox example: https://codesandbox.io/s/jotai-issue-191-44wy3?file=/src/App.tsx

[2020-11-12 05:36] dai-shi commented on #191
Yeah, but it's intentional for now. Your atom needs to accept `Value` for updating to time travel.

Maybe, it'd be good to support `Atom<Value>` too and disable time traveling somehow.
cc @c0d3t3k

[2020-11-12 05:42] JLarky commented on #191
to be honest I tried simple boolean atom (for checkbox) and I couldn't make it work with time travel :)

anyway, good to know that this is not a bug, but maybe `useReadonlyAtomDevtools` could be added :)

[2020-11-12 05:53] dai-shi commented on #191
Nice catch. I wasn't aware. Maybe it only works with an object. If that's the case, we'd need to wrap primitive values in the hook?

Sounds nice and easy.

I hadn't thought about it, but totally agreeable as we have atomWithReducer. But, it's very difficult. Maybe impossible without any workaround.

[2020-11-12 17:43] c0d3t3k commented on #191
My Thoughts:
- The atom state is sent to the [devtools extension](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/README.md#1-for-chrome) as a raw value ([useAtomDevtools#L90](https://github.com/pmndrs/jotai/blob/a92c82ba92d49e5bb7e4aa51c83d9df8d6344fb3/src/devtools/useAtomDevtools.ts#L90)). When Time Travel events come back from the extension, they are returned as a string, nec

[2020-11-12 18:59] youknowriad commented on #180
@dai-shi

[code]

On that example, is it true to assume that since `getItemAtom( id )` atoms depend on `dbAtom` which means if I have a list of items, all the components will rerender each time I add or delete an item even if the rendered component only cares about an unchanged item?

[2020-11-12 22:05] dai-shi commented on #191
If you think it's not too confusing users, it sounds good.

There's a small issue, though. A writable atom doesn't always mean you can write the same type back.
So, the typing should be:
[code]

How can this be used?

[2020-11-12 22:11] dai-shi commented on #48
Now, #162 removed proxies, it no longer requires proxy-polyfill.

[2020-11-12 22:16] dai-shi commented on #180
@youknowriad
It will re-run all read functions of the dependent atoms, but only components in which the read results are changed (`!==`) re-render. Does it make sense?

[2020-11-12 23:03] youknowriad commented on #180
It does yes, but personally for me, one of the selling point of recoil/jotai (compared to state solution like redux where they run selectors and check immutability) is that it shouldn't need to call the functions of the dependent atoms. At scale (rendering thousands of components), even these function calls can become costly.

Granted it's not important in all situations but I wonder if there are

[2020-11-12 23:10] youknowriad commented on #180
Actually, now that I think about it. It's probably not a big concern though because this function will only run once for each of these items without calling its potential child atoms. This is probably good enough. (Don't mind me :P)

[2020-11-13 00:05] dai-shi commented on #180
Note for anyone: This is not avoidable, not because of jotai/recoil design, but JS.

[code]

So, you need `get(dbAtom)[id]` to check is it's changed.

----
Now,

in this case, it's bad design to create `dbAtom` top-down.
We should take bottom-up approach.

[code]

[2020-11-13 00:14] dai-shi commented on #191
BTW, if we have a read-only atom and would like to use devtools, we can wrap it to create a writable atom and discard updates.

[code]

cc @JLarky

[2020-11-13 00:24] c0d3t3k commented on #191
Well, the `WriteValue = ReadValue` was just supposed to be a default, if the atom should have a separate write value this is allowed. In my experience with TS >3.8.0 the type params are automatically inferred from the atom.

Also, the shadow write-discarding atom could be created by a helper function added to `jotai/utils`.

[2020-11-13 00:31] dai-shi commented on #191
It's not about TS capability.
How could devtools allow time traveling for `WritableAtom<{ x: number }, { y: string }>`?

Yeah > could be created by a helper function

[2020-11-13 01:13] c0d3t3k commented on #191
Yes, I agree that time traveling will not affect every atom. I don't think it matters that the write function actually does anything, it just has to be handled/callable somehow. At that point, the update can either be acted upon or ignored.

[2020-11-13 09:41] vovacodes opened #192 "Jotai for libraries"
As a library author, I want to make sure the values of the atoms my library relies upon are only updated in the `jotai.Provider`s I control and not the ones, the users of my library might add to the tree for their own purposes.

I believe we need some API in jotai to support it. The initial discussion happened [here](https://discord.com/channels/740090768164651008/752920140483526677/77673168223272

[2020-11-13 11:36] dai-shi commented on #192
I'm thinking of something like this.

[code]

This will require refactoring and it would take some time.

[2020-11-13 11:53] dai-shi commented on #191
Yeah, based on that, I still think `WritableAtom<Value, Value>` is the precise atom typing because that's how useAtomDevtools calls `set`.

[2020-11-13 12:22] dai-shi commented on #192
On second thought, it is not very ideal for the eco system. It doesn't allow `jotai/utils` or other extending libs.

Now, I wonder if there's an alternative idea.

[2020-11-13 12:42] dai-shi commented on #192
Another idea.

[code]

Not sure yet how easy/possible to implement this.

[2020-11-13 16:09] Aslemammad commented on #192
@dai-shi I think the second one is a better thing, I've got another idea for the second one. For one scope( one provider) I think we can make jotai automatically finds it, or atoms without a scope, they will belong to the default and the first one. and for multiple providers, we can do these( your second idea) steps.

[2020-11-13 22:59] dai-shi commented on #192
Yeah, that's my point too. `scope` is just optional. The implementation wouldn't be very easy.

The first idea is also bad in terms of dead code elimination, so I wouldn't take it.

[2020-11-13 23:19] youknowriad commented on #192
Hey there!

Just want to through something here. First, thank you for jotai, it's an amazing library and learned a lot from it.

For context, I work on the WordPress block editor and we have a data layer package caller `@wordpress/data` that relies mostly on Redux stores with some specifics. We faced performance issues while rendering a lot of components and we started exploring alternatives. Righ

[2020-11-14 02:13] c0d3t3k commented on #191
I was thinking about this and came up with the following case:
[code]

Since the shadow atom transforms the value read from (or written to) the raw value atom, these values should be consistent when the atom is updated from a time travel event.

With the previous example in mind, I think that the [`setValue` call](https://github.com/pmndrs/jotai/blob/master/src/devtools/useAtomDevtools.ts#L68) in

[2020-11-14 02:41] dai-shi commented on #191
If you send `{ x: 0 }` to Redux DevTools Extension, it will send back to you `'{"x":0}'` in JSON, right? It doesn't know anything about `y`.

Consider another example:

[code]

[2020-11-14 03:02] c0d3t3k commented on #191
Ok, my mistake. I think I understand now. This is an interesting paradox, since the the devtools cannot be assured of the backing state of a derived atom.

So if you have a derived atom with separate read/write types, you have to wrap that atom with another derived atom that converts back to the raw value and has identical read/write types.

With that in mind, I now agree that `WritableAtom<Value,

[2020-11-14 05:27] dai-shi commented on #191
OK, let's close this issue then.

----

A remaining issue (maybe create a new issue?) is how to support `Atom<Value>` without time traveling.

Option A:
- `useAtomDevTools<Value>(anAtom: WritableAtom<Value, Value> | Atom <Value>, name? string)`
- If the atom is not writable, just ignore updates from Redux DevTools Extension.

Option B:
- new `useReadOnlyAtomDevtools<Value>(anAtom: Atom<Value>, nam

[2020-11-14 05:27] #191 closed

[2020-11-14 06:24] Aslemammad commented on #192
I'm thinking that it wouldn't be easy, but a great thing for the library.

[2020-11-14 21:18] vovacodes commented on #192
The "scope" idea looks reasonable to me. A little bit of extra thing to always keep in mind that you need to set `scope` for each atom you are creating but most of the libraries probably won't need to create too many of those anyways.

[2020-11-14 22:48] mdingena commented on #192
@youknowriad @dai-shi I think Jotai would benefit from [having a vanilla bundle like Zustand](https://github.com/pmndrs/zustand#using-zustand-without-react).

[2020-11-15 01:16] dai-shi commented on #192
@vovacodes I'm expecting a lib author to create its own wrapper, something like this:

[code]

@mdingena @youknowriad Actually, it might be a good idea to keep the core code cleaner. I'm still working on refactoring core. However, the vanilla bundle might not be very useful as is, because it would be an unusual api to support React Concurrent Mode.

(tbh, I'm not so keen to provide framework-agnos

[2020-11-15 02:14] #184 closed

[2020-11-15 03:37] dai-shi commented on #88
@Aslemammad As you got familiar with the first one in https://github.com/pmndrs/jotai/issues/88#issuecomment-725329174, please feel free to go ahead and open a PR.

[2020-11-15 04:53] Aslemammad commented on #192
@dai-shi I think it's a really good demo, It's better because I agree with the way that the lib author creates a customized atom and provider because the symbol would always be unique.

[2020-11-15 04:55] Aslemammad commented on #88
@dai-shi Sure, I'm gonna work on it, thanks for the suggestion.

[2020-11-15 06:21] dai-shi opened #196 "Update examples dependencies"
Update dependencies and devDependencies of examples/*/package.json.

I tried it once but it was not successful because cra4 and customize-cra conflict or something.

[2020-11-15 06:25] dai-shi commented on #180
@likern I think we need your input.

[2020-11-15 06:29] #163 closed

[2020-11-15 06:33] dai-shi commented on #159
Let's close this. If we have a real issue, please open a new one.

[2020-11-15 06:33] #159 closed

[2020-11-15 08:44] likern commented on #180
I've switched to Recoil for my application. It has exactly the same requirements.

I'm still investigating. But looks like soon I can provide my experience of solving these mentioned problems.

[2020-11-15 15:46] AjaxSolutions opened #197 "Discussion: How to cancel derived async atom?"
This question is very similar to this Recoil issue.

https://github.com/facebookexperimental/Recoil/issues/51

[2020-11-16 00:11] dai-shi commented on #197
JS doesn't have a cancellation api, so let's see how AbortController works.

[code]

Assuming this works, the question is how to generalize the `read` function. I'm not also 100% sure if we can re-use AbortController. `abort()` let the previous fetch throw an error, so we may need to catch it.

[2020-11-16 00:29] AjaxSolutions commented on #197
Thanks, but how would I abort the request when the component unmounts?

[2020-11-16 01:02] dai-shi commented on #197
Good point... If we used the atom directly we could do something like,

[code]

but, this would not be very nice because other components (and dependency atoms) could be still using the same atom.

[2020-11-16 02:45] dai-shi commented on #197
Another idea:
[code]

Hmm, this doesn't look very intuitive.

----

Actually, I have concerned such situation and would like to tackle the problem.
https://github.com/pmndrs/jotai/blob/b6ada607bd928e54214ebb00c5ef0838f53dfe2e/src/core/Provider.ts#L432-L435

So, maybe we attach a cancel function to a promise, and call it before discarding it (or just discard the promise if no `cancel`)

[code]

(On

[2020-11-16 13:11] #192 closed

[2020-11-16 13:29] AjaxSolutions commented on #197
AbortController can't be reused or reset.  Thanks for taking time to answer my question.  This Recoil issue is still being discussed.

[2020-11-16 14:23] dai-shi commented on #197
So, it has to be something like this:
[code]

There's a caveat though. We can technically reuse atoms for multiple Providers. So, the singleton for an atom might not work as expected. It think it's better to abort fetch outside of atoms.

For unmount use case, I think it's better not to cancel promises. The mental model of Jotai is a big WeakMap. So, as long as an atom exists, its value should be

[2020-11-17 00:06] Andreyco opened #199 "[Question]: is it possible to read stale data?"
Is it possible to read stale data while another async read operation is running?

As soon as read operation is being executed, `Suspense` switches to `fallback` node. I wonder whether jotai can help it in any way.

[2020-11-17 00:31] dai-shi commented on #199
There's no api to read stale data while suspending.

However, we can avoid suspense to fallback for `write`.
If you don't return a promise, it will not suspend.

[code]

For `read`, it's not possible by design (at least, I suppose so for now).
If you need to control loading state on your own, I suggest to try `write` instead of async `read`. Not quite sure if it works for your use case, though.

O

[2020-11-19 19:42] tarngerine opened #200 "Error: Atom state not found. How to properly handle async derived atoms that should be undefined until a source atom is loaded?"

[2020-11-19 19:47] #200 closed

[2020-11-19 19:51] tarngerine opened #201 "Error: Atom state not found. Weirdness with async derived atom loading depending on where atom is used."
Hi there, I am running into an issue using async atoms. Here is the repro code sandbox: https://codesandbox.io/s/suspicious-nobel-bgzce

Expected:
- `roomClientAtom` should properly load after `currentSpaceAtom` and `roomServiceAtom` are configured.

Actual:
- `roomClientAtom` errors out
<img width="1159" alt="image" src="https://user-images.githubusercontent.com/1629901/99716849-38a46880-2a6e-11e

[2020-11-20 03:01] dai-shi commented on #201
Hi! Thanks for reporting. This is a bug. There are still some cases not implemented well, especially around async derived atoms.

I plan to revise the implementation and overhaul, and this kind of reproductions for unexpected behavior is very helpful.

I would like to create a failing test to start with. Would you help me a bit? Could you shave your example further to reproduce the issue at minima

[2020-11-20 03:28] tarngerine commented on #201
## Removing currentSpaceAtom
still reproduces
https://codesandbox.io/s/recursing-nobel-xi24g?file=/src/App.tsx
<img width="327" alt="image" src="https://user-images.githubusercontent.com/1629901/99754462-0a467d80-2aae-11eb-86c2-5bb9d686c748.png">

## Removing roomServiceAtom
still reproduces, but one less warning message
https://codesandbox.io/s/magical-ives-9fo2x?file=/src/App.tsx
<img width="328

[2020-11-20 03:32] dai-shi commented on #201
Thanks!

This sounds like there are two separate bugs to produce this issue.

[2020-11-21 02:11] #201 closed

[2020-11-21 15:11] resynth1943 opened #204 "Track async setter state"
Hello, and thanks for developing Jotai (it's awesome!) :wave:

Although, I have a specific use-case where tracking the async setter state would be incredibly useful.
I use atoms for accessing data in persistent storage (e.g. IndexedDB), which isn't a synchronous API.
Therefore, I'd like to show a **loading state** between setting the value of an atom with an **async setter**,
and the value actuall

[2020-11-21 15:12] resynth1943 commented on #204
Something like this would do nicely:

[code]

[2020-11-21 16:15] resynth1943 commented on #204
[code]

No idea if it works, but here's my first try.
I'm fairly new to React, so I'm learning as I go.

[2020-11-21 16:41] ralphievolt opened #205 "Component Exception ( Please use <Provider>)"
The component is a child component where Jotai Provider is set. If  I removed this declaration
`  const [, setKeyValue] = useAtom(KEY_VALUE);`
 everything is fine however if I declare it I'll get an error
**Component Exception  Please use  Provider**

I am running React Native.

This is the code.

[code]

[2020-11-21 22:18] dai-shi commented on #205
There are several cases. Here's some notes:
- Are you using r3f or some other custom reconcilers?
- Do you think you can repro the issue in Web?
- Could you create a codesandbox to repro?
- If it only happens in RN, there can be a bug.

[2020-11-22 01:20] dai-shi commented on #204
Exactly! That's how I expect for this use case.

[2020-11-24 00:04] ralphievolt commented on #205
The problem exist in react-native web as well however I think it originated when the component is encapsulated by this modal component
[https://callstack.github.io/react-native-paper/portal.html](url)

I'll be closing this issue since its not related with Jotai but a little idea what's the work around will be great =)

[2020-11-24 00:04] #205 closed

[2020-11-24 00:36] dai-shi commented on #205
@ralphievolt I'm not very familiar with portal, but it looks like a separate react tree.
In such a case, useBridge/Bridge should help
https://github.com/pmndrs/jotai/blob/master/docs/core.md#usebridgebridge

[2020-11-24 03:09] garretteklof commented on #15
Hi @dai-shi I'm currently using `jotai` in a Next.js application. I was running into an issue with version `^0.9.2` where an atom with an array value wasn't being properly updated between page changes (but would after a full refresh). Then, my application was being hydrated with a layoutEffect (previous documentation). I've since upgraded to the current version of `jotai` and am using the initialV

[2020-11-24 03:43] garretteklof commented on #15
Here's a quick codesandbox -> https://codesandbox.io/s/nextjs-with-jotai-forked-kxesh

It has to do with the nested initialState props .. for example if `initialState` has `color` property at the root-level it works fine (but doesn't when wrapped in `art`). Notice how a full refresh brings the correct state value.

If I'm doing something inanely silly (quite possible) - please forgive me. I've bee

[2020-11-24 11:49] dai-shi commented on #15
https://codesandbox.io/s/nextjs-with-jotai-forked-kxesh
@garretteklof Would you briefly explain what is weird and what is expected behavior?

[2020-11-24 15:54] garretteklof commented on #15
State does not get updated in the new page without a refresh. The expected behavior would be the `initialValues` state to be updated via `getStaticProps` or `getServerSideProps`. Again, note if I do not nest the state it does in fact update. Or, if it's fully refreshed.

To mimic, make sure you start on `index` - refresh. Click 'static'. You should see `pink`. Refresh that page. You should then se

[2020-11-24 16:54] garretteklof commented on #15
Admittedly, I'm very new to Next.js but it seems to me part of the 'magic' of Next and their router is that it acts as a client-side transition, but reruns their data fetching functions. My confusion is the correct data indeed reaching `initialValues` (you can throw in a console.log to see), but state not being updated. I could obviously treat it as a purely client side transition and update state

[2020-11-24 19:21] dwelle opened #208 "useEffect not called with latest atom value"
In a very specific case, a `useEffect` isn't triggered on state update (render) despite dependencies being changed.

(**EDIT:** actually, the two atoms aren't necessary as updating a single one, twice, is enough to reproduce. See sandbox in [comment below](https://github.com/pmndrs/jotai/issues/208#issuecomment-733280403)) After stripping down the whole app into the smallest reproducible example I

[2020-11-24 22:55] dwelle commented on #208
Indeed, it turns out it can be simplified to just use one atom: https://codesandbox.io/s/infallible-engelbart-qmvrv?file=/src/index.js

[2020-11-25 08:42] dai-shi commented on #208
This is very helpful. Thanks for the repro. (for me, it's 100% of time)
I guess I know what's happening underneath.
Not sure yet how to fix it, but let me start working on local tests.

[2020-11-25 15:19] dai-shi commented on #15
@garretteklof Thanks for your explanation.
I now understand what you mean.
Yes, `initialValues` are **initial** values. When you see initialState with color yellow, the provider is already initialized and can't be changed afterwards.
There are two options: a) remount Provider, b) setAtom with props.
Assuming we want to keep atom values across pages, a) wouldn't be an option.

b) would be something

[2020-11-25 17:09] garretteklof commented on #15
@dai-shi cool - thank you for your follow-up. It definitely makes sense that those would be truly 'initial' values, and I realized this was far more Next.js architecture than an implementation with `jotai`. What I ended up doing was a derivation of _b)_ - a wrapper component that serves as the hydrator for page changes - so just tracking it on a more global level. Thanks again for your responsiven

[2020-11-25 17:28] srigi commented on #15
Could you share a code snippet of your solution?

[2020-11-25 19:01] garretteklof commented on #15
Sure. For right now, I just have a function that I pass into the jotai `Provider` to dynamically build for SSR:

[code]
The `Provider` lives in `_app.js` and the init function is something to the effect of:

[code]
Currently I'm hosting all static state defaults in a json file (that's the `defaults` object spread you're seeing .. which is allowing `initialState` in Next.js to be a whitelist overri

[2020-11-25 22:08] #175 closed

[2020-11-25 22:28] #167 closed

[2020-11-25 22:44] Aslemammad commented on #143
#182 Close issue.

[2020-11-25 22:44] #143 closed

[2020-11-25 23:14] DynamicArray opened #209 "Optics docs contain error"
`import { useFocus } from 'jotai/optics'`

should read

`import { focusAtom} from 'jotai/optics'`

[2020-11-26 06:34] merisbahti commented on #209
Hey, thanks for the report, I've submitted a PR that fixes this 👍

[2020-11-26 06:43] #209 closed

[2020-11-26 23:12] dai-shi opened #211 "[RFC] atom effects"
Continuing from discussions in the discord channel.
Recoil proposes [Atom Effects](https://recoiljs.org/docs/guides/atom-effects/).
We don't need to provide the same API, and probably it's impossible as there are some conceptual differences between jotai and recoil. (It is interesting to me that things get to be seen differently in jotai from recoil, because originally jotai is modeled after recoi

[2020-11-26 23:21] Aslemammad commented on #211
@dai-shi  I do my job with derived atoms, or even write-only atoms, these kinds of atoms could listen to other atoms and do things after updating, they are too easy to implement. I'm a volunteer.

[2020-11-27 02:36] dai-shi commented on #108
New implementation might be based on different abstractions. Closing this for now.

[2020-11-27 02:36] #108 closed

[2020-11-27 13:05] Aslemammad commented on #211
Here's the **withEffect** that I'm thinking about:
[code]
and if we want to use **atomWithEffect** we can make a function that creates the atom with the withEffect's onSet.

Considering recoil Atom effects:

* node: we can reach it by referencing the atom
* trigger: do we actually need It? if we do, can someone explain to me why?
* setSelf: we can achieve it by the `set` of `onSet: (get, set)`
* r

[2020-11-27 22:28] dai-shi opened #212 "useAtomValue util"
Analogous to recoil's `useRecoilValue`, it'd be nice to have an equivalent hook.

This should be in `jotai/utils` along with `useUpdateAtom`.

The implementation in JS is as simple as this.
[code]

So, all we need would be:
- [ ] implement in TS
- [ ] add docs
- [ ] write test

[2020-11-27 22:31] Aslemammad commented on #212
@dai-shi I'm gonna work on it. Thanks.

[2020-11-27 23:12] dai-shi commented on #211
Let me see how we could implement examples in recoil docs.

## Logging Example

https://recoiljs.org/docs/guides/atom-effects#logging-example

[code]

Note: The log is shown, when the update is scheduled, not committed.

## History Example

https://recoiljs.org/docs/guides/atom-effects#history-example

[code]

Note: This would only work if baseAtom is not async.

[2020-11-27 23:17] Aslemammad commented on #211
@dai-shi I think jotai is easier than recoil now, that's awesome.

[2020-11-27 23:25] dai-shi commented on #211
(Well, I didn't test them, and the behavior can be different.

[2020-11-29 00:15] Aslemammad commented on #212
#213 Merged.

[2020-11-29 00:15] #212 closed

[2020-11-29 01:55] TehNrd opened #216 "Hot reloading and atom state not found error with React Native expo app"
I don't necessarily think this needs to be fixed but I wanted to log this issue should someone else comes across the same problem.

It would appear the hot loading feature of a React Native app with Expo breaks this library if the atom is defined in the same file/component you are editing.

Steps to reproduce.

Create a component that uses an atom, the atom should be defined in the same file.

[co

[2020-11-29 02:03] dai-shi commented on #216
Thanks for reporting.
And, yes it's expected because atom object reference could be changed on hot reloading.
We might be able to improve the message as it's not really a bug.

To confirm it's expected and possibly improve the message, it would be very appreciated if someone created a minimal codesandbox repro with react-dom. Help wanted.

[2020-11-29 03:16] dai-shi commented on #211
Continuing https://github.com/pmndrs/jotai/issues/211#issuecomment-735008721

## State Synchronization Example

https://recoiljs.org/docs/guides/atom-effects#state-synchronization-example

[code]

So, we don't technically have atom effects. It's not equivalent.

## Write-Through Cache Example

https://recoiljs.org/docs/guides/atom-effects#write-through-cache-example

[code]

## Local Storage Persi

[2020-11-29 11:26] JLarky opened #217 "RESET symbol should be exported from jotai/utils"
Here's the code that I want to write:
[code]
I created a sandbox that has an example of the code and possible workarounds https://codesandbox.io/s/jotai-atom-with-reset-bug-k6xcu?file=/src/atoms2.ts as well as recoil analog
[code]

[2020-11-29 11:40] dai-shi commented on #217
Hmmmm, I see your use case... but, I hesitate exporting the symbol. Would like to hide it as an implementation detail.
Your example is totally valid and compelling. Hadn't thought about it.
Could we just export types? `export type ...`
Any other suggestions?

[2020-11-29 20:48] JLarky commented on #217
Yes, exporting just the type is what this code does:
[code]
but the problem then becomes that there's no clear way to implement Recoils `newValue instanceof DefaultValue` as `typeof newValue === "symbol"` in the general case is not specific enough. This could be solved by adding `isReset(newValue)` that would be exported from `jotai/utils` and be just (js code) `isReset = (value) => value === RESE

[2020-11-30 00:50] JLarky commented on #217
I similar to `TypeOfRESET` fashion it's possible to get `RESET` symbol value anyway :)

[code]

[2020-11-30 01:12] dai-shi commented on #217
As for typing, does this work?
[code]

----

OK, let's keep this issue open for a while to gather more use cases, and then consider what to do.

I don't think `atomWithReset` needs to cover all use cases. One can create their own version of it with the bare `atom()`. I think the current version works pretty well for primitive atom use cases.

That said, I'm happy to have `atomWithReset` improved i

[2020-11-30 05:01] JLarky commented on #217
makes sense.

I got to the same conclusion once I looked more into it :)

I agree with that :) it's just a shame that you would have to reimplement `useResetAtom` as well.

I think a solution that gets us 90% there is to export RESET type (note that it's no longer `typeof RESET`).

[code]

and adding `isReset` will get us 99% there:

[code]

when I'm talking about getting 100% there I mean somethi

[2020-11-30 13:24] dai-shi commented on #217
wow, your consideration is really thorough. It's clear that you make good points.
It seems like we have two different approaches: a) provide something minimal, b) provide something recoil compatible.
Both are fine with `jotai/utils`. We could provide two variants.
Contradictory to my first comment, I'm more convinced about exporting the reset symbol.

[2020-11-30 14:42] dwelle opened #220 "UseEffect not invoked on atom value change in special circumstances"
Follow-up to https://github.com/pmndrs/jotai/issues/208 (via https://github.com/pmndrs/jotai/pull/215).

UseEffect sometimes doesn't invoke with updated atom value, despite it being listed in dependencies. There's some weird race condition that probably cancels it or something. Don't understand what's happening and repro itself is insane.

Repro: https://codesandbox.io/s/morning-night-fhwvh?file=/

[2020-11-30 15:12] #208 closed

[2020-11-30 19:10] SpenserJ commented on #217
I just ran into a similar need for resetting an atom through the setter, and having access to either the `RESET` symbol or a `reset` function (which I also agree is overkill) would be extremely valuable. In my situation, I have a few pieces of state that are not dependent on each other in the usual sense, but only one can be set at a time for filtering. Each of these are defined in separate files,

[2020-11-30 23:01] dai-shi commented on #217
@SpenserJ Thanks for chiming in.

As the use case is clear, and users are not confused, exporting `RESET` would be good. (better than exporting type only, which not only limits the usage, but doesn't make sense.)

[2020-12-01 12:35] wilfriedbarth commented on #196
Picked this up, see #222 for PR

[2020-12-01 13:05] #196 closed

[2020-12-01 17:57] likern commented on #180
@dai-shi I've got some experience and it looks like it's working. But I'm short on time. As soon as I will have more time I'll fill in more information. Close for now.

[2020-12-01 17:57] #180 closed

[2020-12-01 19:07] quanbrew opened #225 "Webpack 5 ReferenceError: process is not defined"
Since webpack 5 remove `process`.

[code]

Cause by this line:
[code]

[2020-12-01 20:15] Aslemammad commented on #225
@quanbrew Could you reproduce the problem, codesandbox or github source?

[2020-12-01 23:00] dai-shi commented on #225
Does this help?

[code]

[2020-12-02 05:03] Aslemammad commented on #225
@dai-shi I'm gonna test it and make PR about.

[2020-12-03 13:48] Aslemammad commented on #225
Fixed via #226

[2020-12-03 13:48] #225 closed

[2020-12-04 03:48] #217 closed

[2020-12-04 08:31] JLarky commented on #85
I guess this is the best place to discuss this for now :) for context https://github.com/pmndrs/jotai/pull/221#issuecomment-738484829 https://github.com/pmndrs/jotai/pull/228#pullrequestreview-544707395

So first answer to the question for documentation of RESET symbol:

 - https://github.com/JLarky/jotai/blob/new-docs/docs/guides/resettable.md#derived-atom-with-reset-symbol
 - https://github.com/

[2020-12-05 01:17] dai-shi commented on #85
@JLarky I like your idea of three categories. You can take the lead for the initial draft. That would be really helpful.

(p.s. you want to join the pmndrs discord and discuss with others?)

[2020-12-05 10:36] Aslemammad commented on #88
@dai-shi I improved core tests( except dependency & error), but I don't see anything to improve in these two files for now, right?

[2020-12-05 10:51] dai-shi commented on #88
@Aslemammad Thanks so much for all your work.
Now, as you got familiar with current core tests, do you see any missing tests, or improve them including restructure from scratch?

[2020-12-05 10:55] Aslemammad commented on #88
@dai-shi I'll take a look at the other tests, If I found something, I'll share. But I think core tests work is done now, better to close this issue, how do you think?

[2020-12-05 11:06] dai-shi commented on #88
Good idea. Please open new issue or PR for any improvements.

[2020-12-05 11:06] #88 closed

[2020-12-11 01:16] mhcoffin opened #231 "Focus Atoms with async atoms?"
Focus atoms seem incredibly cool, but they require a primitive base atom. Unless I'm missing something, that means I lose all the nice asynchronous initialization, right? Is there any way to get both?

-mike

[2020-12-11 06:21] merisbahti commented on #231
Mey Mike,

Let me see if I understand what you mean, so if we have an atom that's initialized using the `async` constructor like this:

[code]

Right?

Which results in basically an `Atom<string>`, which is read-only.

So the problem is that `focusAtom` is only able to work on `Primitive` atoms, i.e: `Atom<string, SetState<String>>`.

The reason I did not expand the `focusAtom` to work on read-onl

[2020-12-11 12:52] dferber90 opened #232 "README in dark mode"
I noticed you've got a highly polished README, which looks quite impressive! Well done :)

I noticed it uses images as headlines. GitHub recently introduced dark mode. Unfortunately the images-approach doesn't work well with dark mode as pictured below.

![image](https://user-images.githubusercontent.com/1765075/101905308-ec0d0280-3bbf-11eb-9f2b-300dbd3079e9.png)

I don't use jotai and I just stum

[2020-12-11 13:15] dai-shi commented on #232
Hey, thanks for dropping by. Hope you eventually try jotai too!
We are discussing about the dark mode including `foreignObject`. Will see how it goes.
In the long term, we would eventually migrate to a new web site.

[2020-12-11 13:15] #232 closed

[2020-12-11 20:55] tarngerine opened #234 "Good pattern for updating atoms based on subscription"
Lets say I have an API that I can subscribe to, and any time a value changes (can happen once a frame at 60FPS) I would want to update an atom to always reflect that

Currently I can just create a useEffect to do this at the App.tsx level, but wondering if there's an atoms-only way to do this.

some pseudocode:
[code]

[2020-12-11 21:32] mhcoffin commented on #231
No, it's not read-only atoms that I want (although for orthogonality that seems like it might be a good idea, too).

I created a [sandbox](https://codesandbox.io/s/focusatom-with-non-primitive-atoms-dyxqv?file=/src/App.tsx) that shows what I think would be very nice to have. Suspense would take care of the delay in resolving the promise, but the atom could still be updated later. Obviously, for op

[2020-12-11 21:38] merisbahti commented on #231
Oh, I think I understand what you mean, but the sandbox does (for me) not currently contain any async atoms:
![image](https://user-images.githubusercontent.com/2946728/101957256-64e07e80-3c01-11eb-8e16-9aa620e55bcb.png)

So maybe I'll take a look at the sandbox for more detail before I ponder more upon this, but it _sounds_ to me that you have a valid case here, it's just that I didn't consider Re

[2020-12-11 21:55] mhcoffin commented on #231
Hmmm. I thought [sandbox](https://codesandbox.io/s/focusatom-with-non-primitive-atoms-dyxqv?file=/src/App.tsx) saved automagically, but maybe not. Anyway, I just saved again.

[2020-12-11 21:58] merisbahti commented on #231
awesome, thanks for the clear example.

this definately should be supported IMO, let me take a look!

On Fri, 11 Dec 2020 at 22:56, Mike Coffin <notifications@github.com> wrote:

[2020-12-11 23:15] mhcoffin opened #235 ""Primitive" vs. "primitive" atoms"
I'm not sure if this is a bug. Even if it is, I'm not sure it's worth fixing---it may be the best you can manage with typescript. But it did confuse me for a bit.

The documentation talks about "primitive" atoms, which are atoms created with an initial value:
[code]
There is also a public type `PrimitiveAtom<T>`. All "primitive" atoms are of type `Primitive<T>`, but you can create a derived atom a

[2020-12-12 00:52] dai-shi commented on #234
Jotai is pretty much like `useState` both conceptually and implementation wise.
So, your pseudo code looks pretty much like what it should be.

I think this falls into recoil's atom effects.
We have some discussions: #211
(TBH, I'm not sure if/how it fits in jotai, because our atom has no notion of clean up, just rely on GC.)

[2020-12-12 01:02] dai-shi commented on #235
Good point. 🤔

[code]
PrimitiveAtom type is defined as a restricted WritableAtom, but it doesn't say anything about the behavior. It's just a convenient type for `atom('foo')`.

I'm not sure about the purpose, but wouldn't it expect `WritableAtom<Value, Value>`, which is stricter than `PrimitiveAtom<Value>`?

I'd like to learn about the concrete case, as it seems very important.
Can you elaborate

[2020-12-12 02:05] mhcoffin commented on #235
I was playing around with focusAtom, which requires a "primitive atom" as a base atom. In my ignorance, I poked around and found PrimitiveAtom<T> and then I created an atom that satisfied that type and tried to use it as a base for focusAtom. That didn't work, as you can see in the [sandbox](https://codesandbox.io/s/focusatom-with-non-primitive-atoms-dyxqv). Currently, at least, focusAtom actually

[2020-12-12 04:09] dai-shi commented on #235
Thanks for the example.

[code]

OK, this is not desirable. Let me see if we can create better typing.

[2020-12-12 04:25] dai-shi commented on #235
With #233, this will be fixed.
https://codesandbox.io/s/focusatom-with-non-primitive-atoms-forked-p2tjq?file=/src/App.tsx
<img width="606" alt="image" src="https://user-images.githubusercontent.com/490574/101974101-79faf300-3c7d-11eb-9313-6829c9d6d52c.png">

[2020-12-12 04:28] tarngerine commented on #234
Yea I saw the effects! Very cool. Yea not having cleanup would be an issue. Will use effects for now! 😊

[2020-12-12 04:30] dai-shi commented on #231
@merisbahti
#233 will change the `PrimitiveAtom<Value>` type.
We want to accept `WritableAtom<Value, SetStateAction<Value>>` in focusAtom, don't we?

[2020-12-12 07:42] merisbahti commented on #231
That's right. Or any alias that you decide to call the new `WritableAtom<Value, SetStateAction<Value>>` type.

Ok so I tested around and was hoping to find a juicy bug or something... Unfortunately no such blessing...

![image](https://user-images.githubusercontent.com/2946728/101978464-73588580-3c55-11eb-8d31-6a8a228d862d.png)

The problem had nothing to do with focusAtom, it's that the personAto

[2020-12-12 07:43] merisbahti commented on #231
The exact same behavior can be created by removing `Promise.resolve` from the original sample:
![image](https://user-images.githubusercontent.com/2946728/101978548-0abdd880-3c56-11eb-800e-a48ea5a05e44.png)

(I don't know why codesandbox is saying there's an error in my code...)

[2020-12-12 07:48] merisbahti commented on #231
Also, I think it's a good idea to make a test-case that asserts this behavior.

I made one here:
https://github.com/pmndrs/jotai/pull/236

[2020-12-12 10:56] merisbahti commented on #235
I really like the name `Primitive`... But not sure we should keep it.

In klyva, I'm considering naming the primtiive constructor `atom(5)` as a base atom constructor. And derived constructors, like this: `atom(get => get(baseAtom))`, I call derived atom constructors.

But what do we do about the `PrimitiveAtom` type?

Not sure, maybe we could name it `MutableAtom` atom? It's not really the truth,

[2020-12-12 10:56] dai-shi commented on #231
I thinks it's explicit and fine for now. It's a bit long though.

[2020-12-12 11:00] dai-shi commented on #235
Maybe `BaseAtom`? My only concern is `PrimitiveAtom` is not for primitive values, it's primitive atoms.

[2020-12-12 11:02] merisbahti commented on #235
Ooh, I like it!

[2020-12-12 11:43] dai-shi commented on #235
Are you sure? It's a bit of work. Code and docs. Would you like to work on it??

[2020-12-12 11:46] merisbahti commented on #235
I can maybe do it, I have free time soon, but when we agree! Maybe BasicAtom is good too??

[2020-12-12 11:49] dai-shi commented on #235
Let me ask it in discord. BaseAtom sounds better than BasicAtom.

[2020-12-13 23:36] #220 closed

[2020-12-13 23:36] #235 closed

[2020-12-13 23:42] dai-shi opened #238 "Should we rename PrimitiveAtom to BaseAtom?"
Before releasing a new version with #233, we would like to discuss about renaming in types.

pros:
- `BaseAtom` is shorter
- "Primitive" atoms might be confused with primitive values (= non objects)

cons:
- Its' a breaking change
- Docs should be modified accordingly

It's a good timing of this change, because #233 add some changes in types anyway.

[2020-12-14 06:32] Aslemammad commented on #238
I was thinking about it, And my opinion is "YES", I think we have to change it.

[2020-12-14 09:12] dai-shi commented on #238
I was thinking about it and found a weird case:

[code]

This is fine, but

[code]

in this case, (A) can be said the "base" thing of (B).

In both cases, `->` means "derive".

cc @merisbahti

[2020-12-14 20:54] tarngerine commented on #234
i came up with a slightly different way to model this, but it would require being able to run `set()` from the getter. would this be too weird?

[code]

[2020-12-14 22:49] dai-shi commented on #234
We invoke `read` in the render phase. It's a well known discussion that we should avoid side effects in the render phase. Unless it's GC-able, there's no way to clean up.

`set()` in `read` seems too much trouble. People would only misuse it...

I like your way of thinking, and trying to create a good pattern, which I call "Jotai Puzzle."

[2020-12-15 06:23] dai-shi commented on #238
During the conversation with @JLarky in discord, I noticed I did something wrong.
In #235, I wanted to make a precise type of the return value of `atom()`, and named it `PrimitiveAtom` which is the same as before.
The problem was I confused with types for internal implementation and types for API.
I guess developers doesn't need to care the type `WritableAtom<Value, SetStateAction<Value>>` is impl

[2020-12-15 06:33] merisbahti commented on #238
ah, that makes sense. sounds good

On Tue, 15 Dec 2020 at 07:23, Daishi Kato <notifications@github.com> wrote:

[2020-12-15 12:04] jcane86 opened #240 "utils - Atom not found"
I have a utility component where I create some atoms, and maybe set some values depending on props and other stuff, but I don't need the values, I export the value getters separately.

So I am using useUpdateAtom in this component instead of useAtom, as I assume it would have some performance benefits.

The problem is always get this error:
[code]

I tracked this down and it appears there is some

[2020-12-15 12:39] dai-shi commented on #240
Hi! Thanks for using the library!
We are about to release a new version with many internal improvements soon, which might solve the issue.
Will you try with the work-in-progress build? https://ci.codesandbox.io/status/pmndrs/jotai/pr/239/builds/83096
[code]

I tried your sandbox with this, which seems fine. But, not sure if it works for your real app.

[2020-12-15 14:04] jcane86 commented on #240
お疲れ様です
Thanks a lot for the quick reply..

I'm afraid I'm still having the same issue in my app, not sure why it is working in the codesandbox... I'll try to update it with the new failure.

[2020-12-15 14:36] jcane86 commented on #240
@dai-shi I think I found my issue, but it might be my fault.

I am trying to store a function inside an atom.
I have tried doing it like:
[code]
[code]

The second approach works in terms of storing the callback inside the atom, the first one doens't work, I assume it is interpreting my callback as an updater function.
Unfortunately both of these approaches give this warning:
[code]

Are callbacks

[2020-12-15 19:36] tarngerine opened #241 "How can we financially support jotai/pmndrs work?"
Hi, I looked for a Github sponsors/open collective account for pmndrs & @dai-shi but couldn't find much. How can we support the amazing work being done here?

[2020-12-15 22:36] dai-shi commented on #240
Good morning.

Exactly. It would behave the same with React.useState.

You could change the behavior with a derived atom.
[code]

Would you create a small repro in codesandbox?
Oh, I think I get it. You are probably trying to update an atom that is never used.
Currently, an atom must be used explicitly or dependent with other atoms. You can't update it before the initialization.
We discuss about t

[2020-12-15 23:51] jcane86 commented on #240
ah, I see.. I thought that might be the case..
I will make sure to initialize them before using them.
Thank you!

[2020-12-15 23:51] #240 closed

[2020-12-16 02:43] #241 closed

[2020-12-16 14:30] dai-shi commented on #238
Merged #239. Let me close this.
We can continue renaming discussion for finalizing v1, but I'd like to release v0.12 for now.

[2020-12-16 14:30] #238 closed

[2020-12-16 14:35] dai-shi commented on #231
https://github.com/pmndrs/jotai/issues/231#issuecomment-743700759
#239 reverted this change and my previous comment is no longer valid.

This issue #231 is still valid, and we consider it a bug. Either we support async initialization, or if it can't be supported, change the type to restrict it.