[2021-06-21 03:02] dai-shi commented on #427
Updated version: https://codesandbox.io/s/react-typescript-forked-3bbyf?file=/src/App.tsx

Fixed.

[2021-06-21 10:47] LucaColonnello commented on #521
@dai-shi amazing work here!!
I have exactly the same issue on a project of mine, having to refresh an async atom after a mutation to the same data in a data source (in my case IndexedDB).

Although I have a dependency, an ID basically, which sits in another atom, which I use to grab from my IndexedDB key value store the data in an async fashion. I need to refresh the data when I write to the store

[2021-06-21 10:56] dai-shi commented on #521
@LucaColonnello
#537 fix is to refresh the atom *after* overridden. Yes, it does track the get function.
If you need to imperatively update the value, you want to simply override it.
Please give it a try. If you need a further help, a small code snippet would help.

[2021-06-21 11:38] dai-shi commented on #199
Closing this as answered.
See also https://docs.pmnd.rs/jotai/guides/no-suspense

[2021-06-21 11:38] #199 closed

[2021-06-21 11:39] dai-shi commented on #216
Closing this. Please open a new issue/discussion with a repro if any.
The real fix would be #487.

[2021-06-21 11:39] #216 closed

[2021-06-21 11:40] dai-shi commented on #406
Closing this as stale. We can reopen with a repro, or open a new one.

[2021-06-21 11:40] #406 closed

[2021-06-21 12:20] dai-shi commented on #522
Please try #539 if it works for you.
https://ci.codesandbox.io/status/pmndrs/jotai/pr/539 has "Local install instruction" so that you can install with npm/yarn.

[code]

[2021-06-21 12:24] LucaColonnello commented on #521
@dai-shi sorry to SPAM the issue here, but this is soooo powerful!
https://codesandbox.io/s/jotai-overwrites-async-atoms-7nn3v?file=/src/App.js

Question is, am I doing it right? XD

[2021-06-21 12:51] dai-shi commented on #521
It looks good. You are not really using the power of atomWithDefault in the example, are you?
Yeah, you may want to open a new issue or discussion.

[2021-06-22 13:24] dai-shi commented on #184
@magom001 This is relatively an old issue and it was fixed back then.
If you find a weird behavior, it can be a new bug.

Your code snippet looks good at a glance. Except that I'm not sure how `ComponentType` works.
Would you please open a new issue with a codesandbox reproduction? Would be nice if it can repro without `ComponentType` but just a primitive value like `number`.

[2021-06-22 13:53] magom001 commented on #184
ComponentType is just a string enum. Unable to reproduce it in a sandbox...

[2021-06-22 16:16] sandiiarov opened #542 "atomWithStorage should not using default value if the value already exists in storage"
Atom with storage is using default value on mount and then it gets the value from storage.

[code]

Expected behavior:
atomWithStorage should return the storage value if it exists in storage
atomWithStorage should not use the default value if it exists in storage

Codesandbox with reproduction:
https://codesandbox.io/s/jotai-persistence-forked-g0j6g?file=/src/app.js

Steps to reproduce the issue:

[2021-06-22 20:46] DerpyCrabs opened #544 "Setting atom with async setter doesn't work after 1.0.0"
I'm trying to update my app to jotai 1.0.0, but `set` inside of async setter doesn't work and components get old data.

My `atom` looks like this:
[code]
There are many `atom`'s and `focusAtom`'s that get and set `networkState` but set doesn't change value of `networkState` after update to jotai 1.0.0.

[2021-06-22 21:20] aulneau opened #546 "atomWithInfiniteQuery"
React query has the concept of infinite queries, which essentially are paginated queries. It'd be great if we exported either a different util, or made it such that the atomWithQuery could support this mode. I took a stab at altering atomWithQuery to support this, but I think there could be a more elegant solutions. I wasn't able to get this to work exactly (switched to a bespoke implementation in

[2021-06-22 22:02] #510 closed

[2021-06-22 22:36] dai-shi commented on #542
#540 would fix this. Can you confirm?

[2021-06-22 22:47] dai-shi commented on #544
Thanks for reporting.

This pattern is now prohibited in v1.0.0. I tried to throw an error, but obviously you don't see it. This is bad in DX. (@Aslemammad would you help here? or this can't be improved because of `async` write... Not sure.)

Now, this pattern requires two atoms, and `atomWithDefault` util is provided. You can use it or do the same. Let me know if you have any issues while migrati

[2021-06-22 23:36] dai-shi commented on #546
Yeah, I know there's such an api, but didn't try it. It's very nice you work on it.
A different util `atomWithInfiniteQuery` would be good. It's how RQ's hooks are designed.

[2021-06-23 03:27] #522 closed

[2021-06-23 07:24] DerpyCrabs commented on #544
Thank you! `atomWithDefault` fixed my issue. [My commit with update to jotai 1.0.0](https://github.com/DerpyCrabs/proactiva/commit/b5589c1ac22634014d0b5bfba2ee3673f746d7fc)

[2021-06-23 07:24] #544 closed

[2021-06-23 08:59] dai-shi commented on #427
Here's updated demo with https://trygql.formidable.dev/.
https://codesandbox.io/s/react-typescript-forked-zujf6?file=/src/App.tsx

[2021-06-23 12:18] #521 closed

[2021-06-23 12:28] dai-shi commented on #542
https://codesandbox.io/s/jotai-persistence-forked-klmfq?file=/src/app.js
Yes, it's fixed.

[2021-06-23 12:40] mellson commented on #542
Nice, looking forward to this!

[2021-06-23 13:46] #542 closed

[2021-06-23 21:58] ahfarmer opened #549 "useResetAtom does not work on atomWithDefault"
`atomWithDefault` can be reset by sending the `REFRESH` symbol.
`atomWithReset` can be reset by sending the `RESET` symbol or with `useResetAtom`.

`useResetAtom` does not work on `atomWithDefault`.

Should we get rid of the `REFRESH` symbol, and instead use the `RESET` symbol everywhere including `atomWithDefault`? Then `useResetAtom` would work on `atomWithDefault`.

[2021-06-23 22:12] dai-shi commented on #549
Yeah, I originally thought about using the same symbol. And, then thought it might be confusing.
Now, it sounds good to have a common hook. Though breaking, should we quickly release a new patch version, deprecating the previous one?

@LucaColonnello any comments?

[2021-06-23 22:16] ahfarmer opened #550 "null/undefined initial atom value confuses typescript"
Whenever I set null or undefined as the initial value on an atom, TypeScript infers the type as `Atom` instead of `WritableAtom`.

Working case: initial value is `false` so type is shown as `WritableAtom`:
![Screen Shot 2021-06-23 at 3 12 58 PM](https://user-images.githubusercontent.com/597825/123174928-c6499b80-d435-11eb-8a32-4b8105610678.png)

Non-working case: initial value is `null` so type is

[2021-06-23 22:26] ahfarmer opened #551 "atomFamily missing Typescript types for function setter"
With regular atoms, we can have function setters. It works great and the Typescript types are working:

[code]

The same functionality works with atomFamily, but the Typescript types for the function setter seem to be missing and we  get "Argument of type () => ... is not assignable to parameter of type ...". Here's a full example:

[code]

Here's a screenshot of the TypeScript error:
![Screen Sho

[2021-06-23 22:46] ahfarmer commented on #549
Wanted to throw out another idea: deprecate `atomWithReset` and make `atomWithDefault` able to take either `initalValue` or `() => initialValue`. Then it serves both purposes.

I think the concept of a dynamic default and resettability go hand-in-hand, so it makes sense to me that these should just be the same atom util.

[2021-06-23 22:55] dai-shi commented on #549
API-wise, it's possible. However, implementation-wise, atomWithReset is only one atom internally, whereas atomWithDefault comes with two atoms. In other words, atomWtihReset can be more performance tuned.

[2021-06-23 22:59] dai-shi commented on #550
Oh... Nice catch. Do you happen to know how to fix??

[2021-06-23 23:04] dai-shi commented on #551
Does it work if you inter types?
[code]

There must be a better typing along with #550. 🤔

[2021-06-23 23:30] LucaColonnello commented on #549
Hey @dai-shi ,
Just reading this now!

Yeaah yesterday, even writing the docs, it felt weird having to explain REFRESH as a different thing than RESET. Also I'm implementing this in an app and it does not look great having to import the REFRESH const when you could have something like the useResetAtom do it for you.

I think a patch would be alright if we just released it yesterday!

[2021-06-23 23:38] dai-shi commented on #549
Thanks for the comment. Just opened a PR #552.

[2021-06-24 06:25] ahfarmer commented on #550
Looks like TypeScript is choosing the wrong overload for atom(). It is choosing between these two:

[code]

When we have a non-null like `atom("hi")` it can see that "hi" is not a function and chooses the correct overload (the second one).

But when we have `atom(null)` it matches the first overload (the one for read-only derived atoms) and uses that because it appears first.

I couldn't figure ou

[2021-06-24 06:36] ahfarmer commented on #551
No, it doesn't work if I infer types. I edited my original post above to remove that type cast.

[2021-06-24 09:06] dai-shi commented on #550
Hmm, I can't reproduce this.

Oh, I guess your strictNullChecks is off?
https://www.typescriptlang.org/tsconfig#strictNullChecks

It would be not possible without "strict: true".

[2021-06-24 10:05] dai-shi commented on #551
Is this issue only for non strict mode? Can you repro with strictNullChecks=true?

[2021-06-24 10:43] SquirrelJimmy commented on #522
Thank you ! it's what I need now !

[2021-06-24 16:39] ahfarmer commented on #550
Ah, yes you are correct. This issue only occurs with `strictNullChecks=false`.

[2021-06-24 16:51] ahfarmer commented on #551
This issue doesn't seem to be related to strictNullChecks=true.

Here is a self-contained repro, just run `yarn install` and then `yarn typecheck`. You can check the tsconfig has `"strictNullChecks": true`

[jotts-mini.zip](https://github.com/pmndrs/jotai/files/6710882/jotts-mini.zip)

[2021-06-24 21:56] dai-shi commented on #550
Is there any reason you can't enable `strictNullChecks`. I don't think we can solve it with `strictNullChecks=false`

#554 isn't necessary with `strictNullChecks=true`. And, with `strictNullChecks=false` #554 is not enough (it doesn't infer correctly, and other tests fail).

[2021-06-24 22:41] #549 closed

[2021-06-24 23:07] dai-shi commented on #551
@ahfarmer Thanks for the repro!

Here is the fix:

[code]

Please give it a try.

If you want to explicitly annotate it. Try this:

[code]

[2021-06-25 06:27] mellson commented on #542
@dai-shi is this included in v1.0.1? Because I'm still getting a render with the default value before it loads the value from local storage

[2021-06-25 10:07] mostl33 opened #559 "Question: Optics-ts & focusAtom & useResetAtom"
Hi there,

first thanks to the Author(s) & contributors of Jotai 🙏.

I have a "best practice" Question :-).

If have a large state Object tree (imagine a page-by-page wizard style form app where different screens need access to the data entered in previous screens for calculation of sums etc.) which needs to be serializable (continue where you left off) and each screen of the wizard should have a

[2021-06-25 11:05] dai-shi commented on #559
Hi, "best practice" in something very important for the community.
Hope everyone works on various things and create practices.

Combining atomWithReset and focusAtom would be possible for the root object (= entire tree).
But, doing so for sub trees would not be trivial. The implementation of atomWithReset is simple, so you might get some idea. atomWithDefault might be closer.

In summary, this is

[2021-06-25 11:58] #427 closed

[2021-06-25 12:17] RIP21 commented on #427
Wuuuuuut! Thank you very much!

How would rate its completion? Fully done, or good enough to try but rather mixed usage of original bindings + this atom when some calculated atoms based on fetched data is needed?

@kitten what's your thoughts about this implementation if any?

Unfortunately i don't have a real code base that is using URQL now to play with it and give feedback, but just curious for

[2021-06-25 12:18] kitten commented on #427
@RIP21 I'd say it's at any given point each of our newer bindings started out at too. We'll have to see whether all API details hold up and whether it handles all edge cases. I'll see whether I find some time to port some of our examples to it, which should help

[2021-06-25 17:33] ahfarmer commented on #550
I do plan to enable `strictNullChecks` soon but it will be a pretty large effort in my project - hundreds of errors to fix when I turn it on.

`strictNullChecks=false` is the default with a brand new `tsconfig.json` from `tsc --init` so if this goes unfixed, Jotai might seem broken to new users. The only reason I have `strictNullChecks=false` is because it is the default and I never changed it.

I

[2021-06-25 17:41] ahfarmer commented on #551
Ahhh, wonderful. Thank you! I'll go ahead and close this then.

[2021-06-25 17:41] #551 closed

[2021-06-27 01:24] yoyeung opened #563 "Question: Atom inside Atom"
I was learning the tools and i try to reproduce the todo list app from to ToDo Example.
[https://codesandbox.io/s/elated-pond-2x95k?file=/src/App.js](https://codesandbox.io/s/elated-pond-2x95k?file=/src/App.js)

Here is the sample.
I have a task list which is an array. And each task when create will become an atom and push it inside the list.
So that will become an Atom in side an atom array.

But

[2021-06-27 03:22] dai-shi commented on #563
Yes, it looks like right solution. 👍

[2021-06-27 07:08] yoyeung commented on #563
Should i use Atom.init to get the value? will have side effect?

[2021-06-27 07:19] xbaun opened #565 "useAtomsSnapshot ignores initialValues atoms"
The `useAtomsSnapshot` hook doesn't contain atoms from the `initialValues` of the `Provider` context. This could be solved by calling the state listener in [`createStoreForDevelopment()`](https://github.com/pmndrs/jotai/blob/cb418e3617e5601ea0de70f87318ac666e11721e/src/core/contexts.ts#L52-L92) after initializing the store:

[code]

I'm trying to debug the rehydrated initial atom states created by

[2021-06-27 09:15] dai-shi commented on #563
No, `atom.init` should be an implementation deail, and you don't want to use it directly.

Sorry if I don't get your question correctly. Will you note your concern again?

[2021-06-27 09:23] dai-shi commented on #565
Oh, nice catch.

This would be a fix:
[code]

@Thisen Can you confirm and fix?

[2021-06-27 09:48] Thisen commented on #565
Yup

[2021-06-27 12:39] #565 closed

[2021-06-28 01:48] austinried opened #568 "atomWithStorage in React Native trouble using AsyncStorage"
Hi, not sure if I've got something configured wrong or what but it seems like setting up the `atomWithStorage` function is not working great for me in React Native. I started by defining a simple atom with storage and a default state:

[code]

but whenever I try to set it I get this error:
![image](https://user-images.githubusercontent.com/4966622/123566159-f7d9b280-d7f9-11eb-9d5f-3719eecafe4a.png

[2021-06-28 02:01] yoyeung commented on #563
i was thinking can we use the tools look like same as useState.
Maybe the difficulty when the atom inside the atom will happen.

create another atom to handle some modification for another atom is it a good idea?
It will become many atom with null value or get value from another atom.
So that mean if the application go bigger.
Will have a ton of customAtom as a reducer for another atom.

Not sure

[2021-06-28 02:36] dai-shi commented on #568
Hi! It's nice to see someone try atomWithStorage with RN's AsyncStorage.
We really wanted feedback on this.

[code]

I was hoping something like this would work. Would you please try it?
(Hm, maybe this doesn't handle async errors correctly?)

[2021-06-28 02:47] austinried commented on #568
Hey no problem, I'm switching from recoil in a prototype I'm working on currently and loving jotai so far, just got a little hung up on this part.

Your code is close but it doesn't quite compile for me with typescript due to `str` possibly being null (`string | null`) and `JSON.parse()` not handling null values.  Additionally, I would want it to return the default value on the first get since the

[2021-06-28 02:49] dai-shi commented on #563
`atomWithReducer` helps but not for atoms-in-atom scenario.
We might be able to expose `get` for the third argument. But, I'm afraid it's too confusing.

That's also true for non atoms-in-atom scenario.

I'd expect you to create a wrapper function to organize atoms.

[code]

[2021-06-28 03:14] #563 closed

[2021-06-28 03:27] dai-shi commented on #568
Thanks for the suggestion.

I made a small fix #569.

My hope is to work this:
[code]

Would you try the codesandbox build?
https://ci.codesandbox.io/status/pmndrs/jotai/pr/569 See "Local install instructions"

[2021-06-28 07:13] austinried commented on #568
Yep looks like PR build works for me with your example above, without it I get an unhandled promise rejection from `JSON.parse()`:
[code]
But after applying your change that is resolved.

I wonder if there could be a simpler way of integrating AsyncStorage in the future though without having to write that boilerplate?  If you'd be open to it, I may try my hand at an implementation that does someth

[2021-06-28 07:33] dai-shi commented on #568
Cool. Thanks for confirming.

I'm not sure if those 5 lines is too much boilerplate, but my point is it's hard to fulfill everyone's need.
People want not only localStorage, but also sessionStorage, IndexedDB, and so on.

I wouldn't recommend the default localStorage either. They come with `any`s.
For better TS support, it would be better to have type guards, instead of bare JSON.parse.
And, with

[2021-06-28 07:54] dai-shi commented on #568
Check the latest code in the PR.

Now, it would allow you this:
[code]

Please git it a try.

[2021-06-28 11:37] austinried commented on #568
Gotcha, yeah we're going to have to deal with `any` either way when it comes to localStorage or AsyncStorage via JSON.parse(), or `unknown` with type guards.

I've tried your example above and it works great, although in TS if I want to keep the generic type of `<AppSettings>` so that my atom has a nice type I can work with in components/derived atoms, it seems I need to either add the `as any` fo

[2021-06-28 13:03] dai-shi commented on #568
Thanks for confirming. Would you say the PR is ready for merge?

Good point. However, I'm hesitant to export it at this point. It's not 100% fixed, and we should get more feedbacks before the fix. Furthermore, the name seems too general.
I wish we could extract the type from `atomWithStorage`, but TS doesn't allow extracting generics types? 😕

[2021-06-28 13:15] damianstasik opened #570 "Issue with state change timing? (preact + react-query)"
I have a pretty interesting issue that I stumbled upon when trying to swap `recoil` with `jotai`. I am still not sure if I am posting this to the right repo as this bug might be in something else. It happens for me when using `preact`, `react-query`, and `jotai`, but works fine with `recoil`.

I prepared a simple reproduction of this bug, but first here is how it should behave:
https://codesandbox

[2021-06-28 13:28] austinried commented on #568
Seems good to me, maybe exporting the `Storage<T>` type then is something that will be better for a more fully-fledged `jotai-storage` package like you mentioned in the future.

[2021-06-28 13:30] #568 closed

[2021-06-28 14:23] dai-shi commented on #528
Closing as answered. Let us know if you have more questions.

[2021-06-28 14:23] #528 closed

[2021-06-28 14:23] dai-shi commented on #523
Closing as answered.

[2021-06-28 14:23] #523 closed

[2021-06-29 14:02] #546 closed

[2021-06-30 06:52] looeee commented on #13
Thanks for this writing this up, it's helping me a lot as I'm trying to understand React state management.
I think it would be useful to add this to docs.pmnd.rs - at the moment, as a relative React newbie, it seems a little odd that poimandres would maintain two different state management solutions. Or at least, it did before I found this thread 😁

So far I've been using zustand in a few projects

[2021-06-30 08:34] Aslemammad commented on #570
Hello @visualfanatic!
As far as I know, preact underlying API's works a little bit different than react. So I assume it's about supporting preact more than fixing a bug. I think it's about differences between react & preact's way of handling async stuff.
So @dai-shi and I are working on this; I hope we resolve it soon.

[2021-06-30 08:55] dai-shi commented on #570
@Aslemammad My question is if the issue is only about preact + async stuff.
If there's an issue with preact + sync, we want to fix it.
But, if it's only about async, even if we fix it now, preact may change the behavior in the future. https://preactjs.com/guide/v10/switching-to-preact/#suspense-experimental So, it might not worth fixing.

[2021-06-30 11:29] Aslemammad commented on #570
I fixed it by scheduling the set function in the macro task(task) phase. [codesandbox](https://codesandbox.io/s/preact-react-query-jotai-forked-5mnjg?file=/src/store.js)

[code]
What's your opinion now?

[2021-06-30 15:30] dai-shi commented on #570
Wow, you rock. Yeah, probably preact uses microtask for batching.
I'm not sure if there's anything we can do on jotai end. recoil may change the timing in the future.
For now, the setTimeout workaround seems good.
I would put setTimeout in onSuccess.
https://codesandbox.io/s/preact-react-query-jotai-forked-8g8j3

---

This issue is about preact + async stuff, but not preact + async atoms.
One gues

[2021-06-30 19:21] eccentric-j opened #572 "Version 1.0.1 broke ReScript bindings"
Working on ReScript bindings for Jotai, I didn't come up with these bindings but have been trying to help maintain them. https://github.com/eccentric-j/re-jotai/tree/stable. They're not complete, or perfect, but the core functionality is there and they pair quite well in so far. As of v1.0.1 though, the get function within a writable atom accepts an optional unstable_promise boolean which broke th

[2021-06-30 22:42] dai-shi commented on #572
Hi, thanks for your great work! I learned from the ReScript bindings that although jotai api is typescript oriented, its nature is dynamic JS, and not very strict type friendly. Well, I already struggle with `atom()` function overload with typescript, so I kind of knew.

I'm afraid this is not possible. The purpose of `unstable_promise` is to experiment the feature for the next version. I had even

[2021-07-01 02:06] eccentric-j commented on #572
I appreciate that but full credit should go to @gaku-sei for getting the first draft of working bindings out. Not sure I would have known where to even begin, fortunately I just have to keep the bindings in sync with the current version.

Fair enough, restricting to major versions is impractical in this case.

That's true it wasn't a breaking change, but it still is an API change. If a major versi

[2021-07-01 02:39] dai-shi commented on #572
interesting.

[code]

So, is it correct if we added the default value, it wouldn't have changed the `function.length`?

[2021-07-01 03:59] eccentric-j commented on #572
I think that depends on how it's transpiled?

[code]

When using Jotai version 1.0.0 exactly, `get length 1` is logged.
When using Jotai version 1.1.1 exactly, `get length 2` is logged.

So perhaps either TS or a build setting in package.json is cheesing the optionality of unstable_promise?

[2021-07-01 04:28] eccentric-j commented on #572
Looking a bit deeper into the transpiled JS it looks like the calling code is:

[code]

[2021-07-01 04:40] dai-shi commented on #572
would you be able to use esm instead of cjs? cjs is rather for traditional browsers.

[2021-07-01 04:50] eccentric-j commented on #572
Looked at `esm/index.js` and its definition was also:

[code]

[2021-07-01 05:15] dai-shi commented on #572
Yeah. Here's the one #574.
https://ci.codesandbox.io/status/pmndrs/jotai/pr/574
Please try the codesandbox build. See "Local install instructions".

[2021-07-01 06:38] ahfarmer commented on #550
I double checked and I was not correct. `tsc --init` actually creates a file that does have `strict: true`. However, if you have an empty `tsconfig.json`, it will give you the default which is `strict: false`. ( https://www.typescriptlang.org/tsconfig#strict )

I ended up changing my project to `strict: true` so this issue isn't important to me anymore - feel free to close.

[2021-07-01 06:46] dai-shi commented on #550
Yes, I know. This is very unfortunate and annoying.

Closing. Look forward to another issue report!

[2021-07-01 06:46] #550 closed

[2021-07-01 07:07] eccentric-j commented on #572
Spent the last 2 hours trying to get that to work. It works in my vanilla js example, but can't get `jotai/esm` to work with the rescript bindings package.

Tried using native es module support but fails when working with jotai/esm/index.js imports.
Tried using babel which almost worked but seems to be over-transforming the function signature to the 2 arg version. Logging get.length and get.toStri

[2021-07-01 08:01] eccentric-j commented on #572
Turned out I had bindings in other files still pointing to regular jotai, replacing those with `jotai/esm` with bael-env node current preset has it working.

Tomorrow will try your fix in our actual project and see how it all comes together

[2021-07-01 12:00] fc1943s commented on #572
I'm doing some bindings for F#, still far from stable, but encountered a few issues related to the dyn nature of JS too.
It was happening some time ago and I already did some hacks to mitigate that (like useSetStatePrev), but there were occasions where the atom setter functions received a setter function instead of the actual value set by the user, or vice versa, I don't remember.
I don't know if

[2021-07-01 15:08] eccentric-j commented on #572
Confirmed it is working in our actual app without any tooling changes required. Reports get.length as 1 which means it's not being auto-curried. Thanks for taking the time to listen and create that PR!

[2021-07-01 15:28] dai-shi commented on #572
That's good to hear. I will merge the PR.
Please note that this is a subtle thing for us to notice, and we can't guarantee that we could avoid such things in the future, and it's not our priority.

[2021-07-01 15:33] #572 closed

[2021-07-02 08:13] SandroMaglione opened #576 "Initialize atom with parameters and derived atoms"
Hi,

I stumbled upon this usecase many times and I did not find a proper solution yet.

I am trying to initialize an atom with some extra parameters. For example, I get a list of `string` as props (using `getServerSideProps` of NextJs) and I want to initialize an atom from the list of `string`.
I tried to use `atomFamily`, for example:
[code]
The problem then becomes creating derived atoms from th

[2021-07-02 13:16] aulneau commented on #576
Hi there!

This is something I run into a lot and I can give how I typically deal with it.

First, we create an atom family that takes some unique key. I typically have a helper method to create a key based on params, such as the page and specific type of data this atom is meant for:

[code]

then in our next.js page, fetch data as usual:

[code]
And in the same page, we want to use the `<Provider

[2021-07-04 09:21] toburger commented on #269
I need to refetch the data every time an atom dependency changes. The above implementation doesn't work for such a scenario as writes are not tracked.
Any idea on how to get it to work?

Another difference to `useRecoilStateLoadable` is the state machine approach. There exist a plethora of components that are using a loading prop to signal a "busy" component. Would be nice to have simple support f

[2021-07-04 10:43] dai-shi commented on #269
Yeah, I wrote this https://docs.pmnd.rs/jotai/guides/no-suspense#async-read
but found it uncomfortable.

Now, as you chime in, I re-consider this...

And, came up with this workaround!!!
https://codesandbox.io/s/blissful-surf-zulsl?file=/src/App.js

---

We believe Suspense is the future we should aim at, and the jotai core is fully designed for it.
However, a util to support this workaround would

[2021-07-04 11:04] dai-shi commented on #269
Oops...

[2021-07-06 06:21] PuruVJ opened #578 "Docs CodeSandBox: Give explicit type to atom when used with useUpdateAtom"
In this CodeSandBox about useUpdateAtom, the setCount function has a TypeScript error, which arises due to TypeScript making a literal type from the `0` provided in the `atom(0)`.
![image](https://user-images.githubusercontent.com/47742487/124551696-2ab22500-de50-11eb-8348-14fed1731efd.png)

I am not sure if this type of inference for numbers is by design or a bug in TypeScript.

But having this e

[2021-07-06 07:39] dai-shi commented on #578
Hm, `atom(0)` should be inferred as `number` primitive atom. If not, we should find the problem. I don't think it's a doc issue.

I bet you are not using `strict: true` (related #550)... hmmmm, can't repro.

https://codesandbox.io/s/relaxed-ramanujan-skuvd?file=/src/App.tsx is working. Would you try this?

[2021-07-06 07:44] PuruVJ commented on #578
This is strange. The link you sent, there I'm getting no error.

But then I go to the sanbox linked under useUpdateAtom, open it in codesandbox URL, and it shows me this error again. I made no changes at all, this is how it is by default

![image](https://user-images.githubusercontent.com/47742487/124561945-13793480-de5c-11eb-9dca-94a7ed0d1b36.png)

This the url https://codesandbox.io/s/react-type

[2021-07-06 07:49] dai-shi commented on #578
If you use the latest version (v1.1.2), it works.
We should update doc codesandboxes.

[2021-07-06 07:51] PuruVJ commented on #578
Yeah, updating Jotai in Sandbox fixed it, the ones in docs have a weird version like cs:[hash] or something, had to click on Update deps button to fix

[2021-07-06 07:51] #578 closed

[2021-07-06 07:55] dai-shi commented on #578
So, it was sort of a doc issue. Thanks for reporting!

[2021-07-06 12:31] a6h-s opened #579 "selectAtom and shapeAtom should be the same, but aren't?"
I've been playing with Jotai today for the first time. I found something I'm a bit confused about.

In [this](https://codesandbox.io/s/reactsvgjotai4-s6u7n?file=/src/SvgShape.tsx) file, `selectAtom` isn't actually returning the same value as `shapeAtom` when it should be...?

I added this useEffect to that component:

[code]

And this is what I'm seeing in the console:
![image](https://user-images

[2021-07-06 23:12] dai-shi commented on #579
This is a unique coding pattern in jotai, called atom-in-atom.
`selectAtom` here (not to confuse with the one in `jotai/utils`) holds the atom config of `shapeAtom`, not the atom value of `shapeAtom`.

So, what you observed is correct.

See this for more info: https://docs.pmnd.rs/jotai/guides/atoms-in-atom

And, I agree this pattern is confusing. I'd say it's not for beginners, but this pattern i

[2021-07-11 05:20] alexluong commented on #550
Hi there, is there any way we can re-open this?

I'm hoping we can use `jotai` but we have `strict: false` because we're using GraphQL codegen and it's a little tricky to be strict with it.

[2021-07-11 05:33] dai-shi commented on #550
It’s closed because I think it’s impossible to fix in a reasonable way. But I might be wrong. Happy to consider suggestions from anyone.
The workaround for you should be explicit typing. How would that work for you?

[2021-07-11 05:36] alexluong commented on #550
Can you give an example of what you mean?

[2021-07-11 07:41] alexluong commented on #550
Just FYI I ended up setting `struct: true` as well, but I think it would be good to know the workaround if possible! Thanks for being very responsive and I really enjoy using `jotai` so far!

[2021-07-11 10:41] dai-shi commented on #550
Sorry, it's not explicit typing, but type assertion.
Like OP noted:
[code]

[2021-07-13 15:07] aulneau opened #590 "benchmark utils like waitForAll"
In one of the apps I work on, I determined a performance drain coming from the use of `waitForAll`, I'd be curious to determine a way that we can test the performance of this helper and see how it performs when there are many atoms both in the waitForAll call, and many atoms that depend on this atom

[2021-07-13 15:14] dai-shi commented on #590
Good catch. One thing I'm curious is if this is like a linear performance drop to the size of atoms. Or, more like infinite-like loop that could happen with fewer atoms.

[2021-07-13 15:14] dai-shi commented on #590
cc @Thisen

[2021-07-13 23:11] Gungrave223 opened #591 "AtomWithReset initial value overriden on useRestAtom call"
Not entirely sure if this is a bug or just lack in my understanding of how it's suppose to work...

Essentially the issue I'm running into is that I have a list of checkbox that's controlled by the values in the useResetAtom.

If I update the value of of the check box then call reset....the default value because the value of the first checkbox....

I create a [sandbox](https://codesandbox.io/s/jot

[2021-07-13 23:18] dai-shi commented on #591
The problem is the unexpected mutation of the atom value. Here's the fix.
[code]

https://codesandbox.io/s/jotai-userestatombug-forked-dllkd?file=/src/App.js:1100-1156

[2021-07-14 00:24] #591 closed

[2021-07-14 00:33] Gungrave223 commented on #591
Gotcha... I see the issue... thanks for the quick response.

[2021-07-16 03:04] liby commented on #26
[code]
I have two questions about this part of the code:
1.  Writing it this way does not avoid extra rerender, so what is the point?
2. How does it differ from using `const [, setEditId] = useAtom(editIdAtom);` directly?

Looking forward to your reply

[2021-07-16 08:08] dai-shi commented on #26
I don't know why you think it doesn't avoid extra rerenders, but here's the example:
https://codesandbox.io/s/empty-wildflower-6kcmf?file=/src/App.js

[2021-07-16 08:25] liby commented on #26
@dai-shi
It should be a problem with the code I wrote during testing, causing me to have the wrong perception. I apologize for asking a question without verifying it. Thank you for correcting me.

[2021-07-16 15:53] liby commented on #26
@dai-shi
Follow up report, the reason for my misunderstanding is that not removing primitive atoms when using write-only atoms within a component.
Example: https://codesandbox.io/s/vigilant-hertz-bqb0r

[2021-07-18 00:56] dai-shi opened #601 "atomWithObservable can't recover from error (and also with any atoms?)"
While working on #599, I noticed retrying from ErrorBoundary doesn't work (there's a failing test skipped). It's probably because the atom value (error) is stored in Provider, so re-render with the atom doesn't trigger a retry. If this is the case, we'd need to find a fundamental solution. 🤔

Better to start with investigating how useState + useContext would work.

[2021-07-18 01:09] dai-shi commented on #579
Let me close this as answered. Feel free to continue discussions here.

[2021-07-18 01:09] #579 closed

[2021-07-18 01:15] dai-shi commented on #559
While this can be seen as a doc issue, let me close this as it's not something small to solve. Please feel free to continue discussion here or open a new [discussion](https://github.com/pmndrs/jotai/discussions/new).

[2021-07-18 01:15] #559 closed

[2021-07-19 15:46] 205g0 opened #604 "Once I import atomWithStorage I get 2 weird TS errors"
When adding `import { atomWithStorage } from 'jotai/utils'` (even with keeping it unused) I get this...

[code]

[2021-07-19 22:42] dai-shi commented on #604
Thanks for reporting. I didn't realize this issue. Looks like it's using a type from redux in dev dependencies. Let me create a PR for a possible fix.

[2021-07-19 22:47] dai-shi commented on #604
Please try #605, see the "Local install instructions" in the codesandbox build.
https://ci.codesandbox.io/status/pmndrs/jotai/pr/605

[2021-07-20 01:37] mdtusz commented on #323
I seem to be encountering this as well - I have a read-write atom that takes an async function for the write argument (for using the "last" value) but the errors seem to be swallowed. A simple example:

[code]

Adding `await` in front of the `setFoo` line doesn't make any difference either :thinking:

[2021-07-20 02:43] dai-shi commented on #323
@mdtusz
Nice catch. (Though, this isn't related with the original issue.)

https://github.com/pmndrs/jotai/blob/2c3e3c31a9491ab5032e1d71db6abb5800e2be53/src/core/vanilla.ts#L493

Well, it's not yet implemented. Actually, it was implemented but I removed it during refactoring as the code wasn't maintainable. Let's revisit it again. I think it would be just good to return the error in the promise.

[2021-07-20 17:07] 205g0 commented on #604
Works like a charm, this atomWithStorage is btw my favorite feature, so buttersmooth haha 🙃

Thanks for your awesome work!

[2021-07-20 17:07] #604 closed

[2021-07-20 18:19] mdtusz commented on #323
Should the `setState` write that is provided by `useAtom` not just throw an error as well if one occurs during an update? That seems the most "expected" to me from a dx point of view. I'll open a new issue where we can discuss more.

[2021-07-20 18:25] mdtusz opened #607 "Thrown errors swallowed when updating state with async function"
With a read-write or write only atom that take an async function for the write argument (for using the "last" value), the errors seem to be swallowed.

[code]

As pointed out by @dai-shi, handling errors in this codepath is [not yet implemented](https://github.com/pmndrs/jotai/blob/2c3e3c31a9491ab5032e1d71db6abb5800e2be53/src/core/vanilla.ts#L493). From a DX point of view, it may make sense for th

[2021-07-20 21:30] dai-shi commented on #607
Thanks for opening up the issue.

As I said, actually that was my original attempt in pre-v1, but had some difficulties in the implementation.

First, to be on same page, we want to support this.
[code]

In this case, we shouldn't require `await` for `dispatch()` because nothing is async from the developer's point of view.

Now, if it's async we want to catch with await.
[code]

Implementing this

[2021-07-21 08:58] tsanyqudsi commented on #601
jotai v.1.2.1 apparently have this :

[code]

[2021-07-21 09:11] dai-shi commented on #601
@tsanyqudsi Sorry about the inconvenience, #605 will fix it.

[2021-07-21 22:15] tsanyqudsi commented on #601
my problem is confirmed : fixed with #605

[2021-07-21 22:21] dai-shi commented on #601
@tsanyqudsi v1.2.2 is published with #605.

[2021-07-21 22:24] tsanyqudsi commented on #601
updated and fixed. Thanks @dai-shi :D

[2021-07-23 02:52] cxc421 opened #609 "useUpdateAtom does not trigger onMount"
Hi, I modified [the example of useUpdateAtom in the document](https://docs.pmnd.rs/jotai/api/utils#use-update-atom) as follows:

[code]
It seems that the onMount function of the derived atom is not triggered.
Demo: https://codesandbox.io/s/onmount-debug-th108?file=/src/App.tsx

[2021-07-23 05:52] dai-shi commented on #609
Oh, nice catch. I didn't realized this behavioral difference.

This came from the optimization in #332, which use atom write without using it (without mounting it).
We have two options: a) revert it, or b) keep it and educate the difference.

I think we want to keep it because using atom write without mounting is better in performance.
With option b), the example needs to use useAtom instead: http

[2021-07-23 14:17] cxc421 commented on #609
Yes, I totally agree with option b).
I hope you can add these exceptions to the document when you have time.
Thanks!

[2021-07-23 14:17] #609 closed

[2021-07-23 14:31] dai-shi commented on #609
Good. I guess you have a good understanding, so feel free to file a PR to the document.

[2021-07-26 20:13] TheManFromEarth1 opened #614 "Update local state (useState) and atom at once on button-click - strange behavior"
The component below outputs 3 div's.

Without updating the Atom, the component renders fine only once.

But when I try to change both - the local state with useState _(_setFolder_)_, as well as update the global Jotai state (_setDockBG_) - i get a weird behavior:

[code]
The above way:
1. The useState is not updated anymore. Only the atom.
2. The component renders now three times, instead of once.

[2021-07-26 21:00] TheManFromEarth1 commented on #614
The problem seems to be below.

The useState is rendered conditionally and messes the states up.
If I remove the condition, only click is enough to update both states correctly.

[code]

Will check regarding rendering problem.

[2021-07-26 23:37] dai-shi commented on #614
https://codesandbox.io/s/hopeful-euler-bxsmg?file=/src/App.js

Here's a simple version to confirm it's working.
Hope you can reproduce the issue in a simplified way.

[2021-07-27 00:14] aaronjensen opened #615 "Initialize atom with function"
Hi, we have a situation where we want to store a function in an atom. The function is effectively a render prop value (it takes some arguments and returns a React Element). As it stands, passing a function to the `atom` constructor assumes that I am supplying a computed value function, which is not what I'm trying to do.

Is there a way to do this or am I stuck putting the function in an object?

[2021-07-27 00:26] #614 closed

[2021-07-27 00:49] dai-shi commented on #615
I knew this is the limitation in the API design from the beginning.

So, yes. I'd do this.

---
As for `useState`, we could do `useState(() => (a) => a + 1)`, but we can't do this with `atom`, unfortunately.

[2021-07-27 00:59] aaronjensen commented on #615
Okay, thank you for the clarification.

[2021-07-27 00:59] #615 closed

[2021-07-27 04:42] tarngerine opened #616 "Bug? Derived atom value changes but useAtomValue not causing rerender"
sorry, i know this type of support is really annoying and difficult, but i occasionally have issues with dervied atoms not working properly and wanted to make sure to share an example when i could (in this case, a personal project instead of a client project :p )

I have a setup like so:

- `rings` atom
- `currentRingIdAtom`
- `currentRingAtom` -> derives from `rings` and `currentRingIdAtom`

when

[2021-07-27 06:47] dai-shi commented on #616
Hi, thanks for reporting.
Looking at the code briefly didn't reveal any instant issues.
Would you please create a smaller reproduction with two or three atoms preferably without atomFamily?
Thanks for your help.

[2021-07-27 18:17] tarngerine commented on #616
as with this type of bug im never able to repro in a controlled environment :(

as a hacky fix, im adding a `useAtomValue(data.rings)` inside `Ring` component, which listens to the main `rings` atom, which is updating properly. this will mean `Ring` component has extra re-renders when other rings are updating, but it should be negligible

before (does not update)

[code]

after (updates properly)

[2021-07-27 22:07] dai-shi commented on #616
So, we need to think a possible bug in our brain.
If one mutates atom object value, it doesn't cause re-renders.
In this case, `freezeAtom` might help to detect the mutation.

If there were a bug in somewhere (like in useMutableSource emulation), we would still need a repro in a controlled environment to investigate the bug. Hope someone could try to repro.

[2021-07-28 04:27] sixmen opened #619 "get atom value of scope"
I tried to get a value in setter. But it does not return a value in global provider, but a default value.

Is it a bug or a feature?

Here is the code.

[code]

`Value: global / local` is shown in the component as expected.
But when I clicked the button, `on Action empty / local` is printed on the console.

[2021-07-28 06:07] dai-shi commented on #619
Ah, nice catch. You can't used mixed scopes in a derived atom.
It's a feature or a limitation. We should show better error message. 🤔  (Now, I think `useAtom(atom, scope)` might have been a better abstraction... 😓 )

Atom scope is designed for library use case, and usually app code doesn't require it. There might be some interesting use case though.

[2021-07-28 07:59] sixmen commented on #619
I used jotai to separate states from view code.

Some states are for a small component, some are for a large component(e.g. a page component), and some are for the global component(app component)

So I placed two providers for a component, one is for the page layer, other is for the global layer (preserved while page changes).
I can use both atoms in a leaf component.

And I also separate actions(

[2021-07-28 09:12] dai-shi commented on #619
Jotai Provider is to create a new separate world, just the same as React Context Provider and it's technically not possible to read an atom value in a different world.

So, the answer is simply impossible by design.

(But, I understand your confusion. That was a good feedback. Thanks for this.)

The suggestion for your use case is not to rely on atom scope behavior, which doesn't work as you expec

[2021-07-28 12:10] andreas-soroko opened #621 "jotai/query ignores `useErrorBoundary` property (`atomWithQueryWithoutSuspense`)"
Seems like `jotai/query` ignores completely the `useErrorBoundary` property ( defaults = false ) from react-query options.

would be great if `jotai/query` would support this case too, currently it's no option for us to refactor everything to React.Suspense / ErrorBoundary components.
(we show loading spinner on buttons and don't want to change the complete component there)

example: https://codes

[2021-07-28 16:47] dai-shi commented on #621
Yeah, `atomWithQuery` in `jotai/query` assumes suspense mode and it's the only mode supported now.

I just tried something if we can work around this in a simple manner, without a luck.

If you don't need suspense support, the code would be much smaller.
We can draft something like `atomWithQueryWithoutSuspense` but the function signature is different from `atomWithQuery`.

We discussed this befor

[2021-07-28 23:24] dai-shi commented on #619
Reopening for this.

[2021-07-29 13:43] dai-shi commented on #576
Another approach would be to create an atom in components.
[code]
This alone doesn't seem very useful, but if we share `fooAtom` with other components, they can use it.
There are several options for this.
1. prop passing
2. useContext
3. atoms in atom https://docs.pmnd.rs/jotai/guides/atoms-in-atom

They are a bit technical, so I won't deep dive now.
`atomFamily` is handy with global cache. One ca

[2021-07-29 13:46] dai-shi commented on #590
This is not very actionable. If this is "very" slow type of issue, we need a repro. If it's a hypothetical concern, feel free to try benchmarking it.

[2021-07-29 13:51] aulneau commented on #590
Yeah -- I agree. It's a hard problem, as it was found to create issues in a larger, more complex app with many async atoms. It would take some time to properly reproduce the issue. Feel free to close if you prefer.

[2021-07-29 13:56] dai-shi commented on #570
Please try again with recoil 0.4 when it's out.

[2021-07-30 02:47] kalvin807 opened #622 "jotai/urql client getter get a wrong atom value"
Hi, I am trying to use jotai to manage the state of an app with a login system. When a user login, app will receive a token and the app will use it to create an urql client with the token as the bearer key.

However, the app will crash whenever the login state change like this: `login -> logout -> login (crash!)`, and saying `Cannot read property 'query' of null` . It looks like the getter in atom

[2021-07-30 04:34] dai-shi commented on #622
Hi, thanks for reporting.
Your way of safe guard seems good and I'd probably do the same.
So, in this sense, this is a bug. `fetch null` shouldn't be logged.

I'm not sure if this is easily solvable, or requires a different route (like adding the guard in atomWithQuery as a last resort).

If someone wants to tackle this issue, they are welcomed. Just drop a note.

Meanwhile, I got a workaround. Th

[2021-07-31 01:35] israelidanny opened #624 "atomWithProxy triggers infinite loop"
When using `atomWithProxy` merely referencing any value from the state will cause an infinite loop. I created a minimal reproduction of the bug:
https://codesandbox.io/s/jotaivaltio-infinite-loop-yphdz?file=/src/App.js

It has a proxy atom and it uses it like so:
`const [atomState] = useAtom(proxyAtom);`

If you just print out something like `JSON.stringify(atomState)` everything is great, but the

[2021-07-31 02:12] dai-shi commented on #624
If I don't misunderstand your example, you use async/suspense feature of valtio.

https://github.com/pmndrs/jotai/blob/2f142913e0af72fbfcf9c40cca1fed58c5dfa305/src/valtio/atomWithProxy.ts#L35
It's not currently supported due to typing issue.
But, I didn't know about the infinite loop.
Maybe, we can support the promise usage along with fixing the infinite loop.

[2021-07-31 02:16] dai-shi commented on #624
I wish some contributors work on this, but it will require fairly deep understanding of jotai and valtio.

At least, our documentation should note about the limitation with promises.

[2021-07-31 02:25] dai-shi commented on #449
#575 is slightly related.

Would anyone be interested in improving devtools?

[2021-07-31 02:29] dai-shi commented on #621
I wonder if somebody is interested in developing a 3rd-party library for integrating jotai and RQ without suspense.

Or, preferably a recipe in docs. Yeah, that sounds good.

[2021-07-31 02:42] dai-shi commented on #622
This may require a fix in code, in such case, I would appreciate for a core-only test.

[2021-07-31 07:48] israelidanny commented on #624
Do I understand correctly that the typing issue is that once you set a state key as a promise, overwriting it would fail TypeScript checks because it expects a promise and not whatever promise returns?

[2021-07-31 07:49] dai-shi commented on #624
Exactly.

[2021-07-31 07:51] israelidanny commented on #624
I'd be interested to at least give it a small stab. Will report what, if anything, came out of it.

Off the top of your head: any guesses as to what could be triggering an infinite loop? We're not actually mutating the object but rather accessing a snapshot key, it's starange that merely accessing it would cause that.

[2021-07-31 07:53] dai-shi commented on #624
If it doesn't touch the key, it will not throw a promise. so, that's probably why.

[2021-07-31 07:54] dai-shi commented on #624
So, typing issue and infinite loop are probably different problems.

[2021-07-31 07:55] israelidanny commented on #624
Alright, I'm giving it a stab now. Let's see if anything useful comes out of it :)

[2021-07-31 08:56] TheEhsanSarshar commented on #616
@tarngerine can you make a simpler repo to reproduce the issue.

[2021-07-31 11:42] dai-shi commented on #616
@TheEhsanSarshar
@tarngerine said creating a smaller repro is not possible... I wish it could.

[2021-07-31 20:54] israelidanny commented on #624
So, as far as I understand the following happens to cause the infinite loop:
1. `atomWithProxy` creates a snapshot of the proxy
2. The following logic executes and sets the prop to a getter that throws a promise: https://github.com/pmndrs/valtio/blob/master/src/vanilla.ts#L101-L110
3. The promise resolves
4. However, react instantly tries to render, hits the getter, gets an already resolved promis

[2021-07-31 21:07] israelidanny commented on #624
The above is fixed in the following PR over at `valtio` and the test now passes:
https://github.com/pmndrs/valtio/pull/202

[2021-08-01 13:29] dai-shi commented on #624
https://github.com/pmndrs/valtio/pull/202 is merged and v1.1.3 is published.

[2021-08-01 13:30] israelidanny commented on #624
Amazing! I'm finishing advanced typings that will also fix the type problem and allow atomWithProxy to officially support promises in a few minutes :)

[2021-08-01 13:31] israelidanny commented on #624
I think that this issue can be closed (infinite refresh bug fixed) and the types can be tracked in the PR, what do you think @dai-shi ?

[2021-08-01 13:31] #624 closed

[2021-08-01 13:34] dai-shi commented on #624
Would you update valtio v1.1.3 in devDependencies in #625 and if it passes the test?

[2021-08-01 13:35] dai-shi commented on #624
AFAIR, it's not only technical issues, but design issues. proxies hold promises, but snapshot have resolved values. We can continue discussion in the PR.

[2021-08-01 13:36] israelidanny commented on #624
Alright, moving my attention to the PR.

[2021-08-02 01:44] fc1943s opened #630 "waitForAll inside selector throws with a lot of atoms"
https://codesandbox.io/s/hopeful-newton-0p6q3?file=/src/App.js

Running locally it starts throwing after 6225 atoms, on codesandbox 8000+.

I've also added a failing test in a fork.
https://github.com/fc1943s/jotai/commit/db74e3ccb01aced42a448c447741c852e40f8209

![image](https://user-images.githubusercontent.com/688618/127792904-26981f09-ab3b-4c33-94fd-9328988011a8.png)

[2021-08-02 01:51] dai-shi commented on #630
@aulneau Is this similar to what you reported in #590?

[2021-08-02 05:13] Thisen commented on #630
Yes, I'll look into it.

[2021-08-02 10:45] meotimdihia opened #631 "useAtomValue with Atom contains Object or Array"
useAtomValue with Atom contains Object or Array.
[code]
I got these bugs:

![Code_2021-08-02_17-44-00](https://user-images.githubusercontent.com/300961/127849628-6b7e90f0-4e31-417e-b7b1-b793ddf1e307.png)

The code works fine if I replace `useAtomValue` with `useAtom`

[2021-08-02 12:12] dai-shi commented on #631
Please try this:
[code]

[2021-08-02 12:14] meotimdihia commented on #631
Sorry, I forgot it 😅.
I close the issue.

[2021-08-02 12:14] #631 closed

[2021-08-02 12:21] dai-shi commented on #631
👍 If you have a suggestion to improve docs, feel free to open a PR.

[2021-08-02 12:56] aulneau commented on #630
I never experienced any issues with it throwing, but i don't think i ever got to that high of an atom count. perhaps they are related, at some level.

[2021-08-02 13:13] israelidanny opened #632 "(jotai/valtio) Improving DX around Promise use"
This is a continuation of https://github.com/pmndrs/jotai/pull/625

As mentioned, the current use case feels a little bit awkward. In the original issue I mentioned three options, and @dai-shi added a fourth:
1) We could introduce something under the hood of `atomWithProxy` that would introduce this as "magic" (turn values into Promise.resolve behind the scenes).

Pros: Use doesn't have to do this

[2021-08-02 14:11] dai-shi commented on #632
Thanks for the summary. You captured it very well.
To me, I didn't know if proxy with promises works with `atomWithProxy`, so this is already good enough.

Option 1 sounds possible to me, but it does extra work if our type is `Promise<T> | T`, because JS doesn't know about the type.

I'm not sure if I understand option 2. Maybe "TS override" isn't clear for me. That doesn't sound something I would

[2021-08-02 14:23] israelidanny commented on #632
I think I may have communicated (2) poorly. By "TS Override" , I kind of mean the same thing as (4). Basically, make the types for `atomWithProxy` different in their philosophy from the types of `valtio`. The word "override" might be the wrong word choice here. What I meant is more "give `atomWithProxy` types that would allow behavior slightly different than what `valtio` dictates".

The idea of `

[2021-08-02 14:36] dai-shi commented on #632
okay, that makes me comfortable.

(P.S. Please don't take jotai/vanilla thing seriously, it may not be what you expect. But, connecting to the outside is requested several times, and I would like to revisit it in the next major version after React 18 is out.)

[2021-08-02 15:31] fc1943s commented on #630
I made it work inside my app chunking the atoms before waitForAll

![image](https://user-images.githubusercontent.com/688618/127886210-ee980f60-2432-46a2-8457-19fe09d64743.png)

I'll try to understand the recursion in jotai and if needed, I add to the repro a javascript version of this chunking code.

[2021-08-02 16:06] israelidanny commented on #632
@dai-shi For now jotai + valtio covered my use case rather nicely and works smoothly. I'll report here more after experimenting. What's the official way to contribute to documentation?

[2021-08-02 18:27] israelidanny commented on #622
Right now `getClient` doesn't support getting null at all. What behavior do we want to resort to if `getClient` returns null as far as the atom itself?

[2021-08-02 21:42] israelidanny commented on #622
Reading through urql's own documentation it seems like they recommend to have a client for both authenticated and non-authenticated states:
https://formidable.com/open-source/urql/docs/advanced/authentication/#cache-invalidation-on-logout

The more I think about it , the more it seems to me that a null client is an anti-pattern.

[2021-08-02 22:18] dai-shi commented on #632
For now, docs are in a separate repo (we would like to change it eventually), so please open a PR there. https://github.com/pmndrs/website/tree/docs/docs/jotai/integrations/valtio.mdx

[2021-08-02 22:29] dai-shi commented on #622
Thanks for the investigation!

From jotai perspective, the atom should suspend (= throw a promise).

Well then, this seems like a doc issue?

[2021-08-02 22:38] israelidanny commented on #622
For what it is worth, the urql official provider wouldn't accept a null value for client, so it definitely seems like an edge case to be avoided and/or taken care of via guards that prevent even the use of such an atom if no client would exist.

Definitely seems like a documentation issue IMHO

[2021-08-02 22:52] dai-shi commented on #622
https://codesandbox.io/s/test-jotai-urql-crash-3mi3y?file=/src/App.js
The way it guards against null client seems reasonable.
So, there's probably a timing issue in jotai core (or in jotai/urql), which may or may not be fixable.
If it's not fixable, we should provide a better workaround for such guard.

[2021-08-02 22:54] israelidanny commented on #622
I added a few tests for the usecase that *is* supported by types right now. The tests are passing. I thought it's an important step (to not break the already working functionality if we want to catch the timing issue), it's also good to have tests for this as this is a common use case (re-initializing client based on authentication for example, like in my use case):
https://github.com/pmndrs/jotai

[2021-08-02 23:59] israelidanny commented on #622
How do we throw a promise which we don't know the resolve time for? Wouldn't that just suspend the component indefinitely? (without resorting to polling)

[2021-08-03 00:15] dai-shi commented on #622
https://codesandbox.io/s/test-jotai-urql-crash-forked-i4bj5
well, with this hack, it throw an infinite promise. (there's a trick in jotai core to make this work.)

[2021-08-03 00:47] israelidanny commented on #622
<img width="1189" alt="Screen Shot 2021-08-03 at 03 45 38" src="https://user-images.githubusercontent.com/1970424/127940588-fa1fe61a-2334-4f60-bdac-64dd79bddd62.png">
In this example we never end up throwing that infinite promise. (note that nowhere does it say "fetch null")
I confirmed that whenever we do, we end up suspending render infinitely.

[2021-08-03 01:12] israelidanny commented on #622
Added this behavior here:
https://github.com/pmndrs/jotai/pull/635

[2021-08-03 03:11] dai-shi commented on #622
I'm not confident if that's the right approach. I doubt it.
Let me merge #634 first.

[2021-08-03 07:17] #630 closed

[2021-08-03 07:23] dai-shi commented on #590
#663 might solve this. Let me close this for now.

(benchmark tools would be nice anyways, not only for waitForAll, but also for others. let's open a new issue when we work. ref #486)

[2021-08-03 07:23] #590 closed

[2021-08-03 09:16] israelidanny commented on #622
I anticipated this :) Wasn't sure about this myself, hence why I created https://github.com/pmndrs/jotai/pull/634

What's left, then is to create a failing test in core for this bug and try to hunt it. I can extract a failing test & create a PR that anyone can pick up & debug, to help this move along, although personally I don't have any utility for a client null situation.

[2021-08-03 09:51] dai-shi commented on #622
If you can create a failing test in core, it will help A LOT and I can take it over.

[2021-08-03 10:01] israelidanny commented on #622
@dai-shi does this help as a starting point?
https://github.com/pmndrs/jotai/pull/636

[2021-08-03 11:09] dai-shi commented on #622
Thanks for the starting point. What I would like to know is whether this issue is coming from `jotai/urql` or `jotai` itself. My guess is it's jotai itself. If it's the case, we want a test case without `jotai/urql`.

[2021-08-03 11:11] israelidanny commented on #622
Understood. It would be significantly harder to produce a test case without
urql because it would require some debugging time. I don’t have any
resources towards this specific debugging task because it has no utility in
any of my use cases and also the urql standard way does not recommend to
use “null”.

Realistically, It’ll take me a few weeks to get to there. So if any other
contributor wants to

[2021-08-03 11:34] dai-shi commented on #622
Makes sense. Thanks for your help.
Let's see if someone has some interests in this. cc @Thisen

[2021-08-03 20:05] andreas-soroko commented on #621
@dai-shi in generell, is there something like [useRecoilStateLoadable](https://recoiljs.org/docs/api-reference/core/useRecoilStateLoadable) in jotai? This would be quite helpful.

(was experimenting a bit with async atoms and found this hook in recoil)

[2021-08-03 23:25] dai-shi commented on #621
Unfortunately not, we decided to make it suspense-first for the future trend of React.
We put some workaround for non suspense usage: https://docs.pmnd.rs/jotai/guides/no-suspense

---
(A note to myself: It would be nice if https://github.com/pmndrs/jotai/issues/269#issuecomment-873563552 workaround worked. Might be related to #622 investigation.)

[2021-08-06 11:21] Nazzanuk commented on #340
So I'm working on a semi large site and we are using the current philosophy which seems to work for us:

`_app.tsx` has a top level provider

[code]

This provider sets initial state to an atom (`appPropsAtom`) which can then be used to derive new atoms.

[code]

Top level atom and derived atom
[code]

Wherever we need SSR content we pass it into the top level atom and the use it in the page or an

[2021-08-06 11:25] Thisen commented on #340
Great input @Nazzanuk. Could you maybe look into #637 - Can you look into that?

[2021-08-06 11:36] dai-shi commented on #340
@Nazzanuk Thanks for share your work.
If I understand it correctly, useEffect in JotaiContainer is required because `pageProps` changes on client side rendering?
(@Thisen In such a case, #637 doesn't help? what do you think?)

[2021-08-06 11:52] Thisen commented on #340
@dai-shi AFAIK, props will be there on initial render.

[2021-08-06 11:54] Nazzanuk commented on #340
Yes it's to update the props, which are present on initial render and are also updated when navigating client-side.

[2021-08-06 12:53] Nazzanuk commented on #340
So looking at #637, am I right in saying that `useHydrateAtoms` would prevent the need for a Provider at all? And save quite a bit of boilerplate.

The above implementation could be rewritten as:

[code]

[2021-08-06 15:49] philipaarseth opened #638 "AtomFamily no way to separate key and init value?"
Maybe I'm missing something here, but it looks like atomFamily sets map key AND the atom value directly based from the param/ key and there's no way to pass a key and value separately. Yes, its not 100% 1:1 since you can do get calls and derivative logic.

from atomFamily.ts:50-52
[code]

So say I want to put an object in the atomFamily, I would need to have access to the entire object any time I

[2021-08-06 22:57] dai-shi commented on #638
How about this?
[code]

I prefer atoms-in-atom to atomFamily for most of my use cases: https://docs.pmnd.rs/jotai/guides/atoms-in-atom
(atomFamily requires use `remove` properly to avoid memory leaks.)

[2021-08-06 23:29] dai-shi commented on #340
Yes, that's the idea.

[2021-08-06 23:59] dai-shi commented on #619
I feel like I should do this. Let me create a new issue.

[2021-08-07 00:13] dai-shi opened #639 "Introduce `useAtom(atom, scope?)` and drop `atom.scope`"
https://github.com/pmndrs/jotai/issues/619#issuecomment-888037369
I realized that probably `atom.scope` was a bad abstraction.
We have really weird scope copying/validation in various utils, which is hard to maintain and increases bundle size.
The atom scope is only needed when we get a context, so having it in the second argument of `useAtom` seems the right way. We already do this for `useAtomCa

[2021-08-07 00:13] dai-shi commented on #639
@Thisen Would you review this please? I'd like to do this before #637.

[2021-08-07 00:15] dai-shi commented on #619
Closing in favor of #639.

[2021-08-07 00:15] #619 closed

[2021-08-07 07:03] Thisen commented on #639
I think it's a good idea, but I think TS support is as important as JS (especially when we're TS oriented) - The types shouldn't break for our users, unless it's a major release. We need to have a better migration plan or cut a v2.

[2021-08-07 09:45] dai-shi commented on #639
Let's mark TS type `@deprecated` so that it won't be a TS breaking change in core.

[2021-08-07 11:23] papermana opened #641 "`useAtomCallback` creates a lot of atoms, resulting in performance issues"
`useAtomCallback` dynamically creates an atom whenever it is called, once per call site. Because of that, code with a number of components, where each component uses just a couple of callbacks, can result in a very large number of atoms being created. This appears to have a _serious_ impact on performance.

I made a recording where I show the extent of the problem (sorry for crappy quality, I had

[2021-08-07 11:43] philipaarseth commented on #638
Well this is part of the problem.
You can take part of the param and make an atom, which means you can create a value that is smaller than the param, but never bigger. This means that I have to have the full param everywhere to access the value in the atomFamily.

But say I want my key to be completely unrelated to my atom value:
`const atomFamilyKey = "object-ID-1001"` as my key and
[code]

And a

[2021-08-07 12:07] dai-shi commented on #641
Thanks for reporting and reproduction!

It seems to me this is unavoidable and, for performance, we need to educate using dedicated write only atoms instead of useAtomCallback.

(I wonder if this is useAtomCallback specific, or just creating new atoms. Anyways, it would  be nice to improve if possible. Can anyone help?)

[2021-08-07 12:16] dai-shi commented on #638
A quick question:

This sounds good in this case, but how would you know the object value for "object-ID-1001"? Can we assume there's a `Map<ObjectKey, ObjectValue>` or something?

[2021-08-07 12:28] papermana commented on #641
Why does `useAtomCallback` create a new atom, though? It doesn't need to subscribe to changes, so it just requires access to functions that read the store or write to it, without any other extras. Or am I misunderstanding something?

If this is unavoidable, then to me, it would be best not to include this hook at all, and instead, users do need to be told to use write atoms.

[2021-08-07 12:28] philipaarseth commented on #638
Do you mean before I initialise the atom or after?

In recoil you can define a type for the value and a value for the key/param
`function atomFamily<T, Parameter>({`

[2021-08-07 18:39] Thisen commented on #641
Not sure I see the issue tbh - It's correct that `useAtomCallback` comes with a cost, because it's additional code. It's a way to interact with atoms imperatively.

@papermana, Can you just _not_ use it or lift the state up, so you have the `useAtomCallback` in the parent component?

[2021-08-07 22:34] dai-shi commented on #641
I just noticed something. Atom creation should be very lightweight, but useAtom comes with a cost. useUpdateAtom is provided for better performance. We have a ground rule that a util (like functions in `jotai/utils`) only depends on core (= `jotai`), but let's make an exception here. Will create a PR.

[2021-08-07 22:46] dai-shi commented on #641
https://ci.codesandbox.io/status/pmndrs/jotai/pr/644
@papermana Would you please use the build ☝️ and see if it improves the performance?

[2021-08-07 23:23] dai-shi commented on #638
before. let me illustrate the idea in code.

[code]

We don't use that "key", and it returns `Parameter => RecoilState<T>`.
https://recoiljs.org/docs/api-reference/utils/atomFamily

tbh, I got lost. I wonder how recoil's atomFamily helps your use case.

would you be able to create a small codesandbox to play with?

[2021-08-08 13:47] IanDuncanson opened #645 "@dzcpy I think if we use two atoms, the history can be implemented. No need for `onMount` in this case."
@dzcpy I think if we use two atoms, the history can be implemented. No need for `onMount` in this case.
The good way to think at first is how you would do it with `useState`. Then, it's straightforward to migrate to `atom` and `useAtom`. I can help on it.
Would you open a new discussion / issue?

_Originally posted by @dai-shi in https://github.com/pmndrs/jotai/issues/211#issuecomment-819107334_

[2021-08-08 13:48] IanDuncanson commented on #645
@dai-shi - I am interested in how you might achieve undo redo history with atoms?

[2021-08-08 22:29] dai-shi commented on #645
Something like this:

[code]

[2021-08-09 16:02] #645 closed

[2021-08-09 18:36] papermana commented on #641
@dai-shi This seems to have done the trick! I'm still seeing some performance issues in my own code, but I think that has to be unrelated. In the sandbox I created, there doesn't appear to be any degraded performance anymore.

@Thisen No offense, but that's kind of a strange reasoning. All code is additional code (it's in addition to having less code), that doesn't mean that it has to have poor pe

[2021-08-09 19:26] Thisen commented on #641
No offense taken, but the given scenario is a classic React issue, where lifting up state would solve the issue. 🙂

[2021-08-09 22:41] dai-shi commented on #641
@papermana Thanks for the confirmation. Will merge #644 later.
I knew useAtom is slower than useUpdateAtom, but not how slower.
My expectation was it's not very noticeable for moderate apps.
For benchmarking, we prefer useUpdateAtom as it's faster.
This issue is about useAtomCallback and will be fixed by #644.

Now, my little concern here is, as of now, useAtom is the core api we recommend using,

[2021-08-10 08:43] #639 closed

[2021-08-10 09:24] Thisen commented on #340
Hi everyone, there's a new hook `useHydrateAtoms` - Please try it out in your Next.js app!

[2021-08-10 09:30] Thisen commented on #340
As `useHydrateAtoms` is a solution for hydrating atoms and we have #485 for syncing an atom with a router, I'm closing this issue. If you have any use cases, feel free to open a new issue.

[2021-08-10 09:30] #340 closed

[2021-08-10 09:31] #641 closed

[2021-08-10 12:04] serh11p opened #647 "Calling `setAtom` action inside `onMount` hook causes double re-renders"
Related to `onMount` hook https://docs.pmnd.rs/jotai/api/core#on-mount

Code:
[code]

Live example:
https://codesandbox.io/s/react-typescript-forked-err5z
- Open `Console` to investigate the problem.

[2021-08-10 12:51] dai-shi commented on #647
Hi, this is not only about onMount, but any setAtom (possibly non-sync).
It's an expected behavior, which I call double-render-one-commit.
Please refer #627 discussion.

Here's the example with console.log in useEffect.
https://codesandbox.io/s/react-typescript-forked-9uh9y

[2021-08-10 13:12] serh11p commented on #647
Thanks for clarifying.

[2021-08-10 22:56] dai-shi commented on #576
@SandroMaglione For SSR, please try new `useHydrateAtoms` which may or may not cover your use case.

Let me close this as stale for now, and if anyone find bugs / questions, open new issues / discussions.

[2021-08-10 22:56] #576 closed

[2021-08-10 22:59] dai-shi commented on #420
https://twitter.com/dai_shi/status/1423486220596699142

1. It's easier to learn because of the minimalistic API (only two basic APIs, no string keys)
2. It covers various use cases because of integrations like React Query, XState.
3. It's good for library use because atom scope allows to separate jotai in lib and jotai in app.

[2021-08-10 23:05] dai-shi commented on #616
So, without a repro, we wouldn't be able to investigate.

@tarngerine My suggestion to debug is using `freezeAtom`. Let me know if the usage is unclear.

Closing this for now. We can continue discussion, and reopen with a repro.

[2021-08-10 23:05] #616 closed

[2021-08-10 23:11] dai-shi commented on #570
https://codesandbox.io/s/preact-react-query-recoil-forked-88klx works fine with recoil 0.4

[2021-08-10 23:28] dai-shi commented on #570
Hmm, thought turning off batching helps, but not.
https://codesandbox.io/s/preact-react-query-jotai-forked-dq0k5

@Aslemammad Do you think we can reproduce the issue without react-query?

[2021-08-10 23:55] papermana commented on #641
@dai-shi I will try to investigate the cause of the slowness, but can't make any specific promises right now, because I'm fairly busy with stuff. 🙁 Thank you for your work on this library, it's very nice.

[2021-08-11 13:35] aulneau commented on #638
@philipaarseth to me it seems like you're using `atomFamily` as a way of accessing different keys in a given object, is that correct? If so, that seems different than the intended use case of `atomFamily`.

As @dai-shi requested, any real world examples of what you're attempting would be helpful in assisting you.

[2021-08-12 00:44] jrobber opened #649 "Feature Request: Add pause/skip to urql atomWithQuery"
**Description:**
When using atomWithQuery sometimes it is accessed, but we are not ready for the query yet.  It would be great if we could add the ability to pause (this is what urql calls it), or skip the query and updating the atom based on certain conditions.  More generically I think adding an optional "skip" check to Jotai could open up useful patterns.

**Use Cases:**
1. I'm using sessions i

[2021-08-12 01:46] dai-shi commented on #649
Hey, thanks for the suggestion.

We had discussed about supporting "pause", and concluded it's not required: https://github.com/pmndrs/jotai/pull/463#discussion_r628814676

Some related issues: #622 #635

While we could revisit about supporting "pause" already available in urql,
the workaround for now shouldn't be that hard.

Can you try something like this?
[code]

I'm not sure if I understand th

[2021-08-12 06:27] Thisen commented on #647
Closing, since resolved.

[2021-08-12 06:27] Thisen commented on #428
Hi @Thiesl137, what's the status on this?

[2021-08-12 22:47] dai-shi commented on #649
That sounds fair. Thanks for clarifying.

Let me draft a PR supporting "pause" and see how it helps.

[2021-08-14 01:12] dai-shi commented on #649
Would you please try if
https://ci.codesandbox.io/status/pmndrs/jotai/pr/655
solves your issue? See "Local Install Instructions"

[2021-08-15 13:54] meotimdihia opened #660 "Feature request: add option for atomWithHash replace History instead of push"
We can save state in URL but not push a new URL to history.
In my case, I can't use atomWithHash if it pushes a new URL.  And I think this is useful for navigating on the mobile web.

[2021-08-15 21:55] dai-shi commented on #660
Could you elaborate it please?

If I understand it correctly, while the current `atomWithHash` uses `location.hash` and `hashchange` event, your request is to use [History API](https://developer.mozilla.org/en-US/docs/Web/API/History_API), which we'd call `atomWtihLocation` or `atomWithHistoryState`.

[2021-08-16 14:42] philipaarseth commented on #638
Sorry for the late reply, just got back to this.

Reading that atomFamily was implemented like a weak map, I always just assumed that you would be able to pass in both a key and a value when initialising the atom. However when looking at the implementation in both recoil and jotai, it does not look like there is any way to pass a value along with the key when trying to initialise/ access an atom w

[2021-08-16 14:42] #638 closed

[2021-08-16 15:00] philipaarseth commented on #638
Yes, but how would you access the small atom within a component completely skipping the big atom without passing the atom into the component?

I know I could for instance make an atom array [atom, atom, atom] then map that array and pass the atoms into the components, however for my use case that won't work as these containers are spread wildly throughout the app.

[2021-08-16 15:08] dai-shi commented on #638
I mean `selectAtom` covers most use cases of `use-context-selector`.

[code]

[2021-08-16 15:25] philipaarseth commented on #638
Would calling it like this `useAtom(selectAtom(bigAtom` let you solely subscribe to changes in the small atom and ignore all changes to bigAtom?

[2021-08-16 19:00] Thisen commented on #622
Alright, I've looked into it.

From my side, it looks like Jotai core is behaving like expected. I've used #636 as my reference point. What happens is that the `set` function of the `clientAtom` is called and set to `null`, which triggers the dependent `queryAtom`. However `queryAtom` expects the client to not be `null`, which breaks it.

I've made a CSB that simulates the behavior/relationship be

[2021-08-16 23:14] dai-shi commented on #638
Yes, no, yes.

[code]

[2021-08-16 23:39] dai-shi commented on #622
@Thisen Thanks for your investigation.

https://codesandbox.io/s/jotai-issue-622-forked-hozq0
This adds `guardedHelloAtom`, and the error is gone.
I wonder what would be the difference between this and #636.

---

Yes, it's an anti-pattern. The canonical fix for `jotai/urql` will be #649.
However, I expected the guard should work. #636 seems valid in JavaScript. Or, I miss something.

[2021-08-17 09:11] Thisen commented on #622
Me too - I don't see a clear difference.

[2021-08-19 08:56] israelidanny commented on #622
#636 still feels like a race condition to me because conceptually there shouldn't be any issue. Could we be dealing with a peculiarity of how React batches the hook execution rather than Jotai core itself?

[2021-08-19 10:49] dai-shi commented on #622
Yeah, I hope it works. I think we should at least know how this is happening.
I still wonder the difference between https://codesandbox.io/s/jotai-issue-622-forked-hozq0 and #636.

I will dig into it when I get time but feel free to try if you are interested.

[2021-08-19 14:24] israelidanny opened #666 "reexecuteQuery for jotai/urql"
Do I understand correctly that there is no mechanism at all to reexecute a query in `jotai/urql`? In the regular `urql` hooks there is this method:
https://formidable.com/open-source/urql/docs/basics/react-preact/#reexecuting-queries

[code]

Not being able to reexecute queries seems like a rather big limitation.

[2021-08-19 22:20] kndwin opened #667 "jotai breaking nextjs "next dev" command"
### Context
- Whilst trying to use jotai with the tailwindcss example from nextjs, I ran into an issue with after installing jotai, the `next dev` command no longer runs successfully

### Recreation
- `npx create-next-app -e with-tailwindcss my-project`
- `npm i jotai`
- `npm run dev`
[code]

### Troubleshotting attempts
- If I uninstall `jotai` with `npm uninstall jotai`, nextjs runs again.
- I t

[2021-08-19 22:42] dai-shi commented on #667
Thanks for reporting.

While I don't understand the error messages, my hope is #657 would fix it.
Would you please try the 657 build?
https://ci.codesandbox.io/status/pmndrs/jotai/pr/657
Please find "Local Install Instructions".

[2021-08-19 22:57] dai-shi commented on #666
I wasn't aware the reexecute feature. I don't know how I missed it. We have "refetch" feature in `jotai/query`. So, we should follow the pattern.

[2021-08-20 00:16] kndwin commented on #667
That did fix the issue! Wow thank you so much! Is there anything I can provide as post-mortem? If not, happy to close up this issue report :smile:

[code]

[2021-08-20 00:38] dai-shi commented on #667
Thanks for confirming.
Please leave this open.
We'll let this be closed when #657 is merged.

[2021-08-20 02:19] #649 closed

[2021-08-20 03:39] dai-shi commented on #666
Actually, it doesn't work like `jotai/query`. 🤔

[2021-08-20 06:49] israelidanny commented on #666
In urql it gets returned separately from the result object.

On Fri, Aug 20, 2021, 06:39 Daishi Kato ***@***.***> wrote:

[2021-08-20 06:50] israelidanny commented on #666
I'd be happy to contribute code if we can agree on a spec.
For now in my app I had to comment out Jotai and replace it with a pure
urql query for the specific place where I needed refetch.

So Im available to contribute

On Fri, Aug 20, 2021, 09:48 Danny Povolotski ***@***.***>
wrote:

[2021-08-20 07:31] dai-shi commented on #666
Please try if https://ci.codesandbox.io/status/pmndrs/jotai/pr/668 works.

[2021-08-22 00:05] Pinpickle commented on #269
@dai-shi I ran into this issue myself. I really want to have some kind of `useRecoilValueLoadable`, and still be able to use suspense where it makes sense. Suspense isn't ideal 100% of the time as it kills the component tree.

Looking at your example [here](https://github.com/pmndrs/jotai/issues/269#issuecomment-873563552), I ran into the same maximum update depth warning. It turns out if the atom

[2021-08-22 00:42] dai-shi commented on #269
@Pinpickle
Wow, you resolved it!
https://codesandbox.io/s/stoic-feistel-qo849?file=/src/App.js
Yes, this looks like a good solution.

I think this is a good workaround.
We can add it to https://docs.pmnd.rs/jotai/guides/no-suspense.

We could even consider adding a new util.
[code]
Maybe it should handle error too, instead of throwing to ErrorBoundary.
The implementation would be somewhat close to

[2021-08-22 00:52] Pinpickle commented on #269
@dai-shi I'd love to have a go working on it! I think I might be able to sometime in the next couple of weeks.

We could make `loadable` cache the result in a `WeakMap`, so this becomes possible:

[code]

What do you think about also having a `useLoadableAtomValue` hook that automatically creates a

Personally I'm not sure about the error boundary use-case, I can image it being useful to throw or

[2021-08-22 01:32] dai-shi commented on #269
@Pinpickle

Sounds great! I have a basic idea for the impl, so you can ask help if needed.
(tests and docs take time, so it's very helpful, if you can work on it. but feel free to let me know when you get busy.)

Would you please create a new issue to track and discuss about this?

Exactly. We do this as much as possible, see `selectAtom` for example.

We don't do that. We focus on utils on atom l

[2021-08-22 01:32] #667 closed

[2021-08-22 01:38] dai-shi commented on #666
Well, I should have asked for your help from the beginning. Next time.

I will merge #668 soon.

[2021-08-22 01:53] Pinpickle commented on #269
Oops, this sentence wasn't supposed to make it in, I thought I edited it out. I completely agree.

The nice thing about the `suspendable` API is that it's just a simple type union with the `SUSPENDED` symbol, which makes it just a little bit simpler to deal with.

I'll make a new issue so we can discuss this

[2021-08-22 02:07] Pinpickle opened #672 "`loadable` API for using async atoms without suspense"
Prior discussion: https://github.com/pmndrs/jotai/issues/269

Recoil has a `useRecoilValueLoadable` for bypassing suspense and returning a "loadable" object. This is useful in some cirumstances when suspense is not desired, and is also much easier than implementing it via the method recommended in the [Jotai docs](https://docs.pmnd.rs/jotai/guides/no-suspense).

<details>
  <summary>No-suspense co

[2021-08-22 02:08] Pinpickle commented on #269
New issue: #672

[2021-08-22 02:24] dai-shi commented on #672
Thanks for opening this up.

I still believe most people want to avoid ErrorBoundary if they are not ready for Suspense.

I generally like symbols, so `suspendable` signature looks neat. But, what it gives for typing seems trivial.
[code]
Or, am I missing something?

I thought it would be easy to implement for writable atoms, because it's just delegating.
However, I can actually change my mind. Be

[2021-08-22 02:28] dai-shi commented on #672
Otherwise, we make `suspendable()` with `catchesErrorToo` option? Or, `catchable()`?

I wish we get some more feedback from someone.
Does recoil have `suspendable()` like feature?

[2021-08-22 02:49] Pinpickle commented on #672
I don't think you are, there really isn't _that_ much more typing with a loadable type API. It's just that in TS you'd need to do a check for errors even if you know your promise won't throw.

The way I see it, if an atom throws (which may be due to a bug, not just a fetch failing for example), it'd be weird that the error wouldn't propagate to the component in the same way `useSelector` does in r

[2021-08-22 04:37] Pinpickle commented on #672
@dai-shi if you're still not convinced, I'm happy to go with a pure `loadable` approach.

It'd be pretty trivial to write my own util using loadable:

[code]

[2021-08-22 07:18] Thiesl137 commented on #428
Hey @Thisen, It's been a journey - as well, this summer was busier than I had anticipated. None the less, I have been able to figure out how to implement the snapshot API to enable time-travel with the devtool on a basic Jotai application. I'll spend tomorrow cleaning up the package and reloading to the Chrome Store.

[2021-08-22 07:27] dai-shi commented on #672
Yes, this is true.

Yeah, I feel like we should go with the pure `loadable`.

This looks nice! And, it's actually convincing that `loadable` is a good primitive. We can show this in the docs.

---

So, the signature will be:
[code]

[typescript playgroud](https://www.typescriptlang.org/play?ssl=2&ssc=10&pln=3&pc=1#code/C4TwDgpgBAIghsOUC8UDeUBmB7bAuKAZ2ACcBLAOwHMoBfAKFEigBUV0oAbbOAE0qoFSAV2i0oAHw7c

[2021-08-22 07:57] Pinpickle commented on #672
I think following Recoil's API here is a good idea, personally.

[2021-08-22 08:14] dai-shi commented on #672
cool.

We could make it closer, but it can't be really the same, so `{ state: 'loading' } | { state: 'hasError'; error: unknown } | { state: 'hasData'; data: Data }` would be good.

[2021-08-22 18:41] aulneau commented on #672
This makes me so happy to see! I think this will enable a lot more usage from folks who maybe were hesitant due to suspense only support.

[2021-08-23 06:36] SquirrelJimmy opened #673 "can't update `atomWithDafault` by `set(RESET)`"
some useage:
[code]
It's nothing happend, the `async (get) => return fetch('some things')` not be invoke, What's more,
![image](https://user-images.githubusercontent.com/24666536/130402091-6c93973a-1cc0-4d34-acdf-de4addc38e66.png)

[2021-08-23 08:30] dai-shi commented on #673
Isn't this because you never overwrite the default value?
`RESET` is to reset an overwritten value. It's not to "retry" or "rerun" the getter.

For "rerun" pattern, does this work for you?
[code]

[2021-08-24 01:54] SquirrelJimmy commented on #673
what do I do if `fech` need some `params` that comes from some `atoms`? Like this
[code]

[2021-08-24 02:10] dai-shi commented on #673
I would probably create another atom.

[code]

We could make a creator to avoid repetition. I didn't do it for showing the pattern first.

This is basically mixing declarative fetch and imperative fetch, which is somewhat confusing.

I would rather recommend to focus on imperative pattern if possible.

[code]

There are some techniques to improve this pattern, like `atomWithReducer` and `onMount`.

[2021-08-24 02:37] dai-shi commented on #673
The flip side is to focus on declarative pattern.

It's a bit tricky but you might like it.

[code]

[2021-08-24 02:55] SquirrelJimmy commented on #673
I have did this by anothore atom, like :
[code]
Thank you, man! `atomWithDefault` is confusing me.

[2021-08-24 02:55] #673 closed

[2021-08-24 11:13] #666 closed

[2021-08-24 11:22] israelidanny commented on #666
@dai-shi I'll test it today & let you know that it works!

[2021-08-24 11:23] dai-shi commented on #666
Okay, I will wait. (I was about to cut a release.)

[2021-08-25 01:50] MaxBittker opened #675 "derived atom not updating in 1.3.0"
I have a derived atom based on a reducer atom.

I found a new bug today where the derived atom was always reporting null, and further found out that the getter was not being triggered at all.

For now, my solution is to pin 1.2.2, which works :)

Can provide a minimal reproduction tomorrow!

[code]

[2021-08-25 02:11] MaxBittker commented on #675
I tried to reproduce this in a codepen, but it's not showing up (behaves as expected).

Not sure why the atom in my app is misbehaving, will see if I can expand the reproduction.

https://codesandbox.io/s/test-jotai-reducer-derived-4gwjs?file=/src/App.js

[2021-08-25 03:19] dai-shi commented on #675
Thanks for reporting. This sounds very unexpected to me. (Isn't it related with atom.scope?)
Hope you can make a minimal repro and find where the problem comes from.

[2021-08-25 11:50] dai-shi commented on #666
Well, I think we can release it, and if something goes wrong, we'll fix it ASAP.

[2021-08-29 15:06] dylanwatsonsoftware commented on #204
Hmm the problem with the implementation above is that it would only return loading, if the setter was called from within the same component.

Not really sure how yet, in a generic way, but would be nice to have the loading state shareable throughout the app. The only way I can see to do that though, is to have a separate loading atom for each piece of data stored in an atom.

[2021-08-29 22:39] dai-shi commented on #204
This is no longer true. Related issue: #607

Yeah, like this, right?

[code]

Not too bad?

One thing I suppose is the community is not yet ready for best practice about how to deal with Suspense and async actions.

That said, jotai's async write will suspend, so you can do this instead.

[code]

Does it look a generic way?

---
FWIW, we have a new issue about async get without Suspense: #672

[2021-08-31 07:32] chj-damon opened #683 "best practise using jotai in big project?"
Now I just treat jotai as state management tool, but I think jotai can do more than that.
I read the docs, and noticed that maybe I can write my logic in the derived atom and I don't need to put them in custom hooks anymore.

simply like this:
[code]

but then my question is, how should I organize the atom structure? should I put theme together or split them into serval files?
when should I use at

[2021-08-31 10:11] dai-shi commented on #683
Yeah, I noticed that too. Now, I would write all logic in atoms and I wouldn't use custom hooks. (Especially, that would allow me to run the app in my experimental [jotai-jsx](https://github.com/dai-shi/jotai-jsx).)

It's still an open question. I think both are valid. I'd prefer splitting atom files and only exporting atoms that are necessary.

I think we are still at the stage of building best p

[2021-09-01 03:50] chj-damon opened #684 "any idea why my test case fails?"
[code]

my test case is:
[code]

it would fail:
![图片](https://user-images.githubusercontent.com/4902684/131608773-b8122fa5-2d93-4f7d-abf5-c54203e7354c.png)

I have no idea why it doesn't work.

[2021-09-01 04:05] chj-damon commented on #684
reproduce demo: https://codesandbox.io/s/kind-hofstadter-ncruj

[2021-09-01 04:05] chj-damon commented on #684
I tried it in the browser, it works fine. I can get userinfo after 2s delay.

[2021-09-01 04:34] dai-shi commented on #684
(quickly responding) Isn't it the same as https://github.com/pmndrs/jotai/issues/496#issuecomment-848349924?

https://codesandbox.io/s/zealous-heyrovsky-w1u4t?file=/src/useOnBoardingService.test.tsx

[2021-09-01 05:23] chj-damon commented on #684
it still fails even if I changed the code:

[code]

[2021-09-01 09:07] dai-shi commented on #684
Looks like you for got to wrap with Provider?
[code]

[2021-09-01 09:38] chj-damon commented on #684
no, still the same error even if I add wrapper to renderHook.

[2021-09-01 10:56] dai-shi commented on #684
https://codesandbox.io/s/crimson-shadow-jtoeg?file=/src/countAtom.test.js
It looks like it can only wait up to 1000ms by default.

[2021-09-01 11:17] chj-damon commented on #684
change the `timeout` config has no effect.
[code]

[2021-09-01 11:19] chj-damon commented on #684
this is wired~ it works fine in the browser but it doesn't work in test, but I can confirm that async function without atom works fine with `react-hooks-testing-library`

[2021-09-01 11:46] dai-shi commented on #684
Nice. Updated the codesandbox.
https://codesandbox.io/s/crimson-shadow-jtoeg?file=/src/countAtom.test.js

[2021-09-01 16:56] dai-shi commented on #621
#672 is new effort. (`useErrorBoundary` will still be ignored, but it might cover your use case.)

[2021-09-01 23:11] acusti opened #685 "Unable to await an async writable atom from another async writable atom"
i am using jotai for my auth flow and have a number of async writable (write-only) atoms. some of them depend on other async writable atoms. i tried to use `await set(otherAsyncAtom);` to trigger the other async atom and wait for it to complete, but execution continues immediately (no awaiting).

here’s a simple (contrived) demonstration of the issue, using `console.log` to show when each part of

[2021-09-02 00:31] dai-shi commented on #685
This is the expected behavior but we are not happy with it.
Related issues: #607, old #204.

I made it return a promise once before v1. It didn't feel like a right abstraction, as it returns promise conditionally.
Implementation-wise, it was too tricky. The issue is, from the library perspective, we don't know if `otherAsyncAtom` is async or not in advance.

As I understand your expectation, I wou

[2021-09-02 14:27] acusti commented on #685
i agree that having `set(writeAtom)` return `void | Promise<void>` depending on whether or not it returns a promise (e.g. is async) makes sense. i expected the same from `useAtom` also:

[code]

but now i’m thinking that `await triggerAction();` has the same problem as `await set(triggerActionAtom);`
------------
considering that making an async write-only atom means you are actually returning a v

[2021-09-02 14:37] dai-shi commented on #685
Yea, it's the same problem (and the same fix). Note `read` works for async, but no side effects are allowed in `read`.

I will work on it, and will ask you to test it.

[2021-09-06 06:59] chj-damon commented on #684
Thanks for your help.

[2021-09-06 06:59] #684 closed

[2021-09-06 22:51] ahfarmer opened #690 "parameterized derived atom without caching or deepEqual"
## Overview

Looking for a way to have a "parameterized derived atom", similar to an atomFamily but without caching. This is part of my overall strategy of moving ALL my state into jotai ;)

## Example Setup

As an example, imagine you have a list of 'events' that are fetched from a server. Each event has a timestamp and some other arbitrary data.

[code]

## Example Goal

I want to be able to acc

[2021-09-06 23:06] ahfarmer opened #691 "pass Getter to onMount: onMount(setAtom, get)"
This is such an amazing library that I am trying to move ALL of my state into Jotai. For data from the network I prefer to fetch data in the `atom.onMount` handler. This way it is always there right when I need it, and not before.

Unfortunately, some of my data can't be fetched in `onMount` because the fetch request needs to know something about the current state.

For instance, sometimes I have

[2021-09-06 23:49] dai-shi commented on #690
Could you elaborate how you would like to reuse the atom? Because otherwise my suggestion is this:

[code]

---

As for `setShouldRemove`, `shouldRemove` is called for all existing atoms when `setShouldRemove` is called, and for a specific atom before it returns it. So, technically, you can call `setShouldRemove` periodically.

[2021-09-07 00:08] dai-shi commented on #691
To tell the truth, `onMount(get, set)` was something I originally tried and implemented. But then, it was complicated, and I noticed the API wasn't minimalistic. `onMount(setAtom)` was born after those considerations.

In jotai, we prefer creating derived atoms for almost everything. (and one of the library goals is to make derived atoms to work as lightweight as possible.)

So, in your case, you

[2021-09-07 01:00] ahfarmer commented on #691
That 2nd approach looks fantastic. Thank you! 👍

[2021-09-07 01:00] #691 closed

[2021-09-07 01:01] ahfarmer commented on #690
Okay, let me explore that approach. I'll use your `createEventsAtom` but not your `useEvents` hook because I want to an atom derived from the `allEvents` atom. I want a `relevantEventsAtom` which can alternately return one of two lists of events, based on a boolean atom:

[code]

This works, except that garbage collecting all those atoms I'm creating will be a pain right?

[2021-09-07 01:26] dai-shi commented on #691
tbh, the `INIT` symbol idea is new. It just came up for this issue. (I used the first pattern in some places.)

[2021-09-07 03:37] dai-shi commented on #690
Hmm, that usage doesn't help for anything.

[code]

So, no need to create an intermediate atom.

I wonder you would even want caching in this case?

Feels like I misunderstand the problem space.

[2021-09-07 20:00] ahfarmer commented on #690
I'm not explaining myself clearly - and I think there is likely nothing for jotai to improve here. I'll re-open or do a new issue if I see a problem and can arrange my thoughts more clearly.

For now I think you are right - I don't need the intermediate atom. If necessary I can just write a static function that would get used in two places: a hook, and an atom. Thanks again!

[2021-09-07 20:00] #690 closed

[2021-09-07 21:37] ahfarmer opened #693 "useAtomMemo for recalculating derived values without a cache"
This is the problem I brought up in #690, but I think my description over there was complex and confusing.

I want to be able to write hooks that:
  * take parameters
  * conditionally fetch atom values
  * auto-update on changes to those atom values

## Naive Attempt (with crash)

Here I try to write a hook `useEventsForDevice` that conditionally returns one of two lists of events.

[code]

Obvio

[2021-09-07 22:45] dai-shi commented on #693
Okay, let me post the same idea as in #690.

[code]

I use this pattern quite a lot, when atom depends on props.

I wonder if you use case additional requirement that is not covered by this pattern.

[2021-09-08 00:39] ahfarmer commented on #693
Yes yes yes - I finally understand. You have an answer for everything! 👍

[2021-09-08 00:39] #693 closed

[2021-09-08 19:05] jonaswre opened #695 "[Discussion] Async get function will not be waited for"
I came across a bug

When you have a read only atom that does something async and you get that from Write Function of another atom the async part is not awaited. I've created a repo which reproduced the error.

The expected behavior would be when I press the "Fetch" Button it loads the HackerNews Story, but it throws an error and loads it on the 2nd click.

[Jotai_Async_Bug](https://github.com/jon

[2021-09-08 19:33] jonaswre commented on #695
Maybe this is intended?
I've realised that a warning is shown. I think that warning was supressed in my realworld example.

"Reading pending atom state in write operation. We throw a promise for now."

What can i do to resolve it?

[2021-09-08 19:37] jonaswre commented on #695
If I replace

`export const fetchHNStoryAtom = atom(get => get(hnStoryAtom), (get, set) => {
    const fetchData = async () => {
        const _token = get(accessTokenAtom);
        const request = await fetch("https://hacker-news.firebaseio.com/v0/item/8863.json?print=pretty");

        const data = await request.json()
        set(hnStoryAtom, data)
    }
    fetchData();
})`

with

`export cons

[2021-09-08 20:00] jonaswre commented on #695
[code]

Okay i've found the parameter, but can somebody explain what the parameter is for and why it's called unstable_promise.

What is unstable and what do I have to expect with the stability?

[2021-09-08 23:13] dai-shi commented on #695
Thanks for opening this up.
Looks like you have good understanding now.

This is still an open problem. The `unstable_promise` would be a good solution, but it's still young and not yet a finalized API. That's why it's `unstable_` prefixed.

[2021-09-08 23:15] dai-shi commented on #695
Related issues: #522 & #539

[2021-09-09 00:40] tarngerine opened #696 "[Discussion] "Portaling" a writable atom"
I've recently enjoyed using React.Portal quite a bit, especially in the context of a design tool with many different types of elements,  with the strategy described in this blog post: https://jjenzz.com/avoid-global-state-colocate

this allows me to structure my code in a way where, e.g. TextElement can render "remotely" into main application layouts based on its state:

[code]

super handy, quick

[2021-09-09 03:34] pengx17 commented on #84
I find the discussions in the thread very helpful.
Anything news about this? Or maybe it is recommended to create atom ad-hoc and passing them around with normal React.Context?

[2021-09-09 04:40] dai-shi commented on #84
This discussion is mostly obsolete. #131 changed some old assumptions (fixed the issue).
Would you mind opening a new issue or preferably a new discussion, with some more description about your use case?

[2021-09-09 04:59] jonaswre commented on #695
Thanks for your quick response.

So it's prefixed unstable because the API might change not because the code is unreliable?

And I couldn't find out from the related Issues what's causing the problem here. It seems like you found a solution. What's the reason not to default to is? And maybe an explainer should go into the aysnc part of the docs. Just so that people who get the warning have a chanc

[2021-09-09 05:20] dai-shi commented on #695
It's more about API design and TS issue, and docs issue. I don't think it's very easy to understand because everywhere else we don't see a promise on read thanks to Suspense.
This means, your first trial https://github.com/pmndrs/jotai/issues/695#issuecomment-915515939 is still valid and more consistent with Suspense. But, Suspense for this use case is still not finalized, so we hold it too.

If w

[2021-09-09 05:22] pengx17 commented on #84
@dai-shi oh I see. So the new atom scope param introduced in #131 should be sufficient for fixing this issue right? I will take a look again.
Thanks for making this wonderful library BTW!

[2021-09-09 05:26] dai-shi commented on #84
Note that #640 changed the scope api a bit different. (the internal is the same.)
You are welcome!

[2021-09-09 11:51] dai-shi commented on #696
At a glance, I wasn't able to get the point, but the codesandbox example helped. (Does "Deselect" button work as expected?)

Not sure if I understand fully, but I guess I like the idea generally:
- Putting an atom config into another atom is a valid pattern. I do a lot for advanced use cases.
- The names are a little confusing, could be improved.
- A little concern with `useEffect`, which is not c

[2021-09-09 13:24] dai-shi commented on #672
@Pinpickle Just checking if you are still around.

[2021-09-09 13:51] #607 closed

[2021-09-09 13:51] #685 closed

[2021-09-09 15:13] tarngerine commented on #696
1. yes, the deselect button is working properly in the codesandbox — expected: when Text element is selected, deselect should run the deselectTextAtom writable atom and log something about "text", similar with Rect selected. with nothing selected nothing logs.
2. do you have other examples where you put atom configs into another one? i'd love to study how you've done that?
3. agreed names are not

[2021-09-09 16:05] dai-shi commented on #696
https://docs.pmnd.rs/jotai/guides/atoms-in-atom

[code]

not sure how it works, just something without useEffect, which mean you invoke in the callback somehow.

[2021-09-09 21:51] Pinpickle commented on #672
@dai-shi I finally got a chance to take a crack at this, but ran into an issue with error edge cases. Could you take a look at https://github.com/pmndrs/jotai/pull/698 ?

[2021-09-10 06:21] #696 closed

[2021-09-11 12:05] dazweeja opened #702 "Suspense issue with atomWithQuery refetch"
While trying to get atomWithQuery refetch working with Suspense, I noticed that even in the Basic Demo for atomWithQuery, refetch does not work with Suspense for any version of jotai later than v1.1.1. By that I mean that Suspense never sees that the Promise has resolved after a refetch. It may be related to https://github.com/pmndrs/jotai/pull/573

To test, update the dependencies in the atomWith

[2021-09-11 12:18] dai-shi commented on #702
https://codesandbox.io/s/jotai-query-demo-forked-t1bqi?file=/src/App.tsx
Issue reproduced. cc @aulneau

I hoped #701 fixes it, but unfortunately not.

[2021-09-11 12:58] aulneau commented on #702
Oh very strange, I'll dig in and get this fixed!

[2021-09-12 23:12] #601 closed

[2021-09-13 00:21] #672 closed

[2021-09-13 19:21] andreas-soroko commented on #621
updated from `1.2.2` to `1.3.4` and i am getting now this error

[code]

![image](https://user-images.githubusercontent.com/47380084/133143777-84c6aa07-b151-4a3d-bdeb-a11822500c94.png)

using `Vite` as build tool

[2021-09-13 22:35] dai-shi commented on #621
@andreas-soroko Oh, my... Does it work with v1.3.3? Would you please open a new issue with a minimal reproduction? Does it fail without `jotai/query`? Thanks for your feedback!

[2021-09-14 05:38] andreas-soroko commented on #621
Created a minimal example and noticed that the error does not occur, so had a look into what change compared to my project and I had to update vite itself from 2.1.3 to 2.5.7 ..

Now it's working and will test the change with `loadable` if I have some time for, thank you 👍🏼

[2021-09-14 06:25] imjuni opened #707 "[Question] Readable atom with parameter or Another way"
Thank for great works.

I have some question, I develop custom calendar component.

Calendar component have selection map, for example:

[code]

But, Calendar component don't know user selected month so dynamic generation array on render time.

[code]

but I got exception phase03, react SSR executed phase01 -> 03 -> 02.

I solve this problem that create wrapper function.

[code]

But I want use st

[2021-09-14 06:46] dai-shi commented on #707
From the last example, I'd say, you want to put param in an atom.
[code]

But, from the description about phase03, it seems like you can just early return if you don't have selection.
[code]

If you can create a small example in codesandbox, we should be able to help more easily.

[2021-09-14 08:37] frissonlabs opened #708 "[Question] "Unsubscribed" dependencies in read function"
Is there a way to retrieve the latest value of an atom but not subscribe to it (make it a dependency) from another atom's read function?

I have a scenario where I have some reinitialization logic that needs to get called when a certain variable changes. I've modeled this with an atom that has the logic in the read function and the variable as a separate atom that is referenced using "get", so the

[2021-09-14 08:49] dai-shi commented on #708
The short answer is no. `get` is always reactive.
We have a hack of using ref, but I wouldn't recommend it in user space code.
Instead, there is `selectAtom` util. It accepts custom equality function, so I hope you can model your atoms using this.

If we use `write`, there can be another solution. Basically, `read` must be "pure", but `write` doesn't have such a limitation.

[2021-09-14 10:29] tomhicks opened #709 "Upgrading from 1.3.3 to 1.3.4 gives worrying build-time warnings"
I'm using jotai in a Next.js project, with nothing special in particular with the setup.

When I upgrade to 1.3.4 I get this in the build output, which seems reasonably important. My guess is that it's to do with the way the exports were changed to use wildcards?

Reverting back to 1.3.3 removes the warning.

[code]

[2021-09-14 10:36] dai-shi commented on #709
Thanks for reporting. It sounds like so... Exports is hard...
Would you help me reproduce this? Any steps to follow?

[2021-09-14 10:39] tomhicks commented on #709
hang on let me try to get a minimal repro

[2021-09-14 10:48] tomhicks commented on #709
[code]

[code]

`npm run dev`

[code]

[2021-09-14 10:48] tomhicks commented on #709
^^ Essentially... use jotai 😂

[2021-09-14 11:34] dai-shi commented on #709
Thanks for the steps. It's reproducible.
It has nothing to do with wildcards.

It seems the following code in `jotai/esm/index.js` causes the message.
[code]

I don't think it's important. You can ignore for now.

I guess some of build tool updates caused this. 🤔

[2021-09-14 12:10] dai-shi commented on #709
This seems to fix the issue.
[code]

https://github.com/evanw/esbuild/releases/tag/v0.12.26 changed something.
The new one seems to fail to eliminate dead code.

[2021-09-14 12:56] imjuni commented on #707
@dai-shi Hi,

Thank you for your reply.

I create [codesandbox](https://codesandbox.io/s/react-jotai-calendar-example-1ckt3?file=/src/Calendar.tsx:1245-1586).

This is very simple calendar using by luxon.

Your answer is readableAtom parameter need create atom.

And I want change parameter, I have to use `setState` function, right?

Thank you.

[2021-09-14 13:10] dai-shi commented on #707
Okay, thanks for the codesandbox example.
So, I'm a bit unsure if I understand your goal.
It seems `getSelection` does its good job as is.
So, is this only the question about SSR, or are there any improvements you want in CSR?

[2021-09-14 14:22] tomhicks commented on #709
Interesting. As I understand it (my knowledge could be 5 years out of date though), exact calls to `require("some-literal-string")` can be statically analysed, so possibly the fact that here `require` is replaced might mean it can't do the same static analysis.

Is that `require = require ?? somethingElse` part a common pattern?

[2021-09-14 14:24] prichodko commented on #709
FYI, this is also happening in Next.js, which doesn't use `esbuild`.

[2021-09-14 15:28] imjuni commented on #707
@dai-shi

Dear dai-shi,

Thank you for kindness.

1. Not related to SSR, only CSR (I think that SSR way find myself)
2. I want to know that jotai ideal way or efficient way

I fork another example code codesandbox: [codesandbox](https://codesandbox.io/s/react-simple-calendar-forked-utlw5?file=/src/Calendar.tsx)

But this example not work, because readable atom trigger rerender, so meet too-many re

[2021-09-14 18:03] #708 closed

[2021-09-15 00:00] dai-shi commented on #707
Hm, you can't call `writePosState` in render. Your previous `getSelection` looks better. Why do you want something like `getSelectionAtom`? Feels like I'm missing the goal here.

Sorry, if my `posAtom` suggestion was confusing. So far, your previous codesandbox looks good.

[2021-09-15 01:18] imjuni commented on #707
@dai-shi

Because I think that readable atom with parameter, looks like a writable atom.

[code]

But document and your answer is below,

[code]

I think mutation of two atom that is not good way for this situation. Because render need getSelection. I think that move getSelection in atom file. I want to state management code in single file.

Thank you.

[2021-09-15 02:56] dai-shi commented on #707
Okay, let's step back and consider a simple case.

Suppose we have a list of todos:
[code]

If you want an atom to read id=1 item:
[code]

You can't create an arbitrary atom that holds a single item. What you can do is to create a function:
[code]

But, if you are reading the entire todosAtom in your component, creating each todoItemAtom is just an overhead. So, just having a function makes more s

[2021-09-15 05:54] imjuni commented on #707
@dai-shi

Thank you for your answer.

Great! that is perfect solution for my case. I don't think that readable atom will be able to function.

Very helpful talk.

Maybe, I think your example `getTodoItemAtom` is add to primitives document it is great helpful content.

Thank you!

[2021-09-15 07:19] chj-damon opened #711 "something confused me about Provider initialValues and scope"
![图片](https://user-images.githubusercontent.com/4902684/133388144-c842b746-381e-421b-81e8-71f319682959.png)
![图片](https://user-images.githubusercontent.com/4902684/133388191-f1ffaf6a-6226-45b8-8622-2f2003c84e5f.png)

I'm trying to seperate my project into several independent modules, and each module should be wrapped under the `Provider` and each module has its own atoms the sub component tree car

[2021-09-15 09:26] #707 closed

[2021-09-15 15:09] Thisen commented on #711
@chj-damon. First of all, thanks for a good description of your problem.

`scope` allows for an atom to have different values in different "contexts" (Not React context). The reasoning for the note about library authors, is that `scope` was introduced to make sure you could create a library on top on `jotai`, without fearing a consumer would pollute your atom values, if you exposed those atoms asw

[2021-09-15 15:17] dylanwatsonsoftware commented on #204
Yeah seems reasonable and you can always wrap this via a simple method to hide the implementation anyway!

[2021-09-16 02:02] chj-damon commented on #711
@Thisen thanks for your reply. I know I can do this without problem, but still, using atoms like this way has to command developers to be selfconscious that not to import atoms out of one module.
I want to know if there's a way that we can do this programatically. like forbidden usage of atoms out of your scope, or you can only use atoms out of your module because it's passed by the parenting Prov

[2021-09-16 02:18] dai-shi commented on #711
[code]
When you say "forbidden", what should happen? Runtime error, compile error, or even not possible as ideas?

[2021-09-16 02:24] chj-damon commented on #711
runtime error would be ok. it should report errors like: 'you can not access atom1 because you're not in the same scope'.

atoms can be used anywhere without constraints, It's convinient, but I don't thinks it's good for big projects, big projects always contain many modules which are developed by different groups, there should be some boundaries using atom.

[2021-09-16 02:29] chj-damon commented on #711
I tried to practise DDD paradigm in projects, the main difference is that DDD projects are divided to different modules, each module has its own context, the communication between modules is not using something inside the module directly, but by interfaces or apis. moduleA should definitely a black box to moduleB, and vise versa.
I should separate all the atoms into different modules, and only can

[2021-09-16 03:32] sandren commented on #709
This is happening in Gatsby as well.

[2021-09-16 04:16] dai-shi commented on #711
While it would be possible to raise a runtime error with a custom hook and a custom Provider, think it more like the atom config is an identifier or even a (global) variable.

Let's suppose you have a global variable in a big project and want to avoid directly accessing it, how would you? You wouldn't export the variable from the module. Likewise, you shouldn't export the atom config.

---
That sa

[2021-09-16 06:01] chj-damon commented on #711
Isn't `initialValues` just for testing and SSR as the doc says so?

[2021-09-16 06:27] dai-shi commented on #711
It's implemented from such requests, but it's a general feature not limited to specific use cases. Same applies to `scope`. I agree there's room for improvement in docs.

[2021-09-16 06:39] chj-damon commented on #711
nice. I tried the `initialValues` and it works great in different Providers.

So now, all I need to do is put all the atoms I need in `initialValues` and use `useAtomSafely` to check if it's initialValue is not error or something like that.

[2021-09-16 06:40] chj-damon commented on #711
I'll give it a try and if it works, I'll close this issue.

[2021-09-16 07:22] chj-damon commented on #711
it works!! the full example is here: https://codesandbox.io/s/jotai-module-example-ls1c7

I give it a `ModuleProvider` so symbol don't have to be passed through `useSafeAtom`. Each module should be wrapped by `ModuleProvider` and give it an unique symbol.

@dai-shi any good suggestions that I can improve the develop experience?

[2021-09-16 07:22] #711 closed

[2021-09-16 07:25] Thisen commented on #711
@chj-damon There's a different option aswell:

[code]

`createScopedAtomHook` creates a `useAtom` hook, but it guards against not using the correct scope. There's a codesandbox for the pattern here:
https://codesandbox.io/s/next-js-with-custom-babel-config-forked-bp6qs?file=/pages/index.js

[2021-09-16 07:46] chj-damon commented on #711
@Thisen I think your option is better!

[2021-09-16 07:51] Thisen commented on #711
@chj-damon Then you can just use `useAtom`

[2021-09-16 08:06] chj-damon commented on #711
@Thisen I would not suggest that, because if so, developers can also use `useAtom` to get atoms inside some modules. I don't want to give more mental pressure. They can forget `useAtom` and only `useSafeAtom` is allowed.

[2021-09-16 08:37] Thisen commented on #711
Im not sure I understand global atoms then.

[2021-09-16 08:50] dai-shi commented on #707
I wouldn't at this point, as it's not the primary recommendation. BUT, it might turn out to be something good with possibly other practice, so I will keep that in mind.

Let me leave another pattern with a custom hook, which may seem more idiomatic (not explicitly suggesting it, but just to expand our ideas):
[code]

[2021-09-16 16:21] s-apalon-b opened #714 "[Question] Ways to work with derivatives for heavily nested data"
Hey everyone,
I've got a question regarding working with derivatives for heavily nested data.

Let's imagine we have received data with such structure from our back-end:

[code]

Also we have atom with weight unit value, e.g. `const unitAtom = atom ('kilogram') ;`. It might be changed to pounds or milligrams.

Now let's assume that each of the nested properties (e.g. `someProperty1`, `nestedProper

[2021-09-16 21:18] eduardodallmannAmbev opened #715 "Destructuring lost reference"
All tests are the same thing, the difference is destructuring of result of renderHook

https://codesandbox.io/s/focused-glitter-9ixgx?file=/src/ok.test.ts

Is this issue related to Jotai? Or @testing-library/react-hooks?

[2021-09-17 00:14] dai-shi commented on #714
If your single component reads all the nested data, you could simply create a derived atom to create a whole nested data with conversion. It will only re-evaluated when the unit is changed.

If your each component reads part of the nested data, you might want to convert in the render function.

There can be some misunderstanding of mine. You want to share how your components would use the atoms, a

[2021-09-17 00:31] dai-shi commented on #715
I'm not super familiar with testing-library/react-hooks, but destructuring `current` doesn't seem correct. Does it work with `React.useState`?

[2021-09-17 02:20] eduardodallmannAmbev commented on #715
Good question... Really `React.useState` not work too. But destructuring is correct, I add a new test on codesandbox with destructuring step by step. Thanks for help, I go open issue in testing-library/react-hooks

[2021-09-17 02:20] #715 closed

[2021-09-17 06:57] s-apalon-b commented on #714
Thanks for a quick response and sorry for my poor explanation.

Options of consuming data in components could be different, for example:
[code]
or
[code]
Let's assume `derived2Atom` and `derived1Atom` are derivatives from `convertedDataAtom` described below.

My main idea now is to create one big atom with initial data and then make derived one where I'll track all unit changes and apply conversio

[2021-09-17 07:22] Thisen commented on #709
Just to be clear, this is caused by the version of `esbuild` that builds `jotai`, it's not because of the consumers environment.

[2021-09-17 08:53] dai-shi commented on #714
If I understand this correctly, this pain is not jotai specific, but pure js task to manipulate nested objects.
If that's the case, how about using immer? Or maybe some other fp-like libs that handle it.

Would you be able to share some code that you think is not very readable and want to improve?

[2021-09-19 11:22] meotimdihia opened #720 "iOS 10. Syntaxerror unexpected token '{'. expected '(' to start a 'catch' target"
I  have got this error with iOS 10 and Safari. Please give me a tip on how to fix it:
`syntaxerror unexpected token ' '. expected '(' to start a 'catch' target`

My tsconfig.json

[code]

![F6e0GA6 1](https://user-images.githubusercontent.com/300961/133925689-423f1e81-fb04-4496-b193-6550b8ac20f4.png)

[2021-09-19 11:49] dai-shi commented on #720
https://caniuse.com/mdn-javascript_statements_try_catch_optional_catch_binding
Mobile Safari supports it since iOS11.3.

Our compile target is `node12` which supports optional catch binding.
Assuming we don't change it, can you configure your bunder to transpile it on your end, or use CJS build? Do you use any bundler, or just tsc?

[2021-09-19 14:09] meotimdihia commented on #720
@dai-shi I am using Next.js and Typescript. I don't understand what do you saying. 😅
Please give me more tips.

[2021-09-19 14:21] dai-shi commented on #720
oops, sorry about that. yeah, that's good way to go.

[2021-09-19 14:28] meotimdihia commented on #720
@meotimdihia my app works when I use `next-transpile-module` to transpile Jotai.
I close this issue. 😀

[2021-09-19 14:28] #720 closed

[2021-09-19 18:02] KevinMusgrave opened #721 "Add utility functions: useFocusAtom, useSelectValue"
Instead of wrapping ```focusAtom``` with ```useAtom```, and ```selectAtom``` with ```useAtomValue```, I think the following would be nice:

### useFocusAtom
[code]

### useSelectValue
[code]

I guess the implementations would be something like this:
[code]

[2021-09-19 22:17] KevinMusgrave opened #722 "Get all key/value pairs from AtomFamily"
In one component, I'm adding key/value pairs to AtomFamily. In another component, I need to read all key/value pairs currently in that AtomFamily. Is there a way to do this?

[2021-09-19 22:48] dai-shi commented on #722
I haven't thought about such use cases (it doesn't feel good practice), but yeah it can be useful in some cases.

Maybe something like this?
[code]

They are just keys, not entries. We want to call the function to get a value to make it sure that `shoudRemove` works.

[2021-09-19 23:01] dai-shi commented on #721
We would like to export more atom-based utils and not hook-based utils unless they are technically possible (like depending on `useEffect`). We are moving towards it, and even deprecating some current hook-based utils is possible.

So, for focusAtom and selectAtom, we don't plan to export hooks. It's just few lines to create custom hooks on user's end as you showed.

---
Note that focusAtom and ma

[2021-09-20 00:19] KevinMusgrave commented on #722
What's the best way to get all the values?

I can loop through the keys and grab the value from the ```atomFamily```.

[code]

But I'm not sure how to use this in a component with a ```useAtomValue``` hook.

[2021-09-20 00:37] dai-shi commented on #722
If you want to read all values in a single hook, you want to create a new derived atom.
[code]

However, this is not reactive to family.keys(). To make it reactive, you would need to keep keys in an atom, so that means `family.keys()` doesn't help much in this case.
If I were to deal this case, I'd prefer atoms-in-atom pattern. https://docs.pmnd.rs/jotai/guides/atoms-in-atom

Another hacky solutio

[2021-09-20 01:09] KevinMusgrave commented on #722
Should I stick with atomFamily if I need to add/remove keys at runtime?

[2021-09-20 01:13] dai-shi commented on #722
It's up to you as both work. I'd prefer atoms-in-atom pattern, because garbage collection should work. tbh, I never use atomFamily in my coding.

[2021-09-20 03:51] KevinMusgrave commented on #722
Is there an example that shows how to add keys using the atoms-in-atoms pattern?

[2021-09-20 04:47] dai-shi commented on #722
In the atoms-in-atom pattern, we don't have keys, atoms (configs) are keys.

Hope these help:
- https://docs.pmnd.rs/jotai/guides/atoms-in-atom#storing-an-array-of-atom-configs-in-atom
- https://github.com/pmndrs/jotai/tree/main/examples/todos

[2021-09-20 07:55] s-apalon-b commented on #714
@dai-shi yep, you are right.
It seems I've managed to make it more readable by using some fp utils.

Thanks for you help and sorry for wasting your time!

[2021-09-20 07:55] #714 closed

[2021-09-20 14:50] tychota opened #725 "Improve typing of Atom, so if value of Value, is a promise, it still typecheck"
# Context

I'm writing a persistence helper for React Native that need the async / [suspense](https://docs.pmnd.rs/jotai/basics/async) parts to works.

The working version is roughly: https://gist.github.com/tychota/7d07d83f957b78a7c3f5ada263c4dd19

As you can see there is a `@ts-ignore` around line 23.

If we blindly trust TS and change this to https://gist.github.com/tychota/56da7d74c978a7c3dfbf

[2021-09-20 15:04] tychota commented on #725
Note, it is probably fixed by (draft) PR https://github.com/pmndrs/jotai/pull/713

[2021-09-20 23:22] dai-shi commented on #725
Yeah, when I originally designed types, a promise as a value wasn't supported.
#713 is to address it as you see.
Can you try if it works for you?
See [codesandbox ci comment](https://github.com/pmndrs/jotai/pull/713#issuecomment-921009525) and click "here" in the comment. You will find "Local Install Instructions".

[2021-09-21 09:42] tychota commented on #725
@dai-shi I would like but I'm lost with the new typing.

![image](https://user-images.githubusercontent.com/13785185/134147822-fcb27194-a902-4687-8a4b-565c1a43787e.png)

I try a bunched but I'm not sure exactly what to do.

Lets discuss here

## baseAtom

[code]

But now there is an error on onMount

![image](https://user-images.githubusercontent.com/13785185/134148687-cb302855-41ee-4d86-9f90-38f8

[2021-09-21 10:12] dai-shi commented on #725
[code]
This means read-only atom, which is not what you meant.

There are several options.
[code]

[2021-09-21 10:16] dai-shi commented on #725
https://user-images.githubusercontent.com/13785185/134148835-76fdeb25-8e79-4ada-b8c8-037b5fbb1fc6.png

Maybe something like this.
[code]

I would be nice if we have an example in codesandbox to work with.

[2021-09-21 10:47] tychota commented on #725
Thank for all this, I will do a minimal example in codesandbox.

[2021-09-21 11:46] dai-shi opened #726 "[RFC] Change the behavior of async write atom"
https://docs.pmnd.rs/jotai/basics/async#triggering-suspense-fallback-of-write-atom

As noted there, currently it throws promise on async write, to suspend component rendering.
I thought it's neat, but now think this is probably a bad design. I started refactoring some internals, and this can be a blocker.
Since there are some issues reported, I know this is confusing (thus, created the above doc s

[2021-09-21 13:33] tychota commented on #725
@dai-shi here you are https://codesandbox.io/s/happy-goldwasser-y7hy1

[2021-09-21 16:22] hantaogo commented on #672
How to use loadable?
I got a ts(2339) error when access result.error or result.data.
my code:
[code]
so i made a function to do this:
[code]
then use like is, it's much simple.
[code]

[2021-09-21 16:55] #621 closed

[2021-09-21 21:30] dai-shi commented on #621
@aulneau You might have some ideas to handle `useErrorBoundary`. (Maybe, just showing a message to suggest `lodable` when it's `true`, at least.)

[2021-09-21 23:02] dai-shi commented on #725
Here you go: https://codesandbox.io/s/jolly-cerf-vwfh7?file=/src/utils/atomWithAsyncStorage.ts

☝️ That was my bad. The correct on is this. 👇

[code]

In your case, you want `T | Promise<T>`, because you use both types.

[2021-09-22 15:15] sxy8469 opened #728 "splitAtom(arrayAtom) returns inconsistent length temporarily with multiple renderers since v1.3.3"
const itemsAtom = atom([])
const itemAtomsAtom = splitAtom(itemsAtom)

const items= useAtomValue(itemsAtom );
const itemAtoms= useAtomValue(itemAtomsAtom);
**items.length ≠ itemAtoms.length ???**

[2021-09-22 15:33] dai-shi commented on #728
Thanks for reporting. This seems unexpected.
Would you be able to create a minimal reproduction in codesandbox?

It works in v1.3.2, but not v1.3.3, right?
Either #678 or #689 might cause an issue. 🤔

[2021-09-23 04:15] KevinMusgrave commented on #722
Thanks for the help

[2021-09-23 04:15] #722 closed

[2021-09-23 06:29] sxy8469 commented on #728
https://codesandbox.io/s/react-typescript-forked-gi301?file=/src/App.tsx

[2021-09-23 10:21] dai-shi commented on #728
Either #687 or #689, and it's #687 causing this.

[2021-09-23 10:24] dai-shi commented on #728
Hm, `removePoint` removes the original array. A bit of surprising it's working pre v1.3.3.
Let me see if I can repro in tests.

[2021-09-23 11:14] dai-shi commented on #728
Okay, I found the issue is not reproducible if we don't use react-konva.

[2021-09-23 13:22] dai-shi commented on #726
Hm, I don't think RFC issues work very well. Let me file a PR and release it to get hopefully feedback.

[2021-09-23 17:12] israelidanny commented on #709
Can confirm, happening to me with next.js as well

[2021-09-24 07:46] dai-shi commented on #725
@tychota Hi, #713 is improved. Would you try it again?

[2021-09-24 07:55] tychota commented on #725
Hi, thanks for the updated sandbox.

What would you like me to test? I looked at the PR ans have seen that now the third parameter default to `void` (but we should use `Promise<void>`, right ? ) and that now an atom is `Atom<T | Promise<T>>` by default.

[2021-09-24 08:08] dai-shi commented on #725
If you have a project using jotai, I would like to know how it works with the PR. Basically, we want to be confident about merging the PR.

[2021-09-24 08:28] tychota commented on #725
Will do later today.

[2021-09-24 12:50] #709 closed

[2021-09-25 11:56] Aslemammad commented on #622
Hey folks! Sorry for the late response 😅
The issue is solved with the magical solution (that wasn't intended to solve this issue) by @Pinpickle in jotai#v1.3.4.

`Cannot read property of 'query' of null` for [`client`](https://github.com/pmndrs/jotai/blob/main/src/urql/atomWithQuery.ts#L95) is present as it was before v1.3.4, however, this time, when it occurs, [L195](https://github.com/pmndrs/jot

[2021-09-25 12:17] dai-shi commented on #622
Oh!! Very nice finding!!!

So, it was the fundamental issue with async atoms.

Now, I know, my guess was right. What a relief.

@Aslemammad Great work you did, even if the fix is from another PR. I appreciate it so much.
While you are at it, would you update #636 (you should have a grant) to merge the main branch and see if the CI passes?

[2021-09-25 13:28] Aslemammad commented on #622
@dai-shi Thanks! I'll pull it & send a new PR soon! Thanks @israelidanny

[2021-09-25 23:39] dai-shi commented on #622
#733 is merged. Nice work, everyone.

[2021-09-25 23:39] #622 closed

[2021-09-26 02:46] dai-shi commented on #702
Is #705 somehow related by chance?

[2021-09-26 08:25] s-apalon-b opened #736 "Possible bug with atom derived from variable sized splitted atom"
The following warning appears in console if derivative was created from variable sized splitted atom:
```splitAtom: array index out of bounds, returning undefined warning in console.```

Here is sandbox https://codesandbox.io/s/client-splitatom-derivative-5uir4

To reproduce the issue just start clicking on the button and check out console.

[2021-09-26 09:16] dai-shi commented on #736
Looking at the code in store.js,
[code]

I would expect it's valid. The warning is added to detect possible bugs. I'm not sure if it's a real bug that should/could be solved, or if it's the expected behavior.
@Aslemammad Would you please investigate it?

[2021-09-26 09:25] Aslemammad commented on #736
Sure! I'll do.

[2021-09-26 13:00] sxy8469 commented on #728
Yes, but the "react-konva" is required.
I still hope this problem can be solved in the next version

[2021-09-26 13:42] dai-shi commented on #728
But, we don't know what is the problem, thus we can't investigate a possible solution. We would like to fix it for sure. Do you happen to know how react-konva works? Or, can you try to reproduce the issue without react-konva?
Meanwhile, this is a workaround: https://codesandbox.io/s/react-typescript-forked-6dqs8

[2021-09-27 01:41] sxy8469 commented on #728
Thanks,  I temporarily reverted to 1.3.2 version   : )

[2021-09-27 02:57] sxy8469 commented on #728
This problem also occurs when using "@inlet/react-pixi".
It should be caused by using "ReactFiberReconciler"

Example：
https://codesandbox.io/s/react-typescript-forked-wwyru?file=/src/App.tsx

[2021-09-27 03:00] dai-shi commented on #728
We need somebody to help on this.
If anyone is interested or got challenged, please try to create a reproduction of the issue without react-konva.

[2021-09-27 03:03] dai-shi commented on #728
Oh, that's good to know! Then, I guess it would be extremely hard to solve this now.
But, the good new is when React 18 comes, it would probably batch actions, so hopefully it will work.

[2021-09-27 03:16] dai-shi commented on #728
So, given that this is not solvable, my suggestion is to use (read) only the result of `splitAtom`, not mixing with the original arrayAtom (of course, we need to mutate arrayAtom).

Here's the fix: https://codesandbox.io/s/react-typescript-forked-6u6pe?file=/src/App.tsx

Hope it helps.

[2021-09-28 10:06] ptbrowne opened #739 "atomWithHash is initialized asynchronously"
Since atomWithHash is built with `delayInit`, it is initialized asynchronously = it will first have the initialValue and then after mount, will pick up the value from the URL.

My problem is that I am checking inside a useEffect that the value is the initialValue and if this is the case I populate it with values that are fetched from the server. Since initally, the atom *always* have the initialVa

[2021-09-28 14:04] dai-shi commented on #739
Hi! It's great to know that someone is using `atomWithHash`.
Historically, we created `atomWithHash` and then `atomWithStorage` separately.
Afterward, we generalized atomWithStorage, and atomWithHash is re-implemented. (At that point, I felt like dropping atomWithHash from the library and putting it in a recipe in docs.)
`delayInit` was introduce to keep the behavior of the original atomWithHash i

[2021-09-28 14:51] ptbrowne commented on #739
I now understand better the reason, thanks for the details.
It is true that 4 options would be too much, I agree.
I am fine with using atomWithStorage for now, I am going to close since I resolved my issue and I understand the reason. Thanks !

[2021-09-29 08:28] Stackerr opened #741 "useAtom update sync"
hello, I plan to use your module in my project.
but I request that how useAtom update sync.

if I use useAtom for state update, then update state doesn't adjust at time
I know functional update for useState adjust update state at right time.
how can I update data at right time?

anyway, I'm interesting in your module using atom.
context api re-render issue is bad for my project, because I receive

[2021-09-29 13:04] citolen opened #742 "Suspense doesn't resume on derived atom with an async dependency resolving to the same value"
I'm facing an issue where Suspense doesn't resume when the async atom dependency of a derived atom resolves to the same value it had.

Here is a codesandbox highlighting the issue: https://codesandbox.io/s/kev5t?file=/src/App.tsx
By clicking on `fetch data`, Suspense will get stuck even though the underlying async atom has resolved.
The problem seems to occur when the atom resolves to the same val

[2021-09-29 15:25] dai-shi commented on #742
Hi, thanks for reporting.
This can be something we have faced several times and struggled to reproduce stably.

This is a very good finding. ( @aulneau do you think it's the same situation in #702?)

The async part is a bit complicated. Let's create a failing test spec and then investigate deep.
Would you be willing to try modifying your reproduction to be minimal? Reduce code more and still repro

[2021-09-29 15:32] dai-shi commented on #741
Hey, thanks for your interest.

I expect, useAtom works pretty similar to useState in terms of timing.
[code]

Component1 and Component2 should work the same.
Is this different from what you had in your problem?
(or, you may find a possible bug.)

[2021-09-29 15:59] tomhicks opened #743 "Using jotai/utils in v1.3.6 on Next.js app (webpack 5) causes errors in build"
`Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './utils' is not defined by "exports" in /Users/tomhicks/Developer/orbital/webapp/node_modules/jotai/package.json`

Sorry for the pretty vague report.

Here's the extent of my investigation:

## 1.3.3
👍 no build errors 👍

## 1.3.4 onwards
[code]

then later on

[code]

This stops the app from rendering. I reported the first error a while back

[2021-09-29 16:13] dai-shi commented on #743
Thanks. This is helpful. https://github.com/pmndrs/zustand/issues/576 is reported too.

So, this is not the error from Node, but from webpack 5.
Then, my guess is webpack 5 doesn't support "exports" subpath `*` wildcard. Oh, my. 🤦‍♂️
@barelyhuman how do you think we can confirm?

[2021-09-29 16:17] barelyhuman commented on #743
I'll setup dummy projects, and I guess we can't trust CSB with this since it works in a next project there and the same happened for react-ts

[2021-09-30 02:51] tarngerine commented on #683
++ to putting as much mutation logic into writable atoms! it gives a nice separation similar to MVC where jotai atoms handle Model and Controller, and React FC handles View.

these are some incomplete thoughts, but some best practices i've observed in my own work (two spatial tools: https://sprout.place & https://felt.com)

- start your project off putting all your atoms and writable atoms into on

[2021-09-30 03:03] tarngerine commented on #683
on the question of when to use atom/when not to, this is something i've discussed often with my friends — in particular, one pattern i see a lot is how to capture some state from one component and pass it to a newly created component

this specifically comes up in drawing tools type interaction — select a Text Tool, then create a new Text Element. This new Text Element should autofocus — but how d

[2021-09-30 03:49] chj-damon opened #744 "Is there any way that I can get the atom name?"
I defined an atom like this:
[code]

I want to get the atom name, which in the example is `countAtom`, to show some info. But what I get is not the exact name I want.
![image](https://user-images.githubusercontent.com/4902684/135384033-93628cbe-b282-446e-b51c-ee7223af8024.png)

[2021-09-30 03:54] dai-shi commented on #744
I don't think it's possible at JS level.
At the current best, we provide a babel plugin to attach debugLabel.
https://docs.pmnd.rs/jotai/api/babel

[2021-09-30 04:14] chj-damon commented on #744
nice! Thanks for your help. I should read the doc more carefully.

[2021-09-30 04:14] #744 closed

[2021-09-30 05:11] barelyhuman commented on #743
@tomhicks
I'd like to know what version of node you are using and if it's possilble to reproduce this issue on one of the following versions
v12.20.0,  v14.13.0

Thanks

[2021-09-30 07:14] citolen commented on #742
@dai-shi Here is a smaller example that also highlights that it works with the async atom, but not with the derived one: https://codesandbox.io/s/stoic-bhaskara-yd2fg?file=/src/App.tsx

Another thing I've noticed is that it seems to go into an infinite loop, after you've clicked on the button and the Suspense is stuck, I'm getting a Chrome Renderer at max CPU.

I've created a test spec that fails.

[2021-09-30 07:42] dai-shi commented on #742
Nice! Let's start with this failing test. You want to create a PR for adding the test? Or, I can do it if you prefer.
btw, we use simple `await findByText('loading async value')` in our tests. do you think adding `toBeVisible()` is better? what are possible pitfalls?

also, I would like to have `committed.push(value)` in useEffect.

[2021-09-30 07:50] tomhicks commented on #743
I'm using v12.18.3. Let me try on 14...

[2021-09-30 07:57] barelyhuman commented on #743
You could try v12.20 if you don't want to move up to 14

 I need the confirmation since I'm on 16 and on an M1, can't build lower versions..

[2021-09-30 08:23] citolen commented on #742
I believe `findByText` won't be enough to test what we want, it will resolve if what you're looking for is present in the DOM, but it does not check if it's visible.
When `Suspense` is suspended it displays the fallback and sets `display: none` on the content, `findByText` resolves even though the content is hidden because it's still in the DOM which won't be enough to validate the bug has been fi

[2021-09-30 08:28] tomhicks commented on #743
Can confirm all is good on 14.13, 12.20 and 16.

[2021-09-30 08:40] dai-shi commented on #742
Oh, this explains it. Thanks! I guess this behavior is in future versions of React? anyway, I think we should fix all async related tests... Or, maybe everything.

This looks cleaner. I wonder if we have something similar for "visible" one.

---

[code]
☝️ Why you have two patterns? Can the second one in the first form??

[2021-09-30 08:52] dai-shi commented on #743
@tomhicks Thanks!
Could you try #745 codesandbox build with v12.18.3 and how it complains or not?

[2021-09-30 09:24] citolen commented on #742
Possibly, either way I've done it differently on the PR which I hope is clearer.

[2021-09-30 12:48] tomhicks commented on #743
Sorry to be a bit dim, but I'm unsure what to do to try the 745 codesandbox build! I've never used it before and I'm not sure what it's for or what I'm supposed to do.

[2021-09-30 12:53] barelyhuman commented on #743
@tomhicks
We want you to rollback to 12.18
and try to use the below package to see if it warns you about unsupported version

[code]

[2021-09-30 12:54] dai-shi commented on #743
oops, sorry! Please go to: https://github.com/pmndrs/jotai/pull/745#issuecomment-931065012

<img width="666" alt="image" src="https://user-images.githubusercontent.com/490574/135458289-0b24b213-c381-43c3-8006-9817b0b86e46.png">

☝️ Click "here" link

<img width="998" alt="image" src="https://user-images.githubusercontent.com/490574/135458438-bf426aa1-81a2-4809-97ac-4d51a561f483.png">

☝️ Scroll do

[2021-09-30 13:08] tomhicks commented on #743
So...

[code]
❌ Error
[code]

---

[code]
✅

---

[code]
✅

---

[code]
✅

---

[code]
✅

[2021-09-30 13:33] dai-shi commented on #743
Thanks!!! and, that's unfortunate for me..

[2021-09-30 13:35] tomhicks commented on #743
I guess imposing a specific node version isn't a good choice for a library author?!

Anything else I can do to help, please let me know.

I'm a huge fan and advocate for jotai - hope that helps!

[2021-09-30 13:38] dai-shi commented on #743
Yeah, I feel like I should revert the wildcard exports for now. That's really unfortunate.
I don't know if it's really a bad choice, which could really happen and sometimes unavoidable, but the problem of this one is not easy to notice.

[2021-09-30 14:08] barelyhuman commented on #743
Cool, no more touching package.json 😂

[2021-09-30 14:09] tomhicks commented on #743
![image](https://user-images.githubusercontent.com/3647830/135471224-ca2ddb9d-afe3-47c6-bb26-458461e258dc.png)

[2021-09-30 21:02] ahfarmer opened #750 "performant "Jotai Effect""
I've found myself creating components that have a `useEffect()` and return null. The purpose is simply to update jotai state.

For example, here is an effect I wrote that takes a "time" atom and every so often updates a "throttled time" atom, which is updated less frequently and can be used by heavy react components:

[code]

This works great, but the performance is not ideal. React perf tools sho

[2021-09-30 21:50] Pinpickle commented on #742
I just ran into this, made a reproduction sandbox and then found this issue 😅

The linked PR also fixes my issue so that's great!

[2021-09-30 22:37] Pinpickle opened #751 "Chain of async dependencies with immediate resolution causes infinite loop"
This ones a bit weird, here's the reproduction: https://codesandbox.io/s/jotai-crashing-suspend-bug-vsr2b

Basically, it's possible to construct a series of atoms that creates an infinite loop.

[code]

Calling `useAtom(derivedAtom2)` will cause the infinite loop.

From what I can tell, the derived atoms have to be async, but they have to resolve immediately. This is happening in an app I'm workin

[2021-09-30 23:20] dai-shi commented on #751
okay, one issue after another.. Thanks for the reproduction!
Do you think you can create a failing test?
Let me merge #747 as it's good and to tackle this new one.

[2021-09-30 23:21] #742 closed

[2021-09-30 23:22] dai-shi commented on #702
@aulneau Does #747 change anything?

[2021-10-01 10:40] dai-shi commented on #750
A bit of history:
We discussed about "effect" thing in #221 before v1.
The only thing we can't obviously implement is subscription use case, so we added `onMount`.
Minimal API is our philosophy, and the full effect support like recoil is something we wanted to avoid.
So, using "useEffect() and return null" is actually canonical and recommended at this point.

Now, we are working on some refactors

[2021-10-01 13:18] #743 closed

[2021-10-02 03:27] shenhaoguangDayDayUp opened #753 "How to use it in a non-hock environment"
![image](https://user-images.githubusercontent.com/17617821/135702175-db5036b1-b7f4-46d8-8fcd-f70ef93bfd55.png)
![image](https://user-images.githubusercontent.com/17617821/135702198-e7cdf805-a81d-4d2e-ba98-6bb0254af366.png)

[2021-10-02 03:51] dai-shi commented on #753
jotai atom works like `useState`. How would you it with `useState`?

[2021-10-02 11:21] shenhaoguangDayDayUp commented on #753
Yes, there is no way, but how do I achieve the effect I want, this place emits, and another place monitors the change of this value

[2021-10-02 11:41] dai-shi commented on #753
I'm not sure about the debugger in the screenshot, but it has to be global?
useState (as well as useAtom) is not for global variable. So, essentially if you need to read the state value outside React, you would need explicitly bind the state to a global variable.
[code]

Jotai has some integrations to extend this pattern: `jotai/zustand`, `jotai/valtio` and `jotai/redux`.

I don't think these are

[2021-10-03 00:51] shenhaoguangDayDayUp commented on #753
Thank you for your answers, I want like this, for example,
![image](https://user-images.githubusercontent.com/17617821/135735640-e4381c48-ba0c-425c-8a20-d75e4d995da8.png)
and in component  listening value change
![image](https://user-images.githubusercontent.com/17617821/135735658-91ff8bb8-b4fe-4a4f-9f46-1e022783a702.png)

[2021-10-03 00:54] shenhaoguangDayDayUp commented on #753
Thank you for your answers, I want like this, for example,
![image](https://user-images.githubusercontent.com/17617821/135735698-fbcc85aa-ca73-427b-ad16-03cd7fc4bf47.png)

and in component  listening value change
![image](https://user-images.githubusercontent.com/17617821/135735725-a8ad9d59-2af9-4d55-8e03-83d175d9a0bb.png)

[2021-10-03 01:05] dai-shi commented on #753
Okay, as I said it's not possible to do something not possible with useState.

As a workaround, here's a pattern for custom callback on write. (code snippet from https://github.com/pmndrs/jotai/issues/750#issuecomment-932118730)
[code]

And then, something like this:
[code]

[2021-10-04 02:39] eduardodallmann opened #756 "How rehydrate atom?"
I am creating an external component (will be in another package), when using it, the dev passes props.
Inside the component I want to use atoms to not use prop drilling.
How to rehydrate atom when the prop changes? Should I use another utils from jotai that i dont see?

Simulation of what I would like
https://codesandbox.io/s/prop-to-atom-b7y85

[2021-10-04 03:03] dai-shi commented on #756
The first option is useEffect. How does it accomplish your issue?
https://codesandbox.io/s/prop-to-atom-forked-087sh

If it's another package, having a scoped Provider may fit.
If they don't fulfill the needs, combining with useHydrateAtoms might help.

[2021-10-04 11:31] eduardodallmann commented on #756
useEffect solves my problem, but the component has too many props, I dont like to use useUpdateAtom for each atom and then set the prop on the atom in useEffect.

That would be good, or something like that
[code]

[2021-10-04 11:56] dai-shi commented on #756
You could create a custom hook.
[code]

[2021-10-04 14:18] eduardodallmann commented on #756
This is a great idea. I will try to use this here. Thanks for your help.

[2021-10-04 14:18] #756 closed

[2021-10-04 19:43] ricmello commented on #234
Hey guys, what's the current status of this feature? Do you need any help?

I tried to test in a sample project but without success. Here is the sample link:
https://stackblitz.com/edit/react-ts-fnnrni?file=index.tsx

The error thrown is `Cannot read properties of undefined (reading 'subscribe')`.

I tried to pass a Subject, a BehaviourSubject and an Observable but none worked.

[2021-10-04 22:09] dai-shi commented on #234
`atomWithObservable` should be fully working now. Your help is appreciated to test it and improve it (especially, docs and tutorial, and of course finding bugs.)

It requires `<Suspense>`:
https://stackblitz.com/edit/react-ts-2cmvbz?file=index.tsx

I don't see this error. 🤔

[2021-10-04 22:36] ricmello commented on #234
Cool! I'll definitely take a look on it.

In which browser did you tested? I just tested on Safari and it worked so I thought I was going crazy, but now I realized that the problem only happens on Chrome. Both Safari and Firefox works well.

[2021-10-04 22:37] dai-shi commented on #234
I tested on Chrome... 😅

[2021-10-04 22:43] ricmello commented on #234
Oh man! I'm not crazy I swear 😆

<img width="1432" alt="Screen Shot 2021-10-04 at 19 38 56" src="https://user-images.githubusercontent.com/4468451/135934038-7a23133a-98ef-4295-ad9e-0e921d300b83.png">

It doesn't make any sense to me, but now I disabled Chrome's Redux DevTools extension and it worked on Chrome.

[2021-10-04 23:34] dai-shi commented on #234
Confirmed the error with Redux DevTools Extension. Weird. Could be a stackblitz issue?

[2021-10-05 00:52] ricmello commented on #234
I don't think so because the first time that I saw it was testing in my local app. I'll debug it tomorrow.

[2021-10-05 01:03] dai-shi commented on #234
Oh, really. Looking forward to your debug. Thanks for your interest.

[2021-10-05 13:31] meotimdihia commented on #660
Sorry, I don't see the email. This is a pretty important feature from my point of view.
For example, Twitter doesn't push history when you click tabs on the user profile.
![msedge_2021-10-05_20-25-27](https://user-images.githubusercontent.com/300961/136032019-9a0f585b-3aca-45c3-81d8-167ca38fe152.png)

And I think #hashUrl usually is used in this case.
In my case, when users view a gallery that has

[2021-10-05 22:38] dai-shi commented on #660
Thanks for the clarification. It makes sense.

`atomWithHash` is a variant of `atomWithStorage` and provided as history reason.
As https://github.com/pmndrs/jotai/issues/739#issuecomment-929260696, I feel like even dropping it.

But, now you show another use case. Maybe, we try to extend it along with #739.

I can draft a PR. Are you available to test it with codesandbox? (I don't think we can wri

[2021-10-05 23:07] dai-shi commented on #739
https://github.com/pmndrs/jotai/issues/660#issuecomment-934957986 I think we can try supporting options.

[2021-10-05 23:10] dai-shi commented on #739
Please try #758.
Open https://ci.codesandbox.io/status/pmndrs/jotai/pr/758 and find "Local Install Instructions".

[2021-10-05 23:10] dai-shi commented on #660
Please try #758.
Open https://ci.codesandbox.io/status/pmndrs/jotai/pr/758 and find "Local Install Instructions".

[2021-10-06 11:38] dai-shi commented on #739
Yeah, that sounds like the use case of bare `atomWithStorage`.
And, actually we have #485 filed. If you can either contribute to it or share some ideas, that would be great. At the moment, I'm not sure if I understand how you combine hash and router events. There seems something more that I should learn.

[2021-10-06 13:14] ptbrowne commented on #485
Just to add an experience here, we successfully used a modified version of atomWithHash, made directly from atomWithStorage, so that the atom state gets updated when the next route changes, the only change is the subscription to next's router.

[code]

We have to do this because the history.{pushState,replaceState} used by next's router do not fire hashchange events.

https://developer.mozilla.org

[2021-10-06 13:16] ptbrowne commented on #739
I posted there the solution that we use, thanks !

[2021-10-06 14:32] dai-shi commented on #485
It sounds like we can modify #758 a little bit to support this?
(In this case, we don't need to listen to "hashchange" right?)

[2021-10-06 15:27] meotimdihia commented on #660
@dai-shi: Sorry for the delayed reply. I had to fix a lot of bugs today 😅.
I have tried with `yarn add https://pkg.csb.dev/pmndrs/jotai/commit/6b4f4d26/jotai`. And it works well for my website.
I can remove a ton of lines and headaches.

But a problem is remaining: that is atomWithHash behavior.
For example:
[code]
1. when a user goes to album and view page 1-> 9 `/gallery/view/cat-album#page=9`
2

[2021-10-06 15:47] meotimdihia commented on #660
Thanks for the fast reply. These changes a great help for my website.

[2021-10-08 01:58] shenhaoguangDayDayUp commented on #753
Hi,I don’t think you understand my question. In fact, I want to use a method (similar to EventBus), or use jotai, to realize communication and value transfer, "emit" is used in the class, and "on" is used in the component

![image](https://user-images.githubusercontent.com/17617821/136486115-8e2242bb-a81d-4746-9d05-3d1abdc118a3.png)
![image](https://user-images.githubusercontent.com/17617821/13648

[2021-10-08 02:40] dai-shi commented on #753
Jotai atom values only exist in React tree, so you need `useEffect` to communicate with outside React.
Please make a minimal codesandbox to illustrate what you would like to do with `useState` without jotai, and we can discuss how that can be converted with jotai.

[2021-10-08 02:45] dai-shi commented on #751
Pinpickle seems busy. I'm looking into it.
Just found, it works with v0.16.1. https://codesandbox.io/s/jotai-crashing-suspend-bug-forked-fdxii
Maybe not very helpful, but it's something.

[2021-10-08 03:11] shenhaoguangDayDayUp commented on #753
ok .This is demo https://codesandbox.io/s/cocky-lalande-sbx1x

[2021-10-08 03:11] shenhaoguangDayDayUp commented on #753
ok .This is demo https://codesandbox.io/s/cocky-lalande-sbx1x

[2021-10-09 01:22] shenhaoguangDayDayUp commented on #753
Thank you , This is possible,But Can jotai add the scenario I said?

[2021-10-09 03:05] dai-shi commented on #753
You mean the scenario you can't implement with useState? No, it's not possible at the moment. We seek some possibilities in the future, but not sure if it will become to cover something you expect.

[2021-10-09 11:57] #751 closed

[2021-10-14 11:15] #750 closed

[2021-10-14 11:23] dai-shi commented on #695
I'll close this for now as we have nothing actionable now.
We actually want more feedback on `unstable_promise`.
For anyone, please leave comments here, and feel free to open [a new discussion](https://github.com/pmndrs/jotai/discussions/new).

[2021-10-14 11:23] #695 closed

[2021-10-14 11:24] #725 closed

[2021-10-15 11:30] AuroPick opened #780 "atomWithStorage trouble with AsyncStorage"
Hi. I am trying to storage error data with atomWithStorage in React Native.

This is my atom
[code]
and on error I am trying to save it

[code]

but I get this error in console and wait forever

[code]

on ticket send I am resetting it

[code]

jotai: 1.4.0
react-native: 0.64.2

[2021-10-15 13:13] AuroPick commented on #780
Hi thanks for reply.

Delay init fixed my problem.

[2021-10-15 17:20] loganvolkers opened #783 "Recursive AST atoms [Question]"
At SaaSquatch we build a lot of AST editors libraries that edit a homogeneous tree of AST nodes of arbitrary depth. Jotai seems to be a good fit for a lot of the state management use cases, but I'm looking for some guidance on the best way of dealing with recursion.

<details>
<summary>Example JSON for an HTML AST</summary>
[code]
</details>

## Background

## Option 1 - Build and pass atoms

My c

[2021-10-15 21:56] dai-shi commented on #780
That's good to hear.
We should improve the docs to add `delayInit` storage option in atomWithStorage. cc: @sandren

[2021-10-15 22:56] dai-shi commented on #783
Yeah, this is still a field we don't have specific recommendations. Happy to have you on board.

First of all, option 1 is good as written in a guide. I'm not very satisfied with it either because it doesn't feel like jotai's way, and technically splitAtom is super performant. (Don't get it wrong. It should work great. My perspective is from the library implementation.)

Quoting your questions:

U

[2021-10-16 18:35] loganvolkers commented on #783
Option 1 is working, but the boilerplate is a bit cumbersome.

Option 2 would be about reducing prop drilling by being able to access your "in scope" node atom as a statically referenceable constant. It's about simplifying and making the node atom tree (do we say molecule?) statically defined instead of created dynamically.

This is possible for the global scoped atoms. This is possible for node s

[2021-10-16 22:27] dai-shi commented on #783
Then, I'm pretty sure one good solution is: `<Provider initialValues={...}>`.
It's like what you wanted to do with "scope", but with "atom-in-atom" pattern.

[2021-10-17 07:59] dai-shi commented on #783
Oh, you are absolutely right. I was missing that. Then, Provider `scope` might come and play.

[2021-10-17 21:59] loganvolkers commented on #783
Nice!

I'll play around with the API a bit, but I think this does a good job of removing boilerplate, decoupling components and allowing recursion. Hopefully it's also efficient.

[2021-10-17 22:06] loganvolkers commented on #783
Thanks for your help!

[2021-10-17 22:15] dai-shi commented on #783
Good to hear!

This is probably the first time to see the real Provider `scope` use case other than the library use case.

[2021-10-18 06:17] Mingx94 opened #785 "`atomWithProxy` with array did not work as my expect"
[code example](https://codesandbox.io/s/sad-wave-ceqec?file=/src/App.js)

[code]

[2021-10-18 09:21] Mingx94 commented on #785
I'll try

[2021-10-20 11:26] AndrejJurkin opened #789 "[Bug] atom state not found in flush, undefined @ jotai 1.4.0"
Hi, I am currently using jotai version 1.4.0 in ReactNative. My console is spamming the following warning:
[code]
I've seen some older post which was dealing with the same issue on version 0.16.11, and apparently it was fixed since then.

Can anybody suggest what could be the reason for that, please?

[2021-10-20 11:34] dai-shi commented on #789
This log is removed in v1.3.6. https://github.com/pmndrs/jotai/commit/b98f865b9f1342dcf61f88cb282fa3994b827449#diff-e8b16c5dbf90acb3df9a72c2ad370d1d8223b094ee3d50b6277b74894ae8c580L584
Can you make sure which version you are using?

[2021-10-20 11:50] dai-shi commented on #789
I'm not sure what's happening. Would you be able to create a small reproduction with expo snack?

[2021-10-20 11:56] thirafidide opened #790 "Set atom based on other atom changes, but not always derive"
For example, I have a list that derived from several other atoms. I'd like to change the item selected in the list whenever the list changes, but the selected item atom cannot be a derived atom because I'd like to set it manually in other places like user input. For now, I use `useEffect` for this

[code]

But I wonder if it possible to move all the logic into jotai instead live separately in `use

[2021-10-20 12:35] thirafidide commented on #790
Unfortunately using async write atom will only move the `useEffect` usage to set list instead (as the list need to change when other atom changes).

I just wondering if there is pattern for this that I miss, but `useEffect` should be fine for now. Thanks!

[2021-10-20 12:36] #790 closed

[2021-10-20 12:42] #789 closed

[2021-10-24 01:43] LuckyPigeon commented on #449
@dai-shi
Here's my feature summary for `useAtomFamilyDevtools` :
  - [ ] Subscribe to `AtomFamily` and log it if got any change
  - [ ] Subscribe to each `Atom` created by `AtomFamily` and log it if got any change
Did I understand it right?

[2021-10-24 02:21] dai-shi commented on #428
Any updates?

[2021-10-24 02:32] dai-shi opened #796 "Non-hook devtools util"
`useAtomDevtools` is nice, but it is a hook.
In jotai mental model, we'd want it outside React.

Prior art by @aulneau: #575

Now, I think we should revisit it. In non-hook use case, we can't automatically unsubscribe. And, an atom can be used in multiple providers.

[code]

Related: https://github.com/pmndrs/jotai/issues/449#issuecomment-950248452

[2021-10-24 02:43] dai-shi commented on #796
Or, we can enable on mount and disable on unmount. In this case, we don't need to unsubscribe.
[code]

Yeah, this looks more handy. Actually, it has to be, because we need to return a new atom.

[2021-10-25 14:58] ASgmbv opened #801 "Cannot use 'in' operator to search for 'scope' in undefined"
Hi, I faced the following error:

<img width="697" alt="Screen Shot 2021-10-25 at 8 59 26 PM" src="https://user-images.githubusercontent.com/38725027/138720090-f7c5d510-58b7-42ee-b484-59dc2612faea.png">

<img width="632" alt="Screen Shot 2021-10-25 at 8 54 40 PM" src="https://user-images.githubusercontent.com/38725027/138719513-713e5c60-dd48-4564-be04-8f7297a1031b.png">

I am new to the library bu

[2021-10-27 22:46] dai-shi opened #805 "Improve docs for atomWithStorage and persistence"
https://github.com/pmndrs/jotai/pull/394#issuecomment-953346219 @jrobber

- docs/guides/persistence.mdx should explain more about best practices with `atomWithStorage`
- `atomWithStorage` docs should explain how to use non default storage like sessionStorage and AsyncStorage
- `atomWithStorage` docs should explain how to use non JSON.parse/stringify serializer
- `atomWithStorage` docs should expla

[2021-10-30 00:13] ryandi-tiket commented on #805
`delayInit` moved from atomWithStorage option to `createJSONStorage` option? Will it be a backwards compatible change?

[2021-10-30 00:18] dai-shi commented on #805
No, no. `delayInit` stays there. It's just `createJSONStorage` takes an option and transfers the option. It's just a syntax sugar to avoid `{ ...createJSONStorage(...), delayInit: true }`, which you said less ergonomic.

[2021-10-30 14:18] dai-shi commented on #449
#807 may solve atomFamily+PrimitiveAtom use case.

[2021-10-30 16:24] LuckyPigeon commented on #721
After my research, I think we can add these hook as doc recipe, for each recipe we can add an example:

  * `atomWithStorage => useAtom(atomWithStorage(name, initValue)`
  * `atomWithObservable => useAtom(atomWithObservable(fn))`
  * `atomWithReset => [...useAtom(anResetAtom), useResetAtom(anResetAtom)]`
  * `atomWithDefault => [...useAtom(anDefaultAtom), useResetAtom(anDefaultAtom)]`
  * `atomWit

[2021-10-30 16:37] LuckyPigeon commented on #449
We can simply add this in docs

[2021-10-30 22:24] dai-shi opened #808 "devtools: useAtomDevtools to support read-only atoms"
Currently, useAtomDevtools only supports `WritableAtom<Value, Value>`. While this is intentional, we found #807 can't support read-only atoms, technically, because it's not a hook. useAtomDevtools can do, so it would be nice to support `Atom<Value>`. In this case, we can't allow time traveling, so it would need a clear warning message.

[2021-10-30 22:25] dai-shi commented on #449
You mean `useAtomFamilyDevtools`? Well, #807 will not work for read-only atoms.
That said, we can revisit it after #808.

In this issue, let's focus on docs to explain how to use devtools for atomFamily. cc @Aslemammad

[2021-10-30 22:30] dai-shi commented on #721
Sounds good! Please go ahead and add a new file in advanced-recipes. You want to create a codesandbox example for each use case.

[2021-10-31 15:09] LuckyPigeon commented on #721
Above are all for `advanced-recipes/utils`, and for integrations like `optics (focusAtom)`, `immer` ... etc. I think we can use another folder `advanced-recipes/integrations`.

[2021-10-31 22:20] dai-shi commented on #721
@LuckyPigeon I would like to have them in a single file. Like `advanced-recipes/custom-useatom-hooks.mdx`, and have sections for "utils" and "integrations".

[2021-11-01 08:03] dai-shi commented on #796
After working on #807 and discussing with @Aslemammad internally,
we decided to go another route.
The current `devtoolsAtom` has some limitations that I'm not happy with:
1. It only works for `PrimitiveAtom<Value>`. We can't use it for read-only atoms.
2. It doesn't cover multi provider use case. It conflicts and shows combined values in the devtools ext, without any warnings.

I will open another

[2021-11-01 08:03] #796 closed

[2021-11-01 08:22] dai-shi opened #811 "devtools: useAtomsDevtools"
I was hoping #796 (and #807) would be a nice debugging tool and possibly fix #449, which turned out it's not a silver bullet.

So, here's a new idea. `useAtomsDevtools`.
We already have `useAtomDevtools` which is an atomic debugging tool using Redux DevTools Ext. (We'd like to improve it with #808.)
`useAtomsDevtools` is a catch-all version of it. It still uses Redux DevTools Ext, and it might cov

[2021-11-01 21:09] ahfarmer opened #813 "derived atom not updating in specific circumstances"
I have found that derived atoms sometimes do not update in response to changes to atoms that they depend on. The circumstances are very difficult to describe, but I have a short 72-line reproduction of the issue.

In either repro, notice that the `itemBName` atom does not update when the upstream atom is updated.

## Repro Option 1: Stackblitz

You can see the problem on stack blitz if you want. N

[2021-11-01 22:47] dai-shi commented on #813
Thanks for reporting. Wow, nice catch. Seems like a bug...
We should:
- create a test to cover this,
- and then tackle it.

(Can be separate PRs.)

Would @Aslemammad and/or @Thisen be interested in working on this?

[2021-11-02 15:41] Newbie012 opened #814 "Prevent write-only component from unnecessary re-rendering"
I decided to move from recoil to jotai. Surprisingly the transition was smooth, but there's one last thing that I couldn't figure out.

According to the [documentation](https://github.com/pmndrs/jotai#write-only-atoms) the way of using write-only atoms is as follows:

[code]

Which technically is just omitting the actual state. The thing is, it gets re-rendered whenever the value of the atom chang

[2021-11-02 15:52] Newbie012 commented on #814
I'm sorry. I haven't seen [useUpdateAtom](https://jotai.pmnd.rs/docs/api/utils#use-update-atom). I suggest it should be mentioned instead of the example in README.md

[2021-11-02 15:52] #814 closed

[2021-11-02 16:02] dai-shi commented on #814
For `multiplyCountAtom`, it's unlikely that its value changes, so the example in README doesn't have extra re-renders.

[2021-11-03 10:28] Dfurb87 opened #815 "React"
[code]

[2021-11-03 11:44] laclance opened #816 "Derive value on the fly based on dynamic input."
I'm trying to create a global function to get users currency based on atom config but I am not sure of the best way to do it. Below is a simplified example of what I have at the moment but of course because it uses a hook it becomes a problem in certain circumstances like conditional rendering:

[code]

Is there a best practice within Jotai or should I create a custom hook like below?

[code]

[2021-11-03 11:49] Thisen commented on #815
Spam.

[2021-11-03 11:49] #815 closed

[2021-11-03 12:17] dai-shi commented on #816
Your custom hook looks just fine.
Alternatively, you can create an atom that returns a function.
[code]

But, if I were to do this, I would instead try to avoid to use such a function from the ground. Maybe, it depends on your requirement.

[2021-11-03 15:33] Aslemammad commented on #811
Let me work on it now!

[2021-11-07 12:33] #808 closed

[2021-11-08 18:51] ahfarmer commented on #813
@dai-shi @Thisen

Not sure if this helps but I've been looking at this again and found an even simpler repro. The issue seems to be related to doing both of these two things:
1. asyncronous `set()` in `onMount`
2. `useAtomValue()` on an atom and another atom that is doubly derived from it (derived two levels down)

https://stackblitz.com/edit/react-ts-blhqaq?file=index.tsx

[2021-11-08 19:31] Thisen commented on #813
@ahfarmer it's great, thank you for the additional repro. I'm actively looking into it.

[2021-11-08 22:03] dai-shi commented on #813
@ahfarmer Nice work. That should help!

[2021-11-09 11:54] hannojg opened #827 "Changing atom in useAtom returns previous atom's value once before returning the new atom's value"
### Description

When changing the atom used in a `useAtom` the return value will be once the previous atom value (updating the component etc), before changing to the new atom's value. So it causes two re-renders instead of one.

### Reproduction

A full reproduction can be seen here: https://codesandbox.io/s/jotai-useatom-issue-uo0uc?file=/src/App.js

The important code part looks like this:
[cod

[2021-11-09 12:15] hannojg commented on #827
Interestingly this works correctly:
https://codesandbox.io/s/jotai-useatom-issue-forked-ubcfy?file=/src/App.js:552-611

Although, if you change from:
[code]

to

[code]

you can see that it actually causes two re-renders

(I am not sure whether I am lacking understanding of a fundamental react/jotai concept that explains this behavior)

[2021-11-09 12:48] dai-shi commented on #827
Thanks for reporting.
Double renders is not a problem (expected), but double effects is unexpected.
I thought [this test](https://github.com/pmndrs/jotai/blob/b22cb5027414f3b53b1507383f473758f85b8375/tests/basic.test.tsx#L754) covers such a case, but maybe something is different.

That said, at this point, we are not sure if this is fixable, or how it behaves in React 18.
So, the best for now is t

[2021-11-09 12:52] dai-shi commented on #827
@Aslemammad Are you interesting in investigating this issue?

[2021-11-09 14:49] Aslemammad commented on #827
Let's put it in my TODO list!

[2021-11-09 17:45] Dfurb87 opened #828 "### `brew gist-logs <formula>` link OR `brew config` AND `brew doctor` output"
### `brew gist-logs <formula>` link OR `brew config` AND `brew doctor` output

[code]

###

- [X] I ran `brew update` and am still able to reproduce my issue.
- [X] I have resolved all warnings from `brew doctor` and that did not fix my problem.

### What were you trying to do (and why)?

Initiate a VPN connection that previously worked on macOS before Monterey/12.

### What happened (include all

[2021-11-10 03:10] chj-damon opened #829 "Is there any way that I can redo async read on atom?"
[code]
in my page:
[code]

my page will suspend when the promise read is not done.
If I change the refreshKey, the Suspense will be unmount and re-mount again, so the <Dashboard> component will be a new element. but the question is, dashboardAtom will not run again so the Suspense will not work as the first time.

what should I do to make it work, I hope that when I change the refreshKey, my page

[2021-11-10 06:13] qingmingsang opened #831 "How to use jotai/xstate with @xstate/inspect?"
@xstate/inspect with xstate
[code]

@xstate/inspect with @xstate/react
[code]

How to use jotai/xstate with @xstate/inspect?

[2021-11-10 06:41] #831 closed

[2021-11-10 06:42] qingmingsang commented on #831
const counterAtom = atomWithMachine(counterMachine, {
  devTools: true
});

[2021-11-10 08:18] y-shevchenko commented on #828
How do I install this patch?

[2021-11-10 08:40] dai-shi commented on #831
I tried it in my app, but failed to make it work: https://github.com/dai-shi/katachidraw/pull/23
I haven't had chance to investigate it further.

This simple example works: https://twitter.com/dai_shi/status/1430890060723884043

Oh, you already solved it. 👍

[2021-11-10 09:12] dai-shi commented on #829
all atom (async or sync, derived or not) values are store in a provider store. So, unmounting an intermediate component (`<Suspense>` or whatever) doesn't clear the values.

If you want to clear the store, you might want to put `key` to a provider:
[code]

But, this may not be what you want, depending on your requirement.

[2021-11-11 03:22] Sylvenas opened #834 "async initial value"
Suppose I need to randomize a number and display it, but the number must be in the range [min,max], so how should I initialize my `numAtom`?

[code]

[2021-11-11 03:30] dai-shi commented on #834
Can you elaborate the use case a bit?
A canonical answer is `num` shouldn't be changed for each render. (`read` must be pure.)
So, the first thing in mind is:
[code]

[2021-11-11 03:36] Sylvenas commented on #834
What I need to achieve is that when rendering for the first time, I must render the number in the correct range. However, at this time, the initial value of `numAtom` can only be a fixed value, because it is initialized in advance outside the `Number `component

[2021-11-11 03:42] #829 closed

[2021-11-11 03:52] dai-shi commented on #834
Here's one solution:
[code]
Alternatively, you can create an atom in render, but that will then require a way to share the created atom. For example, the atom-in-atom pattern would be like this:
[code]

[2021-11-12 12:54] Froskk opened #836 "splitAtom - creation/deletion of individual split atoms"
Hello. Firstly I'll write out my use case, I may be going about it the wrong way.

I have a todo list, items are first populated from a server request. Each item is fairly complex. I want to be able to add/remove items, and later save the entire list back to the server.

I have tried using splitAtom to create an atom for each item.
Specifically, as I retrieve the inital list of items from a server

[2021-11-12 13:12] dai-shi commented on #836
Hi, it sounds like you are on the right track, and it's a nice idea to add `insert` and `move`.
It's an unresolved issue, or an unresolvable limitation.
#736 is probably related. cc @Aslemammad

I know it might work, even with the warning. the warning is to tell that we are accessing out of bounds and returning undefined which is proper JS behavior.
This is probably a timing issue, but I haven't h

[2021-11-12 13:46] Froskk commented on #836
In fact it was an implementation error on my end: `const next = prev.splice(payload.index, 0, templateAtom);` does not return the spliced array. My bad!

I no longer hit the `out of bounds` error on insertion, only deletion, so it seems everything is working as it should

[2021-11-12 16:42] Froskk commented on #836
I hope it is not a problem to write here about my issues without spending too many hours debugging them.
I seem to have found an issue where my insertion logic is correct (see first image, `item 0` is the newly created item) however the read values from `useAtom` or `useSliceAtom` seem to get overwritten in some way.
![Developer Tools — Planner — http___localhost_3000_mission-planner_edit_org=a ev

[2021-11-12 18:09] Froskk commented on #836
https://codesandbox.io/s/adoring-tree-q6sl8?file=/src/App.tsx

At this point I believe I'm doing something wrong regarding React keys, atom ID's and the whole nature of re-ordering data, but here is a reproduction. My small tweaks to `splitAtom` are found in jotai-fork/splitAtom, the utils file in there is just internals that splitAtom depended up, copied directly from jotai's source.

[2021-11-12 22:35] dai-shi commented on #836
Before looking into it, may I confirm the current status? So, you don't have any issue with the released splitAtom, and you are trying to add "insert" feature in your fork which doesn't work as expected, something like that?

[2021-11-13 07:42] Froskk commented on #836
Yes, that is correct. Apologies for not being more clear. Both new methods I have added, `move` and `insert`, call `set` with the correct updated array of atoms. However, `useAtom` and `useSliceAtom` called with the splitAtom do not seem to update correctly

[2021-11-13 08:04] dai-shi commented on #836
Looked at the codesandbox. Yeah, it can probably be a potential bug. But, I'm not so sure.

[2021-11-14 21:58] nicmeriano opened #838 "Atom state setter is of type never when initial value is null or undefined"
When initializing an atom with `null` or `undefined` the returned setter has a type of `never`, which makes typescript unhappy whenever I try to invoke it to update the state.

[code]

I'd be happy to look into it if needed.

[2021-11-14 22:24] dai-shi commented on #838
related: #802 and #550

I assume you are in the non-strict mode. (which isn't supported... unfortunately.)

See this for workaround: https://github.com/pmndrs/jotai/issues/802#issuecomment-951732589

[2021-11-15 01:00] nicmeriano commented on #838
Ah yes, although not ideal enabling `strictNullChecks` does seem to solve the issue. Thanks!

[2021-11-15 04:02] dai-shi commented on #838
Yeah, it would be nice if it can be supported without too much hustle. We have tried it in #550, but anyone can try if they want to be challenged.

Closing this, but this has been reported three times, so it's worth considering to add a note in docs.

[2021-11-15 04:03] dai-shi commented on #838
Maybe, leave it open for a while.

[2021-11-17 10:41] Thisen commented on #828
No idea what this has to do with Jotai, closing it.

[2021-11-17 10:41] #828 closed

[2021-11-18 06:42] dai-shi commented on #813
@ahfarmer It was a fundamental bug in the core logic. Thanks tons for reporting this.

[2021-11-18 06:45] Thisen commented on #485
You can find how to sync with the Next.js router: https://jotai.org/docs/guides/nextjs#sync-with-router
With this, you can even control which router event you want to listen to.

Closing.

[2021-11-18 06:52] csantos-nydig opened #840 "Question about different ways to access atom data"
I'm amazed by this library. it's so simple to use!

As I'm getting familiarized with this library, I'd like to know what should be the right approach to read deep level of an atom, like this one:
[code]

I've multiple approaches, but I can't really identify which one is the right way to do it (most performant)

[code]
or
[code]
or
[code]

[2021-11-18 07:06] dai-shi commented on #840
yay!

Thanks for asking. I think this kind of things are worth documenting, docs or tutorial.

This is not recommended. It will extra re-render if only `open` changes.

This is recommended. Jotai way. `ids` should be defined outside in this case, which is recommended.
In case you want to inline the atom definition, use `useMemo`.
[code]

This works. Performance-wise, it's basically the same as the

[2021-11-18 07:10] csantos-nydig commented on #840
Thanks for the quick reply and the detailed explanation! you saved me a lot of re-renderings! (I was gonna do `const useIds = () => useModal().ids;`)

Please feel free to close this one, or keep it open as "documentation".

Thanks again

[2021-11-18 07:26] dai-shi commented on #840
Closing this, but documentation is something we should focus on. cc @sandren @aulneau @Thisen @Aslemammad

[2021-11-18 07:26] #840 closed

[2021-11-19 08:41] #813 closed

[2021-11-19 11:37] Sylvenas commented on #834
Thanks for your help, the first option is clearer and easier to understand, I will use it and this issues can be closed.

[2021-11-19 11:42] dai-shi commented on #834
Yeah, the second one doesn't make much sense in this specific case. Closing.

[2021-11-19 11:42] #834 closed

[2021-11-20 07:11] Aslemammad commented on #827
Let me write my report here about what I've found.

The updates weren't synced with the effects, so I tried to synchronize them using the #761 solution, and synchronization worked.

Even though the issue wasn't non-synced renders (maybe it's part of the issue), the problem is more about scheduling.

https://github.com/pmndrs/jotai/blob/759ee14ecab42dce869b49d7660aac2e8ec53729/src/core/useAtom.ts#L

[2021-11-23 13:34] dai-shi commented on #827
This is interesting. It feels like a bug in useReducer, because the first click works expected (one commit), but the second click causes dual commits. tested with #841 tests.
I think you can reproduce the weird behavior without jotai.

That said, even if it's a bug in useReducer, we'd want to fix the problem with the current version. I will add a commit to #841 for a workaround.

[2021-11-24 10:46] #827 closed

[2021-11-26 09:03] qingmingsang opened #848 "How to use jotai/xstate with @xstate/immer?"
it dosen't work
[code]

[2021-11-26 12:27] dai-shi commented on #848
Hmm, there can be a bug, but can't tell.
Would you be able to create a minimal possible reproduction with codesandbox?

[2021-11-26 14:00] #420 closed

[2021-11-26 14:05] Thisen commented on #816
Closing, seems like @dai-shi answered the question. @laclance, feel free to open a discussion, if you have more questions.

[2021-11-26 14:05] #816 closed

[2021-11-27 03:37] dai-shi commented on #827
It turns out that there was a misunderstanding of mine. I thought changing the reducer reference results in the re-evaluation, but how it behaves seems correct. So, #841 is not a workaround, but a correct solution.

[2021-11-28 12:02] cyphercider opened #853 "Using a "setter" in an async read function on first use?"
Thanks for your continued work on jotai - this library is amazing!

I am trying to create a hooks library that returns a complex object.  The object requires some initialization before it can be first used, and I'm wondering if there's a way to use async getters to make this setup really transparent to the library user.  Would something like this be possible:

[code]

[2021-11-28 12:13] cyphercider commented on #726
Hi @dai-shi , I noticed this in the docs...  Is there a place in the docs that explains behavior since 1.4?  Thank you!

![image](https://user-images.githubusercontent.com/17109209/143767221-bec3cc48-6977-472b-b6b0-b6832adcf778.png)

[2021-11-28 12:15] dai-shi commented on #853
The read function has to be "pure".

If it's really for the first mount, `onMount` may help. Otherwise, `useEffect`.
In your case `useEffect` would be good.

[code]

Alternatively, `atomWithDefault` in `jotai/utils` may work for some similar use cases.

[2021-11-28 12:16] dai-shi commented on #853
Although different, #834 is a similar discussion.

[2021-11-28 12:19] dai-shi commented on #726
https://github.com/pmndrs/jotai/releases/tag/v1.4.0
Basically, the new behavior is it doesn't do anything for suspense.

[2021-11-29 07:17] qingmingsang commented on #848
@dai-shi

[codesandbox demo](https://codesandbox.io/s/xstate-immer-counter-forked-9hwbu?file=/src/index.js)

[code]

[2021-11-29 08:02] dai-shi commented on #848
If you mean about an extra re-render without a commit, it's an expected behavior.
https://codesandbox.io/s/xstate-immer-counter-forked-m1o3u?file=/src/index.js
(There may or may not be some optimizations for it, but it's not a priority.)

If you mean about avoiding a commit when resetting to `0` from `0`, it will be challenging, because it seems xstate returns a new object.
This will be one approa

[2021-11-29 09:31] qingmingsang commented on #848
thx, this is very helpful.

[2021-11-29 09:32] #848 closed

[2021-11-30 09:23] dai-shi opened #858 "Improve docs: split api/utils section"
It's way too long.

[2021-11-30 09:35] dai-shi opened #859 "Drop deprecated atomFamily types"
https://github.com/pmndrs/jotai/blob/c6d0a8041dbbd9f5bcb08d6b591195e8e6860c39/src/utils/atomFamily.ts#L16-L30

According to @aulneau , this can cause some other types to mark as deprecated.

[2021-11-30 09:37] dai-shi opened #860 "Add more type tests"
where do we start?

[2021-11-30 09:40] dai-shi commented on #728
@Thisen We might be interested if #854 changes the behavior. Otherwise, we can close this as `wontfix`. Or, you can dig into it. I'm happy if you rebuild `splitAtom` from scratch.

[2021-11-30 09:44] dai-shi commented on #836
@Thisen If you get a deeper understanding of `splitAtom`, you should be able to help on this. This would be a nice enhancement. As I said somewhere, I'm not very confident if the current `splitAtom` implementation is ideal, so you can try to re-implement. It's challenging. We have a fairly good set of tests, and of course you can add more tests.

[2021-11-30 09:47] dai-shi commented on #570
@Aslemammad Althought this is marked `on hold`, feel free to continue the investigation. Especially, #854 might change some behaviors.

btw, recoil is v0.5 now.

[2021-11-30 09:51] Thisen commented on #860
@dai-shi I think we should look into the core API (atom and useAtom) and then atomFamily, as we had some issues with the deprecated types. From there, we can fan out and split it into chunks.

We should probably also start adding type tests to new APIs.

What do you think?

[2021-11-30 11:06] dai-shi opened #861 "[RFC] unstable_createStore"
If #854 is successfully merged, we would like to consider exposing `unstable_createStore`.

[code]

[2021-11-30 11:14] dai-shi commented on #860
To be honest, I'm curious how the tests look like. So, if you start something small, that will be super helpful.

[2021-11-30 18:31] Thisen commented on #860
We already have some here:
https://github.com/pmndrs/jotai/blob/main/tests/types.test.tsx

[2021-11-30 21:32] dai-shi commented on #860
Oh, yes, then what do you mean by "we should look into the core API (atom and useAtom)"?

[2021-12-01 06:45] Fiv5 opened #863 "I'm not sure whether jotai should as peerdependencies?"
Same like react-redux.

[2021-12-01 09:57] Thisen commented on #863
Can you elaborate more about your use case?

Two answers comes to mind based on different use cases:

- Using Jotai for an application:
  - It should be a part of your `peerDependencies`.

- Using Jotai for a library:
  - If you are developing a library, where you expect the user of your library to also use Jotai, it should be a peer dependency.

If this doesn't answer your question, do elaborate

[2021-12-01 10:29] a-eid commented on #861
would it also be possible to set an atom value from outside react ?

[2021-12-01 10:36] dai-shi commented on #861
Yeah, that's the plan. Updated description.

[2021-12-01 11:45] a-eid commented on #861
@dai-shi that would be amazing.

[2021-12-01 12:33] mfbx9da4 opened #864 "Write to a store without `useAtom`"
Often I just want to set the state without using a hook e.g.

[code]

 Can I use `foo.write(...` to do something similar?

[2021-12-01 12:46] dai-shi commented on #864
No, because `foo` doesn't have values. [An example](https://twitter.com/dai_shi/status/1447892237753278466). The atom definition is reusable.

See also #861.

[2021-12-01 13:03] mfbx9da4 commented on #864
Hmm i see

[2021-12-01 13:03] #864 closed

[2021-12-01 18:33] Thisen commented on #863
Major typo from my side! Thanks for pointing it out. Updated my comment.

[2021-12-02 03:22] Fiv5 commented on #863
Thanks! I will use jotai to develop my library.

[2021-12-02 03:22] #863 closed

[2021-12-03 05:24] loganvolkers commented on #861
This would be great!

It would let us use jotai with lit, haunted, and stencil via https://github.com/saasquatch/universal-hooks

[2021-12-03 21:32] Dfurb87 opened #868 "trigger -> https://github.com/opencontainers/image-spec/pull/809/files#r667082904"
trigger -> https://github.com/opencontainers/image-spec/pull/809/files#r667082904

discoveries:
- https://github.com/opencontainers/image-spec/pull/711
- https://github.com/opencontainers/image-spec/pull/492
- https://github.com/opencontainers/umoci/blob/07fa845e5b068dee64dcbf391b456a564a6fcfa6/oci/config/convert/runtime.go#L32-L42

I think this section of conversion of `Config.labels` to some `an

[2021-12-04 11:19] Thisen commented on #868
Closing.

[2021-12-04 11:19] #868 closed

[2021-12-04 22:38] neckaros commented on #485
this only sync the hash? what if what i want to sync to is part of the route? e:
one of my route is /server/xxxxx/library/yyyyyy.
so directory structure is /server/[server]/library/[yyyyy]
with useRouter xxxxx will be under router.query.server and yyyyyy under router.query.library.

I'm not sure how to get that. I looked at the code of useAtomHash but you are parsing the URL where i would need to

[2021-12-04 23:30] dai-shi commented on #485
Good point. I actually wondered about it once.
Maybe we need a dedicated util for nextjs, or maybe just a doc.
@Thisen What's your opinion?

[2021-12-04 23:58] dai-shi commented on #309
@aulneau Any plan for this? If nobody needs such a feature, let's close this issue. I created this issue, just assuming there's a use case.

[2021-12-05 08:41] Thisen commented on #485
It's a good point. Lets reopen, since it's a valid issue.

[2021-12-05 09:44] Thisen commented on #485
@neckaros can you elaborate about what kind of API you are looking for?

[2021-12-05 14:55] neckaros commented on #485
i think it should be very close to AtomWithHash to avoid adding another way of doing atom.

NextJS and non NextJS often use parameters in query (or "Search Params" officially i think) of the url (https://xxxxx/test?param1=value1). they are in Location.search.
NextJS store the path elements and the Search Params in the query parameters of the NextJS router.

An AtomWithSearchParams could be usefull

[2021-12-05 15:13] dai-shi commented on #485
You would need `location.pathname` too?
Anyway, I think we could build `atomWithLocation` like `atomWithHash`.
If we factor out the subscription option, we can provide it independent from nextjs. And the query getter option. (Hm, the impl can be simple. We could use atomWithStorage directly. In this case, it's a doc matter.)

[2021-12-05 17:04] neckaros commented on #485
I'm not sure i have been clear:

In NextJS i have a forlder structure like this
/pages
   /server
   [serverid].tsx
       /library
       libraryid.tsx

so i can see the page for a specific server and library at:
//xxxxx/server/server1/library/library1?param1=value1

We know Search params are what comes after the ?:
(//xxxxx/server/server1/library/library1?**_param1=value1_**)

Path name like you

[2021-12-05 17:09] neckaros commented on #485
In fact i was importing
[code]
which did not have the necessessary informations.
[code]
has the query property. I will try to do a code inspired from AtomWithHash to code this

[2021-12-05 18:06] neckaros commented on #485
Well i put together a version that work for get and set. But i know Jotai since yesterday so i took some shortcut and my implementation might be very very bad :(

I pass the router as an argument to avoid adding a dependency to utils

some shortcuts:
I assume value is string but could be a string array. Need to check the type and act accordingly (in get and set)
Not sure why my value was not initi

[2021-12-05 21:37] neckaros commented on #234
What do you think about a version of this utility without Promise but with an initial value provided? For people who don’t want to use experimental Suspense yet?
At least that the only use of promise I understood from the code for this utility

[2021-12-05 21:49] dai-shi commented on #234
`atomWithObservable` with initial value to avoid suspense? That's possible. We did something like that in `atomWithQuery` in `jotai/query`. Would you like to open a new issue for tracking?

For this specific purpose, we have `loadable`.

[2021-12-05 22:02] dai-shi commented on #485
wow, it looks like a good start. are you sure you started jotai just yesterday?

[2021-12-06 07:56] neckaros commented on #485
That's just the sign of a great library 😊

i think i fixed my shortcut and it's now strongly typed.
It works with string and string[] as expected from router.query
The set: if value is part of the path it update the path, if not exising or path of the search params it set it (example for a search params if you set ['test','test2'] in an AtomWithRouterQuery with key 'value' your url would be: ..../

[2021-12-06 10:19] neckaros commented on #672
found this by chance but it's so great!! 💝

[2021-12-06 11:14] neckaros opened #874 "get() inside an async atom used with loadable does not do a distinct"
i have `libraryAtom` atom wathcing part of my url to get the current libraryId.
I have a second async atom, `tagsAtom` that depends of this previous atom to do a request with the libraryId.
When i change page `libraryAtom` get set to the exact same value (=== return true) so i do not expect `tagsAtom` to rerun but it does.

I tried to replicate in the demo sandbox. And indeed setting the same valu

[2021-12-06 11:26] dai-shi commented on #672
@Pinpickle Hope you get time for it. We have now docs in the same repo.

[2021-12-06 11:34] dai-shi commented on #874
You are trying with a very old version of the library. (I know the demo is using it.)
This is with the latest one: https://codesandbox.io/s/jotai-demo-forked-ko9m9

An extra re-render without commits is an expected behavior. Simply put, it's something to work better in concurrent rendering.

[2021-12-06 11:54] neckaros commented on #874
My bad you are right.
I update the dependency and this simplified exemple does not reproduce my issue. It seems to happen as soon as i use `loadable`
i _upgraded_ my sandbox and i'm able to reproduce my issue: https://codesandbox.io/s/jotai-demo-forked-2g4s4?file=/src/App.js

[2021-12-06 12:06] dai-shi commented on #874
Yeah, this is expected with the implementation of `loadable`.
This example may show how it's working: https://codesandbox.io/s/jotai-demo-forked-idt0v?file=/src/App.js

If you want to avoid rendering when only state changes, you could use `selectAtom`.

[2021-12-06 12:59] neckaros commented on #874
Thanks for your help, i will look into the loadable code.
The problem is not with the re-rendering but more with the re-fetching. I want to minimize fetch call.
More over the user will still loose the already loaded content. For example i edited my sandbox with and async sleep and the content for the fetched page is no longer available for the time of the sleep-fetch if i click the hello button

[2021-12-06 13:30] dai-shi commented on #874
Oh, that was my misunderstanding. And, yes it looks like an issue in `loadable`. With Suspense, it won't re-fetch. I thought #857 did something wrong, but v1.4.5 behaves the same, so it's from the beginning. Not sure instantly if this is fixable or not.

[2021-12-06 15:53] neckaros commented on #874
you are right that we don't have the issue with Suspense, but unfortunately i can't use Suspense with NextJS yet.

I tried to understand what is causing the re-fetching (re execution of the async read) but so far I failed 😨

[2021-12-06 21:15] Pinpickle commented on #874
This appears to be due to atoms derived from async atoms, not just loadable atoms - so I think it's a core issue? It's odd that a derived atom causes the upstream dependency to recalculate.

Reproduction: https://codesandbox.io/s/jotai-demo-forked-y58e3

[2021-12-06 23:06] dai-shi commented on #874
@Pinpickle Thanks for the repro! Oh, it seems a core bug...
I can even reproduce it without async: https://codesandbox.io/s/jotai-demo-forked-cucwg

[2021-12-07 00:44] ManuRodgers opened #876 "when to use jotai and when to use zustand?"

[2021-12-07 00:52] dai-shi commented on #876
If you want to use module state outside React, zustand and valtio.
If you want a replacement for useState+useContext, jotai.

A module state is a singleton, but jotai's atoms are not.
Ref: https://twitter.com/dai_shi/status/1447892237753278466

That said, zustand and valtio can use context optionally, and jotai might be going to have an _experimental_ feature #861.

[2021-12-07 00:55] ManuRodgers commented on #876
thanks mate

[2021-12-07 00:55] #876 closed

[2021-12-07 07:20] dai-shi opened #877 "[core] dependency tracking fails with derived chains"
Split from: https://github.com/pmndrs/jotai/issues/874#issuecomment-987338240

Repro with sync atoms
https://codesandbox.io/s/jotai-demo-forked-cucwg

Repro with async atoms
https://codesandbox.io/s/jotai-demo-forked-y58e3

[2021-12-07 07:21] dai-shi commented on #874
I filed #877 to track the core issue. This issue is to focus on `loadable`. We hope if we resolve #877, this is resolved.

[2021-12-07 22:12] Thisen commented on #874
@neckaros, can you try out the build in #878? I can't reproduce with that build.

[2021-12-07 23:12] #877 closed

[2021-12-09 03:51] fzembow opened #882 "Synchronize atomWithStorage across tabs with "storage" event"
I've noticed that using `atomWithStorage` util, across two tabs of the same origin, with the same key, does not synchronize the values.

Synchronization would be relatively simple to implement by listening to the [storage event](https://developer.mozilla.org/en-US/docs/Web/API/Window/storage_event) on the window and updating the atom's value if the localStorage changes at the same key.

Of course,

[2021-12-09 04:12] dai-shi commented on #882
atomWithStorage takes custom storage option. would you try to implement what you want with it? looking at atomWithHash implementation might help.

[2021-12-09 13:59] fzembow commented on #882
@dai-shi I'll try that out. I'll make a gist and then you can decide whether it's a change that should be added to the project or not.

Perhaps there are too many implementation details here to warrant placing it in the main project (such as what should the equality function be, since any JSON object can be stored in localStorage, and some folks might want deep or shallow comparison).

However, fr

[2021-12-09 15:42] xadh00m commented on #683
I´m wondering how to model the lifecycle of atoms.

Using React contexts all contained state (e.g. in useState hooks) is removed as soon as we stop rendering the context provider. This comes in handy if you have an app with two pages where one page e.g. needs a websocket connection to the backend (and some additional state) which can be wrapped up in a `Page1Context` and a completely different con

[2021-12-09 19:17] fzembow commented on #882
That's straightforward enough to implement as a custom storage! See below.

[code]

Let me know if you'd like me to make a PR to include this as a util: we'd need to change the `StringStorage` and `AsyncStringStorage` types to allow for a "subscribe" as well, since effectively you can subscribe to localStorage changes (just like you do for the implementation of the hash storage).

[2021-12-09 23:06] dai-shi commented on #882
Can this be a default behavior for localStorage? (I don't want to add too many different features.)
@sandren What do you think?

---

I'd change createJSONStorage to accept options in the second argument like `subscribe` and `delayInit`.

(ah, I found a bug in `createJSONStorage`... `setItem` doesn't return a promise on async.)

[2021-12-10 02:48] langtube commented on #861
Is it possible to release an alpha version now?