[2021-12-10 03:35] dai-shi commented on #861
Please give us more time. It's still RFC. It's actually helpful if you can note why you need it. (And, maybe we can discuss current possible workaround.)

[2021-12-10 04:47] langtube commented on #861
Sorry, didn't mean to rush, just hope to use this feature soon.
In my case, I need to perform transient updates, similar to this one: https://github.com/pmndrs/jotai/discussions/610

[2021-12-10 04:54] dai-shi commented on #861
So, your commend is valuable, because this doesn't allow transient updates. `store.set()` will trigger re-render.

[2021-12-10 05:13] langtube commented on #861
Oh, it's a lucky thing I replied. I usually just read and don't reply because my English is not good.

Related Codes:
[code]

[2021-12-10 05:45] dai-shi commented on #861
jotai doesn't have a proper way for transient updates.
In some of utils, we do have a hack,
https://github.com/pmndrs/jotai/blob/685c8dc84e0ba7093af900a72d0bc14a37a09371/src/utils/selectAtom.ts#L15-L16
but it's not something to recommend, and hope to revisit this in the future.

I guess we should keep the mutable store outside of jotai, and jotai atom only keeps an identifier to it. Like, atom/use

[2021-12-10 06:07] dai-shi commented on #683
Even if atom configs are defined at module level, they don't hold values. It's `<Provider>` that holds values. Essentially, it's just based on React Context. Please try using Jotai's Provider where you would use React Context Provider.

[2021-12-12 12:39] dai-shi opened #885 "[RFC] useAtomValue and useSetAtom APIs in core"
When we designed the API, we wanted to make it small and the core provides only three functions: `atom`, `useAtom`, and `Provider`.
Later, `Provider` becomes optional.

Now, we have `useAtomValue` and `useUpdateAtom` exported from `jotai/utils`.

Implementation-wise, having them in core makes more sense.

We want to keep claiming that jotai has small API surfaces, but adding those two in core shou

[2021-12-14 00:17] #858 closed

[2021-12-14 07:05] dai-shi commented on #885
@Thisen No rush. It will still take time. The src part is trivial. The docs part is bigger.

[2021-12-14 07:07] Thisen commented on #885
Of course, docs needs to be updated aswell 👍🏼

[2021-12-14 09:04] langtube commented on #861
I found that zustand/vanilla can be embedded nicely in jotai. And its code is very clear.

Jotai's code is a bit larger. I don't know what's preventing it from implementing transient updates yet.

[2021-12-14 15:19] dai-shi commented on #861
zustand and jotai are based on different models. (otherwise, we wouldn't develop jotai.)
Jotai is trying to be useState replacement. Transient updates are not React-ish. Basically, it's just reading a mutable variable in render, which can lead tearing in concurrent rendering.

[2021-12-15 07:45] worldeggplant opened #891 "React Refresh Babel plugin causes unexpected behaviour in atoms returned from functions"
I was pulling my hair out when trying to get `atomWithStorage` to work (with Expo's SecureStore in a React Native context).
The issue I was having was that no matter which atom I updated, all `atomWithStorage` atoms would receive the same value – that of the first atom created.
The occurrence started at a (seemingly) random time at first, but after creating a completely blank project I was able to

[2021-12-15 17:38] neckaros commented on #874
sorry @Thisen i missed your message. Perfect this build fix the issue! thanks!!

[2021-12-15 22:38] dai-shi commented on #891
@Thisen ?

[2021-12-15 22:40] dai-shi commented on #874
It's released as https://github.com/pmndrs/jotai/releases/tag/v1.4.7.

[2021-12-15 22:40] #874 closed

[2021-12-16 06:46] Thisen commented on #891
@worldeggplant thanks for the issue and reproduction, this is definitely a bug in the Babel plugin.

I'll look into it.

[2021-12-16 12:03] xadh00m commented on #683
@dai-shi Thank you for the tip. I wasn´t aware of the tight coupling with React Context. This makes sense especially for bigger projects.

Does Jotai require a _[context bridge](https://github.com/pmndrs/drei#usecontextbridge) _ for _react-three-fiber_ ?

[2021-12-16 12:19] dai-shi commented on #683
If we use a default store (called Provider-less mode), then we don't need the context bridge (and we don't get much benefit from Context either).

If we use a Provider, it doesn't work with r3f. (we once provided a context bridge function, but removed before v1.)
For the future, hopefully #861 will be a solution in such use cases.

[2021-12-16 13:26] dai-shi commented on #736
@Aslemammad If you have a chance, feel free to investigate it.

[2021-12-16 13:39] Aslemammad commented on #736
sure, it's in my TODO list after useAtomDevtools.

[2021-12-17 01:58] chj-damon commented on #683
I didn't get a good idea about dealing with other hooks from third-party libraries, such as react-navigation.
for example, I need to do some logic and then navigate to other screens. I can use `const navigation = useNavigation()` which `useNavigation` is a custom hook from `react-navigation` library. I can do this in custom hooks, but as we discussed above, If we write all these logic in derived a

[2021-12-17 01:58] chj-damon commented on #683
@dai-shi maybe it's better to transform this issue to discuss.

[2021-12-17 08:29] SquirrelJimmy opened #897 "`useAtom` has something wrong when dynamic return an `atom`"
Example:
[code]
atomWithStorage:
[code]
when `useEffect`:
[code]
something goes wrong:
![image](https://user-images.githubusercontent.com/24666536/146513402-3a58921e-d8b2-4c05-a9c3-fcca7614a6b2.png)
infinity update!

at `useAtom`:
[code]

[2021-12-17 09:10] dai-shi commented on #897
As far as I remember, the implementation was intentional, but infinite loop is something we should fix. Can you create a **minimal** test case?

[2021-12-17 10:28] SquirrelJimmy commented on #897
click this: https://codesandbox.io/s/pensive-joliot-sm324

[2021-12-17 10:30] SquirrelJimmy commented on #897
under `1.4.4` have no problem

[2021-12-17 11:40] dai-shi commented on #897
Cool. So, it's likely #841 causing this.

Would you like to keep investigating on it? (otherwise, @Thisen might be interested working on it.)

[2021-12-17 12:02] dai-shi commented on #897
Okay... I just encountered this issue while I'm working on [katachidraw](https://github.com/dai-shi/katachidraw) and updating jotai. 😱 Yeah, it's a fatal bug.

[2021-12-17 12:47] dai-shi opened #899 "[docs] add "composing atoms" in "guides""
To show something like this:

[code]

[2021-12-17 12:49] dai-shi commented on #899
Should we put this one? I think it's too hacky.
[code]

[2021-12-17 13:02] dai-shi commented on #897
@Thisen Feel free to work on it as this is such an unexpected regression. If nobody starts working on this, I will.

[2021-12-17 22:53] Pinpickle commented on #672
@dai-shi I haven't forgotten this, just super busy at the moment. If this isn't done by the time I get some time to do so, I certainly will!

[2021-12-20 04:44] SquirrelJimmy commented on #897
[code]
`Object.is` is terrible

[2021-12-20 04:55] dai-shi commented on #897
No, it's just emulating the default useReducer behavior (they use react.is or something). This is not the source of the problem. We never use deep equal.

[2021-12-20 05:10] SquirrelJimmy commented on #897
if verson is greater than `1.4.4`
[code]

[2021-12-20 07:11] dai-shi commented on #897
Oh, cool. Let me create a test with this. @Thisen might have already worked on it, but this is such an important issue, so both of us can work on it.

https://github.com/pmndrs/jotai/blob/4721203bc0a1b2a8c53f0b41e5569740ee392fc5/src/core/useAtom.ts#L76

I'm pretty sure this `forceUpdate()` is causing the issue. If we don't find a solution, we could technically revert #841 (meaning comment this lin

[2021-12-20 07:51] dai-shi commented on #897
[code]

Hmmm, this doesn't fail in tests. Is this issue specific to CJS build? 🤔

[2021-12-20 09:10] dai-shi commented on #897
https://codesandbox.io/s/sharp-star-l2y15?file=/src/App.js
Ah, this doesn't repro either. We are missing something else.

[2021-12-20 09:32] dai-shi commented on #897
Okay, this is more complicated than my expectation. Commenting out `forceUpdate` doesn't fix.
Just committed the failing test in #900.

[2021-12-20 09:35] dai-shi commented on #897
Interesting enough, the test passes on React 16.8.6. (maybe with some bugs?)

<img width="492" alt="image" src="https://user-images.githubusercontent.com/490574/146745319-47772b7e-5100-4573-957a-3d147db73d1b.png">

[2021-12-20 09:58] dai-shi commented on #897
Oh, I misunderstood something completely. jotai v1.4.6 has no issues, and v1.4.7 has the issue. So, this is due to my refactors. I'll work on it.

[2021-12-20 11:03] #897 closed

[2021-12-20 12:15] Ynewtime commented on #897
Hi @SquirrelJimmy have your issue been resolved?

After upgrading to 1.4.7 I falled into the same rabit hole and fix the version in 1.4.4 to resolve it. I wanna share a reproduction but cannot since my project is inside of my company and I cannot figure out a way to reproduce it neigther since the project is quite a large codebase.

I am happy to see 1.4.9 been released and head to try it but it g

[2021-12-20 12:37] birdview-HongKi opened #902 "[docs] links is 404 page in /docs/api/utils.mdx"
Links of [/docs/api/utils.mdx](https://github.com/pmndrs/jotai/blob/main/docs/api/utils.mdx)  is 404 page.

maybe adding '.mdx' to all links will solve it.

When i search by regex (`\[.+\]\(\.\..+\)`). only /docs/api/utils.mdx file issues.

May i write Pull Request this issue?

[2021-12-20 12:40] dai-shi commented on #902
Thanks. Please go ahead.

[2021-12-20 12:42] dai-shi commented on #902
Oh, wait. You mean the link in github?
That will be addressed later. For now, please see https://jotai.org.

[2021-12-20 12:46] dai-shi commented on #897
Oh, no... It would be so nice if you find a way to reproduce the issue.

[2021-12-20 12:52] dai-shi commented on #897
@Ynewtime Just a quick confirmation. Does v1.4.6 work without any issues?

[2021-12-20 12:59] birdview-HongKi commented on #902
@dai-shi Oh! You didn't need it! Thanks for the feedback!

I will close this issue!

[2021-12-20 12:59] #902 closed

[2021-12-20 14:08] Ynewtime commented on #897
Emm... no. When I upgraded to 1.4.7, the 'Maximum update' bug happened and I checked the recent release of Jotai, couldn't find out the reason behind the issue so I tried revert to 1.4.6, then 1.4.5 and then 1.4.4 fix the issue.

I think my issue is related with `selectAtom`, here is the reproduction link:

https://codesandbox.io/s/amazing-brook-bxr8i?file=/src/App.js

[2021-12-21 03:05] dai-shi commented on #897
@Ynewtime Thanks for the reproduction.

1.4.5 has #841, so it's causing this behavior.

As I look your codesandbox, the reason of the behavior is unstable selector function.
We need to wrap it with `useCallback`.
https://codesandbox.io/s/epic-glitter-5ji99?file=/src/App.js:251-298

I didn't know 1.4.4 works without useCallback, but it's never intended. #841 fixes #827 and it reveals the changing a

[2021-12-21 03:17] dai-shi commented on #897
btw, useCallback works for selectAtom, but we generally recommend useMemo to create an atom in render. it's not for any technical reason, but for a practice.

[code]

[2021-12-21 05:42] Aslemammad opened #903 "Improve debugging docs"
Suggestions & Ideas are welcome!

[2021-12-21 06:11] dai-shi commented on #903
This will be addressed after useAtomsDevtools is released. I mean we can start working on it from now.

First question: What will be the first option for the debugging tool?
1. React DevTools with `<Provider>`
2. Redux DevTools Ext with `useAtomsDevtools`
3. (unlikely but) Redux DevToolsExt with `useAtomDevtools`

How are these two different in terms of debugging experience?

[2021-12-21 08:16] Ynewtime commented on #897
Thanks for the info, now it's clear.

Totally understand, will refactor with useCallback. Thanks. BTW, maybe it's better to put this info in the doc or somewhere in the error message, which will be much easier for us to debug this kind of issue.

One more best practice got, will try.

[2021-12-21 09:59] dai-shi opened #904 "[docs] add note about creating atoms in render which may cause infinite loop"
https://jotai.org/docs/basics/primitives has this note:

but this is not very helpful in terms of debugging. we should mention about the infinite loop. also, utils such as `selectAtom` has two methods `useMemo` and `useCallback` on selector to avoid the infinite loop.

[2021-12-21 10:00] dai-shi commented on #897
totally. we need to improve docs. let me file an issue for this specific note. 👉 #904

[2021-12-21 15:39] cyphercider commented on #853
@dai-shi this works well, thank you!

[2021-12-21 15:39] #853 closed

[2021-12-25 18:08] Kourin1996 opened #908 "[Question] Is there any way to call the setter of Atom by the state change of dependent Atom?"
I'm trying to find the way to update atom state by the change of the other atoms.

Let me explain why I need this function first. I'm implementing a view of a list where each record in the list has a type and some fields. There is a selector to switch types in the view and only records with the selected type will be displayed in the list. In addition, the records will be filtered by selected `stat

[2021-12-26 00:25] dai-shi commented on #908
In general, we don't provide a way to change state based on other state change. This is because there's a delay in React, and such a pattern is not recommended. If it's truly required, `useEffect` is the current solution.

Now, in your use case, there are two options: a) validated derived atom, and b) set two atoms in one write function.
a) may or may not work in some use cases. b) is more or less

[2021-12-26 16:03] Kourin1996 commented on #908
Understood. I see the reason why you're not providing such a feature.

Thank you for your quick reply and detailed information. I appreciate it.

[2021-12-26 17:11] #908 closed

[2021-12-28 02:38] dai-shi opened #911 "improve useAtomsSnapshot / useGotoAtomsSnapshot"
Found some issues while developing #837:
- [x] Ignore snapshots with invalidated atoms
- [x] Avoid extra re-renders
- [x] Maybe we should somehow return `dependents` too. (Provider's useDebugState does it)
- [x] Support versionedWrite in useGotoAtomsSnapshot (See useAtomsDevtools.ts)

We would need to write tests too.

[2021-12-28 03:34] ralphievolt opened #912 "Counter example ( NextJs + Javascript not TSX)"
I've been trying out NextJs as I tried to go back into programming.

I wanted to have two pages

Counter Page > will show the three counter
Trigger Page  > has button to trigger either of the three counter in the other page

I am using the Jotai based on the example here about the clock [https://codesandbox.io/s/nextjs-with-jotai-5ylrj?file=/components/Clock.js](url)

however can't figure why the

[2021-12-28 09:08] LuckyPigeon commented on #721
@dai-shi
How about we show the way of creating these utilities to users and link the use case to original page. For example, we'll have `useAtomWithStorage` utility, after showing the way of creating it, we'll link user back to `atomWithStorage` page, and they can watch the use case.
This approach can let us spend more time on improving our example on the original pages.

[2021-12-28 09:30] LuckyPigeon commented on #721
Simple preview looks like this.
![image](https://user-images.githubusercontent.com/32315294/147551628-f7bc440f-3445-4464-96be-380dea0a5b2a.png)

[2021-12-28 09:43] dai-shi commented on #721
Ah, I just found they don't work. You need `useMemo()` for atom creation.
We might want to focus on `useFocusAtom` and `useSelectAtom`.
I think you first want to create some examples with codesandbox.

I actually don't know the valid use case of `useAtomWithStorage` or so.

[2021-12-28 09:51] LuckyPigeon commented on #721
I think `useAtomWithStorage` and other utility functions are creating for time saving.
If we want to only focus on `useFocusAtom` and `useSelectAtom`, I can make some changes and give these two an example.

[2021-12-28 09:58] dai-shi commented on #721
`useAtom(atomWithStorage(...))` is basically `useAtom(atom(...))` which is not very intended because it's the same as `useState`.
If you don't use the atom elsewhere `useState` is a better.

Same for `atomWithStroage()` if the created atom is not used elsewhere, useState+useEffect is better.

Hm, so, I'd say useAtomWithStorage is a bad practice.

focusAtom and selectAtom make sense because we **ha

[2021-12-28 12:50] LuckyPigeon commented on #721
OK. I think I finally got the idea. Thanks for the explanation @dai-shi. According to this rule, I think we can also add `freezeAtom` and `splitAtom` into advance-recipes, these two also have base atoms elsewhere.

[2021-12-28 12:56] dai-shi commented on #721
Exactly!

[2021-12-28 12:58] #859 closed

[2021-12-29 04:28] loganvolkers commented on #885
@dai-shi I'd prefer `useAtomSetter` or `useAtomCallback` or `useAtomUpdater` or `useAtomDispatcher` or anything such as `useAtom*` instead of `useUpdateAtom` or `useSetAtom` or anything such as `use*Atom`

It's because it translates to plain English.

"Use the atoms value"
"Use the atoms setter"

Versus

"Use an update atom"
"Use a set of atoms"

`useSetAtom` sounds like `useMapAtom`, possible ref

[2021-12-29 04:59] dai-shi commented on #885
Hm, that `useSetAtom` can be confusing with `Set` is convincing. Technically, it means `useAtomDispatcher` but I'm not a fan of it.
All that considered, I still think my options are `useUpdateAtom` and `useSetAtom`, at this moment.

Any other comments from someone else?

[2021-12-30 11:14] #811 closed

[2021-12-30 11:56] dai-shi commented on #449
https://github.com/pmndrs/jotai/releases/tag/v1.5.0 has a new `useAtomsDevtools`.
We hope it covers atomFamily use case.
Let me close this. For questions, please open a new discussion.

[2021-12-30 11:56] #449 closed

[2021-12-30 12:01] dai-shi commented on #801
Unfortunately, v1.5.0 doesn't change the behavior. So, closing this as wontfix. Please use the workaround.

[2021-12-30 12:01] #801 closed

[2021-12-30 12:06] dai-shi commented on #728
Unfortunately, v1.5.0 doesn't change the behavior. Please use [the workaround](https://github.com/pmndrs/jotai/issues/728#issuecomment-927494509).
Let me close this as wontfix. That doesn't mean to stop someone to challenge it.

[2021-12-30 12:06] #728 closed

[2021-12-30 12:13] dai-shi commented on #570
v1.5.0 doesn't change the behavior. This is probably because jotai uses the subtle behavior of `useReducer`. Would anyone like to dig this issue deeper?

[2021-12-30 18:14] justjake commented on #861
@dai-shi I would like `unstable_createStore`. My use-case is to (consider) migrating a very large existing application to Jotai. My existing model has various Flux-style state containers that are accessed outside React. In order to perform my migration to Jotai I will need to maintain existing interfaces will replacing our state core.

Here is my idea. Feel free to browse but please be aware that

[2021-12-30 22:22] dai-shi commented on #861
Interesting. I haven't thought about long-term migration and this api to help such use cases.

Does the proposed api look okay? Do you have any question about the behavior?

[2021-12-31 17:30] justjake commented on #861
@dai-shi when/how does the createStore prop get called by Provider? I assume this is called to create new scopes - so does returning a static Store here disable the scope feature?

[2021-12-31 17:31] justjake commented on #861
Scope isn’t important to my use-case but it could affect 3rd-party libraries that depend on it somehow?

[2021-12-31 20:17] justjake commented on #861
I think I also need subscription capability.

[2021-12-31 23:07] dai-shi commented on #861
createStore will be called on the initial mount. It's the same how it works internally now. (I'm not super confident if this is intuitive for developers, which is one reason why it's `unstable_` now.)

Hm, maybe not.
I just noticed changing scope after mount is not supported anyway.
If someone needs to change scope afterward, they would need `key={}`.

It's fair! Just added in the description.

[2021-12-31 23:38] justjake commented on #861
Should that read `countAtom is changed` or `countAtom may need to recompute`? Ideally this would be exactly the current internalStore[SUBSCRIBE_ATOM] behavior which gives the consumer the most flexibility, and not something that does internalStore[READ_ATOM]. It should be up to the subscriber to decide when they call publicStore.get(atom)`.

[2021-12-31 23:52] dai-shi commented on #861
Good point. I was thinking about not notifying if invalidated (`r === i`). But, you are right about the flexibility. Updated the description. I guess this is still in the research field.

[2022-01-01 00:29] Aslemammad commented on #736
I'll work on this tommorrow!

[2022-01-01 01:25] justjake commented on #861
If you want to move forward to a prototyping stage I think you could just make the existing createStore and the constants to access its methods “public” as a const like `export const UNSTABLE_createStore = { createStore, READ_ATOM, … } as const` which might allow easier prototyping… I forked Jotai to get these things to start prototyping , anyways.

[2022-01-01 01:30] dai-shi commented on #861
I thought about it once but my current plan is to provide a wrapped store with intuitively named methods.

[2022-01-01 01:47] justjake commented on #861
Another topic to discuss is how internals will interact with the newly public createStore result. We should sketch the public type of this value - will it have all the existing internal methods? Will it have a private symbol that must point to the internals, so that users can’t produce their own implementation? Or will the internals start to use the public methods directly, and consumers can creat

[2022-01-01 01:51] dai-shi commented on #861
Here you go #922. Yeah, I have been thinking about make it a symbol for internal store or not.

[2022-01-01 02:08] justjake commented on #861
I agree, that seems to be the safest direction for a v1 of this API -- at this point it would over-constrain Jotai's evolution to make it possible for consumers to implement their own store types.

[2022-01-01 12:05] Thisen commented on #911
Good idea!

[2022-01-02 14:30] deelobase opened #927 "Deploy your app for free 🚀"
Hey @pmndrs, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://deelo

[2022-01-02 14:35] CodyJasonBennett commented on #927
Just a heads up, this is spam.

[2022-01-02 14:36] #927 closed

[2022-01-02 23:13] #899 closed

[2022-01-03 00:52] dai-shi commented on #736
@Aslemammad I just remembered that @Thisen made a failing test https://github.com/pmndrs/jotai/compare/split-atom-out-of-bounds, which might help your investigation.

[2022-01-03 07:34] chenjie-b1 opened #928 "useAtomsDevtools sandbox example not fetching dependencies"
https://codesandbox.io/s/useatomsdevtools-heavy-3xobn?from-embed

[2022-01-03 08:20] Aslemammad commented on #928
I updated it, how about now?

[2022-01-03 08:35] chenjie-b1 commented on #928
Cool it has been fixed. Thanks!

[2022-01-03 08:35] #928 closed

[2022-01-03 20:18] Thiesl137 commented on #911
I'm going through the code-base of Atomic this week. My time has opened up this month to get the product features using snapshots to the chrome store. I'll post here if I have any feedback on improvement.

[2022-01-03 23:28] dai-shi commented on #911
@Thiesl137 That would be great! Please also keep #918 posted for any updates or even no updates.

[2022-01-04 01:44] dai-shi commented on #721
closed by #923

[2022-01-04 01:44] #721 closed

[2022-01-05 13:19] justinhandley opened #930 "AtomWithStorage doesn't have a 'remove' possibility"
I can't figure out how to remove an item from asyncstorage with the AtomwithStorage.

Would it be possible to either have a remove argument we could pass in, or if you pass in null it could call remove internally?

I store user's auth token in async storage, I want to clear it on log out - can I achieve that with AtomWithStorage?

[2022-01-05 15:29] dai-shi commented on #930
Good and valid point. To be consistent with `atomWithReset` and `atomWithDefault`, we can use `RESET` symbol (unless it's too confusing.)
A small concern is adding `removeItem` to SyncStorage type is a breaking change, but I lean to it, because zustand https://github.com/pmndrs/zustand/pull/598 does the same. Maybe we follow the same migration path.

I can work on it.

[2022-01-05 21:54] justjake opened #931 "Improve debugging info in useAtomsDevtools"
The current `useAtomsDevtools` is a great start for debugging tools. I've been playing with it a bit and want to suggest a few features:

1. Better atom labeling. Currently, atoms are labeled sequentially as `atom1`, `atom2`, etc. Here's some ideas:
    - Automatically label atoms by capturing a stack trace during atom construction (in dev mode only), and adding a partial formatted stack trace to

[2022-01-05 22:04] justjake commented on #885
`useWriteAtom` seems worse than `useSetAtom` or `useUpdateAtom`.

I think `useSetAtom` is fine, it seems Jotai is moving away from util hooks that produce atoms, eg, we go from `useAtomWithDefault` to `useAtom(atomWithDefault(...))`, I think `useSetAtom` reads okay thaking that into account.

[2022-01-06 00:06] dai-shi commented on #931
We'd like to utilize `atom.debugLabel`. This is not only for `useAtomsDevtools`, but also for `useAtomDevtools` and `Provider`'s React DevTools.
Our current solution is https://jotai.org/docs/api/babel#plugin-debug-label, but it only works for babel. The problem is there are many non-babel setups.

Sounds interesting. @Thisen What do you think?

Is this possible? @Aslemammad Can you look into it a

[2022-01-06 03:03] justjake commented on #931
@dai-shi I might have some spare time to pick away at some of these issues slowly - in some ways, I'm trying to share ideas inspired by the closed-source state management system used by my employer.

For a direction to follow around 1a using stack frames for labeling, we might be able to learn something from React's use of stack frame capturing here: https://github.com/facebook/react/blob/cae63505

[2022-01-06 14:49] dai-shi commented on #930
@justinhandley Would you please try #934 ?

https://ci.codesandbox.io/status/pmndrs/jotai/pr/934
☝️ Find "Local Install Instructions"

[2022-01-06 15:18] justjake commented on #931
I added a third idea which builds on top of the first two. Instrumenting my framework with all 3 ideas as suggested above took me 3-4 days of full-time work, but, I know my framework quite well and it’s simpler than Jotai because (1) it’s not concurrent-mode correct the way Jotai is and (2) does not have writable derived atoms, (3) has much more predictable stack formats since it’s in-repo with my

[2022-01-06 18:05] justinhandley commented on #930
So, on first attempt I'm getting this.

[Thu Jan 06 2022 14:04:27.572]  ERROR    ReferenceError: Can't find variable: localStorage
[Thu Jan 06 2022 14:04:27.572]  ERROR    Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication)

[2022-01-06 23:26] dai-shi commented on #930
So, you are using React Native, right?

We are missing clear docs for RN usage. (contributions welcome!)

It has to be like this for non-default storage other than localStorage:
[code]
refs:
https://github.com/pmndrs/jotai/discussions/921#discussioncomment-1892700
https://github.com/pmndrs/jotai/issues/780
https://github.com/pmndrs/jotai/issues/805

[2022-01-06 23:30] pc-erin opened #935 "Optional comparator function for getter values"
I have a primitive and derived atom that contain x and y coordinates.

[code]

The problem is that if a component `useAtom`s `mouseGridPositionAtom`, it will always re-render any time it is checked for freshness (like if it's parent re-renders).

This seems to be because the return value of `mouseGridPositionAtom`s getter is always referentially different because it returns an object.

Is there a

[2022-01-06 23:38] dai-shi commented on #935
Hm, no, it shouldn't return a new value unless you change `mouseViewportPositionAtom` value.
Can you try to create a codesandbox?

Note that my huge motivation of developing jotai and some other libraries to eliminate the need for memoization (of selectors, not components) and custom equality function. Everything in jotai is build with referential equality and it should work for 99% use cases. (`s

[2022-01-06 23:43] dai-shi commented on #935
Thanks.
You want to check this: https://codesandbox.io/s/react-typescript-forked-hp16t

[2022-01-07 00:13] pc-erin commented on #935
So that re-render is coming from React, not from a change in the value returned by `useAtom`?

Btw, how does the derived value get cached? Is the atom doing it's own deep equals, or just not re-running the getter at all if the atoms it depends on haven't changed?

[2022-01-07 00:27] dai-shi commented on #935
Right. You can try removing `useAtom` entirely, and still see `renders++` increases.

It keeps the last value, i.e., the cache size is `1`.

The latter: Not re-running the read function at all if dependencies haven't changed.

[2022-01-07 01:01] pc-erin commented on #935
Thank you! I have a much better understanding of how both Jotai and React work now.

I had been under the impression that React does not re-run a component unless it's state or props change, but that does not seem to be true unless you wrap it with `React.memo`.

It also makes me realize my first example was not representative of my real question.

In [this codesandbox](https://codesandbox.io/s/re

[2022-01-07 02:40] dai-shi commented on #935
Basically, you want to make things more atomic **if** re-rendering is a real issue for you.
So, instead of:
[code]
you could do this:
[code]

If you want to keep the atom as an object, you can create intermediate derived atoms.
👉 https://codesandbox.io/s/react-typescript-forked-f26zd?file=/src/App.tsx
Internal atoms should be hidden in a small scope (like function scope or module scope).

But, aga

[2022-01-07 13:13] dai-shi commented on #885
It seems like there will be none that everyone would be happy with.
At Poimandres, if we have options, we prefer something shorter/compact.
So, I'm leaning towards `useSetAtom`. But, still open for comments. Anyone else?

@Thisen If you would really like to work on it, you can start working on a draft pr. Note that there's no ETA, and the pr will be long lived, like for months.

[2022-01-07 20:12] jtmthf opened #938 "[jotai/xstate] Allow updating of machine options once initialized."
A nice feature that `@xstate/react` has is that `useMachine` allows the options of a machine to updated once initialized. The example from their documentation demonstrates this using `react-router`

[code]

Currently I don't believe this to be possible with `jotai/xstate` as once a machine atom is initialized, the machine nor the options can be updated.

Ideally it'd be possible to do something si

[2022-01-07 20:25] pc-erin commented on #935
That seems like it could quickly get unwieldy for large objects or if you have a lot of atoms that need custom equality functions.

I checked out the [`selectAtom`](https://jotai.org/docs/utils/select-atom) utility you mentioned earlier and I think it might be the simplest way to deal with my situation.

Leaving my solution here in case it helps anyone else with a similar issue:

[code]

[Working

[2022-01-07 21:21] jrobber opened #939 "Issue: urql.atomWithMutation causes suspense on load"
Any component that uses an atom that is using atomWithMutation will cause a suspense fallback to be rendered and will stay rendered indefinitely (maybe it clears on mutation, but I can't see the UI to get the mutation to go).

My atom:
[code]

Component:
[code]

[2022-01-08 01:15] dai-shi commented on #935
Yeah, that's why we provide `selectAtom` as an escape hatch, even though it's against our philosophy.

Closing this as we don't plan to change the core and the next best solution is our solution.

[2022-01-08 01:15] #935 closed

[2022-01-08 01:43] dai-shi commented on #939
Nice catch. I didn't know what behavior is expected.
What should the the initial value if we don't suspend?
Feel free to also try playing with the urql.atomWithMutation impl.

[2022-01-08 02:11] dai-shi commented on #938
Ah, interesting. Basically we want to support what `@xstate/react`, but it sounds difficult in this case. Do you have any idea for the implementation?

A workaround what I have in mind is to mutate a function in `historyAtom`. But, it's too hacky and not a recommended pattern. Doesn't work correctly in concurrent rendering.

[2022-01-08 06:14] pc-erin commented on #935
Fair enough. I appreciate your help, and it turns out this library is so extensible I can make exactly what I wanted by composing the atom and utility functions.

[code]

[Working example](https://codesandbox.io/s/react-typescript-forked-cysm9?file=/src/App.tsx) in case anyone wants to do something similar.

That version has no excess re-renders, and has almost the same simplicity as creating a re

[2022-01-08 06:36] dai-shi commented on #935
Yes! It's the jotai mental model.

[2022-01-08 20:15] sandren commented on #885
I favor it for its brevity as well. 🙂

[2022-01-09 15:24] justjake commented on #931
@dai-shi I started experimenting with this a bit. There are two approaches to implementing this:

1. add a lot more event callbacks to store (onAtomRead, onAtomWrite, and some kind of info to associate them). This keeps bundle size in store.ts lower but is much more confusing since there is more empty logic in store.ts to call these callbacks, and the logic will be brittle when it comes to version

[2022-01-09 16:22] xbaun opened #942 "Mount and unmount functions are not paired if an atom is only used in write"
Hi,

I noticed that when an atom (A) is invoked by a getter from another atoms (B) setter, then the unmount function of (A) is not getting invoked when (B) is unmounted. The Atom (A) is not mounted before and therefore has no dependents. As far as I debugged into this, it seems that atom (B) is not correctly tracking its dependencies in the `writeGetter`.

Here is a minimal working example of the

[2022-01-09 23:02] dai-shi commented on #931
@justjake Thanks for working on this!
I'm not super happy with adding complexity in store.ts, but if this is DEV-only thing (zero overhead in production), it's worthwhile. I'd put my effort on refactoring too.
`typeof process` is required for browser support. We need `NODE_ENV` check inline. Unlike React, we don't provide two builds. I know it's a bit annoying, but it's a different issue, and shou

[2022-01-10 00:10] dai-shi commented on #942
Oh, this is such an edge case that is not covered currently.
So, we don't track dependencies on `write` by design.
If we use `aAtom` in `bAtom`'s write function, we need to mount it anyway, but then there's no chance to unmount (unless there are other usage).
I don't know if this is fixable without adding write dependencies, which would be too much and make it less performant.)

The workaround for

[2022-01-10 02:14] dai-shi commented on #885
Found an RFC in recoil: https://github.com/facebookexperimental/Recoil/issues/804

Community-wise, it's not a bad idea to follow with `useAtomSetter`.

It's unfortunate, we had internally `Getter` and `Setter` types, though.

My current options are: `useUpdateAtom`, `useSetAtom`, `useAtomSetter`.

Anyone has/change a vote?

[2022-01-10 14:25] xbaun commented on #942
Thanks for your quick answer. I did the same thing to ensure that the atom gets unmounted.

I stumbled across this when I noticed that a remote subscription in the `onMount` function was not cleaned up and the atom remained mounted. The proposed workaround would mean, that I always have to explicitly depend on every atom that is used in a write function, even if it is not used in the read function

[2022-01-10 22:24] dai-shi commented on #942
That sounds reasonable. In this case, with the current architecture, it may not fire `onMount` in writeGetter. Yeah, that might be how it works. Now, I think `mount->A` shouldn't happen. 🤔

Let me reopen this.

[2022-01-10 22:27] dai-shi commented on #942
I labeled this as `bug` for now. We may end up with this being a known limitation.

[2022-01-10 22:33] dai-shi commented on #942
Note:

This design won't change. So, the first approach is NOT to invoke `onMount` for `aAtom` in [this](https://github.com/pmndrs/jotai/issues/942#issue-1097238902) case.

[2022-01-10 22:52] xbaun opened #947 "[Regression Bug] Updated atom value not propagated to component"
I am using an atom (A) to control if an atom (B) should return the value of an atom (C) otherwise a default value is returned.  See the example below: https://codesandbox.io/s/dark-http-bsili?file=/src/App.tsx

[code]

The problem is, that the changed value of atom (C) is never propagated to the invoking component through `useAtom`. The error occurs when there is no externally triggered rendering

[2022-01-10 23:27] #736 closed

[2022-01-10 23:27] #930 closed

[2022-01-11 00:34] dai-shi commented on #947
Thanks for reporting. I think we miss tests to cover this...

This almost indicates, this is a bug. Note: it works with `1.4.9` too.

[2022-01-11 02:22] sandren commented on #882
I think this would be a very helpful default behavior for most users. Those that don't want it (or want an alternate implementation) can always provide a custom storage. 😀

[2022-01-11 02:58] dai-shi commented on #882
Cool. Let's do that.
@Thisen seems to work on it.

[2022-01-11 07:07] comingAlive opened #949 "[Next.js @ jotai 1.5.1] `atomWithStorage` : localStorage is not defined"
[code]

<=1.5.0 working as expected.

[2022-01-11 07:52] xbaun commented on #947
I updated the version in the bug description.

[2022-01-11 09:49] dai-shi commented on #949
Oops! Will make a fix soon. Thanks for reporting.

[2022-01-11 10:22] dai-shi commented on #949
Can you try #951 to see if it really fixes the issue?
https://ci.codesandbox.io/status/pmndrs/jotai/pr/951
☝️ See "Local Install Instructions"

[2022-01-11 10:58] comingAlive commented on #949
It does. Amazing library btw :) Thank you for your work.

[2022-01-11 10:58] #949 closed

[2022-01-11 16:57] alex-cory commented on #885
`useSetAtom`

[2022-01-12 05:32] Stackerr opened #953 "can't find variable: localstorage in react native"
hello, my project run by jotai.
a few days ago, we got an error about below message.

![image](https://user-images.githubusercontent.com/16572803/149069370-01e33c30-1229-4c88-9517-d3ea1e8c2745.png)
how can we do for deal with this error?
we ran react-native by 0.64.1

[2022-01-12 05:40] sandren commented on #953
This is a bug in v1.5.1 as reported [here](https://github.com/pmndrs/jotai/issues/949#issue-1098775854).

If you could, please downgrade to v1.5.0 until the next release is issued. 🙂

[2022-01-12 08:12] Stackerr commented on #953
![image](https://user-images.githubusercontent.com/16572803/149088350-34fbea5c-a099-41a3-ac7d-4b449201ad5f.png)

i downgraded jotai module, but localstorage error happend.
why occur an error above images?

it seems like to happen an error on jotai/utils.
please check this

and always thank you for support this

[2022-01-12 08:26] linkjane opened #954 "immerAtom with useReducerAtom type not match"
jotai is amazing, but I have met some problem;

![image](https://user-images.githubusercontent.com/15264018/149089655-f6a63e6f-b8c1-4460-869e-a7c096e32373.png)

But it's runtime works

and another problem is Provider with initalValue when use react fast update (hmr) the initalValue will not apply at not

![image](https://user-images.githubusercontent.com/15264018/149090780-55e65d70-e2aa-4323-88da-

[2022-01-12 11:54] #891 closed

[2022-01-12 12:02] dai-shi commented on #953
Sorry for the inconvenience.
Published a new release: https://github.com/pmndrs/jotai/releases/tag/v1.5.2

[2022-01-12 12:02] dai-shi commented on #949
https://github.com/pmndrs/jotai/releases/tag/v1.5.2 is released with the fix.

[2022-01-12 18:08] alexski-perry opened #957 "Prevent suspending atomWithQuery when keepPreviousData is true"
I think this has been brought up before in #374, but it seems that setting `keepPreviousData` to true on `atomWithQuery` doesn't prevent suspending, which I believe should be the intended behaviour.

For instance in [this example](https://codesandbox.io/s/atomwithquery-keeppreviousdata-yowuv), whenever the query key changes, the list jumps to and from the loading state. I don't think this should b

[2022-01-12 23:53] dai-shi commented on #957
Sounds reasonable. It can suspend at the first time, right?

Hope @aulneau comes up with a solution.

[2022-01-13 01:18] dai-shi commented on #953
Oops, this looks like a different issue.

[2022-01-13 01:34] dai-shi commented on #953
My bad. It is fixed.

[2022-01-13 01:34] #953 closed

[2022-01-13 03:49] justinhandley commented on #930
Thanks @dai-shi - I'm not sure why, but with the experimental version I never got it working, but with it merged into the main branch it is now working absolutely perfectly.  Really appreciate it.

[2022-01-13 10:53] alexski-perry commented on #957
Yes it should suspend the first time, unless `initialData` is set or initial data is supplied using `queryClient.setQueryData` or `queryClient.prefetchQuery`.

[2022-01-14 07:15] Stackerr commented on #953
thank you this issue is fixed

[2022-01-14 13:35] smashercosmo commented on #947
Hm... I think I also stumbled upon this bug, but for me the last working version is 1.4.6

[2022-01-14 13:40] dai-shi commented on #947
Are you sure? That sounds like a different bug. Thanks for reporting anyway.
I'm currently working hard on issue.

[2022-01-14 13:43] smashercosmo commented on #947
Yeah, maybe different bug, but same behaviour: updated atom value is not reflected in a component. Works in 1.4.6, doesn't work in all other versions > 1.4.6. I'll try to create reproduction sandbox.

[2022-01-14 14:54] lgh06 opened #962 "[docs] wrong variable used in doc, https://jotai.org/docs/integrations/immer#atom-with-immer"
It seems that, the `setCountAtom` should be corrected to `countAtom`,  or line 27 should add something else ? I am not sure.

Doc site: https://jotai.org/docs/integrations/immer#atom-with-immer
Source:  https://github.com/pmndrs/jotai/blame/49c7b813cceac5eab4d208f7f710c598bc834bd9/docs/integrations/immer.mdx#L34

[2022-01-14 17:17] LuckyPigeon opened #963 "freezeAtom usage is unclear"
## Description

I use `freezeAtom` & `freezeAtomCreator` with `useAtom` , and set the new value to test if it can change. And it did change! Does I understand it wrong? Or does `freezeAtom` not work well?

## Reproduce the bug

[code]

## Log

Should be 0
![image](https://user-images.githubusercontent.com/32315294/149557228-0d3566fd-cade-4b89-a221-631994f16d51.png)

[2022-01-14 23:37] dai-shi commented on #962
seems like a bug in docs. should be `countAtom`. would you like to send a PR?

[2022-01-14 23:45] dai-shi commented on #963
[code]
☝️ That is a valid usage. What `freezeAtom` prevents is this usage. 👇
[code]

[2022-01-14 23:53] TimoWilhelm opened #965 ""useAtomsDevtools/useAtomsSnapshot can only be used in dev mode" error in CRA v5"
Awesome Project!

When trying to use `useAtomsDevtools` in my application right now with a basic create-react-app boilerplate (react-scripts 5.0.0) I'm getting the following error:
[code]

The single atom `useAtomDevtools` works without any issues and I'm able to see the values in the redux dev tools.

I cannot reproduce this on codesandbox, so I assumed I had some wrong environment variables, but

[2022-01-15 00:09] lgh06 commented on #962
I will try today.

[2022-01-15 00:09] dai-shi commented on #965
Hmm, maybe CRA v5 doesn't set `process.env.NODE_ENV`?
Ah, they probably have it, but not `process`.
Now, this is complicated... Thanks for reporting.
Meanwhile, would you try if CRA v4 works at least?

[2022-01-15 00:16] TimoWilhelm commented on #965
It does indeed seem to work with react-scripts@4.0.3. I'm currently stuck on v5 for webpack 5 compatability. It's not a dealbreaker, just something that would be nice to have.

[2022-01-15 00:22] dai-shi commented on #965
Sure. We will do that. This requires quite a bit of work, so expect to take some time.

If we have `process` defined as object, it should work. Like in webpack 5:
[code]

[2022-01-15 04:19] #962 closed

[2022-01-15 13:05] LuckyPigeon commented on #963
Thanks for the explanation!

[2022-01-15 13:31] dai-shi commented on #963
Doesn't `freezeObj.count++` prevent to update the count property value?
There's no magic behind its usage, if you want to freeze atom value (object), this is the tool.

I think I heard that recoil freezes everything. jotai does it selectively by developers.

[2022-01-15 13:32] dai-shi commented on #963
By the way, I hope after this discussion, we have ideas to improve docs.

[2022-01-15 13:59] xbaun-mms opened #967 "[Regression Bug] Unexpected LocalStorage access breaks Next.js at build time"
The `createJSONStorage` factory function shouldn't access the LocalStorage without explicitly being called. Next.js breaks when building because LocalStorage is not available at build time or in SSR mode.

https://github.com/pmndrs/jotai/blob/db3efa5c043b83d16ade5a7b351952be364605b0/src/utils/atomWithStorage.ts#L58

https://github.com/pmndrs/jotai/blob/db3efa5c043b83d16ade5a7b351952be364605b0/src/

[2022-01-15 14:01] xbaun-mms commented on #947
Couldn't test it with my application because it breaks currently because of #967. But as far es I can see it, the test is working and increasing delays also works perfectly.

[2022-01-15 14:01] dai-shi commented on #967
Should be handled in #951?

[2022-01-15 14:02] LuckyPigeon commented on #963
`freezeObj` works well and prevent user from directly mutating objects. And I found the main reason cause my confusion. When a `freezeAtom` being used, then the `baseAtom` will also be frozen!

[2022-01-15 14:04] xbaun commented on #967
Sorry, didn't see the issue. This issue can be closed as it is a duplicate of #951.

[2022-01-15 14:07] dai-shi commented on #963
`freezeObj` doesn't (deep-)copy objects. It behaves unexpectedly if we copy. BUT, now I understand this is confusing.

[2022-01-15 14:07] LuckyPigeon commented on #963
And I think we can improved docs by examples with three points mentioned.

1. `freezeAtom` will be activated by `useAtom` or `get` utility in other `atom`s
2. When a `freezeAtom` being activated, `baseAtom` will be frozen as well.
3. Developers can still mutate object by using `updateValue` utility in `useAtom` or `set` utility in other `atom`s.

[2022-01-15 14:08] dai-shi commented on #967
#951 is already merged and released: https://github.com/pmndrs/jotai/releases/tag/v1.5.2

[2022-01-15 14:08] #967 closed

[2022-01-15 14:15] dai-shi commented on #963
(And I hope you can work on docs. 😄 )

[2022-01-15 14:16] LuckyPigeon commented on #963
Sure! Working on it!

[2022-01-15 14:47] dai-shi commented on #947
https://ci.codesandbox.io/status/pmndrs/jotai/pr/960/builds/208261 is new build.

[2022-01-15 17:04] LuckyPigeon commented on #963
@dai-shi
Is it a good idea to add a feature like `freezeAtom(initValue, atomFn)` or `atom(read, write, type)`? An utility function that can provide freeze atom every time, create a state safe environment, if developer wishes.

[2022-01-15 17:10] LuckyPigeon commented on #963
For example,
[code]

[2022-01-15 21:15] LuckyPigeon commented on #903
@dai-shi @Aslemammad
I think introduce `atomic-devtools` is also a good idea, since it builds natively for jotai.

[2022-01-15 22:57] dai-shi commented on #903
I think it's not ready. They need to update the tool (see #918) and we need to improve some apis (see #911).

[2022-01-15 23:05] dai-shi commented on #963
It's what `freezeAtomCreator` is trying to solve. We don't know if `atomFn` requires `initialValue`.
There might be some better ways, so suggestions are welcome.

I'm strongly against changing the core. All these things should be add-on features.

[2022-01-16 05:22] dai-shi commented on #947
#960 should fix this.
Please try: https://ci.codesandbox.io/status/pmndrs/jotai/pr/960

[2022-01-16 06:55] dai-shi commented on #965
#968 is to address this issue.

[2022-01-16 11:45] dai-shi commented on #942
#961 should have a fix.
Please try: https://ci.codesandbox.io/status/pmndrs/jotai/pr/961

[2022-01-16 22:27] Sajad-Sharhani opened #971 "Rewriting the introduction section"
I'm thinking of rewriting the introduction section because it contains too much information in which I believe should scatter into other sections
what do you guys think?

[2022-01-16 22:38] dai-shi commented on #971
Yeah, this is originally from readme in the repo, and we haven't organized it yet.
I think @sandren is working on it. It's related with #929, because we don't want duplicated examples.

[2022-01-17 01:20] quangbuule opened #972 "Can Jotai be used in order to replace the React Context API?"
Hi team, I am trying to achieve the React Context behavior, and not sure if we can do that with Jotai.

Assuming we got a root component that receives data from props and passes down the data to its children. With React Context Provider, it can pass the data to the children in just 1 rendering cycle. I am not sure if we can do that (or if we should do that) with atoms.

Currently, Jotai provider o

[2022-01-17 03:35] dai-shi commented on #965
Please try #968 build:
https://ci.codesandbox.io/status/pmndrs/jotai/pr/968
Find "Local Install Instructions" ☝️

[2022-01-17 08:29] TimoWilhelm commented on #965
I tried the [#968](https://github.com/pmndrs/jotai/pull/968) build and it seems to be wroking as expected 👍 I was able to use the Redux devtools and got no errors  in the console.

[2022-01-17 08:53] dai-shi commented on #965
Cool. There's no ETA, but we hope to have it in the next minor release.

[2022-01-17 08:57] dai-shi commented on #965
btw, the error message is not correct...
It should be: "useAtomsDevtools can only be used in dev mode"

[2022-01-18 00:51] loganvolkers commented on #885
@dai-shi I retract my [original opposition](https://github.com/pmndrs/jotai/issues/885#issuecomment-1002392422).

I changed my mind because the React hooks community is firmly behind naming these functions as `set____` such as `const [,setName] = useState("Dai shi")`.

| ✓ common | ✗ uncommon |
|---|---|
| `setName` | `nameSetter` |
| `setState` | `stateSetter` |
| `setAge` | `ageUpdater` |
| `set

[2022-01-18 02:00] dai-shi commented on #885
Looks like reaching to an agreement.

---
Just a note why I didn't choose `useSetAtom` in the first place is it's technically dispatching an action. I thought about `useDispatch` but it's more weird for primitive atoms. So, I chose `useUpdateAtom`.
[code]

[2022-01-18 02:01] #947 closed

[2022-01-18 02:02] #942 closed

[2022-01-23 03:09] thachp opened #982 "Feature request for atomWithBroadcast util"
A  way to share atoms between browser tabs and frames, similar to atomWithStorage.

See https://github.com/pubkey/broadcast-channel
and  https://hookstate.js.org/docs/extensions-broadcasted.

[code]

[2022-01-23 03:26] dai-shi commented on #982
This works without localStorage (or any other storage), right?
Then, we can't implement on top of atomWithStorage. It would be a new util.

I wonder if this should be in `jotai/utils` or in a third-party library. Maybe, an advanced recipe would fit well based on `broadcast-channel` (instead of native method).

---
Implementation-wise, I also wonder how we could pull the initial value. 🤔

[2022-01-23 03:27] dai-shi commented on #982
Would anyone be interested in creating an advanced recipe for a start?

[2022-01-24 01:14] dai-shi commented on #885
@Thisen may not be available soon, I'll create a PR only for code meanwhile. (we want to include it in the next minor.)

[2022-01-24 11:32] dai-shi opened #983 "[docs] put simplified core code in docs"
Looks like people like them:
https://twitter.com/dai_shi/status/1484835169475653634
https://twitter.com/dai_shi/status/1485434083778117632

Maybe we put them in docs somehow?

## First one

<img width="300" alt="How Jotai Works" src="https://user-images.githubusercontent.com/490574/150774272-4cdb2b5c-6021-43e1-9efd-6e0e182e9273.png">

https://codesandbox.io/s/zealous-field-z2xk6?file=/src/App.js

[2022-01-24 12:08] AjaxSolutions commented on #983
Is the simplified core code intended just for learning how Jotai works or could it be used in production?

[2022-01-24 12:17] astahmer commented on #983
I don't know if that's the right place to ask but if this kind of tweets gets in the docs, maybe some of these could be integrated (or mentionned ?) too ?

jotai diagrams:
https://twitter.com/dai_shi/status/1384532412521009168

jotai comparisons with valtio/zustand:
https://twitter.com/dai_shi/status/1381252474682535938

Decision Tree to Choose a Global State Library
https://twitter.com/dai_shi/st

[2022-01-24 12:35] dai-shi commented on #983
@AjaxSolutions

It's intended for learning purpose, but I made it properly as much as possible, so if the implemented feature is enough, it can probably be used for real use cases.

[2022-01-24 12:38] dai-shi commented on #983
@astahmer

Wow, you collected them well. I'm happy to see if someone works on organizing them and open a PR for docs. (maybe links with small notes work?)

[2022-01-25 04:10] nabigraphics opened #984 "[docs] simple fix typo"
![image](https://user-images.githubusercontent.com/16166356/150909328-cfd94085-81ba-400f-ad34-c4f6d70a1a1c.png)

count -> const

docs: https://jotai.org/docs/guides/composing-atoms#overriding-default-atom-values

[2022-01-25 06:18] #984 closed

[2022-01-28 14:15] dryrainbow commented on #982
Hello, I'm interested in implementing it, or just in writing an example in documentation with the recipe for using library with broadcast-channel

[2022-01-28 14:20] dai-shi commented on #982
@dryrainbow Why won't you try creating a codesandbox example and an advanced recipe in docs? Happy to review.

[2022-01-28 22:35] dai-shi commented on #982
Note that we already have a plan to add sync feature in for localStorage #882. For IndexDB, we could do the same with `atomWithStorage`.
What's not possible with `atomWithStorage` is pure BroadcastChannel without storage.

[2022-01-29 18:26] yemi opened #990 "Infered types when using useHydrateAtoms"
Hi,

Thanks for creating this elegant way of managing state, it's opened so many architectural doors for us to explore!

**Goal**
It would be really nice if the atoms passed to `useHydrateAtoms` could have their types inferred and checked against.

**Current situation**
This will compile perfectly fine:
[code]

**Question**
Is it possible to infer the type of the atoms provided to `useHydrateAtoms

[2022-01-30 01:23] dai-shi commented on #990
I thought about the issue when introducing `initialValues` prop in `Provider`. `useHydrateAtoms` takes the same signature from it.

Now, the solution I have in mind is instead of supporting it in the API, we use a helper function.

Something like this:
[code]

[2022-01-30 04:49] #983 closed

[2022-01-31 03:03] yemi commented on #990
What if there's multiple atoms, would it be possible to use typescript's tuple-types in order to get the types then?

[2022-01-31 05:19] yemi commented on #990
Initially I was thinking that typescript tuple-types could be a potential solution, but when playing with them I realized that they wouldn't support generic members, i.e. [Atom<Value>, Value] so that wouldn't work, your solution did work, thank you!

[2022-01-31 05:19] #990 closed

[2022-01-31 08:51] violabg commented on #965
I have tested #968 and is working, could you release so we can use it on the current version.

[2022-01-31 10:49] dai-shi commented on #965
It will be v1.6.0, but there are some tasks moving forward and it still takes some time.
Meanwhile, please keep using #968 build.

[2022-02-01 12:01] tomyates opened #994 "LocalStorage not defined - React Native"
Hi,
I'm using version v1.5.3, but in React Native I'm still getting an error about local storage:

[code]

Error:

<img width="300" alt="Screenshot 2022-02-01 at 12 00 24" src="https://user-images.githubusercontent.com/785769/151964865-088682e7-ddae-4e76-aa2e-0097f0844786.png">

Any idea what I'm doing wrong?
Thank you.

[2022-02-01 12:14] dai-shi commented on #994
Hmm, I wonder if anybody has experienced this in previous versions.
Not sure how it's happening. Would you be able to try if this reproduces in Expo Snack?
Thanks for reporting.

[2022-02-01 22:52] sikula opened #995 "Using jotai/urql `atomWithQuery` advanced use case"
Currently we create a component which creates an `urql` client like so:

[code]

And we're trying to use this in combination with `atomWIthQuery` like so:

[code]

[code]

[2022-02-01 23:19] dai-shi commented on #995
Well, in general, syncing props and atoms is tricky. The easiest one would be useEffect.

[code]

[2022-02-02 16:27] tomyates commented on #994
Hi,
I fixed this, I was an idiot. User error.
Import should have been:

`import AsyncStorage from '@react-native-async-storage/async-storage'

[2022-02-02 16:27] #994 closed

[2022-02-04 19:57] seanaye opened #997 "Support Generic Arguments in atomFamily"
I am trying to return slightly different types for atomFamily based on the parameter given as the id as follows

[code]
This gives

<img width="2253" alt="Screen Shot 2022-02-04 at 2 58 46 PM" src="https://user-images.githubusercontent.com/24496822/152595064-f262c21d-c069-4bc9-b5f6-12c436454777.png">

It appears that atomFamily does not support the generic constraint for initializing. It would be

[2022-02-04 22:28] dai-shi commented on #997
Hmm, I don't think it's even possible, because `registoryFamily` has to be a concrete type.

CodeSandbox: https://codesandbox.io/s/compassionate-frog-npg8q?file=/src/App.tsx

[2022-02-06 18:31] seanaye commented on #997
If the constructor function is split out then there is no issue with the types when making a single atom. It is only when wrapped within the atom family that there is a type error

https://codesandbox.io/s/distracted-carson-24por?file=/src/App.tsx:774-841

[2022-02-06 22:57] dai-shi commented on #997
Ah, so you don't mean to make `registryFamily` generic, but just resolve the type error with `atomFamily(makeRegistry)`?

A workaround would be this:
[code]
I don't know if there's a better solution.

[2022-02-06 23:25] seanaye commented on #997
Ideally `registryFamily` would be generic and would work with type constraints. If this not possible then we can close the issue

[2022-02-06 23:53] dai-shi commented on #997
oops, my misunderstanding.

okay, I'm not sure if `registerFamily` can be generic because it's not just a function.

It has a following type:
https://github.com/pmndrs/jotai/blob/fb3f906e010cc469019fe3da8102b4a58a1fc1c2/src/utils/atomFamily.ts#L5-L9

So, what you could work around is to assert types:
[code]

hm, does it  work if we have a wrapper function? needs TS wizard.

[2022-02-07 00:25] challengy1 commented on #965
This is just a comment. When I made my test environment with 'Vite' instead of Create-React-App 5, I faced the same issue mentioned by Mr. TimoWilhelm. As you may know, Vite does not use Webpack. It uses ESBuild inside. I hope you can take this finding into consideration.

[2022-02-07 01:09] dai-shi commented on #965
Our hope is that #968 improves the vite DX.
Would you help on it? I'm not sure how to let vite use ESM build instead of CJS.

[2022-02-07 14:56] seanaye commented on #997
This is a great workaround. Thank you!

[2022-02-07 21:44] violabg opened #1000 "Bug: atomWithMachine typescript error after updating xstate to version 4.29.0"
### Description

I have updated xstate to version 4.29.0, and I'm getting a typescript error when adding a machine to atomWithMachine.

### Expected result

no typescript error

### Actual result

[code]

### Reproduction

update to version 4.29.0, and add a machine to atomWithMachine

[2022-02-07 22:47] dai-shi commented on #1000
Thanks for reporting!

Do you know how to fix it??

[2022-02-08 10:11] challengy1 commented on #965
I wonder if I can contribute but I would like to do my best. I will look around to seek where I can start from. Would you let me know which module provide environment variable for compiler ?

[2022-02-08 11:09] dai-shi commented on #965
If you build code:
[code]

There's `dist` directory.
For example, `dist/index.js` is CJS and `dist/esm/index.js` is ESM.

CJS uses `NODE_ENV`:
[code]

ESM uses `import.meta`:
[code]

This `import.meta.env.MODE` is vite's convention. So, I want vite to use ESM instead of CJS. But, it seems like vite picks CJS at the moment.

[2022-02-08 12:21] challengy1 commented on #965
I will try to find some time tomorrow. Thanks for you swift action.

[2022-02-08 23:34] challengy1 commented on #965
I would like to share some findings I obtained so far. (before digging into the way you mentioned.)
The version of the jotai with which I made some experiments was 1.5.3 available in npm.
I put some console.log lines as follows:

[code]
and the result was as follows...
[code]
From this result, it seems to me vite uses ESM instead of CJS.

In Jotai 1.5.3, node_modules/jotai/**esm**/index.js checks

[2022-02-08 23:47] dai-shi commented on #965
Thanks for investigating!

Okay, maybe it's my misunderstanding. vite uses ESM correctly then.

I just need someone to confirm #968 work as expected (=import.meta.env.MODE works in vite).
https://ci.codesandbox.io/status/pmndrs/jotai/pr/968

This is intentional. if `env` is undefined, we assume it's development mode.

[2022-02-09 08:17] dai-shi commented on #965
confirmed.

[2022-02-09 10:45] Aslemammad commented on #903
Let's close as we improved the debugging docs!

[2022-02-09 10:45] #903 closed

[2022-02-09 21:29] crispy-invention opened #1005 "Question: How to make sure that atom value is updated for useImmerAtom?"
Hi,

I am using useImmerAtom and need to update database once the atom value is updated. See the code below.

1) User clicks on button
2) Click handler update value of count using updater provided by useImmerAtom.
3) Click hander calls the function to save count to db

The 'updater' takes some time and click handler should save to db after the atom is updated. I am not sure how to do it?

[code]

[2022-02-09 22:13] crispy-invention commented on #1005
One solution I found with `useAtomCallback` is this...

[code]
use promise returned by `useAtomCallback` in `saveToDb`

[code]

Is there any other/simple way to achieve the same?

[2022-02-10 00:01] justinhandley opened #1007 "Atoms always triggering suspense"
I have an app that is not using any async atoms, however, suspense is required and is triggering in weird places.

Why would this be?

These are the atoms defined.

[code]

I can't use the app without suspense, and whenever I try to use the userAtom it trigger suspense, even though that is populated once and stays static throughout.

[2022-02-10 00:06] dai-shi commented on #1007
Hi, looks like you have a promise somewhere in atoms, right?
I think you'd want to eliminate promises in atom values completely if you want to avoid suspense.

If you could create a minimal reproduction in codesandbox, we might be able to see how it's going more closely.

[2022-02-10 00:30] justinhandley commented on #1007
So, when you say a promise somewhere in the atoms, I don't think so.  All of these literally replaced calls to useState and are just set and retrieved.  I am using the helper

[code]

[2022-02-10 00:45] justinhandley commented on #1007
So, actually, I'm assuming this is because I'm using AtomwithStorage and that uses AsyncStorage on React Native.  I can try to look at the source, I guess the question is, for these, is there any way to let the AsyncStorage happen in the background, so that it would literally only call the value from storage the very first time, when it doesn't have a value, and then it would maintain a non-async

[2022-02-10 02:32] dai-shi commented on #1007
ah, gotcha. yeah, atomWithStorage with async storage will suspend.
We have `delayInit` option (not yet documented 👉 #805), which covers your use case.

[code]

related: #780

[2022-02-11 12:30] #965 closed

[2022-02-11 12:39] #882 closed

[2022-02-11 12:46] #885 closed

[2022-02-11 14:25] dai-shi commented on #982
Now #1004 is merged and released, what's remaining is `atomWithBroadcast` (with native method or boradcast-channel library) to be in "advanced-recipes" in docs. Would anyone be interested?

[2022-02-11 16:36] langtube commented on #861
`unstable_createStore` can now directly implement transient updates, very exciting!
Great job!

[2022-02-11 19:13] shamilovtim commented on #861
Question @dai-shi my understanding was that if we want state management outside of React to use Valtio. Now that this functionality is coming to Jotai where does that leave Valtio? I feel like we're more than happy to have state outside React being a second class citizen, as long as we have **some option of state outside React**. This makes choosing between Valtio and Jotai very challenging and mi

[2022-02-12 02:44] njzydark commented on #861
Is this referring to the different granularity of control for rendering optimization?

For example, an object `{title:'xx',content:'xx'}`, in my understanding if the whole object is treated as jotai's atom, then if the `title` changes, the components that only depend on `content` will also render, while In Valtio, due to the proxy mechanism, there is no render. If I want to implement Valtio's gran

[2022-02-12 02:52] dai-shi commented on #861
@njzydark Yes, exactly.

[2022-02-14 00:48] challengy1 commented on #965
Thank you so much for your swift action. I have just confirmed Jotai 1.6 useAtomsDevtools does work on the React environment created with Vite.

[2022-02-15 01:18] MasonD opened #1012 "AtomFamily type isn't exported"
Currently as a user, explicitly typing the return value of atomFamily is awkward, because the AtomFamily type isn't exported, so it has to be redefined by hand. Any reason not to export this type?

[2022-02-15 02:10] dai-shi commented on #1012
Hi, thanks for opening it up.
I expect, generally, you don't need to type atomFamily explicitly.
What is your use case look like?

(Not only for jotai, but we prefer to avoid exporting types unless necessary. It's to try avoiding breaking changes in types.)

[2022-02-15 02:15] MasonD commented on #1012
I'm building an AtomFamily dynamically within a component and placing it in react context. I would need the AtomFamily type to easily type the context. Basically whenever you want to type a variable that isn't immediately set as an AtomFamily. Function arguments, etc.

[2022-02-15 02:39] dai-shi commented on #1012
Do you mean you are storing atomFamily instance in useRef or something?
I assume, you don't consume all atomFamily methods, so create your own atomFamily instance type might work.

[code]

---
If you would like to extract `MyAtomFamily` type, the easiest way would be to define a create function in advance: https://tsplay.dev/WvVonW
[code]

[2022-02-15 03:01] MasonD commented on #1012
Indeed, I maintain referential identity with useMemo. The atoms are built using environment (graphql client, etc) that aren’t accessible before react mounts. Currently I’m just typing the context as (a: Value) => WritableAtom<…>.

Just feels like, to me, since the return type of atomFamily is already part of the api contract, it should be exposed in a more convenient manner. Creating my own atomfa

[2022-02-15 03:31] dai-shi commented on #1012
Yeah, I know what you mean. I still think it's less common case.
We don't generally export any types from `jotai/utils`. (and we had some unrelated discussion in zustand about reducing exported types.) So, we'd keep it for now.

Thanks for your thoughts. Leaving this open for a while.

[2022-02-15 19:05] elliotwaite opened #1014 "Unexpected `store.sub` behavior for derived atoms."
Here's a [demo](https://codesandbox.io/s/jotai-createstore-derived-sub-j7qmrr?file=/src/App.tsx).

When subscribed to a derived atom, the number of times the callback is called seems to depend on whether the value for that derived atom is shown.
* If not shown, the callback is called once per update (expected).
* If shown, the callback is called twice per update (unexpected).
* When toggled from n

[2022-02-15 22:47] dai-shi commented on #1014
Thanks for reporting!
Hmm, I'm not sure how it's happening. Not even sure if it's expected implementation-wise, or is fixable.
Would you be interested in digging into it??

[2022-02-16 10:05] crucialfelix commented on #1007
`atomWithQuery` also triggers it even without actually calling a fetch or returning a Promise or using `async`.

Possibly this is because the writeable part defaults to return type Promise<void>. I don't yet understand what triggers it.

React 18 is RC and they may release it very soon. I will probably choose to use the RC shortly so I can start using Suspense.

Wonderful library! Thank you for Jo

[2022-02-16 10:25] dai-shi commented on #1007
@crucialfelix
For `atomWithQuery` in `jotai/query`, if you specify `initialData`, it will not suspend.
Also, you don't need React 18 to use Suspense feature.

[2022-02-16 20:51] elliotwaite commented on #1014
I don't think I understand the Jotai internals well enough yet to debug this one, but I'll keep learning and I'll let you know if I make any progress on this.

[2022-02-16 23:25] dai-shi commented on #1014
No worries!
@Aslemammad can you work on this?

[2022-02-17 15:10] maykefreitas commented on #15
Hey guys. A tricky workaround to make the initial state follow the changes. It's useful for NextJS `getServerSideProps` behavious for example.

`HydratableJotaiProvider.tsx`
[code]

It works just like the [useHydrateAtoms](https://jotai.org/docs/utils/use-hydrate-atoms)

[code]

[2022-02-17 16:21] violabg commented on #1000
still have the same problem even after updating to xstate 4.31.0

[2022-02-18 15:05] j3sch opened #1017 "Object array variable is Type 'StringLocale'"
[code]

When I want to assign the data from the atom to a string, I get the error:

Type 'Required<StringLocale>' is not assignable to type 'string'. ts(2322)

[2022-02-18 15:31] #1017 closed

[2022-02-19 02:18] davidkpiano commented on #1000
@violabg Can you make a reproducible example in CodeSandbox?

[2022-02-19 10:40] violabg commented on #1000
here you go

https://codesandbox.io/s/dreamy-dust-b33z7g

on line 34 you can see the typescript error

[2022-02-19 23:13] AjaxSolutions opened #1019 "useSetAtom doc search can't find description"
When I search `useSetAtom`, no doc page is found.  Searching `useAtomValue` finds a doc page.

[2022-02-19 23:39] dai-shi commented on #1019
We are still working on docs.
Meanwhile, please see `useUpdateAtom` doc. `useSetAtom` from `jotai` and `useUpdateAtom` from `jotai/utils` is 100% the same.

[2022-02-19 23:42] dai-shi commented on #1019
which has almost nothing...

[2022-02-20 00:21] elliotwaite commented on #1014
So I think the reason the subscription callback gets called twice is that it gets called first when `derivedAtom` is invalidated and then again when its new value is read.

I tried to map out the steps through the code below, with each indent somewhat representing a new call into a function. The setup is that there is a `countAtom` and a `derivedAtom` that just returns the same value as `countAtom

[2022-02-20 00:30] dai-shi commented on #1014
Oh, I see...
If this is the case, it can be said working as expected.
You need the first callback anyway because the atom may not be used in components.

That sounds weird. You might want to try with react 18. I also check current rendering behavior with https://github.com/dai-shi/will-this-react-global-state-work-in-concurrent-rendering.

[2022-02-20 00:41] dai-shi commented on #1014
[code]
Ah, I see, this is skipping the second one. Yeah, this may pass all tests.

can't tell. we don't even know how the final concurrent rendering behaves. so, we shouldn't change it at this moment.

my gut feeling is it may not work with experimental "versioned write".

Yeah, if possible, that's should be the way to go. It might improve the performance.
Unless we have more tests with concurrent

[2022-02-20 04:28] elliotwaite commented on #1014
Okay, sounds good. I'll wait till concurrent rending gets more stable before looking into this further. The extra sub calls should be somewhat harmless, but they may be surprising to users.

Also, I experimented with moving the logic to earlier in the pipeline by preventing those invalid->valid state transitions from being added to `pendingMap` in the first place, but that ended up breaking tests.

[2022-02-20 07:00] sondh0127 commented on #340
hi guys, can u give me an example of how to use `useHydrateAtoms` together with `atomWithQuery` in nextjs project

[2022-02-20 11:19] dai-shi commented on #1014
Sounds good. flushPending for invalid->valid is by design at the moment. If we find a better solution, it will be super nice, but I  expect we need a fairly big rewrite for it. As I said, we would need to add some tests for concurrent rendering before such a rewrite.

[2022-02-20 13:28] TBSten opened #1020 "update atom like redux"
I want to update jotai atom without using useAtom or useSetAtom.

 So I want to write code like this:

[code]

 This is to replace the redux code below.

[code]

 Is there any good way?

[2022-02-20 13:46] dai-shi commented on #1020
jotai is modeled after `useState` React state, which does not exist outside React tree. So, conceptually, it doesn't work like global states that can accessed outside React, like redux, zustand and valtio.

That said, due to the high demand, we are experimenting a new API. See #861 #922. Available in v1.6.0 as an unstable feature.

To do what you want in stable features, you need a global state ou

[2022-02-20 15:28] TBSten commented on #1020
thank you good answer !
I will use jotai/valtio, jotai/zustand, jotai/redux and atomWithObservable .

[2022-02-20 15:28] #1020 closed

[2022-02-21 09:10] Thisen commented on #340
Hi @sondh0127 👋🏼  - I'm assuming it's the `react-query` `atomWithQuery` you are referring to. I haven't tried this out, but my guess to use your own `QueryClient` instance and then follow [this guide](https://react-query.tanstack.com/guides/ssr#using-nextjs) for hydrating the `QueryClient`.

[2022-02-21 10:40] sondh0127 commented on #340
![image](https://user-images.githubusercontent.com/62163604/154938595-a547d945-7415-4071-bf06-720f1e5b9a20.png)
Thank for your suggestion @Thisen. I follow the guide to setup the client, but my question is how to use my own client with `atomWithQuery`

[2022-02-21 13:50] SteliosKornelakis opened #1022 "Immutability of "withImmer" and "atomWithImmer" upon initialization"
It appears that when you initialize atoms with immer like this:
[code]
And then use them within a component

[code]

[2022-02-22 01:26] dai-shi commented on #1022
This has nothing to do with immer. It works, but usually we shouldn't do it.
`freezeAtom` is a util to prohibit it.

Now, this is interesting. I guess this is because immer freezes the resulting object.
From my perspective, this is unexpected behavior. But, maybe it can't be helped...

If you `setAutoFreeze(false)`, the behavior is consistent, right?
I don't think there's anything we can do other

[2022-02-22 07:39] Thisen commented on #340
That's the second argument of `atomWithQuery`:
[code]

[2022-02-22 14:04] sondh0127 commented on #340
Thank @Thisen I get the final code work here. Sharing it here in case someone is looking for it.
Also It's
[code]
_app.tsx
[code]

state.tsx
[code]

[2022-02-22 19:02] StarpTech opened #1025 "Problems with React Fast Refresh"
Hi, while it works well in most cases, we experience some bugs.

1. Editing functions out of react tree aren't updated. For example, update the logic of your read-only atom and issue a state update.
2. The referential integrity of the atom store gets broken. I receive no longer state updates. I need to reload to fix it.

All issues happen when using react fast refresh with https://github.com/gsoft

[2022-02-23 00:48] dai-shi commented on #1025
Hi, can you reproduce some of concrete examples in codesandbox?
(Then, @Thisen can investigate it?)

[2022-02-23 07:39] Thisen commented on #1025
Yes, I'll look into it, when there's a reproduction 👍🏼

[2022-02-23 09:06] StarpTech commented on #1025
Yes, I'll try.

[2022-02-23 10:37] StarpTech commented on #1025
Hi, this is not my main issue but it could be related. Shouldn't the state be preserved when updating the read function?

- https://codesandbox.io/s/nextjs-with-jotai-async-forked-w70o06?file=/store.js (line 30)

[2022-02-24 00:57] xaun commented on #309
Yea I think this should exist. Especially as it exists for URQL. Definitely should be able to tap into state updates for a mutation response

[2022-02-24 05:49] ajstrand opened #1026 "Documentation : Dark Mode for Docs?"
Is someone already working on something like this?

I'd be happy to work on a basic PR if no one currently is.

[2022-02-24 08:33] dai-shi commented on #1026
@sandren what's your plan?

[2022-02-24 13:36] WangYuLue opened #1027 "in non-react context，how to get the value of atom ?"

[2022-02-25 01:57] sandren commented on #1026
Dark mode for the website/docs is already a work-in-progress. Thank you for the offer though, @ajstrand! 🙂

[2022-02-25 01:57] #1026 closed

[2022-02-25 18:02] StarpTech commented on #1025
@Thisen friendly ping

[2022-02-27 13:53] Thisen commented on #1025
After I looked at it, I'd expect your scenarios to break, given the somewhat simple implementation of our React refresh integration.

The question is if we are willing to solve it. If so, we need to either re-implement the solution or find some smart way to clean up the `Map`, when the atom function changes.

[2022-02-27 14:26] StarpTech commented on #1025
Hi @Thisen, good to hear that you found it. Since atoms are functions with business logic, it would be very bad DX if React refresh is not fully supported. For my use case, it's already a mess because I need to reload my page for every change in an atom.

[2022-02-28 01:30] dai-shi commented on #1025
@Thisen Would it be possible to use Function.toString() and see if the code is changed?

@StarpTech This is a very difficult problem, but I understand it'd be nice to fix. If you have suggestions/ideas, you are very welcome. In essence, we need to learn how React deals with it and follow what it does.
Meanwhile, to help DX with Fast Refresh, I'd suggest to define each atom in a file. `store/postId

[2022-02-28 09:56] peterje commented on #32
Could you provide an example of how to update an object property using atomWithImmer?

[2022-02-28 10:39] dai-shi commented on #32
Something like this?

[code]

[2022-02-28 13:05] StarpTech commented on #1025
I'll try to look into it as well. It's definitely not just nice :) It doesn't fall back to hot reload. The application will no longer work because the states aren't updated when a state is changed.

[2022-02-28 14:02] StarpTech commented on #1025
@dai-shi how do you handle that in your workflow?

[2022-02-28 16:55] Thisen commented on #1025
Hi @StarpTech, could you try out the build in #1030?

[2022-02-28 17:02] LuckyPigeon opened #1031 "[Docs] Create a base example"
There are some examples with only core functions, without `codesandbox` for developers to try. Such as [Use Reset Atom](https://jotai.org/docs/utils/use-reset-atom) or [Resetting default values](https://jotai.org/docs/utils/atom-with-default#resetting-default-values)
So I think it's a good idea to add an base example, developers only need to copy core function and paste, then can enjoy playing aro

[2022-02-28 20:29] StarpTech commented on #1025
Unfortunately, doesn't help. After changing a string in an atom function that is used in a parent and children relationship, the parent no longer receives updates.

[2022-02-28 22:40] dai-shi commented on #1025
👇

I don't know if it works your case, though.

[2022-03-01 15:56] StarpTech commented on #1025
@dai-shi I tried but without success.

[2022-03-01 18:44] hxse opened #1033 "How to use provider and useContext in jatai?"
I didn't find any examples in the documentation.
Any examples?

[2022-03-01 19:42] hxse commented on #1033
Use it like the normal React program? Nothing special? Sorry, I am too new.

[2022-03-01 20:17] #1033 closed

[2022-03-01 22:32] dai-shi commented on #1025
Hmm, I need to look into it. Would you be able to share a codesandbox repro?

[2022-03-01 23:38] DennisSmolek commented on #1033
Hey @hxse A good place to start is the main web-page: https://jotai.org/
If you go to this projects main page readme you'll see two demo links: [Demo 1](https://codesandbox.io/s/jotai-demo-47wvh) and [Demo 2](https://codesandbox.io/s/jotai-demo-forked-x2g5d)

Those go to a site called [CodeSandBox](https://codesandbox.io/) (CSB for Short) which will show you a live example.

There is also the [exa

[2022-03-02 10:02] StarpTech commented on #1025
@dai-shi I shared two. Are they sufficient to start the work? I can try to provide another one.

[2022-03-02 10:09] hxse commented on #1033
Thank you very much, I will try it.

[2022-03-02 11:55] dai-shi commented on #1025
Yeah, if you have split `store/*.js` example, it's helpful.

[2022-03-03 02:50] urielvan commented on #1007
but calling refetch still needs Suspense, right?
[demo](https://codesandbox.io/s/jotai-query-demo-forked-elj177?file=/src/App.tsx)

[2022-03-03 03:27] dai-shi commented on #1007
Oh, yeah. You are right. So, the only solution would be `loadable` util.

[2022-03-03 16:29] iamhaaamed opened #1037 "atomWithToggleAndStorage not persisting in react-native"
this is my atom:
[code]
and this is my usage:
[code]
the isOnboardingViewed value is changed after calling setIsOnboardingViewed, but when I refresh the screen the value reverted to it's default value(false).

[2022-03-03 20:33] jeannnemelanie opened #1038 "Atoms created via atomWithReset do not have debugLabel by default"
Hi community 👋

I setup my project with `useAtomsDevtools()` and `jotai/babel/preset` as describe [here](https://jotai.org/docs/api/devtools) and [here](https://jotai.org/docs/api/babel).

Everything is working fine. I do not need to specify `debugLabel` for my atoms except for the ones created with `atomWithReset()`.

See screenshot below, `atom1` is created with `atomWithReset()` and `atom26` wi

[2022-03-03 23:40] dai-shi commented on #1037
Thanks for reporting. Do you still see the issue with `atomWithStorage`? Would it be possible to create a minimal reproduction with expo snack?

[2022-03-03 23:46] dai-shi commented on #1038
I guess this is just not supported yet. Not just `atomWithReset` but for all `atomWith*` from `jotai/utils`, right?

@Thisen How hard would it be to support them? (We can probably assume the naming convention like `import { atomWithFoo } from 'jotai/utlis'`.)

[2022-03-03 23:59] dai-shi commented on #1022
Closing as answered (although, it's not nice DX-wise).

[2022-03-03 23:59] #1022 closed

[2022-03-04 00:05] dai-shi commented on #1007
Closing as answered. Please open [a new discussion](https://github.com/pmndrs/jotai/discussions/new) for further discussion.

[2022-03-04 00:05] #1007 closed

[2022-03-04 00:14] dai-shi commented on #1012
While I keep this in mind, let me close this issue. For anyone, feel free to add comments.

If there's a good solution for #997, I may re-consider about it.

[2022-03-04 00:14] #1012 closed

[2022-03-04 00:37] dai-shi commented on #1025
@StarpTech Here you go: https://codesandbox.io/s/quizzical-andras-q3tmze?file=/src/store.js

[2022-03-04 03:16] iamhaaamed commented on #1037
Yes, issue also exist with atomWithStorage.
Here is the snack reproduction:
[https://snack.expo.dev/ejgGDPFCX](https://snack.expo.dev/ejgGDPFCX)

[2022-03-04 14:48] dai-shi commented on #1037
Hmmm, I can't reproduce it.

How do you refresh the screen?

[2022-03-04 16:57] phoenixeliot commented on #838
Came here cause I just spent 30min being very confused as to how to set the values of atoms, thinking I was doing it wrong.
Perhaps jotai could emit some kind of warning when using null? Not sure if that's feasible.

Either way, I would love a note added to the docs about this problem.

[2022-03-04 20:31] LuckyPigeon opened #1041 "[docs] refactor docs"
Docs current have different typesetting with different pages. It will increase a lot of reading experience if we set a typesetting,
I think the typesetting of [freezeAtom](https://jotai.org/docs/utils/freeze-atom) would be nice, we can start by refactor `utils` typesetting.

[2022-03-04 20:38] LuckyPigeon commented on #963
We can check if `initialValue` is an object type or non-object type or none type, then decide to assign value or not.
This can save lots of lines.
At least, add it in [Custom useAtom Hooks](https://jotai.org/docs/advanced-recipes/custom-useatom-hooks) might help.

[2022-03-05 00:00] jeannnemelanie commented on #1038
I guess, I did not try the others `atomWith*`.

[2022-03-05 00:24] dai-shi commented on #1041
@sandren is working on refactoring docs. Let's see what we can do after some progress.

[2022-03-05 00:44] dai-shi commented on #838
okay, let me work on adding a tiny note.

[2022-03-05 02:14] dai-shi commented on #963
Note that `freezeAtomCreator` works for non-object values as no-op.

[2022-03-05 08:24] Thisen commented on #1038
Thanks for the issue! I'll look into it.

[2022-03-06 04:02] LuckyPigeon opened #1043 "[website] redirect to hash tag link after search"
At current website, we can only go to the link after search, and scroll down to the keyword page by our own.
I think it would be convenience if we add hash tag redirect link.
Such as, `https://jotai.org/docs/advanced-recipes/large-objects#focus-atom`, if we search the tag `Focus Atom` of `Large Object`

[2022-03-06 04:50] #1031 closed

[2022-03-07 03:15] sandren commented on #1043
This highlights an important issue. I think we should include both individual sections as well as entire pages in search results to help users get to the right place. Thanks for the suggestion, @LuckyPigeon.

[2022-03-07 03:17] sandren commented on #1026
@ajstrand [Dark mode](https://github.com/pmndrs/jotai/pull/1048) has been merged. 🙂

[2022-03-07 23:11] SteliosKornelakis commented on #1022
Confirming by using `setAutoFreeze(false) ` behavior is consistent.

[2022-03-08 17:55] Thisen commented on #1025
Is there more we can do here @dai-shi?

[2022-03-08 23:20] dai-shi commented on #1025
@Thisen I'm still curious why this doesn't work. Would you investigate it please?

[code]

Even without #1030, I expect `postIdAtom` should be cached, no?

[2022-03-09 01:45] hellos3b opened #1052 "[testing] Can we seed atoms with a value for tests?"
I've looked at the [Testing Documentation](https://github.com/pmndrs/jotai/blob/main/docs/guides/testing.mdx) and completely understand the idea of testing components and not implementation. But I think more often than not we will want to test component  functionality when it has some state

For example in the Counter sample from the docs, imagine if the counter maxes out at 99. Is there a way to

[2022-03-09 11:40] dai-shi commented on #1052
Provider's `initialValues` prop is designed for such test cases.
The testing guide docs should include that use case.

[2022-03-09 14:39] #838 closed

[2022-03-09 14:39] #1038 closed

[2022-03-09 15:36] carlos-marchal opened #1054 "Derived atom getting stuck in suspense when initial value is a Promise that does not resolve"
We are starting to use jotai for state management on an existing codebase. One pattern we currently use for data loading is to have a state be null when loading, and hold the data when loaded. So we check if `state === null` to display loading components, and display the data itself (`state`) if the state is not null.

With jotai, we want to start using suspense, so what we do in these cases is as

[2022-03-10 08:28] dai-shi commented on #1054
The infinite promise `new Promise(() => {})` is really hard to deal with. We do support some cases (with tricky implementation), but this one is not covered.
It would be nice if this can be supported, but I'm not sure if it's possible/how easy at this point.

On the other hand, I don't think this pattern will be common (or recommended) as the use case of Suspense. We don't know yet. Will see.

[2022-03-10 08:54] carlos-marchal commented on #1054
Sounds good, thanks for the response. I've been taking a look at jotai's implementation of SuspensePromise, and even though it's quite elegant, I can see how you'd run into dangerous edge cases.

As I said, I'm not an expert on jotai or suspense, so maybe I'm taking the wrong approach. But can I ask, in your opinion, how you would handle a case such as mine? Refactoring the whole fetching library

[2022-03-10 11:23] violabg commented on #1000
Any solution to resolve typescript miss match?

[2022-03-10 14:00] dai-shi commented on #1000
@Andarist Do you know if this is already an issue on jotai end?

[2022-03-10 14:13] Andarist commented on #1000
@dai-shi thanks for the ping. Coincidentally I've figured out a fix for this just today, some more info can be found [here](https://github.com/statelyai/xstate/issues/3141#issuecomment-1063995705). I will move forward with this to fix this and similar issues.

Note that this doesn't fully fix the given repro case - the repro showcases 2 problems while the fix I'm talking about only fixes the first

[2022-03-10 14:14] dai-shi commented on #1054
I think the original `state` should return (or throw) a promise, because that's where we know when it becomes non-null. If we have a solution with useState, then we might be able to model it in jotai. Otherwise, maybe it doesn't fit well with Suspense. After all, the point of Suspense is to avoid `=== null` check.

[2022-03-11 16:51] Andarist commented on #1000
Actually... I might have read this wrong yesterday. I've released the fix for the mentioned issue and I fix it solves the problem in full here, the updated codesandbox is here: https://codesandbox.io/s/billowing-lake-wf3ixp?file=/src/App.tsx

[2022-03-12 17:01] violabg commented on #1000
sorry to bother you again, but I'm still getting typescript errors, I have updated the CodeSandbox to reflect my real use case, you can find it here, maybe it's me doing something wrong, but I can't figure it out.

https://codesandbox.io/s/awesome-drake-26p92f?file=/src/App.tsx

[2022-03-12 18:12] davidkpiano commented on #1000
Seems like this can/should be fixed on the Jotai side, probably by changing these lines: https://github.com/pmndrs/jotai/blob/main/src/xstate/atomWithMachine.ts#L20-L21

So that it uses `AnyStateMachine` instead (imported from `xstate`):

[code]

[2022-03-12 18:15] davidkpiano commented on #1000
@Andarist It seems that the typegen generic is incompatible with places where some of the generics are already specified: https://github.com/pmndrs/jotai/blob/main/src/xstate/atomWithMachine.ts#L14-L28

[2022-03-12 19:11] Andarist commented on #1000
Yes, when the machine already contains the typegen stuff then consuming function is supposed to handle/forward it OR specify that it wants to ignore with `any` in that slot (or a similar method).

I didn't figure out a way for this to work around as `{ enabled: true }` and `{ enabled: false }` types are fundamentally incompatible. When I think about it know, **maybe** we could try to make `Typegen

[2022-03-16 19:41] grafficmedia opened #1062 "Atom initialized with an empty array results in ts error when attempting to use setter"
When initializing an atom with an empty array initializer, e.g. `const numberAtom: Atom<number[]> = atom([]);`, the type of the setter is `never`, which results in a TS error when attempting to use the setter.

Minimum reproducible example: https://codesandbox.io/s/jotai-array-initializer-05ce3z?file=/src/App.tsx

[2022-03-17 08:34] dai-shi commented on #1062
Hi, thanks for using the library.
`Atom<number[]>` means it's a read-only atom, which leads to `never` for `setAtom`.

You want to do something like this:
[code]

[2022-03-18 12:48] jahglow commented on #672
@Pinpickle Maybe anytime soon???

[2022-03-18 14:28] channeladam opened #1063 "Possible Bug: base atom used by derived atom is not mounted through Setter's get function"
Hi,

I think there might be a bug, or perhaps I am not doing something correctly?

I have an atom that is similar to the atomWithStorage atom, in that there is a base atom with onMount defined.

I have an Action Atom that is executed from the result of a useUpdateAtom().

Inside that Action Atom's Setter, when I use the get() to get the value of my atom that has onMount defined, the base atom is n

[2022-03-18 22:52] dai-shi commented on #1063
Hi, thanks for using jotai.
The behavior is by design. onMount is effective when an atom is "used", and `get` in `write` function isn't considered as "used". (otherwise, as there's no way to unmount it, it leads to memory leaks.)

The easiest solution would be to "use" myAtomWithMount, with useAtom or `get` in `read` function.
Suppose it's not an option in this case, another solution would be to r

[2022-03-19 03:45] channeladam commented on #1063
Hi, thanks for answering.

I was already investigating that type of approach.

So in simple terms, there are limitations with atoms like atomWithStorage which use onMount, such that the value cannot be retrieved from storage from within an Action Atom /  Setter using the Setter's `get` function unless the atom was already accessed via `useAtomValue` or `useAtom` (or any `get` in a Read function).

[2022-03-19 16:36] likon416 opened #1064 "can't modify atom in a loop, can't access newest state without re-render"
If we have an atom and we want to for example do something like
const [myAtom, setMyAtom] = atom(defaultValue);

for(let i=0; i < 10; i++) {
setMyAtom(myAtom + 1);
}

It will not increase the atom's number by 10 but by 1. Because on write, atom refreshes, the next loop iteration, doesn't see the new atom state (because component didn't re-render yet with new atom value).

I know you can write the

[2022-03-19 16:37] likon416 opened #1065 "not able to sync atom without re-render, or not be able to access always the newest state"
Hello,

I have a problem syncing an atom state across my app.

I want to use atoms inside a callback function beyond react component. I'm using react native with IAP plugin where there is a function setPurchaseListener that is initialized at the start of the app.

The problem is once this listener will get fired (after an IAP purchase) it has the OLD state of an atom. So I can't pass updated data

[2022-03-19 18:07] Aslemammad commented on #1064
Updating in general, in react, is not synchronous, it means!
[code]
won't make your `count` equal to 3!
for updating values, react needs to re-render (re-runs the component), so you can access the new value!

This is a general concept with react, and not with jotai or any other state management library!

https://reactjs.org/docs/faq-state.html#what-does-setstate-do reading this will help you so mu

[2022-03-19 18:08] likon416 commented on #1064
@Aslemammad thanks for getting back to me. You can do that with redux store. Since it is also global state management, I would expect same with atom.

[2022-03-19 18:10] Aslemammad commented on #1064
I'm not familiar with redux, but I think you mean a different case, could you share the code you mean?

[2022-03-19 18:13] likon416 commented on #1064
I dont have a code to share. Just want to be able to do chained operation on the state without needing it to be rerendered.

[2022-03-19 18:16] likon416 commented on #1064
it doesn't need to be state, I just need global variable like atom, which doesn't need rerender

[2022-03-19 19:08] Aslemammad commented on #1064
It's not possible (doing such in a component) in jotai! one way is possible, and it is to write to an atom externally, which we do not have plans for it!

[2022-03-19 22:15] likon416 commented on #1064
@Aslemammad ok, so can I somehow use atom for situation like described in ticket #1065

[2022-03-20 06:14] Aslemammad commented on #1065
Hey Likon!
I don't know if I understand your use case, but for syncing, you can use `atomWithStorage`, in react native! and see if it's enough for you!

[2022-03-20 06:18] Aslemammad commented on #1064
Sure!

[2022-03-20 16:31] sondh0127 opened #1068 "[atomWithQuery | atomWithInfiniteQuery]: return all react query state."
Currently query atom only return the {data} from useQuery hooks.
It would be better to return all other states as well.
![image](https://user-images.githubusercontent.com/62163604/159172388-32fc3f28-5423-4926-8220-24d9bb9122c4.png)
https://react-query.tanstack.com/reference/useQuery

[2022-03-21 02:19] dai-shi commented on #1063
Yeah, your concern is true in general.

For atomWithStorage, the initial value is read from the storage (unless `delayInit` is on) even before `onMount`, but the limitation remains for the following changes from the storage. To solve this specific case, we should not cache the atom value, if the atom is not yet mounted. Yeah, that sounds consistent and less error-prone. Let's investigate this appr

[2022-03-21 03:18] dai-shi commented on #1068
Hi, thanks for the suggestion.
The point of `jotai/query` is to make RQ as jotai atoms, and jotai atoms are based on Suspense for async operations.
That means, we shouldn't return loading/pending states with properties, and not for errors which are handled with ErrorBoundary. Also, actions are for `write` function, and we can `refetch`.
That will leave only a few properties out of listed ones, and

[2022-03-21 03:48] sondh0127 commented on #1068
Thank you for your explanation. @dai-shi
I'm facing a real use-case here with atomWithInfiniteQuery, that I need to get `hasNextPage` to display loadmore button.
[code]
I tried to add second atom and listen to the same observer of infiniteData does. and return it from wrapper atom.

[code]
It's work but I still got some trouble with nextjs ssr.
I would like to ask the author (you) for an official

[2022-03-21 03:49] sondh0127 commented on #1068
here is my the listener

[code]

[2022-03-21 15:22] dai-shi commented on #1068
Okay, `hasNextPage` in atomWithInfiniteQuery sounds somewhat valid. I understand your use case.
Our current atom data type is `InfiniteData<TData>`, and it's from RQ types. Hm, it would be nice if the type includes `hasNextPage`. It's unfortunate that only `InfiniteQueryObserverBaseResult` has it.

@aulneau Do you have any ideas for this?

[2022-03-24 12:31] suvanshrelevel opened #1071 "If we create a derive atom with many primitive atom say 30, just to reset them. That derived atom does not reset the primitive atoms if the page is refreshed."

[2022-03-24 14:41] PachVerb opened #1072 "Does jotai also adopt the flux architecture idea?"

[2022-03-25 03:27] dai-shi commented on #1071
Hi, can you describe more about the problem, hopefully with a reproduction please?

[2022-03-25 03:35] dai-shi commented on #1072
Does this help? https://twitter.com/dai_shi/status/1477593623156105217

[2022-03-27 15:12] PachVerb commented on #1072
Yes, that's a good example, thanks. Can be used as the basis for applying flux. But sometimes, as the initial involvement of the application, I always get confused whether to use flux.

[2022-03-27 15:14] #1072 closed

[2022-03-29 14:45] dakshkhetan opened #1074 "[docs] typo in comparison.mdx"
https://jotai.org/docs/basics/comparison.mdx has this line at the very end:

I believe there is a typo in the above-mentioned line. The corrected version should be:

Otherwise, both are pretty similar about the general goals and basic techniques, so please try both and share _**your**_ feedback with us.

[2022-03-30 00:02] #1074 closed

[2022-03-31 02:11] rwu823 opened #1077 "How about if work on React v18 concurrently mode?"
Could jotai handle it well?

[2022-03-31 03:01] dai-shi commented on #570
Let's keep this open for some more time, but it's likely we close this eventually unless someone works on it.

[2022-03-31 03:07] Aslemammad commented on #1064
Since this is how reactjs works and we cannot change it! let's close it!

[2022-03-31 03:07] #1064 closed

[2022-03-31 03:14] Aslemammad commented on #1065
syncing without re-render is not possible at least in the way you mean, you may want to check out SolidJS!
A component needs to re-render so it can access the new value!

[2022-03-31 03:14] #1065 closed

[2022-03-31 03:18] Aslemammad commented on #1052
Hey @Sajad-Sharhani, This may be a good take for you! It'd give you an overview of `initialValues` in providers

[2022-03-31 03:28] Aslemammad commented on #963
This issue helped improve the docs, so the goal was met and the docs are less unclear after this issue! let's close it! Feel free to re-open it!

[2022-03-31 03:28] #963 closed

[2022-03-31 03:34] Aslemammad commented on #860
@Thisen It'd be good if we can close this! feel free to re-open! I guess we have `tsc --noEmit` for type check, so this is not something so urgent! (I'm not against type tests)

[2022-03-31 03:34] #860 closed

[2022-03-31 03:36] Aslemammad commented on #911
@Thiesl137 Let's close this, but your help would be so appreciated, so feel free to re-open it!

[2022-03-31 03:38] Aslemammad commented on #1019
@sajad-sharhani This can also be a good take for you!

[2022-03-31 03:46] Aslemammad commented on #1063
@dai-shi How the investigation would be for this issue?

[2022-03-31 09:09] dai-shi commented on #911
@Aslemammad Actually, I have some ideas written in the description to improve, without having @Thiesl137 feedback.
So, let's do them. Would you like to work on this?

[2022-03-31 09:19] dai-shi commented on #1063
The issue originally reported is resolved as `working as intended`.

But then, it reveals an issue with atomWithStorage specifically. So, let me close this and open a new one.

On second thought, this seems wrong. Unless we cache atom values, it leads to double invocation. So, it turns out it's the issue with atomWithStorage, not the core issue.

[2022-03-31 09:19] #1063 closed

[2022-03-31 09:23] dai-shi opened #1079 "(utils/atomWithStorage) hypothetical issue with initialization"
https://github.com/pmndrs/jotai/issues/1063#issuecomment-1073421846

As reported there, there's an edge case `atomWithStorage` doesn't work correctly.
1. storage has a value 1.
2. initialize an atom with the value 1.
3. eventually the storage value is changed to 2, **before** the atom is mounted.
4. after the atom is mounted, the atom value is still 1.

This is a general issue with subscription  a

[2022-03-31 09:23] dai-shi commented on #1079
I have an idea to fix it for atomWithQuery in the mean time. Let me try.

[2022-04-01 10:07] Aslemammad commented on #911
@dai-shi I'd be happy, but it'd be good if you good them somewhere in my priority list! so I can work on it soon!

[2022-04-01 16:42] TomokiMiyauci opened #1081 "deno.land/x module is not working"
Deno asks for import extensions, so [deno.land/x/jotai](https://deno.land/x/jotai) will not work unless import maps are used.

Module for Deno from the Node.js code base is a bit of a challenge, but [denoify](https://github.com/garronej/denoify) is a good reference.

[2022-04-01 23:32] loganvolkers commented on #783
Solved this with a new library https://github.com/saasquatch/jotai-molecules

There are a lot of tests and examples. Thanks for the help @dai-shi in figuring out how to create non-global atoms in some good ways.

[2022-04-01 23:32] #783 closed

[2022-04-02 00:46] dai-shi commented on #783
It looks very nice!!

You did it! ❤️

cc: @aulneau may find this interesting.

[2022-04-02 01:19] dai-shi commented on #1081
Hi, thanks for reporting. Our hope was it works with no changes, so it's unfortunate.
I assume, lately, Deno tries to increase Node.js compatibility and users will be able to use NPM, hopefully eventually?

[2022-04-02 02:40] TomokiMiyauci commented on #1081
Yes. But deno 1.20.4 currently limited to CommonJS.

As for compat, perhaps the most practical is to use the [esm.sh](https://esm.sh/) registry.

In fact, https://esm.sh/jotai@1.6.1?pin=v74 seems to do module resolution correctly.
(Unfortunately, `process` converts to [std/node](https://deno.land/std@0.133.0/node/_process/process.ts) , so it won't work in the browser as is, but that's another issu

[2022-04-02 13:14] dai-shi commented on #1054
Did you modify the sandbox? I was going to look into this issue, but I don't remember if this is what I saw before.

[2022-04-02 23:36] dai-shi commented on #1081
Well, I think we should consider taking down from deno.land/x. I don't think it works without building now because our source code use `__DEV__` internally. Or, do you have any idea? I looked at denoify, but feels too much for us. (Would be nice if it works outside this repo.)

[2022-04-04 04:27] TomokiMiyauci commented on #1081
You can deploy to deno.land/x with a Subdirectory specified.
Not sure how to change the current deno.land/x/jotai configuration though...

<img width="1740" alt="スクリーンショット 2022-04-04 12 56 31" src="https://user-images.githubusercontent.com/46842642/161473695-615b259e-2014-4aaa-a995-0abed25219ba.png">

That is, by building the module for deno, you can deploy to that directory only. (But you will ne

[2022-04-04 08:13] carlos-marchal commented on #1054
Oops, you are right, I modified the sandbox to run some different tests with another issue. It has now been restored to the original sandbox and I will leave it like that for future reference.

You were right by the way, it was an issue with our approach. We actually had two different scenarios, one where we were waiting for the user to select what ID to load, and one where we were waiting for the

[2022-04-04 22:56] #1079 closed

[2022-04-05 09:28] gunters63 opened #1086 "atomWithStorage seems to be broken with 1.6.2"
I updated Jotai to 1.6.2 just now and I noticed this seems to have broken code in my current project which uses atomWithStorage.

I can't give you a minimal reproduction now (might later). All I can say now that I have several useAtoms() of atomWithStorage in different React components and suddenly at least one started to return the local storage value of a completely different key.

I reverted to

[2022-04-05 12:07] dai-shi commented on #1086
Thanks for reporting, and sorry for the regression.
#1080 is the related PR.
I hope you help creating a test for your use case, and let's find a solution.
We can consider reverting #1080 if that makes sense.

[2022-04-06 05:27] gunters63 commented on #1086
I had some problems writing a test to reproduce the problem. I even thought for a while this was a bogus bug report because I could not reproduce the problem anymore. Now the problem resurfaced and it seems it happens when you try to get a non-existing item from local storage (after previously successfully retrieving one with a different key). Somehow this will (sometimes) return the cached lastVa

[2022-04-06 11:03] dai-shi commented on #1086
Sounds interesting. Does this only happen in v1.6.2 and not in v1.6.1?

[2022-04-06 11:10] dai-shi commented on #1081
Yeah, that should be possible if we configure rollup to remove them.

We no longer have `process` except for one place which is inside try-catch.

But, we are not sure if these are everything?

[2022-04-06 11:47] Dreamacro commented on #1086
@dai-shi

a demo broken on 1.6.2 https://codesandbox.io/s/jotai-1-6-2-broken-1ku45o

[2022-04-06 11:57] gunters63 commented on #1086
Interesting. So getting atomWithStorage with a non-existing key does not work except when some previous get on an existing key seeded lastValue (which then results the wrong result of course)

[2022-04-06 11:58] gunters63 commented on #1086
Yes

[2022-04-06 13:23] dai-shi commented on #1054
Thanks for restoring it.
Hmm, I think this is something nice if we can support it.
Let me see if there's a reasonable way.

[2022-04-07 01:44] gunters63 commented on #1086
I also made some experiments: https://codesandbox.io/s/stoic-jepsen-845wmb?file=/src/App.tsx

With
[code]
you get the render output 3 and 4.
Interestingly, the component gets rendered 4 times (console outputs 3 and 4 four times).

With
[code]
you get empty render. The console says 1, undefined two times.

[2022-04-08 10:40] Thebarda commented on #1086
I have exactly the same issue on my projects. When the key is not defined in the local storage, atomWithStorage returns `undefined` instead of the initial value.

Downgraded to 1.6.1 and it's working fine :)

[2022-04-08 10:54] Moshyfawn commented on #1086
Same issue with
[code]

Reproduction CSB [here](https://codesandbox.io/s/strange-lewin-5no4hx?file=%2Fsrc%2FApp.tsx%3A787-801)

[2022-04-08 10:59] dai-shi commented on #1086
Thanks guys! I think I finally got how it's happening. Will work on it.

[2022-04-08 11:57] dai-shi commented on #1086
https://ci.codesandbox.io/status/pmndrs/jotai/pr/1088
Please try this. Look for "Local Install Instructions" ☝️

[2022-04-08 11:59] Moshyfawn commented on #1086
Looks like it's working now. Here's [a CSB](https://codesandbox.io/s/strange-lewin-5no4hx?file=%2Fsrc%2FApp.tsx)

[2022-04-08 12:05] Thebarda commented on #1086
Yep, it works fine on my side

[2022-04-09 01:35] dai-shi commented on #1054
It was fairly reasonable.
Please check the fixed behavior: https://codesandbox.io/s/nervous-fermi-j89jhw

[2022-04-09 12:40] #1086 closed

[2022-04-09 12:44] #1054 closed

[2022-04-10 06:40] dai-shi commented on #281
@omarkhatibco

With the later versions, `jotai/utils` is CJS, and you don't need `.cjs`.

[2022-04-10 11:14] omarkhatibco commented on #281
Hi @dai-shi, thank you for your support.

it seems a Remix compiler Problem, it picks the wrong file.

[2022-04-11 09:31] gunters63 opened #1092 "Enhancement optional pretty-printing of JSON for createJSONStorage"
I have implemented a custom atom with the help of atomWithStorage and createJSONStorage (AsyncStringStorage) to load and persist configuration values to a backend. Those strings will be held in a simple filesystem backed key/value store,

For troubleshooting people will look into this files in the key/value stores quite often. So it would be nice if the JSON would be pretty-printed. Currently I cl

[2022-04-11 10:26] dai-shi commented on #1092
In such cases, I'd suggest creating your own `createJSONStorage` or creating `AsyncStorage` directly.

`createJSONStorage` is not meant for customization. But, if you like you can override properties after creating.

[code]

[2022-04-11 11:28] gunters63 commented on #1092
Yes, thank you. I think I can live with the overridden property :)

[2022-04-11 11:28] #1092 closed

[2022-04-11 11:53] always-awake opened #1093 "Commonize useAtomValue"
In Mono repo project, I want to commonize `useNumber` hook in "common" package and use that `useNumber` hook in "my" package(other package).

but commonized `useNumber` in common package return initialvalue `null` not 100(expected).
I think there is no Provider in common package, so `useNumber` in common package return default value(null).

is there anyting solution to solve this problem?

[code]

[2022-04-11 12:53] dai-shi commented on #1093
my guess is, in the common package, `numberAtom` points to a different reference. It may be related with your build tools. There would be some solutions, but for example, defining an atom in a separate package may or may not help.

[2022-04-11 15:24] always-awake commented on #1093
@dai-shi

thank you for your comment.

can you explain it in more detail? I wonder why you think so..

i already define atom in common package. (example code has been modified..) is this what you're saying?

[2022-04-11 23:24] dai-shi commented on #1093
Just to make sure, it doesn't cause any issues without monorepo, right? Could you try it?

Because I have an experience in valtio about such a behavior. But, it's just a guess. So, please try to reproduce the issue without monorepo to confirm.

[2022-04-12 01:54] dai-shi commented on #197
More than one year passed, I've got an actual implementation. #1091
It's not about manual cancellation, but cancellation on overwriting and on unmount.
The previous discussion is not valid because we didn't have `onUnmount` back then, but the discussion context seems valid, so let's re-open.

[2022-04-12 06:45] qhnu opened #1094 "Error in esbuild build (using remix)"
I get an error when starting with the basic template in Remix.

Error: `SyntaxError: Cannot use 'import.meta' outside a module`

The following `import` key seems to be the problem.
[package.json](https://github.com/pmndrs/jotai/blob/b0df01c4eb0a38f783bfb612f4d359db41ca3f8b/package.json#L23)

---

In the past,  the import key was deleted once and reinstated again.

1. [deleted](https://github.com/p

[2022-04-12 07:24] dai-shi commented on #1094
It’s important to have import in package.json. When removed, would esbuild use cjs? I don’t think it’s what you want. So, the question is where/who complains import.meta.

[2022-04-12 08:54] qhnu commented on #1094
It looks like an esbuild priority issue.

- Set esbuild options to `format: 'cjs'`
- If `exports.import` key into package.json of the node_modules package, takes precedence over format option
- As a result, `mjs` syntax is mixed in the `cjs` build

This case was here.
It appears to be a problem on the esbuild side, so we will close it.
Thanks for your reply.

[2022-04-12 08:54] #1094 closed

[2022-04-12 10:19] dai-shi commented on #1093
Yes, your guess sounds correct. jotai (as well as valtio) uses module variables (like `ScopeContextMap`), so the library has to be loaded into the memory from the single package. I'm not familiar with how monorepo solves module variable issues.

[2022-04-13 04:27] always-awake commented on #1093
@dai-shi

we solved our problem!

The `jotai version` of the common package was different from my package.
so the jotai package was installed in the node_modules of each package. (two ScopeContextMap)

we solved our problem by `setting the jotai version of each package all the same.`

Thank you for your comment.

[2022-04-13 04:27] #1093 closed

[2022-04-13 07:55] Thisen commented on #1025
It should 🤔 I'll look into it!

[2022-04-13 19:23] riemonyamada commented on #197
I like this pattern which uses `onMount` and `atoms in atom`. This pattern is useful not only for abortable cases but also for unsubscribe-able cases (like Firestore) or any other cancelable cases.

I don’t think it’s possible to implement this pattern with Recoil, because Recoil Effect is different from Jotai’s `onMount`.

[code]

[2022-04-14 02:45] dai-shi commented on #197
Looks nice.

Just a small nit: `return () => controller.abort();`

[2022-04-14 04:08] riemonyamada commented on #197
Oops. Thanks, I'll fix that.

[2022-04-15 06:33] lucaslcode opened #1100 "Imperatively & synchronously read atoms (`useAtomCallback` only supports `Promise`s)"
I am in one of those weird edge cases where I am forced to be un-Reacty as I am using the Leaflet map library which requires a lot of imperative code. Thus I have something like the following:

[code]

Unfortunately, the `iconCreateFunction` is triggered later and `valueFromMyAtom` is stale. It seems that I need an imperative getter function to put there instead.
`useAtomCallback` is perhaps what

[2022-04-15 09:38] dai-shi commented on #1100
Thanks for the real use case.

Now, this is a bit tricky. It's designed to be async at the beginning, but since some point, it work mostly in sync if atoms are sync. While we are not sure if we will be able to keep the behavior for the future, what we can do at the moment is a best effort. Let me try.

Alternatively, we have an experimental api #922 for un-Reacty usage.

[2022-04-15 09:49] dai-shi commented on #1100
You can try: https://ci.codesandbox.io/status/pmndrs/jotai/pr/1101
Find "Local Install Instructions" in ☝️ .

[2022-04-15 12:32] #836 closed

[2022-04-15 13:50] #1100 closed

[2022-04-16 15:56] Nsttt commented on #1019
Hello! Writing this at the moment. What should I add as a `Ref:` link ?

[2022-04-16 23:55] dai-shi commented on #1019
Thanks for your help! I don't think `Ref:` is necessary in this case.

[2022-04-17 16:19] Nsttt commented on #1019
Just made a PR. If anything else is needed ping me.

Pretty much one of my firsts PRs. 😄

[2022-04-17 17:19] Nsttt opened #1105 "[atomWithQuery] Queries are not displayed inside react-query devtools"
Currently when using `atomWithQuery` the react-query devtools does not notice anything from the Query.

I believe this should be looked into, since the react-query devtools are really useful.

[2022-04-18 20:28] aulneau commented on #1105
You can use the query dev tools. You need to make sure to use the same queryClient between the atoms and what is fed into the dev tools. This is a bit of a different example, but the pattern is the same: https://github.com/fungible-systems/micro-stacks-examples/blob/main/nextjs/components/devtools.tsx#L10

[2022-04-18 20:31] aulneau commented on #1068
Yeah, this is all important data to use. Part of why I started working on [jotai-query-toolkit](https://github.com/fungible-systems/jotai-query-toolkit).

Here is an example hook I made to gain access to some of the data: https://github.com/fungible-systems/jotai-query-toolkit/blob/main/src/hooks/use-infinite-query-atom.ts

and an example atom that gets some of the status of a given query atom: ht

[2022-04-19 00:35] vcellu opened #1106 "setXXX((prev) => {}) will pass the function and not value to a writable atom"
Hi,
I'm not sure if there is something I'm missing, but I will try to explain through code:
`set((prv) => prv.filter((val) => val !== condition))`

will pass the function and not the result to a writable atom.  In the following snippet update is a function and not the result. Is this expected?

`someAtom = atom((get) => get(someOtherAtom), (get, set, update) => { typeof update === 'function' }`

[2022-04-19 00:47] vcellu commented on #1106
Oh!  Never mind, now I'm getting the hang of this.  The idea is to create a deleteXXX atom.

[2022-04-19 00:47] #1106 closed

[2022-04-19 01:21] dai-shi commented on #1105
So, it sounds like a documentation issue then.

[2022-04-19 01:54] dai-shi commented on #1068
Thanks for the idea! Having a new separate atom for such status sounds reasonable.

[code]

[2022-04-20 10:04] pakettiale opened #1109 "[atomWithHash] multiple atoms connected to url hash overwrite each other sometimes"
We have a strange problem with our react application where multiple `atomWithHash` mounting at the same time cause the subscribe function of `atomWithHash` to behave badly. But only sometimes. I'm also thinking whether the atomWithHash is suitable for our use.

The application is composed like this:
[code]
The problem:
1. Modify state in Page1 and the Filters inside Page1, url hash is updated corr

[2022-04-20 10:15] pakettiale opened #1110 "[atomWithHash] replaceState should probably keep current path?"
Setting `options.replaceState = true` causes the atom to overwrite current path with `#{jotai_hash}`. I would think what it should instead write `previous/path#{jotai_hash}`. Current implementation does not work well in SPAs that use `react-router` or similar libraries.

If this is the case I could write a PR to solve this.

[2022-04-20 13:12] dai-shi commented on #1109
Thanks for using jotai and investigating atomWithHash.
To be honest, I haven't thought about using it with router. So, it's an open field.

a) atomWithHash might be able to improved to handle your use case, or
b) it may not suit for you because `hashchange` is the key for atomWithHash (in such a case another atomWithFoo based on atomWithStorage might be possible.)

I'm not sure which is good for n

[2022-04-20 13:14] dai-shi commented on #1110
Yeah, that would be nice. Makes sense. We didn't cover such use cases.
Feel free to open a PR. If you have questions, let me know.

[2022-04-21 11:20] lili21 commented on #26
is there any different between `useSetAtom` and `useUpdateAtom` ？

[2022-04-21 11:58] macarie opened #1112 "Infinite loop when Suspense contains a Provider with initialValues set"
I played around with Jotai to create a (custom) translation library.

We need to show some app components using a different locale, so I thought we could do this by defining a `scope` as `useAtom`'s second argument and providing the locale through `Provider`'s `initialValues` and `scope`.

I have two `atom`s: `localeAtom` and `translationsAtom`.

`translationsAtom` is async and does a `get(localeA

[2022-04-21 12:19] dai-shi commented on #26
No. 😁
https://github.com/pmndrs/jotai/blob/84802077db94ee8874a7e61422e47662d6db7ed6/src/utils.ts#L2

[2022-04-21 12:28] dai-shi commented on #1112
The example is too long, but I guess the problem is `<Suspense>` is not inside `<Provider>`. Hope it helps.

[2022-04-21 12:45] macarie commented on #1112
Oh, yeah, that was the problem!

I've just found the paragraph about that in the docs. I think I've missed it before.

Thanks for the help, and sorry for having wasted your time 😅

Do you think it would be possible to detect this scenario and add a warn/error to the console with a link to the docs, like React does for some common issues? Having an infinite loop doesn't feel right, and honestly, mo

[2022-04-21 18:25] riemonyamada opened #1114 "Problems with derived atom which has a promise as its initial value"
I played around with the [codesandbox](https://codesandbox.io/s/nervous-fermi-j89jhw) in this issue https://github.com/pmndrs/jotai/issues/1054#issuecomment-1093566184 to understand the behavior when the atom has `Promise` as its initial value.

Then, I have noticed that this pull request https://github.com/pmndrs/jotai/pull/1089 does not solve the problem in many cases, and that even in cases whe

[2022-04-22 00:13] dai-shi commented on #1112
Infinite loop detection would generally be hard. Maybe possible with some heuristics. If anyone has a not-too-complex idea, please let us know.

What we should do at least is to improve the docs to explicitly tell (or even warn) the usage of `Suspense`. Do you have any suggestion?

[2022-04-22 17:08] riemonyamada commented on #1114
It seems like this pull request [fix(core): handle returning infinite promise in derived atoms #1089](https://github.com/pmndrs/jotai/pull/1089) created another issue.

## Issue

A loadable atom of a derived atom trigger infinite loop under the following conditions.

- the value of the derived atom is `Promise`
- the set function of an atom on which the derived atom depend is triggered without cha

[2022-04-23 13:49] dai-shi commented on #1114
Too bad we didn't have a test for it. I felt a little too naive when I did #1089.

I haven't followed all of your comments, but seems like you can help the project, by creating failing test cases and even open a PR to fix them.

[2022-04-24 05:42] riemonyamada commented on #1114
I created a pull request (https://github.com/pmndrs/jotai/pull/1118) to revert https://github.com/pmndrs/jotai/pull/1089 to solve infinite loop.
Not only was https://github.com/pmndrs/jotai/pull/1089 unable to solve infinite promise issue in derived atoms, it was also the cause of the infinite loop.

I also added a test for a infinite loop in this loadable case. I don't think this test is comprehe

[2022-04-24 07:33] dai-shi commented on #1114
I will take a look later. Do you mean we can't fix #1054? Or, do you have any other idea to fix?

[2022-04-24 22:05] riemonyamada commented on #1114
So far, I can't think of a solution that doesn't have problems.

If we update `readAtom` like below and keep https://github.com/pmndrs/jotai/pull/1089, we can support https://github.com/pmndrs/jotai/issues/1054 and all tests will be passed with it.

[code]

But this change might cause a problem as I mentioned in the last part of the first comment. I'm not 100% sure so I want to ask for yor insight

[2022-04-25 01:16] dai-shi commented on #1114
Hi, I just followed your comments, and see that you mean #1054 is an expected behavior in the first place. That's the first thought of mine too, but then #1089 was something that passed all the tests...

Okay, I agree that it was a wrong fix, so let's revert it.

[2022-04-25 21:29] riemonyamada commented on #1114
I am glad you agree. And yes, I understand that this is a tricky bug.

I also understand that the pattern in https://github.com/pmndrs/jotai/issues/1054 is useful. Here is a workaround to use a derived atom, which has `Promise` as its initial value, in case somebody else comes across this issue. This has a sort of watcher atom to keep the derived atom mounted.

https://codesandbox.io/s/drived-asyn

[2022-04-26 00:46] dai-shi commented on #1054
We will revert #1089 with #1118, meaning this pattern is not technically possible.

@riemonyamada suggested a workaround. See: https://github.com/pmndrs/jotai/issues/1114#issuecomment-1109059418

[2022-04-26 06:40] michalkleiner opened #1123 "useAtom with Ref"
Firstly — thanks for a great library and all your work on Jotai!

Question — I found this module for the normal `useState` hook — would there be something similar for `useAtom`?

https://www.npmjs.com/package/react-usestateref

My use case is abstracting some functionality within react components into methods that work with atom values. The issue is they get created when the component renders and

[2022-04-26 06:57] dai-shi commented on #1123
I'm not confident if I understand the use case, so let me start with an option. Does `useAtomCallback` help your case?

[2022-04-26 07:07] michalkleiner commented on #1123
I don't think `useAtomCallback` does what I need.

A simple use case would be something like this (pseudo-code):

[code]

[2022-04-26 07:18] dai-shi commented on #1123
From the code snippet, I think `useAtomCallback` works.

[code]

[2022-04-26 07:21] michalkleiner commented on #1123
Ah, right. I probably didn't understand well how to use the `useAtomCallback` in my use case. Will give that a go!

[2022-04-26 11:03] michalkleiner commented on #1123
Cool, that works! Thanks for the hint!

[2022-04-26 11:03] #1123 closed

[2022-04-27 12:51] mainhanu opened #1124 "multi atom instance and batch update"
when I have 1000 atom instance and I want to update all the atom value during one event, how to batch all changes, so the React view only rerender once?

code example:

https://codesandbox.io/s/mystifying-bell-cni04v?file=/src/App.tsx

you can see when button clicked, react rerender rerender a lot and cost more than 1 secounds despite the update logic is inside `ReactDOM.unstable_batchedUpdates`

[2022-04-28 02:45] dai-shi opened #1125 "(react 18) Extra commit with useTransition"
https://codesandbox.io/s/bold-antonelli-04z766?file=/src/App.js

Initial log:
[code]

After clicking the button:
[code]

The second commit with `{isLoading: true, resolvedThree: 4}` should not exist, and it's how `useState` behaves.

[2022-04-28 03:25] mainhanu commented on #1124
updated the [demo](https://codesandbox.io/s/mystifying-bell-cni04v?file=/src/App.tsx) and some results are as follows

1. After removing redux, the problem disappeared
2. if I bind each atom with indepent redux store, the problem disappeared

since the problem is the invoke num of `flushPending`, with 1000 node update:

pure atom，**32 times**
![image](https://user-images.githubusercontent.com/4839

[2022-04-28 03:45] MohanadOO commented on #1125
If you pass the `isLoading` as an array dependency to the `useEffect` it should not allow the `console.log` to execute until there is a change in the IsLoading.

[code]

Console Log:

[code]

[2022-04-28 08:13] mattbdc commented on #1125
This masks an extra console.log call, but doesn't fix the real issue that the component is committing an unnecessary  time  (the 2nd one)

[2022-04-28 12:13] nikparo opened #1127 "Second useAtom call returns old data"
When getting the value from the same atom twice in the same component, the second value is sometimes out of date. Granted, this is not something you would normally want to do, it's just something I discovered while testing and playing around to get a feel for how atoms work.

[code]

Working example that displays this behaviour:
https://codesandbox.io/s/jovial-wozniak-bv8oqk

[2022-04-28 12:43] dai-shi commented on #1127
That sounds bad. Thanks for reporting.

I will work on #1125. maybe it's slightly related? will see.

[2022-04-28 13:19] #1019 closed

[2022-04-28 14:03] #1114 closed

[2022-04-28 14:50] liaoliao666 opened #1129 "[atomWithQuery] how to reset queryAtom when it throw error"
I have a issue that how can i reset the `queryAtom`, when query throw a error. I try to using `QueryErrorResetBoundary` of react query to reset this query. but unfortunately it does not work.

[2022-04-28 15:05] liaoliao666 commented on #1129
If its possible  to get the nearest context of `QueryErrorResetBoundary` in the `get` function of `queryAtom` and it will be solved. but its not react hook, so that i can not think of any way to fix it.
Can anyone has some workaround to solve this problem

[2022-04-28 19:05] Thisen commented on #1025
@dai-shi, I couldn't reproduce it - It should work with `jotai/babel/plugin-react-refresh`. You got a reproduction with the plugin?

[2022-04-28 23:50] dai-shi commented on #1129
My initial question is if this is solvable with normal atoms without jotai/query.
If we find a solution with normal atoms, then we will make/modify jotai/query to work in the same way. So, the goal is once we have atoms (either from jotai/query or not), we want to handle them consistently (especially for Suspense and ErrorBoundary).

Would anyone like to dig into it? How does `useState` work?

[2022-04-29 00:00] dai-shi commented on #1025
@Thisen https://github.com/pmndrs/jotai/issues/1025#issuecomment-1048647739 should be the reproduction, as far as I recall.

[2022-04-29 06:27] Thisen commented on #1025
@dai-shi https://github.com/pmndrs/jotai/issues/1025#issuecomment-1053562626 I don't think we can support this scenario tbh. Then we need to redo the caching mechanism for the Babel plugin.

[2022-04-29 15:08] hxse opened #1131 "Suspense does not work"
I create a codesandbox:
https://codesandbox.io/s/optimistic-night-qbgsy1?file=/src/App.js
When i fetch data, Suspense did not show "loading" as expected.
How should I do to let it work on React18?

[2022-04-30 00:59] mattbdc commented on #1131
Suspense boundary will show the fallback if a child component throws a promise (i.e. the promise in the atom hasn't yet resolved)

Your suspense boundary is after the call to useAtom

This is expected (and applies to non Jotai too)

[2022-04-30 20:09] dwelle opened #1132 "using `unstable_createStore` gives `act()` warnings in tests"
At least I'm pretty sure it relates to the `unstable_createStore`. Removing it from the provider (and using the default store) and adding a declarative `setAtomValue` instead of an imperative `store.set()` removes the warnings.

[code]

[2022-05-01 00:17] dai-shi commented on #1132
Wouldn't
[code]
solve it?

[2022-05-01 04:44] mainhanu commented on #1124
it's still very slow due to the invoke time of flushPending

![image](https://user-images.githubusercontent.com/48398913/166132534-b8bcb625-c113-49b9-af3a-efb1c25783ec.png)

[2022-05-01 04:49] mainhanu commented on #1124
I think there is something todo with the derived atom, I changed the pure Atom to derived atom, it then become extramly slow due to the same reason.

1. pure atom: https://codesandbox.io/s/white-worker-m0pjyz?file=/src/pureAtom.tsx
![image](https://user-images.githubusercontent.com/48398913/166132599-30217bb9-3402-4e13-8409-cb9badbedf68.png)

2. derived atom: https://codesandbox.io/s/white-worker-

[2022-05-01 11:47] dwelle commented on #1132
In the test code it's not immediately obvious what to wrap in `act()` (tried wrapping most of the test code logic to no results). Especially considering that react-testing-library should already be doing that for us (Excalidraw).

Could it be that the unstable stores don't play well with the `useDebugState`?

[2022-05-01 11:53] Aslemammad commented on #1127
This issue only happens with React versions that are not 18, and as I said, it's because the batching system of React 18 was improved so much! I found a workaround, you can see it in the PR, but I don't think it's worth it! (it may break jotai in react-native and ...)

[2022-05-01 12:06] Aslemammad commented on #1127
@nikparo We decided to close this issue as we think the solution is not worth it (jotai's store does not depend only on react, and batchedUpdates in the core is a bad move in the long run for using in core in jotai)!
So feel free to use the batchedUpdates workaround!

[2022-05-01 12:15] #1127 closed

[2022-05-02 08:11] niyan-ly opened #1134 "`atomFamily.remove` does not trigger component update"
As the title, it seems like a bug. I'm currently using react@18.
And here is the minimum representable code.

### What i expected
- when the `reset lisa` clicked, lisa should be remove from personAtom. And because it is being referenced from an index list, it should automatically re-created with brand new `age`.

### What actually happened
- the page doesn't update

[code]

[2022-05-02 11:01] nikolalukovic opened #1135 "useAtom with Typescript and strict enabled reports update state function as an unknown type"
Is there something i'm missing? What's going on?

### versions

- ts: `^4.4.4`
- jotai: `^1.5.3`

### package.json
[code]

### tsconfig.json
[code]

### code example
[code]

<img width="868" alt="image" src="https://user-images.githubusercontent.com/6897673/166223812-6d582a60-ea1e-4cf7-8798-495bf950bb0f.png">

[2022-05-02 11:05] nikolalukovic commented on #1135
nvm, I figured it out.
You have to pass an initial state value of the type specified to the atom for type inference to kick in.

[2022-05-02 11:05] #1135 closed

[2022-05-03 02:54] dai-shi commented on #1124
How about this? I expect it not slow:

[code]
That ☝️ is more atomic.

In such a case, I guess there's possibly the room for improvement for updating derived atoms and then bailing out (because of the same atom value). Maybe skipping flushPending somehow.

[2022-05-03 03:09] dai-shi commented on #1134
While I understand where your expectation comes from, it's working as expected.
atomFamily is an atom cache, and removing it doesn't trigger re-render.

Closing this, but I guess the question remains what we should do. In your case, as you want to reset the value, I think `atomWithReset` would work.
Please feel free to continue discussion here or create [a new discussion](https://github.com/pmndrs

[2022-05-03 03:09] #1134 closed

[2022-05-03 07:16] Thisen commented on #1025
I still don't have a reproduction with our babel plugin.

[2022-05-03 11:09] lgwebdream opened #1137 "The component is re-rendered the first time it is rendered."
[code]
The component is re-rendered the first time it is rendered. That is my console.log will be printed twice. I don't encounter this kind of problem when I use recoil and useState. Is there any way to solve it, thank you.

[2022-05-03 11:13] Thisen commented on #1137
Hi!

Can you make a Codesandbox with a reproduction? :)

[2022-05-03 11:13] Thisen commented on #1131
Sounds like it was resolved 🙏🏼

[2022-05-03 11:13] #1131 closed

[2022-05-03 11:22] lgwebdream commented on #1137
https://codesandbox.io/s/jotai-redered-demo-m3yt72?file=/src/App.js
a very simple demo,thank you very much

[2022-05-03 12:11] Thisen commented on #1025
@StarpTech do you have a reproduction?
I can't see the Babel plugin being configured in these examples: https://github.com/pmndrs/jotai/issues/1025#issuecomment-1048647739

If not, I will close the issue.

[2022-05-03 13:37] lgwebdream commented on #1137
When I just initialized and defined the state and didn't involve modifying it, he actually re-rendered the component. It's really not reasonable here. Can you fix it?

[2022-05-03 15:53] zm8 commented on #1137
I think this is not a bug. React will double-call render-phase lifecycles in development only. See [issue](https://github.com/facebook/react/issues/17786)

Remove ```<StrictMode></StrictMode>```, it will render once.

[2022-05-03 23:32] dai-shi commented on #1137
https://codesandbox.io/s/jotai-redered-demo-forked-1gm5y8

This still shows two "rerender" logs.
<img width="253" alt="image" src="https://user-images.githubusercontent.com/490574/166590597-4c2856c7-5838-4f0b-a389-c56b9d12f32e.png">

---

I suppose you are observing double-render-with-one-commit behavior in your app. Please wrap `console.log()` with `useEffect` to count commits. If you see one com

[2022-05-03 23:59] dai-shi commented on #1132
Hmm, not sure why they can't play well with it. Would you be able to try the following patch?

[code]

[2022-05-04 02:14] lgwebdream commented on #1137
thank you for your reply. useEffect this I definitely know to avoid the above problem. But what I want to ask is why does the initialization state cause the component to re-render? Shouldn't the normal logic be that the updated component that triggers loading will be rendered again. This is annoying me. When I use the following two ways it doesn't render twice.

[code]

[code]
I like jotai very mu

[2022-05-04 05:01] dai-shi commented on #1137
Please do put impure code in useEffect. It's not jotai rule, but react in general. `StrictMode` is to catch such misusages.

Now, this is very technical, but the goal of jotai is to make it concurrent react friendly as much as possible. This double-render-one-commit behavior is the workaround I learned from `useSubscription` from the React team previously.

Recoil also seems to try something, acco

[2022-05-04 05:05] mattbdc commented on #1137
@lgwebdream I hit the same eek initially (after removing StrictMode like @zm8 suggests - it is still double rendered first mount - but one commit - see fiber docs for more on commit). I just edited my answer as dai-shi has replied above but there was some more context on the Discord if this is helpful..

[2022-05-04 08:21] Thisen commented on #1137
I'm closing this issue, since there's no issues :)

[2022-05-04 08:21] #1137 closed

[2022-05-04 08:32] lgwebdream commented on #1137
Can you please give me a link？ @mattbdc

[2022-05-04 10:16] mattbdc commented on #1137
https://discord.com/channels/740090768164651008/752920140483526677/966972799635832873

[2022-05-04 10:24] dai-shi commented on #982
wip #1111

[2022-05-04 10:33] Thisen commented on #485
Closing due to inactivity. If anything comes up, lets tackle it in a new issue :)

[2022-05-04 10:33] #485 closed

[2022-05-04 18:32] ctrepka opened #1140 "feature request: add new atom function atomWithLocationQuery"
Currently, atomWithHash permits the developer to listen to changes in the hash parameters of the URL with two-way data binding.

In my project, I am using the search/query params on the url, window.location.search. I would like to refrain from changing up the way the URL is parsed so that my current user-base can use the same url parameters as they always have (using the `?` parameter instead of `

[2022-05-04 19:37] macarie commented on #1112
I've tried debugging this issue because I thought it was weird that it doesn't work only with `initialValues`.

I've found out that what causes the infinite loop is this line of code: https://github.com/pmndrs/jotai/blob/3f7d555355bba3d8743915a8b7f8fda4e0eb0991/src/core/Provider.ts#L46

I think, but I might be wrong on this, that in my case (`Suspense > Provider > useAtom(async)`), the `Provider`

[2022-05-04 23:51] #1124 closed

[2022-05-05 00:56] mattbdc commented on #1140
Sounds like a great idea for a community PR if "only a few lines of code" including tests.

However, it may be pushing into routing/navigation territory beyond whats comfortable for utils (idk), when you say blocking for your prroject - what is stopping you at this stage from using history listen and updating a primitive atom with the window.location.search https://github.com/remix-run/history/blo

[2022-05-05 01:17] dai-shi commented on #1112
The current behavior (re-creating a store on remount) is not a bug or something to fix, but it's an expected/intentional behavior. Otherwise, it will break many use cases. It's how React state works in general.

Would you please send a PR? That will be helpful!

----

A side note:

It is not directly related to your point, but [jotai-molecules](https://github.com/saasquatch/jotai-molecules) might

[2022-05-05 01:34] dai-shi commented on #1140
As far as I understand, there's no standard way to allow two-way binding for window.location. That's why I made `atomWithHash` which we can use standard `hashchange` event.

I'd propose you to work on a new hook `atomWithLocation` instead of modifying `atomWithHash`. It will take `subscribe` as an option, which you can use both with react-router's history, or nextjs.

Related: https://github.com/p

[2022-05-05 06:45] macarie commented on #1112
Sorry, I think I haven't worded it correctly. I agree with you; this (for me) is more like a weird and complex edge case that Jotai should not support 👍🏼

I had some free time and wanted to write down what I've found so that if other people have the same problem, they can better understand the cause.

Sure!

Thanks, will take a look 😄

[2022-05-05 06:52] ramiel opened #1141 "Incorrect type on Setter"
I have this code

[code]

The idea is that the setter function act as a toggler. The problem is that null cannot be assigned

![Screenshot_20220505_085012](https://user-images.githubusercontent.com/324687/166874976-96aca353-3ddc-40e0-a8ae-0b1d73a2ee62.png)

I feel like this is wrong: `set` function should accept values of type `Value` not of type `Update`. Am I understanding it wrong?

[2022-05-05 08:53] ramiel commented on #1141
So there are two topics here: the functionality and the types. First of all, is this usage correct? Should I be able to use the setter like I did (regardless of the types). I'm going to try to have a look at the types, to see if there's a workaround or a solution

[2022-05-05 10:47] dai-shi commented on #1141
Yes, `atom(initialValue, writeFunction)` is a valid usage, but just undocumented.

[2022-05-05 11:09] ramiel commented on #1141
Does it change anything if I use the following version?
`atom(readFunction, writeFunction)`

I mean, the problem is not there right?

[2022-05-05 11:19] ramiel commented on #1141
oh wait, is my code wrong becaue the atom is trying to write itself? Is this forbidden?

[2022-05-05 12:09] dai-shi commented on #1141
Yeah. It's not forbidden, but undocumented, which means not recommended.
So, the recommended way is to use two atoms.
[code]

---
For `atom(readFunction, writeFunction)`, if you try to write the self atom, it will throw an error.

[2022-05-05 12:10] ramiel commented on #1141
Got it, I see the point. Thank you

[2022-05-06 14:16] dai-shi commented on #1112
closed by #1142.

[2022-05-06 14:16] #1112 closed

[2022-05-06 15:45] ziongh opened #1144 "How to Update multiple Atoms at the same time with only one Re-render"
I know that the idea behind atoms is that it should be used atomically, so ideally you would never need to update two separate atoms as a single action. But let's imagine a situation where we have a filter that has many properties (filter by name, age, and so on):

[code]

And in some Component we have a button to reset all the filtering options to the initial state. I Know that there is the **use

[2022-05-06 18:09] AjaxSolutions commented on #1144
I wondered myself how to do this.  MobX has the transaction feature.
https://mobx.js.org/api.html#transaction

[2022-05-06 21:44] johnrhombus opened #1145 "atomWithStorage - How is localStorage v.s. AsyncStorage decided?"
I'm working on a project in which our state is using jotai and is stored in a common project that is used in both web and mobile.

One of our state atoms defined in this common project uses the `atomWithStorage` atom type.  The hope was that this would use localStorage on the browser, and AsyncStorage in the mobile projects.  Yet it appears that the mobile projects are actually using localStorage

[2022-05-06 23:14] dai-shi commented on #1144
It should not render twice, because React should batch them.
If it does, a minimal reproduction would be appreciated.

[2022-05-10 12:29] #1125 closed

[2022-05-10 18:32] iscekic opened #1149 "Wrong values during render"
Hello,

Thanks for creating an awesome library! I've encountered an issue and I need some help debugging.

Given the following definition of atoms:
[code]

For these steps:
1. initial render ✅
2. anonymous id gets set ✅
3. firebase boots and sets user info 🟥
4. subsequent correct render ✅

This component:
[code]

Logs the following:
<img width="399" alt="image" src="https://user-images.githubuserc

[2022-05-10 18:34] iscekic commented on #1149
A weird thing I noticed is that, in dev tools, the atom is dependant on itself:
<img width="307" alt="image" src="https://user-images.githubusercontent.com/4062236/167698390-0514aa27-b8c7-425f-a4de-a0cecf12ac55.png">

Not sure if that's normal or not.

[2022-05-10 21:55] alan-nf opened #1150 "State resets with React Fast Refresh"
Expected: when React Fast Refresh updates UI on save, jotai state should not be lost. E.g. a primitive counter atom like `const countAtom = atom(0)` should maintain it's value across fast refreshes.
Actual: all jotai global state resets when React Fast Refresh updates the UI.

Codesandbox: https://codesandbox.io/s/jotai-react-refresh-bug-807nez?file=/src/Jotai.tsx
Local demo: https://github.com/al

[2022-05-11 02:55] dai-shi commented on #1149
https://codesandbox.io/s/nervous-lamport-xio5gk?file=/src/App.js
Hmm, this is even reproducible without `atomWithReset` and `selectAtom`.

@riemonyamada Would you like to give a shot???

---

It's correct. some atoms may not depend on themselves.

[2022-05-11 02:56] dai-shi commented on #1150
@Thisen Can you take a look?

[2022-05-11 08:39] iscekic commented on #1149
The issue isn't reproducible in react 18 - I think it has to do with state updates batching being automatic in 18 vs manual in 17.

I think a potential solution might be to wrap all updates of an atom and its dependants with `ReactDOM.unstable_batchedUpdates`.

[2022-05-11 08:47] Thisen commented on #1150
I'll take a look!

[2022-05-11 08:48] dai-shi commented on #1149
Oh, great finding!!!
https://codesandbox.io/s/strange-driscoll-8f8jrn
Yeah, `unstable_batchedUpdates` fixes it.

Okay, this is working as expected.
If one needs to fix it in react 17, it's their responsibility to use `batchedUpdates` on their end.
(We don't do it in the library for various reasons.)

Closing as not an issue.

(btw, if we have a better solution without `batchedUpdates`, we may cons

[2022-05-11 08:48] #1149 closed

[2022-05-11 08:58] iscekic commented on #1149
A note somewhere in the docs might be benefitial - there are still lots of react 17 users out there. 😄

Thanks for the help!

[2022-05-11 09:02] dai-shi commented on #1149
good point. where do you think we should add such a note?

[2022-05-11 09:07] iscekic commented on #1149
Somewhere in the derived atoms section? 🤷

[2022-05-11 09:12] dai-shi commented on #1149
Hmm, it's not only about derived atoms.
If anyone has suggestions, please feel free to open PRs. 😅

[2022-05-11 09:13] dai-shi commented on #1149
maybe, `./guides/react-17.mdx`..

[2022-05-11 09:30] Thisen commented on #1150
@alan-nf, the Codesandbox doesn't seem to be using the `jotai/babel/plugin-react-refresh`. Am I blind? 😅

[2022-05-11 18:24] alan-nf commented on #1150
No you're not blind, heh. It's using Create React App which uses react refresh under the covers

from https://javascript.plainenglish.io/react-fast-refresh-the-new-react-hot-reloader-652c6645548c:

more specifically, it's using `@pmmmwh/react-refresh-webpack-plugin@^0.5.3`

This is where it's hooked up: https://github.com/facebook/create-react-app/blob/main/packages/react-scripts/config/webpack.co

[2022-05-11 18:29] alan-nf commented on #1150
And, if you grab [the demo that can run locally](https://github.com/alan-nf/jotai-react-refresh-issue), you can save a file edit and then see the network requests related to the react refresh update:

![image](https://user-images.githubusercontent.com/100322190/167920423-960d42b4-260e-46e7-b7e7-3971fe9ad860.png)

[2022-05-11 18:32] alan-nf commented on #1150
I noticed that the hot update includes the atom declaration, presumably because it's in the same file as the component I'm editing. If I move that component to a separate file and edit it there, the jotai state stops resetting. That seems like totally reasonable behavior, and therefore isn't really reproducing the issue I'm seeing.

In my codebase, editing files that do not have the jotai atom dec

[2022-05-11 19:02] alan-nf commented on #1150
Ugh, I can't reproduce with vite, even when I perfectly match the versions of all the packages in my codebase. Here it is working just fine: https://stackblitz.com/edit/vitejs-vite-2tuyjr?file=src/App.tsx

I'm going to try to figure out why this isn't working specifically in my codebase. I'll reopen this issue if I can get a correct repro of the problem.

[2022-05-12 04:04] riemonyamada opened #1151 "Transition with `useTransition` is broken by re-render"
If a re-render occurs on a component during a transition with `useTransition`, the transition is broken.

https://codesandbox.io/s/jotai-x-usetransition-4qrsdh
If you click `update id atom with startTransition` and then click `update some atom` before it is resolved, it suspends.

When I use `unstable_enableVersionedWrite` it works but I am getting errors.

https://codesandbox.io/s/jotai-x-usetran

[2022-05-12 12:27] noccer opened #1152 "[atomWithStorage] - Feature request for storing in cookies instead of localStorage/sessionStorage"
As per the description.

I really like Jotai, probably my favourite state manager. And I think `atomWithStorage` is brilliant. However it does not play well with SSG pages.

Would something like `atomWithCookie` ever be considered? On a NextJS SSR website that I am building, I would like to persist unAuthenticated users' darkMode config settings in their cookies (not localStorage), so that when th

[2022-05-12 12:46] dai-shi commented on #1151
Hi, thanks for digging into it.
Just a basic question, if we use useContext and useState (for each atom) without jotai, the behavior is different, right?

[2022-05-12 12:57] dai-shi commented on #1152
Hi, `atomWithStorage` is not tied to localStorage (although, it's the default), and we make it as flexible as possible, so that we can use it with any kind of storage.
We don't have well established docs for atomWithStorage. Meanwhile, if you have problems using it for cookies, please feel free to let us know here.

It's roughly like:
[code]

---
I don't think we will add `atomWithCookie`, but add

[2022-05-12 13:28] noccer commented on #1152
Thanks for such a comprehensive and fast response, much appreciated.

I didn't realise `atomWithStorage` already had an option to choose your storage, I will try have a play to get it working.

A 3rd-party library is a nice idea. If I can get my solution cleanly working, and if I can get enough spare time, I would like to try extract it into a shareable library.

Many thanks again ☘️

[2022-05-12 13:28] #1152 closed

[2022-05-12 22:14] riemonyamada commented on #1151
Do you mean something like this? Not exactly the same as the first example, but it would be helpful. And yes, it appears to be working well.

https://codesandbox.io/s/usetransition-x-context-forked-gokrtl?file=/src/App.js

The `count` uses `useState` and `useContext` and the `derivedData` is derived from `count`. The `derivedData` is stored in module scope and does not even use `useState`.

Concur

[2022-05-13 00:01] dai-shi commented on #1151
Thanks so much for the investigation.
I will look into it later. This might be a bit related to what I'm trying in another project.

[2022-05-13 07:41] xuyang1996 opened #1153 "fail to reset <INPUT> str to empty with setList(str)"
I am using antd input component.
I wanna get input str, add str to list and reset input to empty string when i press enter keyboard.

But i can reset input str to empty even when i use `event.target.value = '';` with using `setList(str);`

[code]

![image](https://user-images.githubusercontent.com/16434756/168235368-e1b2c269-415d-4a53-86e5-1ab65d280afd.png)

[2022-05-14 05:21] lgwebdream opened #1155 "atomWithImmer doesn't work"
object value doesn't change, but component is rendered repeatedly~
demo link
https://codesandbox.io/s/atomwithimmer-demo-u4pw0u?file=/src/App.js

[2022-05-14 12:36] dai-shi commented on #1155
If you wrap `console.log` with `useEffect` and the result is something expected, then it's not an issue, but an intentional behavior to make it better work with concurrent react.

https://codesandbox.io/s/atomwithimmer-demo-forked-th8820

[2022-05-14 12:44] dai-shi commented on #1153
Can you create a **minimal** reproduction with codesandbox?

[2022-05-14 15:03] lgwebdream commented on #1155
I probably understand, thanks~

[2022-05-14 15:03] #1155 closed

[2022-05-14 18:23] TobiasWalle opened #1156 "[atomWithObservable] Uncaught ReferenceError: Cannot access 'subscription' before initialization"
If I'm using `atomWithObservable` with the `BehaviourSubject` from rjxs, I get the following error:

<img width="626" alt="image" src="https://user-images.githubusercontent.com/9933601/168443660-60de2cdd-c948-411b-91ed-b4cadf5c4202.png">

Minimal reproducible example:

[code]

Based on my analysis, the error is caused here: https://github.com/pmndrs/jotai/blob/main/src/utils/atomWithObservable.ts#

[2022-05-14 19:06] TobiasWalle opened #1158 "Avoid rerenders if atom value doesn't change"
Currently a React Component that uses an readonly atom, gets always rerendered if one of the atoms dependencies changes. Even if the value of the atom is the same.

I created an example to demonstrate the issue:
https://codesandbox.io/s/jotai-rerender-demo-pgr5ep?file=/src/App.tsx
If you click the button, `ComponentA` is always rendered, even if its atom value never changes.

This behaviour causes

[2022-05-14 22:23] AjaxSolutions commented on #1158
I made a small change.  I find it interesting that the CounterComponent re-renders even though count is not changed because it's not increased.  Just calling setCount causes a re-render.

`const CounterComponent: FC = () => {
  console.log("RENDER Counter");
  const [count, setCount] = useAtom(countAtom);
  return (
    <button onClick={() => setCount((c) => c + 0)}>Click me ({count})</button>
  )

[2022-05-15 01:27] dai-shi commented on #1158
This is something being asked several times. #1015 #1137 #1155
See how it behaves: https://codesandbox.io/s/jotai-rerender-demo-pgr5ep?file=/src/App.tsx

Now, this is a real problem. Thanks for sharing. My assumption is there is some heavy computations in a render function. Can you guess what they are? If so, wrapping with `useMemo` solves the problem, doesn't it?

For now, I don't have a solution

[2022-05-15 01:38] dai-shi commented on #1158
Yeah, this is more counter-intuitive than derived atom cases.
This one would especially be nice to fix.

[2022-05-15 02:58] dai-shi commented on #1158
Okay, what's news to me is that React changes `useReducer` behavior with 18 (createRoot) and 17.

https://codesandbox.io/s/eager-lake-khw3pw?file=/src/App.js

[2022-05-15 14:42] dai-shi commented on #1158
#1159 should fix the same value with non-derived atoms https://github.com/pmndrs/jotai/issues/1158#issuecomment-1126820506.

For derived atoms as originally reported, this is working as expected.
The rationale is that the library doesn't know how heavy is the `read` function is.
So, we run it in "render" phase and then "bail out" if value isn't changed.
This is same as how `useReducer` works (espe

[2022-05-15 14:42] #1158 closed

[2022-05-15 14:45] dai-shi commented on #1155
I understand the different behavior in React 18 and 17. https://github.com/pmndrs/jotai/issues/1158#issuecomment-1126848920

#1159 will improve the behavior, it doesn't re-render on updates. (on mount, it's double render with one commit.)

https://codesandbox.io/s/atomwithimmer-demo-forked-2cg03z?file=/src/App.js

[2022-05-15 16:02] TobiasWalle commented on #1158
@dai-shi Thank you for the clarification! I didn't now about the difference between the render and the commit phase.

I was able to find the source of my performance issues with the React profiler and a `useMemo` (as recommended).

Off topic: Thank you for your great work on this library. I really love using it!

[2022-05-15 21:37] pencil-user opened #1161 "I don't seem to be able to edit atomFamily atom from write atom"
Hello, everyone, my first post!

I am using Jotai 1.6.6 and Typescript 4.2.3. I am trying to edit atom in stringFamily from Write Atom instead of from the hook. But this shows an error:

[code]
the red underline is on `stringFamily(params.id)` part and it reads

[code]

(Code where I was trying to do this is actually much longer, but I wrote this example for the purposes of demonstration). Not sur

[2022-05-16 02:58] vasilenka commented on #1129
@liaoliao666 did you added the queryClient that you initialize for the react-query provider as the second parameter on your `atomWithQuery`?

[2022-05-16 15:56] cutefcc opened #1164 "immer does not work in react18"
[code]
When I keep clicking the button, the component will be Re-rendered repeatedly，I think it's unnecessary

https://user-images.githubusercontent.com/63641648/168634246-210868bf-795b-49c0-9b56-92a966913169.mov

[2022-05-16 22:46] dai-shi commented on #1164
This is probably a new behavior introduced in React 18. It shouldn't affect the performance much.

Can you try if #1159 fixes your issue?
https://ci.codesandbox.io/status/pmndrs/jotai/pr/1159 👈 Find "Local Install Instructions"

btw, using both `atomWithImmer` and `useImmerAtom` seems redundant.

[2022-05-17 13:48] TwistedMinda commented on #904
@dai-shi Are you sure? As a new-comer I did understand that part of the docs very clearly. You have enough explanation about keys vs reference so that at this point of the reading we are already in the right context to understand your last statement.

However, I could not reproduce the infinite loop issue, do you have some pseudo code ? or codepen ?
I could try to update the docs if I understood t

[2022-05-17 14:02] dai-shi commented on #904
Thanks.
For context, this is reported in Discord or somewhere, and I created the issue.

[2022-05-17 21:37] cortesa commented on #931
can be added a 'devLabel' or so when create the atom? something like this:
`const countAtom = atom(initValue, devlabel)`
and take it to show in devtools?

[2022-05-17 23:03] acusti commented on #1094
@qhnu do you know if there is an existing issue i can follow to see when this will be resolved? for now i had to downgrade/pin  jotai to v1.5.3, but i’d love to know if/when i can eventually upgrade to the latest version of jotai.

[2022-05-18 00:25] dai-shi commented on #931
We already have `.debugLabel` property in case you missed it.
[code]
and, we do have a babel plugin to do it automatically behind the scene.

[2022-05-18 00:28] #1156 closed

[2022-05-18 10:19] Ding-Fan commented on #521
I'll link the document here to save others time :smiley:

https://jotai.org/docs/advanced-recipes/atom-creators#atom-with-refresh

[2022-05-18 12:55] cortesa commented on #931
great!!, yes I've missed it sorry, thanks for the info

[2022-05-18 15:54] sandren commented on #1041
@TwistedMinda I'm currently working on writing a new introduction doc and reorganizing the utils section. If you would like to continue copyediting some of the other docs, that would be really helpful. Thanks! 🙂

[2022-05-18 20:15] TwistedMinda commented on #1041
@sandren No prob'

[2022-05-19 01:14] TwistedMinda commented on #1037
@dai-shi I can't reproduce either. I think the OP may have mis-read his logs. Because indeed, when you use `delayInit: true`, and you "refresh" the screen (he means reload the hot reloader / kill app + relaunch), the first log you will see is indeed the default value of your atom. But soon after, the promise from AsyncStorage resolves and the listening component is updated with the stored value.

[2022-05-19 02:51] #1037 closed

[2022-05-20 13:16] moroshko opened #1175 "Extra re-renders with selectable list"
Given a list of selectable items, when an item's selection is toggled, I'd like only that item to be re-rendered.
However, I see that ALL items are getting re-rendered.
What am I doing wrong?

Use case: Select items to perform bulk action of the selected item ids.

[CodeSandbox](https://codesandbox.io/s/jotai-select-list-forked-nljpsh)

[2022-05-20 14:11] dai-shi commented on #1175
https://codesandbox.io/s/jotai-select-list-forked-p4zzwk

Nothing is wrong. React runs render function and finds that atom values are the same, and stop rendering (no commit). This behavior is basically the same as `useReducer`.

[2022-05-20 14:21] #971 closed

[2022-05-20 14:33] TwistedMinda commented on #1144
Found an [interesting discussion](https://stackoverflow.com/questions/53048495/does-react-batch-state-update-functions-when-using-hooks) about that.

**TL;DR**:
- Before react 18
  - If setters are called inside a `Promise`, `setTimeout` or other "non-react events": will **not** batch updates
  - If setters are called inside "react-events": will batch updpates

- After react 18: should batch even

[2022-05-20 14:45] dai-shi commented on #1144
atom's `write` function is considered outside react lifecycle. So, the answer to your question is a `Promise`. Suspense is only related with `read` function.

Yeah, let's close. We could reopen upon request.

[2022-05-20 15:13] TwistedMinda commented on #1175
@moroshko I think your algorithm could be improved if you really need to focus on performances.

Here is a schema of your pattern:
- create map of <string, atom>
- for each item, create a derived atom on the map, for a given id
- everytime you update one toggle in your list
  - this will re-render all your items
  - as dai-shi mentioned it's not a big deal because there will be no commits by react

[2022-05-20 15:56] TwistedMinda commented on #997
@seanaye Can you confirm that your issue is resolved? By marking the accepted answer if that's the case.
Or maybe you guys are waiting for a TS wizard to come to the rescue ?

@dai-shi Should something like this be documented in a "Atom Family" subsection of the main Typescript section (kinda basic at the moment) ?
I'm not sure I understood well the use-case tho, may need more explanation if you w

[2022-05-20 16:18] TwistedMinda commented on #1164
I can't reproduce the issue.

With all the latest version the render happens only if value changed as expected.

[code]

[2022-05-20 16:49] TwistedMinda commented on #1153
@xuyang1996 I think what you're missing is to notify `<Input />` of the value change, like so:
[code]

[2022-05-20 23:15] dai-shi commented on #997
Yeah, that's correct. However, I feel like closing this, because even if we have a solution, I expect it will be hacky.

I don't think this is typical/recommended usage, so no idea to document it at this moment.

[2022-05-20 23:15] #997 closed

[2022-05-20 23:17] dai-shi commented on #1164
@TwistedMinda Thanks for trying to reproduce it!

closing for now as #1159 is shipped.
we can reopen with a reproduction.

[2022-05-20 23:17] #1164 closed

[2022-05-20 23:52] dai-shi commented on #197
I think it is too technical to document for now.
We should actually document more about `onMount` first and its typical use cases.
Then, `createAbortableAtom` is going to be one of various advanced use cases.

The reason I reopened this issue is that I'm working on #1091. This should going to be a recommended method.

[2022-05-21 01:06] TwistedMinda commented on #672
@dai-shi Can't find any docs on loadable! It's available right?
It currently feels weird to have "No Suspense" separated from the "Async part", especially given the tricks inside it :D
I guess it's time to use the "Async" section of the docs to replace the good old "No Suspense" by the fresh loadable experience.

Async section would look like:

- kick-off: atomWithPending (async then normal, as ma

[2022-05-21 01:27] TwistedMinda commented on #805
@dai-shi There are a few linked subjects already:
- the loadable stuff and the "no suspense" stuff
- the atomWithStorage utils stuff
- the atomWithPending stuff
- the persistence stuff
- the async stuff

I'm trying to organize that part and they're already a few issues about it.
In this issue, what's remaining to be done? It seems mostly good!
Especially the atomWithStorage examples. The persisten

[2022-05-21 02:03] dai-shi commented on #805
@TwistedMinda Can you check all bullet points in OP are covered?

[2022-05-21 02:12] dai-shi commented on #672
It's not yet available.

I think it was written before we had `loadable`. So, I agree that it's (already) time to revisit.

This is not what I would expect.
We want to educate async patterns in this order.
1. `atom(async (get) => ...)`
2. `atom(..., async (get, set, arg) => ...)`
3. `atom(new Promise(...))` and `set(new Promise(...))`
4. and finally ,`atom(infinitePending)` (infinitePending is `ne

[2022-05-21 02:21] cutefcc commented on #1164
@dai-shi I try https://github.com/pmndrs/jotai/pull/1159,  I find "Local Install Instructions" reinstalled jotai like this:  npm i https://pkg.csb.dev/pmndrs/jotai/commit/15d58d06/jotai

still doesn't solve my problem

[2022-05-21 02:30] dai-shi commented on #1164
Please wrap your `console.log` in `useEffect` and see if the result is as expected.

If that doesn't work, please create a minimal reproduction with codesandbox.

[2022-05-21 02:40] cutefcc commented on #1164
@dai-shi

[2022-05-21 02:41] cutefcc commented on #1164
@dai-shi  After I deleted node__modules and reinstalled npm i https://pkg.csb.dev/pmndrs/jotai/commit/15d58d06/jotai, it took effect, thank you very much,

Finally I test:
- "jotai": "1.6.6" immer will not work
- "jotai": "https://pkg.csb.dev/pmndrs/jotai/commit/c6800061/jotai", yes, it meets my expectations

When will jotai upgrade to solve this problem? instead of installing via https://pkg.csb.

[2022-05-21 02:47] cutefcc commented on #1164
@dai-shi  Just now, I found that "jotai": "1.6.7", no longer has this problem. Was it fixed in 1.6.7?

[2022-05-21 04:10] dai-shi commented on #1164
Yes, #1159 is included in https://github.com/pmndrs/jotai/releases/tag/v1.6.7.

But, this is not technically a big problem. v1.6.6 works fine too. #1159 does a **little** optimization mainly to avoid people complaining. Final performance may or may not change very much.

[2022-05-21 11:13] TwistedMinda commented on #672
Great, I'm totally okay with this order!
However, when will it be available officially ? Are there still problems with it ?

When I tried it seemed to work like a charm!

Happy be able to help!

[2022-05-21 11:15] TwistedMinda commented on #805
@dai-shi yep to me it's kinda all good. Except the type guards which I don't know what are these :p

[2022-05-21 11:56] dai-shi commented on #672
Oops, I got it wrong. The `loadable` is available. It's just the docs that are not available.

[2022-05-21 12:01] dai-shi commented on #805
This is to create a custom storage and make it type safe.
Usually, if you deserialize from string-based storage, you don't have types. Type guard is a runtime solution to make it type safe (just throw if unexpected...)
For now, nobody requested this, so let's leave it and revisit in the future.

[2022-05-22 12:56] TwistedMinda commented on #1041
@sandren Just for you to know, we're gonna add `loadable` util very soon to the utils page. Maybe that changes something in your rework of utils page :p

[2022-05-23 09:32] hoetmaaiers commented on #938
Very interested in updating the machine after initialisation. Any updates or new thoughts about this?

[2022-05-23 09:44] Pinpickle opened #1177 "`waitForAll` throws with an empty list"
This code:

[code]

Throws with the following error:

[code]

From what I can tell, this is due to the `memoizeAtom` logic:

https://github.com/pmndrs/jotai/blob/88f4edd32a2a3b0cde743a1fc26ae88cd7a56aa0/src/utils/weakCache.ts#L28-L41

^ this loop will be run at least once, even if the array is empty. This leads to a `weakMap.set(undefined, value)` call, which throws the error.

## Reproduction

ht

[2022-05-23 13:45] dai-shi commented on #938
Unless it's resolved upstream, we probably can't do appropriate fixes.

[2022-05-23 23:43] dai-shi commented on #938
useInterpret is from `@xstate/react`. We need an API exposed from `xstate`, because atoms are conceptually framework agnostic. I didn't investigate this, OP tells so.

[2022-05-24 00:28] Pondorasti opened #1178 "[useAtomDevtools]: documentation for `DevtoolOptions`"
[PR#1095](https://github.com/pmndrs/jotai/pull/1095) introduced a new way to call `useAtomDevtools` hook and label atoms using `DevtoolOptions` object. From that point forward, making debug labels the old fashioned way `useAtomDevtools(atom, "name")` started throwing console warnings.

What's the timeline for fully deprecating and removing old method? I would also love to see updated docs for usag

[2022-05-24 00:48] dai-shi commented on #1178
Right. Sorry about the confusion.

No planned timeline, but we should eventually remove deprecated method.

That's very appreciated.
One of the biggest things to improve currently is docs. There are some work going on. If you can take the `devtools` part, it's more than welcomed.

[2022-05-24 04:24] Pondorasti commented on #1178
Cool cool, I will try to find some time this week and submit a draft for `/devtools` page.

[2022-05-24 04:55] Pondorasti opened #1180 "(DEV-only) re-renders caused by `<Provider />`"
Following up on the `unstable_createStore` introduced in [#861](https://github.com/pmndrs/jotai/issues/861).

I've noticed that wrapping a react tree under `<Provider />` it trigger a re-render whenever an atom changes. From what I could gather the Provider re-render has minimal performance impact, especially when memoizing children (profiled in a large application). However, it does introduce a l

[2022-05-24 06:50] dai-shi commented on #1180
Is it correct that this issue is about any `<Provider>`s, not just one with `unstable_createStore`?

[2022-05-25 00:14] Pondorasti commented on #1180
Oh yeah, you are right. I've updated issue description and CodeSandbox. The `unstable_createStore` feature was the motivation to use a `<Provider />` for the first time.

[2022-05-25 00:28] dai-shi commented on #1180
Thanks. This is because we have `useDebugValue` in Provider. It's DEV only behavior. It's for improving debugging ironically. We might consider making it an option to control by users.

[2022-05-25 04:14] Pondorasti commented on #1180
That makes sense, thanks for clarifying. Could I open a PR and add a new prop to the `<Provider />`, something like `disableDebugValue`?

[2022-05-25 04:34] Pondorasti opened #1183 "(DEV-only) react profiling doesn't show `DebugState`"
Atom labels for react devtooling don't seem to work. The `DebugState` hook doesn't show up anymore as per [documentation](https://jotai.org/docs/guides/debugging#provider). I've tried it both in personal project and an older Jotai [example](https://codesandbox.io/s/react-typescript-forked-cvfeh?file=/src/App.tsx), without any success. For [reference](https://github.com/pmndrs/jotai/pull/93#issueco

[2022-05-25 08:40] dai-shi commented on #1180
I'd like to fix some tests as well, so I'll be working on it. Thanks for your suggestion. You are very welcome to contribute to some issues!

[2022-05-25 08:44] dai-shi commented on #1183
<img width="294" alt="image" src="https://user-images.githubusercontent.com/490574/170220712-a9b4a0fd-ef1b-48a2-ace0-4c0ad94e82e6.png">

It's in the React "Components" tab, not "Profiler".

[2022-05-25 11:27] dai-shi commented on #1180
Hmm, I'm super confident if making it a prop is appropriate. `DebugProvider` might be cleaner. Or, disable it globally. I wonder if we need to enable/disable it selectively for some Providers.

[2022-05-25 11:53] dai-shi commented on #1180
I think it's far better to have a separate component  or hook to provider the debug state feature. Then, it works for provider-less mode too. In such a case, we'd want to put it in `jotai/devtools`.

[2022-05-25 18:03] Pondorasti commented on #1183
Ah, I see. It would be amazing if you could see those debug states for any given snapshot when profiling. Although, not sure what's the technical limitation here. Closing issue for time being.

[2022-05-25 18:03] #1183 closed

[2022-05-25 18:11] Pondorasti commented on #1180
Took a look at your PR, and exposing `useDebugState` is much nicer. What I do find confusing is the naming between `useDebugState` and `useAtomsDevtools`. It makes the latter sounds like a "general" devtooling hook. Might be worth considering using `useReactDevtools` and `useReduxDevtools`, or maybe just renaming the redux one? What do you think?

[2022-05-26 04:57] dai-shi commented on #1183
Yeah, it's probably not possible unless some APIs are exposed from React. Would be nice though.

[2022-05-26 14:34] dai-shi commented on #1180
Yeah, I'm not comfortable with the name.
We don't want to change `useAtomsDevtools`.

I too thought about `useReactDevtools`, but if we don't change `useAtomsDevtools`, it's still confusing. And, it's not really like "using" react devtools. `useDebugState` makes sense if people are familiar with [`useDebugValue`](https://reactjs.org/docs/hooks-reference.html#usedebugvalue), but it's hopeless.

Hmm

[2022-05-26 19:46] Pondorasti commented on #1180
This is a tough one, I like `useAtomsDebugValue` the most since it's inline with `useAtomsDevtools` and you can infer from the name that it applies to all atoms.

[2022-05-26 22:24] dai-shi commented on #1180
Yeah, `useAtomsDebugValue` seems better and we should educate people it's a wrapper around `useDebugValue`. Thanks.

[2022-05-28 11:26] aliakakis opened #1186 "Question on atom init"
Is it bad practice instead of the code below:

[code]

to use the code like this:

[code]

[2022-05-28 11:51] TwistedMinda commented on #1186
@aliakakis What is your use-case ?

[code]

Seems to be the most compact and readable, but I prefer like this:

[code]

But I'm a newbie too!

[2022-05-28 11:59] aliakakis commented on #1186
Strictly readability and compact code. I will use your compact code. Thought the getter was mandatory. Thank you for your answer 🙂

[2022-05-28 12:06] TwistedMinda commented on #1186
@aliakakis Don't forget to set as resolved if that fits your needs ;)

[2022-05-28 12:07] #1186 closed

[2022-05-28 12:08] aliakakis commented on #1186
Question answered 🙂

[2022-05-28 12:20] dai-shi commented on #1186
Thanks guys.

Some follow-ups:

[code]
That ☝️ is prohibited and an error will be thrown on write.

[code]
That ☝️ works and is totally fine in JS. But, we can't infer types in TS. So, this pattern is not documented and thus sort-of unrecommended. `atomWithReducer` is a util for this pattern.

Using two atoms is good and jotai way. You can export both atoms or just the second derived atom.

[2022-05-28 12:33] aliakakis commented on #1186
@dai-shi thank you for the answers.
I was using codesandbox through my mobile therefore didn't see any error for the code below

[code]
It wrote properly when calling for example setUsers([1,2]). Again, will check when I am on my PC.

[2022-05-28 13:21] #1180 closed

[2022-05-28 13:34] TwistedMinda commented on #1186
@dai-shi Well, you can infer type this way, without another atom!

[code]

 I feel like it's a decent pattern for atoms that only need 1 attached action.
What do you think?

[2022-05-28 14:00] dai-shi commented on #1186
Maybe I wasn't clear enough about type inference, but `any` is not a solution for us.
Again, `atomWithReducer` is designed to be a solution to this.

[2022-05-28 14:05] TwistedMinda commented on #1186
@dai-shi Sorry to insist, but I'm not sure you understood my point:
- could be an interesting pattern for atoms that require 1 action only, which happen a lot in my experience (while `atomWithReducer` is kinda meant for atoms that need two or more actions.
- I was using `any` as an example, but I tested it and this works:
[code]
Did I miss something? :p
Sorry to bother!

[2022-05-28 14:21] dai-shi commented on #1186
This is totally valid. Feel free to use the pattern. It's just not TS friendly.
Out of curiosity, do you prefer 1 atom to 2 atoms, because of performance, readability or something else?

It's limited for just one atom, but not necessarily meant for multiple actions. If you felt so, it's unfortunate, but naming is always hard. Feel free to rename it on your end.

We want to make type error if we do

[2022-05-28 14:39] TwistedMinda commented on #1186
@dai-shi

I think same as the author, I suppose we all know it can't hurt the performance, but it's more like "I prefer to have only 1 variable that acts as set/get then a setter and getter separately."
If there is more than 1 action, I will not use this pattern, for sure.

Yeah, it could be used for 1 action only, of course. What I meant is more that I was interested in finding a specific pattern

[2022-05-28 14:56] dai-shi commented on #1186
btw, this will throw a runtime error, we can't `set` derived atoms.

What I meant is this:
[code]

[2022-05-28 14:58] TwistedMinda commented on #1186
@dai-shi oh yeah sure! Thanks for clarifying!!!

[2022-05-28 15:31] aliakakis commented on #1186
@dai-shi strictly for readability I prefer the one atom get/set for some people not front end oriented, trying to make the code as easy to understand as possible. I follow the less is more concept a lot.

[2022-05-28 15:38] TwistedMinda commented on #1186
@aliakakis however this only works if your project doesn't use typescript. Therefore it's a valid pattern, but use it "at your own risk"

So to conclude, if question is: is it good/bad practice?
Answer is: no, it's not a good practice because you lose the Typescript typing on your setter inside the write function or your atom.

[2022-05-28 15:43] aliakakis commented on #1186
@TwistedMinda we don't use TS and there is no plan of us going that route 🙂

[2022-05-29 05:41] arcoraven opened #1190 "`useHydrateAtoms` w/ NextJS sometimes persists previous value even on new page loads"
I'm seeing a strange and intermittently reproducible issue with useHydrateAtoms and NextJS.

I have a page `/item/:item_id` where `getServerSideProps()` queries the item from DB and renders a page with that data. I added a `console.log(item)` in `getServerSideProps()` and in the React component that uses this atom.

Steps to reproduce:
- Navigate to `/item/1`
  - Server-side console logs `item 1`

[2022-05-29 13:32] dai-shi commented on #1190
Just some quick questions / comments without looking in detail:
- Do you use `Provider`?
- `useHydrateAtoms` can only set values if atoms are not initialized. (If `useEffect` works, it sounds the case of initialized atoms.)
- If you use Provider, and clean up by remounting, `useHydrateAtoms` would work as expected.

We are still at the stage to collect use cases / best practices of `useHydrateAtom

[2022-05-29 19:04] arcoraven commented on #1190
Thanks for the quick response @dai-shi.
- I am not using `Provider` nor any scopes. Should I be? My app should not require reading the same atom and expect different values in different contexts. But I do expect a new page load or page refresh to wipe and reset all atom state (except any `atomWithStorage` usage).
- Could you clarify a bit more what you mean by initialized? I declare my atoms as a

[2022-05-29 23:14] dai-shi commented on #1190
It sounds like we were failing to give a proper expectation.
Putting it simply, if you hydrate an atom once, you can never do it again unless totally clearing it with remounting `<Provider>`.
So, using `useEffect` for the second time is the correct approach.
(Sorry, "initialized" was a wrong term in this case.)

[2022-05-30 04:13] arcoraven commented on #1190
So does my behavior sound expected?

What confused me the most is that refreshing the page or opening a new tab persisted the atom's initial value. My understanding of atoms is that they are data stored in-memory on the client, and reloading the page should cause all components to remount, thus having the atom be set to the initial state (in my case, `undefined` then hydrated with the db value).

[2022-05-30 05:30] dai-shi commented on #1190
Do you think you can reproduce the confusing behavior with codesandbox without nextjs?

[2022-05-31 13:26] dai-shi commented on #1151
@riemonyamada #1154 is ready to play with. Wanna try your example?
https://ci.codesandbox.io/status/pmndrs/jotai/pr/1154 👈 "Local Install Instructions"

[2022-05-31 14:38] dani-z opened #1196 "One atom to manage multiple components?"
Hi,

I am very new to Jotai but I really like its philosophy and the bottom-up approach. I am trying to implement it in a React Native app and I am struggling to understand a bit the mental model.

My use case is that I have a Dialog and a Drawer component wrapper. I have an atom for each (and derive from the `atomWithToggle`) of them but I can have more than one drawer or dialog, ie Error dialog,

[2022-05-31 15:48] pawlarius commented on #404
is there another way to reset all atoms without unmounting?
my use case is we want to clear stored values in multiple pages when user "switch" their company.

[2022-05-31 22:29] dai-shi commented on #404
Because `Provider` (and the internal store) is `WeakMap` based, there's no way for the library to know "all" atoms. This may sound counter-intuitive, but this makes it possible to avoid memory leaks.
If remounting `Provider` doesn't work (btw `key={companyId}` would work for your case), you would need to reset atoms one by one.

Maybe you want to open [new discussion](https://github.com/pmndrs/jot

[2022-05-31 23:04] dai-shi commented on #1196
If you ever used useState and useContext to share state between components, useAtom basically works like that. useAtom will encourage smaller states, so the mental model is a little different though.

We basically have two options:
1. Create multiple atoms for dialogs. `atomFamily` may work (but not necessary).
2. Use one atom and use `Provider` to provider separate values for different subtrees.

[2022-06-01 01:58] BenBeattieHood opened #1198 "Validating atoms"
Thanks for your superb work on this package! I'm enjoying using it.

Where an atom reads from an API (local storage, react query response, form input) rather than an in-memory value, we can't guarantee the value matches the expected type. 

An example of this can be seen here: [https://d5kn6.csb.app/#count=%22stored+value+may+not+match+your+expected+type%2C+if+it+has+been+written+by+previously+dep

[2022-06-01 02:57] dai-shi commented on #1198
Thanks for opening this up.

In terms of `atomWithStorage`, I have thought about validation/type guard and custom `storage` is a solution. While I agree that docs are missing, so far nobody seems interested. https://github.com/pmndrs/jotai/issues/805#issuecomment-1133607794
So, let's improve docs on this.

`atomWithHash` is a sub util based on `atomWithStorage`, and `deserialize` option is the pla

[2022-06-01 12:58] AlsDevShack opened #1199 "Jotai with React Query, how to handle errors?"
I have a simple jotai atom with query. It's doing a fetch for some data:
[code]

what do I do if there is an error while fetching? How to I notify the user? Currently nothing happens on the component level, and initialData just carries on being used.

Ideally I thought I'd be able to have some kind of an error atom that I could set, upon catching the exception here. But I don't think it's possible

[2022-06-01 13:35] dai-shi commented on #1199
https://github.com/pmndrs/jotai/blob/14540988e665a574b8aa49dde37b233f817afcbd/src/query/atomWithQuery.ts#L135

Looks like it sends the error to ErrorBoundary. But, I've never tried. It should work to catch errors, but not sure how easy it is to recover from the error.
@aulneau Do you have any experience with handling errors?

[2022-06-01 22:18] BenBeattieHood commented on #1198
Thanks @dai-shi 👍I'll try out the custom storage solution, as well as adding react-query validation.

As to [jotai-form](https://github.com/jotai-labs/jotai-form), I was hoping its [atomWithValidate could be adjusted here](https://github.com/jotai-labs/jotai-form/blob/main/src/atomWithValidate.ts#L42) to accept either initialValue _OR_ another atom, similar to how [focusAtom](https://github.com/pm

[2022-06-01 22:26] riemonyamada commented on #1151
Hi, Thanks for letting me know. I've used it briefly and it looks good to me!

[2022-06-02 05:27] TwistedMinda commented on #1196
@dani-z Hello! You don't "need" the toggle util to toggle thinks :p It's just a nice pattern. But for your case I suppose you just want to store a "type" instead of a "boolean". For example, we could use a string for the type, or an enum.

So something like:
[code]

[2022-06-02 06:01] TwistedMinda commented on #1199
@AlsDevShack Just use [Error Boundary](https://reactjs.org/docs/error-boundaries.html) (just a simple copy paste from the docs), wrap the component that does the query with it, and u're good to go :)

If for some reason you don't wanna use Suspense & ErrorBoundary, you can also use the [loadable API](https://jotai.org/docs/utils/loadable) on your atom :)

@dai-shi I just tried it and both ways wor

[2022-06-02 06:22] TwistedMinda commented on #1071
@dai-shi Unclear problem, no description, 1 month old, I guess we can close it

[2022-06-02 06:32] TwistedMinda commented on #957
@alexski-perry It feels like your example works just great!
It's actually an impressive demo of how lovely react-query is :p

Simple workflow that shows it works:
- type "red" (it will load)
- erase everything
- type "red" again (it will not load)

and just to be sure, repeat with another color.
Maybe I missed something?

[2022-06-02 06:59] TwistedMinda commented on #632
@dai-shi @israelidanny What's the state of this? If I'm correct it's been setup correctly.
Just lacking some notes on Valtio integration doc, right?

Too bad that the PR went through successfully a year ago but still a pending issue about it :p

[2022-06-02 08:08] israelidanny commented on #632
I'm gonna be using Jotai again very shortly with similar needs, so I can review this again. Mostly this was a DX/Documentation issue. I did manage to successfully create the needed functionality when combining Jotai and Valtio.

I'll set a reminder for myself to deal with it.

[2022-06-02 09:59] dai-shi commented on #632
Yeah, AFAIR ,we fixed a bug and what's remaining is documentation about the usage and the limitation.

[2022-06-02 10:23] dai-shi commented on #1198
https://github.com/jotai-labs/jotai-form/pull/4 is a new function related it. I don't think deriving atoms is very easy, and it may overlap with other native functions. Though, I' might be missing something. Would be great if you open a new issue there with some use cases.

[2022-06-02 10:24] dai-shi commented on #1198
I think what's remaining in this issue is documentation for `atomWithStorage` and `atomWithHash`. Not sure about `jotai/query`, but maybe.

[2022-06-02 10:39] dai-shi commented on #1199
Okay, I'd admit we haven't worked on this case very well yet. So, contributions are welcome.
I think the issues are a) error log from react-query, and b) a way to recover from error.

[2022-06-02 10:40] #1071 closed

[2022-06-02 12:30] TwistedMinda commented on #904
@dai-shi I think we can close this one, as more details have been added since ;) (about infinite loop)

[2022-06-02 12:46] #1151 closed

[2022-06-02 12:49] qhnu commented on #1190
I suffered from a similar phenomenon.
I am using Remix, but any framework that uses SSR will have the same problem.

For example in the following cases.

1. Get **`userA`**'s email address on the server side and SSR it.

[code]

2. A different request for **`userB`** comes in, SSR it in the same way.
[code]

3. **`userB`**'s html now shows **`userA`**'s email address 😱.

This is happening because

[2022-06-02 12:53] dai-shi commented on #1190
Yeah, but this breaks React rule.

Okay, I'm pretty sure you should use `<Provider>` and SSR should use a new provider if a user changes. Or, just a session. Provider-less mode is a bad idea for SSR.

[2022-06-02 12:54] #1177 closed

[2022-06-02 13:09] qhnu commented on #1190
Thank you!
I will use `<Provider>` you suggested.
This is a great solution, better than a patch.
[https://jotai.org/docs/api/core#provider](url)

[2022-06-02 18:58] AlsDevShack commented on #1199
ahh, the loadable api would have been a decent solution in my case.  Thank you.

[2022-06-02 19:08] TwistedMinda commented on #957
@alexski-perry Oh, yes indeed, my bad! Thanks for the explanation
I don't know how I came up with that interpretation. Because what I was describing (your 1st example's behaviour) is actually the exact behaviour of just "suspend: true"

Thanks for the demo!

[2022-06-02 19:45] TwistedMinda commented on #1175
@dai-shi I think we can close it as it's all intended behaviour. I even tried to provide a work-around if needs be to avoid extra-renders (can't remember if I tested it, tho, but looks more like a react problem than jotai problem anyway)

OP could still add a comment to re-open if need more info.

[2022-06-02 20:06] TwistedMinda commented on #1041
@sandren What's the state of this issue? The issue here is mostly about code blocks typings.
Now that you did set up the Table of contents, I think it can be a good time to clear that up.

- when there is a component
   - if typescript matters in the example : use "tsx"
   - if typescript doesn't really matter: use "jsx"
- when there is no component
  - if typescript matters in the example: use "t

[2022-06-02 20:56] alan-nf commented on #1025
@TwistedMinda I'm actually still completely stumped by https://github.com/pmndrs/jotai/issues/1150 so I'm in favor of calling this out as a DX issue. The other big bullet item I would add is:

* even when you split the atom out to a separate file it might get included in hot-update bundles and diagnosing WHY (e.g. in Vite) might be very difficult

[2022-06-02 21:14] TwistedMinda commented on #1025
@alan-nf Yeah, alright, our best Fast Refresh wizards shall come once we raise the help flag.
Gonna make a PR

Means that determining the reason why it was included in "hot-update bundles" might be difficult? (eg. in Vite)
I got you right?

[2022-06-02 22:12] TwistedMinda commented on #1081
@dai-shi I totally agree with your 2 points:
- denoify is a bit too much for jotai
- deno could improve node-compatibility for better adoption, and jotai being a fairly light library could easily benefit from it

I would also add that, now and for a good time still, deno will be used on back-end. Whereas in the opposite, jotai is meant to be used with react...

In overall I think it's a bit early

[2022-06-02 22:39] dai-shi commented on #1175
Yeah.
Would it be nice if we could describe such a behavior is expected in docs somewhere?

[2022-06-02 22:54] TwistedMinda commented on #1175
@dai-shi Yeah. We could add a "Performance" guide. It would tackle:

- the expected behaviour that needs to be kept in mind when having atoms depending on other ones (that they all re-calculate when their parent changes)
- utils `focusAtom` & `selectAtom`, can't hurt
- `useMemo` & `useCallback` for stable references one more time, can't hurt
- quick comparison with flux (selectAtom) & proxies (val

[2022-06-02 23:10] dai-shi commented on #1025
Sorry for ambiguous issue status.
We were waiting for a repro. https://github.com/pmndrs/jotai/issues/1025#issuecomment-1116027007

Let's close this as stale.

#1203 seems a good suggestion. Let's continue.

[2022-06-02 23:10] #1025 closed

[2022-06-02 23:13] dai-shi commented on #1175
No, I didn't mean "Performance" guide, which sounds interesting as another topic though.

What I mean is, extra re-render without commit is an expected/intentional behavior, which is the default behavior of useReducer in React 18, and nothing needs to be worried.

[2022-06-02 23:26] TwistedMinda commented on #1175
@dai-shi Well, that fits performance concerns to me :p Why would someone care about extra-renders if not for saving some calculation for performance purposes?

Where else would you put that note? When first talking about derived atoms in "Primitves" ?

I'll think about it

[2022-06-03 02:37] TwistedMinda commented on #1196
That issue looks more like a Discussion than an issue. I think we can close it.
@dani-z Don't hesitate to ask any question about the mental modal, patterns and common usage in the Discussion section ;)

[2022-06-03 02:37] #1196 closed

[2022-06-03 02:54] dai-shi commented on #1175
I know where you come from, but I strongly want to discuss from a different angle.
This behavior is just a normal behavior, like useReducer.
Basically, render functions should be lightweight as React can call it multiple times.
If extra calculation is the concern, `useMemo` should help, and it's the React pattern regardless of jotai. (So, mentioning such a pattern in "Performance" guide makes sens

[2022-06-03 03:14] TwistedMinda commented on #1175
@dai-shi

😅😅

Yeah sounds resaonable. Its just gonna be a "Note:" after all, and its pretty core/primitive related. I got convinced again!

Basically, render functions should be lightweight as React can call it multiple times.

Yup. And we can't omit it in our future Performance tab, right? :p
I already mentioned it at the [last sentence](https://jotai.org/docs/guides/react-native) for RN but it d

[2022-06-03 10:38] AjaxSolutions opened #1204 "Atom is not initialized after being unmounted and mounted again"
Here is my atom: `const activeSmaIdAtom = atom(-1);`.
This atom's initial value is then reset by a modal component, the atom is used and then unmounted.
When the atom is mounted again it contains the reset value, not the initial "-1" value?
Is this the expected behavior?  I'd expect the initial value instead,  i.e. the last used atom's value should not be persisted.

[2022-06-03 11:41] dai-shi commented on #1190
While we name it `useHydrateAtoms` with SSR use case in mind, its logic is simple and not limited to SSR.
 I can't think of using SSR without `Provider`, so we should update NextJS doc. Would you take it?

Correct. I mis-used the term "initialized" there.
`Provider` is very important in Jotai as it's React Context based. It gives us more control on lifecycle.
The only use case that provider-less m

[2022-06-03 12:08] TwistedMinda commented on #1190
Closing the issue in favor of the PR

[2022-06-03 12:08] #1190 closed

[2022-06-03 13:11] TwistedMinda commented on #1175
Closing it in favor of the 2 seperate PR's.

[2022-06-03 13:11] #1175 closed

[2022-06-03 13:46] TwistedMinda commented on #1052
Closing this in favor of the PR.

[2022-06-03 13:46] #1052 closed

[2022-06-03 16:47] TwistedMinda commented on #1132
@dai-shi I tested, and as expected, the warning pops when not wrapping state changes with "act" and disappear when using "act" as you mentioned.

Tried to provide a [CodeSandBox](https://codesandbox.io/s/jest-testing-react-forked-xxfoo3?file=/src/components/App.test.js) But i can't manage to make it build due to dependencies....

Do you think we should close it?

@dwelle You mentioned `act()` from

[2022-06-03 20:16] dani-z commented on #1196
Hi both, this is great, thanks so much for the explanations. @TwistedMinda I think that's exactly what I was looking for, not multiple modals visible at the same time, but one at a time. I agree this could be better in the Discussions sections, apologies I haven't checked that first before posting here. Happy to move it there if you feel it adds value.

Thanks again for the help. 🙏

[2022-06-03 22:33] dai-shi commented on #1041
Is the OP about providing code snippet in TS?
Your pattern seem to be about how to write markdowns, which is the same pattern of mine.

[2022-06-03 23:41] dai-shi commented on #1132
Note that, since v1.7.0, useDebugState is not included in Provider.
https://github.com/pmndrs/jotai/releases/tag/v1.7.0

[2022-06-03 23:57] dai-shi commented on #1150
https://github.com/pmndrs/jotai/pull/1203#issuecomment-1146409731

@Thisen can you communicate with @alan-nf about this?

[2022-06-04 00:25] TwistedMinda commented on #1041
@dai-shi OP "typechecking" means the codesandbox at the end of the doc in freezeAtom? I'm confused

[2022-06-04 00:30] TwistedMinda commented on #1132
@dai-shi Ah, good to know. For my tests, i was using `"jotai": "^1.6.6"`, so it looks okay even before 1.7.0.

So anyway this is issue can't happen starting from 1.7.0, right?

[2022-06-04 17:00] dwelle commented on #1132
Oops, I missed your reply @dai-shi — will try it out, or better yet just bump to 1.7.0. If still causing issues then, will dig deeper. Thanks for the help so far!

[2022-06-04 17:02] dwelle commented on #1132
React testing library doesn't expose `act()`, that comes from React. From what I understand you should be wrapping the state updates yourself, but react-testing-library does that for us, hence why most users haven't ever encountered the `act()` API, myself included.

[2022-06-06 10:58] dani-z commented on #1196
@TwistedMinda sorry to post it again here, I think it may be useful for continuity. What is `atomSetValue` in your example? I think the flow is clearer, I just don't know what the function looks like.
Thanks again

[2022-06-06 11:06] TwistedMinda commented on #1196
@dani-z Hello! No problem!
It's a mistake! I meant to write `useSetAtom`, to [retrieve the setter](https://jotai.org/docs/api/core#use-set-atom)
Sorry for the confusion :)

[2022-06-06 11:09] dani-z commented on #1196
Ah! I thought that was it, I was just not sure if there's anything internal not documented 😄
Thanks for confirming this!

[2022-06-06 12:13] TwistedMinda commented on #1132
I'm closing it since this shouldn't be an issue anymore

[2022-06-06 12:13] #1132 closed

[2022-06-06 12:17] dai-shi commented on #1132
Note to anyone: if such an issue with `useAtomsDebugValue` is found, please open a new issue.

[2022-06-06 12:23] TwistedMinda commented on #1153
I'm closing it as it starts staling and will not benefit others than OP.

@xuyang1996 Please let me know if my instructions above didn't work out for your use-case. And feel free to add a minimal reproduction of the issue with codesandbox so we can debug what's going on if you still need

[2022-06-06 12:23] #1153 closed

[2022-06-06 12:46] TwistedMinda opened #1210 "[react-query] Bugs & improvements"
Hello!

Creating this issue as a clean & centralized document for problems related to react-query, without the need of reading through all the issues titles. The intention is to find someone that knows RQ well to tackle some or all of these remaining issues:

- [x] [Prevent suspend with keepPreviousData](https://github.com/pmndrs/jotai/issues/957) **(bug)**

- [x] [Mutations support, atomWithMutat