[2020-12-16 18:28] tarngerine opened #242 "Clearer warning log for Atom State not found"
<img width="961" alt="image" src="https://user-images.githubusercontent.com/1629901/102390496-15e86f80-3f9a-11eb-8eea-0259bf0bb587.png">

The stack trace here is hard to understand, and not sure which atom is erroring here.  is there a way to have this reveal which line of code it is?

[2020-12-16 22:51] dai-shi commented on #242
Hi, thank for the suggestion. I noticed in some cases, it's not a bug but an expected behavior, so we need to make the text clearer. I'm not sure if we can show that stack trace.

Meanwhile, would you try two things?
- try the latest version (v0.12.0)
- add `debugLabel` on atoms. `const a = atom(...); a.debugLabel = 'foo'`

[2020-12-17 14:59] jcane86 opened #243 "testing with create react app - warning "Atom State not found""
Hello,

Thanks again for the great library, and sorry for spamming with so many issues.

I am seeing a pretty weird thing in my tests. My app runs fine, and I don't see any warnings, but when I try to test some components that use jotai, I am seeing the "atom state not defined" warning.

I am using create-react-app, so the tests are run through react-scripts.

I made a repro by copying one test ca

[2020-12-18 09:48] dai-shi commented on #243
Thanks for reporting. Tried it locally and got the warning.
I don't have any clue. Can anyone help?

[2020-12-18 10:03] Aslemammad commented on #243
I'm gonna debug it and see what is the problem.

[2020-12-18 15:00] jcane86 commented on #243
thanks @Aslemammad, let me know if I can help in any way

[2020-12-20 02:52] dai-shi commented on #243
@Aslemammad found that the difference in CRA is it's using the cjs build. 👏

[2020-12-20 04:16] dai-shi commented on #234
Let me try ideating something.

So, what works now is something like this:
[code]

Let's see if we can generalize a bit.

[code]

Just a rough idea.

[2020-12-20 07:19] Aslemammad commented on #243
@dai-shi Great solution!

[2020-12-20 08:57] #243 closed

[2020-12-20 23:17] dai-shi opened #245 "Performance measurement / Benchmark tool"
(I was planning to create this issue after this https://github.com/pmndrs/jotai/issues/108#issue-715699074, but it's closed for a different reason. So, here's the one.)

We want to evaluate the performance of jotai and understand overhead compared to bare useState.
One tool came to mind is: https://github.com/krausest/js-framework-benchmark
But, it does only for a simple case. We'd want a case wit

[2020-12-23 22:02] darwinfont opened #247 "Jotai"

[2020-12-24 04:08] Aslemammad commented on #247
Is it a fake issue?

[2020-12-24 04:08] #247 closed

[2021-01-03 22:00] Aslemammad opened #249 "useUpdateAtom scope"
After @JLarky created this [sandbox](https://codesandbox.io/s/admiring-pascal-hsnuk?file=/src/library/jotaiProvider.tsx)(L10,jotaiProvider) I found out that useUpdateAtom doesn't set the original atom scope on the new derived-writable atom. it just needs one line to fix I think.

[2021-01-04 02:41] JLarky commented on #249
Also in some sense, it might be useful to limit the scope of scope (:bowtie:) to just `core` bundle. If library is using jotai internally than maybe it doesn't want or need to bring all other jotai bundles, in that case it needs to be documented.

[2021-01-04 03:13] dai-shi commented on #249
Ah, nice catch.
I understand both opinions.
Hmm. 🤔

[2021-01-09 17:40] MarkLyck opened #252 "[Question] How do you unit test Jotai atoms?"
Considering using Jotai for our production application.

It seems to fit all of our needs perfectly, but I haven't been able to find any docs on testing Jotai atoms.

E.g. I created a simple themeAtom and setThemeAtom like this:

[code]

How would I go about writing a unit test that makes sure when setTheme is called with a valid theme name, that the themeAtom updates to the expected theme?

Since

[2021-01-09 20:27] a-eid opened #253 "[React Native] Sharing context/state with multiple screens (multiple roots, wix/react-native-navigation)"
this same exact issue is happening with `jotai` is there any way around it ?

https://github.com/facebookexperimental/Recoil/issues/719

[2021-01-09 23:56] dai-shi commented on #253
Probably, create a dummy root somewhere and bridge from there to all screens (roots). Can you create an example with expo snack?

[2021-01-10 00:13] dai-shi commented on #252
It would be really nice to have `docs/testing.md` for sure.

Guess so. Do some files in `tests` help?

If you were just testing the functions for atom like `read` / `write`, you could test it without React, because they are just pure functions. But, to test a component/hook behavior, we'd need React.

Not sure what you mean by this. If you are testing a component behavior, you don't need to mock `

[2021-01-10 00:27] dai-shi commented on #249
Two options are:
1. fix everything for lib usage (scope)
2. only core supports scope (as is) and document so

🤔 🤔 🤔 🤔 🤔

I'd vote for 1. because scope is one of appealing points compared to say recoiljs
and for better DX, utils and other non-core functions would be important.

[2021-01-10 04:59] #204 closed

[2021-01-10 08:15] Aslemammad commented on #249
I vote 1 too as I created the issue for that.

[2021-01-11 22:29] #249 closed

[2021-01-12 14:32] jillesme opened #255 "[Question] Best practices for large objects?"
Hi all,

So far we are loving `jotai`. Amazing work ❤️.

I'd like to start a conversation around best practices for larger objects. Let's say our back-end gives us a fairly large object which would be mutable at different levels of the object.

[code]

Now our React component tree has `<Car />` with a list of  `<Parts />`, which has a list of `<Factory />`s.

What would be the recommended way to g

[2021-01-12 15:35] dai-shi commented on #255
OK, this would be a good example for discussion. Thanks for opening this up. Please everyone join.

Some meta answers for a start.
- There are probably various good/possible patterns for this.
- We are still discussing the recommended patterns for lists (before trees).
- In short, what you feel comfortable would be the right granularity.

I will write some more thoughts later (maybe starting with

[2021-01-12 15:54] jillesme commented on #255
@dai-shi thank you for the quick response!

The objects in arrays do not have ids in this example, but they very well could have (either a real id from the server, or an assigned id on the client side).

One things that comes to mind is using https://github.com/paularmstrong/normalizr to turn the deeply nested object into a flatter structure. I fail to see how that would help with `jotai`, but I b

[2021-01-13 13:27] dai-shi commented on #255
So, there are mainly three approaches.
1. a big atom to put an object as a whole and create smaller derived atoms
2. create a map of (id, item), normalized data structure
3. create small atoms and combine them with atom references

### a big atom

This idea is not very atomic, but it works. This is useful if we need to persist data or push back to the server.

[code]

(Wait a minute, I might notic

[2021-01-13 15:30] a-eid commented on #253
expo doesn't support RNN unfortunately.

[2021-01-13 15:53] dai-shi commented on #253
Oh, I see. I know the issue itself is reproducible. So, if you would be interested in the possible workaround.

[2021-01-13 19:18] Noitidart opened #257 "useInitialValue util"
I'm trying to learn jotai, it's great. I'm trying to write a custom hook that will only get the initial value and not re-render on consquent updates. I tried this which obviously doesn't work. Any tips on how I can accomplish this? Just a learning thing.

[code]

[2021-01-13 19:28] merisbahti commented on #257
Hey,

Just gonna comment a first suggestion to solution to the problem at hand.

[code]

I haven't tried the code, but this is roughly how it would need to work.

[2021-01-13 19:41] merisbahti commented on #257
Here's a sandbox:

https://codesandbox.io/s/jotai-demo-forked-fgvgi

[2021-01-13 21:09] Noitidart commented on #257
Oh this is so fun thank you! I'm learning a ton!

[2021-01-13 21:12] Aslemammad commented on #257
@Noitidart I don't think so, I loved your idea + @merisbahti solution, @dai-shi What's your opinion about adding something like this to the utils?

[2021-01-13 21:39] Noitidart commented on #257
Thank you! :)

[2021-01-13 23:55] dai-shi commented on #257
@Aslemammad I'd like to know what is the use case. At this point, adding such a util seems to me only to confuse or misuse things...

What I would do would be at the atom level.

[code]

It depends on requirements / use cases.

[2021-01-14 02:51] Noitidart commented on #257
Where I got the idea from was for this demo from the docs - https://codesandbox.io/s/jotai-demo-47wvh

I wanted to make the "Input" component and uncontrolled component so as to not re-render every key stroke. So I did this with the `useUpdateAtom` but I then needed to set `defaultValue` of the input to that of the atom. As seen in this gif - https://gfycat.com/dependablecarefulhorseshoecrab

[2021-01-14 03:03] dai-shi commented on #257
@Noitidart Thanks for the use case. RHF is nice for uncontrolled forms.

So, conceptually, the default value and the current value have different values. How about something like this?
[code]

I think having atom values in ref out of sync is not React-ish, and better to avoid it.

[2021-01-14 04:06] sreeraj-wd opened #258 "Package jotai has been ignored because it contains invalid configuration."
After installing jotai into my react native project and running npm start I get the following error:

_"warn Package jotai has been ignored because it contains invalid configuration. Reason: Package subpath './package.json' is not defined by "exports" in /project_root/node_modules/jotai/package.json"_

 **"react-native": "~0.63.3"
 "jotai": "^0.12.4",
 "expo": "~39.0.2"**,

tried removing and inst

[2021-01-14 04:14] dai-shi commented on #258
Oh, no. That's probably caused by what I experimentally added (assuming it's mostly ignored.)
Thanks for reporting. I'll do some search. Please be patient.

[2021-01-14 05:03] #258 closed

[2021-01-14 06:49] Aslemammad commented on #242
Unfortunately, there is not enough info about this issue, so I'm going to close it. Feel free to reopen.

[2021-01-14 06:49] #242 closed

[2021-01-14 18:06] Noitidart commented on #257
True nice point. I totally see both ways. :) Thanks for the educational discussion all!

[2021-01-14 21:00] sandren commented on #255
The third pattern looks interesting. Could you demonstrate what it might look like in an actual implementation? 😄

[2021-01-14 23:43] dai-shi commented on #257
👍
Closing this. Feel free to continue on this topic, or create a new one for a new topic.

[2021-01-14 23:43] #257 closed

[2021-01-14 23:51] dai-shi commented on #255
@sandren
I made my recent drawing poc app with this pattern: https://twitter.com/dai_shi/status/1349749474483003394
Also, the todo app I developed before: https://codesandbox.io/s/jotai-todos-ijyxm

Both are just lists, not trees.

[2021-01-16 00:17] Noitidart opened #263 "[Question] How to read/set from outside of react tree"
I know this is specifically to use with react tree. However I'm using this in react-native and I have a background task that needs to update the latitude/longitude as my users travel around. So the app starts up in background mode, none of the react tree is mounted, the task is started in background.

For this use case any ideas on how to read/write atom's from outside the react tree?

[2021-01-16 00:24] dai-shi commented on #263
You should use `useEffect` for read/set from outside. It's the same idea with `useState`.

Now, in case you have the background task to update values before react is ready, you might need to have a store outside react anyway. But unless that values are used anywhere outside react, you could only subscribe to the source in useEffect. I'm not sure if I understand the full requirement.

[2021-01-16 00:33] Noitidart commented on #263
Thanks so much for your fast reply. I was creating persisted atoms - https://github.com/pmndrs/jotai/blob/master/docs/persistence.md - for lattitude/longitude.

My background job needs to update the latitude/longigude of these persisted atoms. If the app is launched in background, nothing from react fired up, so its ok to update the file on disk. But if app is launched by user, then I wanted to sh

[2021-01-16 00:51] dai-shi commented on #263
So, the background task keeps writing locations to disk, and
only if the react app is running, you want to show the location real-time.

Maybe, you want an external store and then subscribe from useEffect.

[code]

Notice, there's nothing special for jotai. The same thing for useState, if you change the line:
[code]

[2021-01-16 14:11] Noitidart commented on #263
Thanks so much for your attention here to write something like this. Really appreciate the effort you put to help us learn! I'll do that way thank you!

[2021-01-16 14:11] #263 closed

[2021-01-17 21:29] Noitidart commented on #263
Alright haha I worked on making the atom readable/writeable from outside of react. May you please see this code and see if its stable and won't break due to implementation, specifically the `useEffect` where i save the `setAtomValue` and then reuse that. I do this so that if react is mounted then it will properly show "Loading..." fallback when written from external.

https://codesandbox.io/s/jota

[2021-01-18 02:55] dai-shi commented on #211
While I would try to avoid adding a new feature in core, this seems unavoidable.

- We discussed some patterns in #234, but useEffect based solution only works for non-base atoms
- We started working on #248, and support for subscription for base atoms seems crucial

----
So, here's the proposal.

[code]

[2021-01-18 03:44] dai-shi commented on #263
It looks tricky but it seems to work.

I wouldn't recommend the savedSetAtomValue pattern though.
If you need to show "Loading..." you can probably `set` a promise in `cacheAtom`.
If that works, you can isolate useAtom, which is much cleaner.

There's a problem. We can only get `set` if atom is updated from react. I'm considering adding something new: https://github.com/pmndrs/jotai/issues/211#iss

[2021-01-18 10:43] Aslemammad commented on #211
@dai-shi Nice way for effects.

[2021-01-18 15:46] Noitidart commented on #263
Thank you @dai-shi for your extensive review. I really appreciate it. I was trying to come up with a unified interface to avoid multi sources of truth. I don't understand all those comments but will try to think and apply as I learn this. I will for sure make `set` optional.

That RFC for effect looks awesome. To make it callable from without react would I have to do something like this below?

[c

[2021-01-18 16:04] dai-shi commented on #263
sorry, if I made comments too complicated. Wanted to technically clear.
In short, it works but we want a better way (no hook, atom only).

Yes, but two caveats in your code.
1. you need to clean up the side effect. that's what the returning function is for.
2. atom config is not a singleton. If you have two providers effects are invoked twice. (and your `savedGet` is overwritten.)

So, subscriptio

[2021-01-18 17:26] Noitidart commented on #263
No sorries at all brother, I really appreciate it. Thanks for your amazing working and helping us to help you!

[2021-01-18 17:50] Noitidart commented on #263
Super appreciate your deep code review on this. Posting the corrected code for others to peak at too if they want to. I know its ugly so sorry all haha. And updated code sandbox - https://codesandbox.io/s/jotai-external-stroage-atom-vfjfp

Regarding these two points:

I didn't understand them. :( Please no worries to reply, unless you have time. I know this code is so messy.

[code]

[2021-01-19 09:50] lanyusan opened #265 "jotai breaks ie11 on nextjs with arrow function"
Hi, I am testing this great lib and found out it breaks ie11 on next js with the arrow function.

ie 11 reports this error:

[code]

And it points to this line of code:

[code]

I understand jotai supports ie11. It seems its standard dist output doesn't transpire arrow function.

Any idea how to transpire it to work with nextjs on ie11?  Sorry if it is a naive issue. Couldn't find an issue address

[2021-01-19 09:59] Aslemammad commented on #265
@dai-shi I think we just need to configure babel to compile things to ES5.

[2021-01-19 10:53] dai-shi commented on #265
currently, the cjs build is targeting ie11.
https://github.com/pmndrs/jotai/blob/4ef6cfb06d6400080cd1de6dcb68a5d51dbfb4c5/rollup.config.js#L50

Does it work with ie11 if it's not on nextjs? I'm not sure how nextjs build the bundle.

[2021-01-20 00:40] lanyusan commented on #265
My understanding is that Nextjs doesn't transpire use imported node modules.

I just use `import { atom ... } from 'jotai'` with no other nextjs configration.

I have tried `const { atom ... }  = require('jotai')` , still the same problem.

So do I need to specifically ask nextjs/webpack to use the `cjs` build? Any idea how to do so with nextjs or webpack? Did a search but couldn't find a straight

[2021-01-20 00:45] dai-shi commented on #265
@lanyusan
Could you try this?
[code]
to explicitly use cjs build.

[2021-01-20 01:02] lanyusan commented on #265
Got this compile error:

`Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './index.cjs' is not defined by "exports" in /.../node_modules/jotai/package.json`

[2021-01-20 01:09] dai-shi commented on #265
Oh, I see. ie11 is traditional, but nextjs (node14?) is very new. Let me see what we can do.

[2021-01-20 10:05] dai-shi commented on #265
Unfortunately, I couldn't come up with a good solution.

if `const { atom } = require('jotai')` doesn't work, I would like you to try transpiling module at your end.

https://nextjs.org/docs/advanced-features/customizing-babel-config
Seems like you can customize the babel config.

https://github.com/martpie/next-transpile-modules
This package might help easing the work.

[2021-01-21 10:12] dai-shi opened #269 "[Question] Can jotai be used without Suspense?"
In @JLarky 's [article](https://blog.logrocket.com/jotai-vs-recoil-what-are-the-differences/), it notes:

The question is if we can use jotai without Suspense. Actually, we can under some constraints.

There are two parts it requires Suspense.

- Derived async atoms (async `read`)
<img width="481" alt="image" src="https://user-images.githubusercontent.com/490574/105330884-24b7e700-5c16-11eb-9e54-e

[2021-01-21 22:02] cwackerfuss opened #272 "React component as atom e.g. useAtom<React.ReactNode | null>(null)"
I stumbled upon this interesting pattern for essentially "portaling" components -- you can store a react node as atom state. One use case I had in mind was a modal container that would persist even if the parent is unmounted, which could be useful if you're building a feature that allows you to, for example, switch pages while keeping a "popup" active.

I've done this in Redux with success in the

[2021-01-21 23:11] dai-shi commented on #272
Here's one of my tweets related to this topic: https://twitter.com/dai_shi/status/1340298590737063940

So, you could basically create a derived atom.

I think [cloneElement](https://reactjs.org/docs/react-api.html#cloneelement) should work too.
[code]
Never tried though.

---
It's nice to see various patterns in jotai and they are good challenges.
I personally like it, but I wouldn't use it much a

[2021-01-22 01:56] lanyusan commented on #265
busy recently. Would twist nextjs config later. thanks anyway.

[2021-01-22 03:25] dai-shi commented on #15
Closing this as resolved. Please open a new one if someone wants to raise a discussion.

[2021-01-22 03:25] #15 closed

[2021-01-22 03:26] dai-shi commented on #85
Hoping @JLarky 's work is still in progress.

[2021-01-22 05:07] JLarky commented on #85
Sorry, I've been busy with some other stuff :) we can probably create PR as
is, without some of the changes that I planned. Also let me know if
situation with docs site has changed, I remember you mentioning some plans
to have some central place that would be run by pmndrs.

On Thu, Jan 21, 2021, 19:26 Daishi Kato <notifications@github.com> wrote:

[2021-01-22 05:41] dai-shi commented on #85
Yeah, please create it as is. It would be nice if you could include the check list to show what's done and what's incomplete.
No situation is changed for the site. We should move forward without it for now.

[2021-01-22 06:12] kueychuj opened #273 "[Bug] useAtom(atom) does not re-render when the input atom changes."
Issue updated in https://github.com/pmndrs/jotai/issues/273#issuecomment-765399339

Item Component won't re-render when ```id``` changes.

[code]

Sandbox Example
https://codesandbox.io/s/keen-haslett-cnjz9

any thought?

[2021-01-22 06:13] merisbahti commented on #273
what's the definition of todofamily? I think that might give it away :)

[2021-01-22 06:18] kueychuj commented on #273
So fast. :p

Thanks for quick response. I have just created a minified example on this.
https://codesandbox.io/s/react-typescript-forked-8zfrn

[2021-01-22 06:28] merisbahti commented on #273
Hey, just 1 thing (and we might need to improve our typings to fix this), but `atomFamily` should return an `Atom<T>` and not `T`, take a look at the tests here: https://github.com/pmndrs/jotai/blob/master/tests/utils/atomFamily.test.ts

I haven't found how to reproduce your error in the UI yet, I keep checking.

[2021-01-22 06:29] dai-shi commented on #273
Wow, nice catch. Thanks for the sandbox. I confirmed that this is broken since v0.12.0.

[2021-01-22 07:42] dai-shi commented on #273
OK, I added a failing spec: 033b2e8
Not sure yet where the bug is...

[2021-01-22 09:29] kueychuj commented on #273
Thank Both, look forward to the bug fix :-)

[2021-01-22 13:34] kueychuj commented on #273
It appears unrelated to atomFamily but the useAtom hook.

The example below shows that useAtom(atom) did not resolve the correct value after the input atom is changed.
It is broken since v0.12.0.

Example: https://codesandbox.io/s/zen-snyder-rwqx9

[code]
https://codesandbox.io/s/zen-snyder-rwqx9?file=/src/App.tsx

[2021-01-22 13:48] dai-shi commented on #273
Thanks. Yeah, it's not related with atomFamily. It's a very fundamental bug. Thanks for finding this.
We should definitely add a test for this. Your example above is helpful. (Would you be interested in adding a failing test? Just asking.)
I know where the bug is and which commit I introduced it, and i'm still working on a correct solution.

[2021-01-22 15:05] dai-shi commented on #273
OK, the upstream PR is ready. Let me work on some more tests.

[2021-01-22 17:30] #273 closed

[2021-01-22 17:41] dai-shi commented on #273
Published: https://www.npmjs.com/package/jotai/v/0.12.6

@kueychuj Thanks so much for reporting this and digging to create reproductions! All helped!

@merisbahti Just thought, could this be related to your local tests with useAtomSlice thing?

[2021-01-22 17:43] merisbahti commented on #273
Hmm, not sure! But might be!

[2021-01-22 18:19] kueychuj commented on #273
@dai-shi @merisbahti , thanks for the quick fix.

However, I seemed to find another problem on the re-rendering.
In v0.12.6, using atom hook causes necessary re-renders and the first render produces wrong atom value.

**Example** ( https://codesandbox.io/s/romantic-forest-lixid?file=/src/App.tsx )
Switch from atomA to atomB will trigger two renders on ItemWithAtomHook component. (which should be o

[2021-01-22 18:31] kueychuj opened #275 "Atom hook causes redundant re-renders with wrong atom value"
@dai-shi @merisbahti , thanks for the quick fix. in (https://github.com/pmndrs/jotai/issues/273)

However, I seemed to find another problem on the re-rendering.
In v0.12.6, using atom hook causes redundant re-renders and the first render produces wrong atom value.

**Example** ( https://codesandbox.io/s/romantic-forest-lixid?file=/src/App.tsx )
Switch from atomA to atomB will trigger two renders o

[2021-01-22 18:46] Noitidart opened #276 "[Question] Learning why derived setter is not causing suspend (add docs that only direct atom's suspend on write)"
Doing set from the dervied atom on an async child atom, is not causing the "Loading..." fallback of the `<Suspend>` to show.

[code]

However doing it on the async child atom itself does show the fallback "Loading...":

[code]

Below is playground. Can you please help me understand this?

Playground - https://codesandbox.io/s/jotai-playground-uuyd5?file=/src/App.js:0-1342
[code]

[2021-01-22 18:54] Noitidart commented on #252
Maybe mock `atom` and then asset on the `get`s and `set`s?

[2021-01-22 22:58] dai-shi commented on #252
@Noitidart Would you be interested in investigating further and create docs and/or examples?

[2021-01-22 23:17] Noitidart commented on #252
Yes totally I'll write a test for the above and share here and add it into docs if everyone likes it.

[2021-01-22 23:23] dai-shi commented on #275
Thanks for checking so quickly too.

Calling render function twice is the expected behavior. Although it's not ideal as you showed, I don't really know how to improve it to work both this and #208. So, I wish eventually if someone jumped in the code and had a better understanding, I'd be happy to discuss. Also, if we moved to useMutableSource once React releases it, it could be improved in the fut

[2021-01-22 23:59] dai-shi commented on #276
Oh, you reached there.
This is something I wanted to discuss with someone.
What you observed is designed behavior, which I knew it could be confusing.
The thing is, we as a React community don't yet know how to deal with `<Suspense>`.
Async `read` is fairly straightforward, and the current behavior is expected.
Async `write` the one you showed is tricky.
I'm not even sure if we should suspend atom

[2021-01-23 00:01] Noitidart commented on #276
Haha really appreciate your interactions and comments. Going to continue reading the message. Just want to share as I read the first sentence haha.

[2021-01-23 00:10] Noitidart commented on #276
Oh thanks for that detailed response. It makes sense we don't yet know how `<Suspense>` will freeze in prod. I think it's a cool design choice to support at on direct atoms. I think I'll try to just document this. The docs might need some work but I know you're busy with the implementation which is way deep. I'm also busy (one man army on an app in prod) ll try to start some tickets to these into

[2021-01-23 01:05] dai-shi commented on #276
That would be wonderful. We need someone also to help organizing docs. See https://github.com/pmndrs/jotai/issues/85#issuecomment-738643270.

[2021-01-23 01:17] Noitidart commented on #276
Oh awesome I'll join his efforts!

[2021-01-23 06:48] dai-shi commented on #275
Actually, #266 is failing possibly because of this, so this has a priority.

[2021-01-23 13:34] probprob commented on #272
Yes, Jotai is fun. Thanks a lot.

I guess this is similar:

PositionComponent is a updatable/reactive React Component.

https://github.com/probprob/probabilisticprogramming/blob/master/web/documentdemo/src/MoleculeComponentAtom.tsx

function Position({
  id,
  insertPos,
  deletePos,
}: {
  id: number;
  insertPos: (atId: number) => void;
  deletePos: (atId: number) => void;
}) {
  //hier wird der

[2021-01-23 16:17] Noitidart opened #277 "[Question] "child most" atom with getter/setter not updating to new values."
I was trying to make the child most atom read from a cache. My full code is below and playground too.

The code of interest is:

[code]

However using the `useAtom(enabledAtom)` and then doing `setEnabled(true)` is not changing the value ever. May you please help me understand why?

https://codesandbox.io/s/jotai-privative-geter-seter-playground-pitux?file=/src/App.js

[code]

[2021-01-23 16:28] dai-shi commented on #277
Just looking at this, you assumption is probably not correct.
The `catchedValue` is a module variable and not reactive.
Unless intentional, it's not a recommended pattern because it's shared by multiple providers.

The `atom` function creates what I call "atom config", and it doesn't hold any values. It's a provider that holds all values.

Your atom `read` function is this.
[code]
Provider will ru

[2021-01-23 16:30] Noitidart commented on #277
Oh real intersting, I fixed it by doing `set` on the atom itself, instead of returning it.

So the return from setters is insignficant I think?

Thanks for your speedy response!

[code]

[2021-01-23 16:30] #277 closed

[2021-01-23 16:57] dai-shi commented on #277
Ah, I missed that part. Yeah, you need to `set` it. You can only return a promise or void.
But, your code is still not a suggested pattern. It's a derived atom without dependency. You shouldn't set a derived atom by itself. It happens to work because it has no dependency (= `get` is not used in `read`.)

[code]

This is better, but we don't document this usage because TypeScript complains by its d

[2021-01-23 17:03] Noitidart commented on #277
Oh thank you. I think I recall that from the persist docs.

The reason why I needed a getter for the first argument to atom, is because on first read I want to asynhronously read from disk. (reworking that persist atom thing).

[code]

[2021-01-23 17:09] dai-shi commented on #277
Here's a quick one:
[code]

[2021-01-23 19:56] Noitidart commented on #277
Oh gosh yes this is straight from docs I should just follow that haha.
Thank you Ill update it to this!

On Sat, Jan 23, 2021 at 9:10 AM Daishi Kato <notifications@github.com>
wrote:

[2021-01-24 14:29] #275 closed

[2021-01-24 14:41] dai-shi commented on #275
Published: https://www.npmjs.com/package/jotai/v/0.12.7

This fixed what I described in the comment. It doesn't change the behavior originally described in this issue. And, it's currently the expected behavior. (which could be improved in the far future.)

[2021-01-24 15:39] dai-shi commented on #211
@Aslemammad suggested that `effects` sound like `useEffect`, and runs every commits. That wasn't really my intention. It's more like `useEffect(..., [])`. I don't see any use cases for running functions every time, because that is the purpose of derived atoms with `write` function (which is invoked in the commit phase.)

If anyone has an idea about the use case of running functions on every change

[2021-01-24 15:46] Aslemammad commented on #211
I think it's better now, and I think we can make it `.onMount` or just `.mount`. I prefer the first one. And I think yes, I can get things done with derived atoms for use cases like useEffect(), but `onMount`, is a really good similar to `useEffect(,[])`.

[2021-01-24 23:09] dai-shi commented on #211
Hm, okay `debugLabel` is already a camel case.

Here's version 3.
[code]

[2021-01-25 14:31] JamesGelok commented on #13
@dai-shi what does CM stand for?

[2021-01-25 14:37] dai-shi commented on #13
Concurrent Mode. Still experimental one. https://reactjs.org/docs/concurrent-mode-intro.html

[2021-01-26 08:48] JLarky commented on #85
I have pushed my drafts to https://github.com/JLarky/jotai/commits/new-docs-wip so that if everyone wants to continue the work they could maybe salvage some of it :) `TODO` has a list of things that I was going to fix.

The main idea behind `WIP` was to separate `core.md` into just API reference and introduction into jotai (and overall atomic datastores) concepts, and creating a separate guide on

[2021-01-26 23:22] MarkLyck opened #281 "SyntaxError: Cannot use import statement outside a module"
When using Create-react-app with Jest.

Any tests that ends up important a Component using `jotai/utils` fail with the following error:

[code]

I am using "vanilla" create-react-app. There's no custom babel configuration or anything just the default.

If I switch to just use `useAtom` from 'jotai' it works fine. But I want to be able to use the jotai/utils.

[2021-01-26 23:31] dai-shi commented on #281
Thanks for reporting.

This sounds like one of the most popular use cases...

I know what is probably happening, but don't know what's best to fix. If anyone has any ideas, I would like to hear.

Meanwhile, if you changed like this, it would work.
[code]

[2021-01-26 23:36] MarkLyck commented on #281
@dai-shi indeed that worked! Thanks for the temporary workaround!

No other libraries I'm importing is using or requires using commonJS though.
I don't think it should be necessary to import the commonJS version to make the unit tests work?

Could you elaborate on

Maybe some one else that runs into this will know how to fix it 🤞

[2021-01-27 00:01] dai-shi commented on #281
From the error message, jest doesn't understand "import" in the files in node_modules (because babel exclude them by default.)

The fact is that it actually the same as this in jest env.
[code]

yeah, this issue is specific to jotai, or the way it provides bundle files.
This way is not very common but we store a separate bundle `jotai/utils` in `jotai`.
Some might say this is not a best practice,

[2021-01-27 00:02] dai-shi commented on #281
We might change the default to be cjs and add mjs for module files. Yeah, that would solve the nextjs and ie11 issues too.

Let me draft a PR, but I'm not sure about the final decision.

[2021-01-27 12:56] MarkLyck commented on #252
@dai-shi @Noitidart

I'm still not quite sure what would be best practices for unit testing atoms. But this is what I have been doing so far.

I would love some feedback on how to improve this as it does seem a bit clunky.

Since atoms (afaik) can ONLY be used with react-hooks, I create a dummy component that stores the "get" data,
and a button (or multiple) that calls the set functions.

Then exp

[2021-01-28 04:36] dai-shi commented on #252
This is correct. Atom values only exist in Provider. I don't see any `<Provider>` in your snippets. Is it in somewhere else?

How is your `authAtom` defined? Just a primitive atom? A bit curious what this is testing. Looking at the updated one, it's like testing jotai library itself. I wonder if the goal here is to test the behavior of a component with using atoms. In this case, the first version

[2021-01-28 06:52] Aslemammad commented on #252
I think we can test `atom.read` and `atom.write`:
[code]
I'm not saying that we should make `getter` and `setter` function outside of the atom, but I mean we can use `atom.read` and `atom.write` themselves and we can make set/get for testing( similar to jotai's set/get) in `jotai/test`.
What's your opinion?

[2021-01-28 07:19] dai-shi commented on #252
I thought about that too. Yeah, if it's the goal, it would be fine.
One little thing is it can be said that it's assuming the implementation detail.
If we changed `write` to `w`, the test wouldn't work any longer.
To avoid that, we could mock the `atom` impl.

It totally depends on what we would like to test. Let's say if we replace `useAtom` with `useState`, does the test still meaningful? Then,

[2021-01-28 12:44] dai-shi commented on #85
The work #280 by @JLarky is merged.
We still need to improve them.
Anyone volunteer please?

[2021-01-28 12:51] dai-shi commented on #86
Let me close this as the initial iteration is done.
We'd want more examples official/unofficial.
Suggestions are welcome.

[2021-01-28 12:51] #86 closed

[2021-01-28 12:52] dai-shi commented on #265
when you got time, please try the build in #282 to see if it fixes.

[2021-01-28 13:03] dai-shi commented on #272
wow, you are using atomFamily extensively.
it looks good as you use atomFamily.remove(). 👍

[2021-01-29 02:56] dai-shi commented on #211
I have been a bit less confident with the proposed api, and now I understand why. There's a pitfall with `get` reading stale value (as I noted in code comment in https://github.com/pmndrs/jotai/issues/211#issuecomment-766369692), and it's giving too much power while we already give much power in `write`.

In short, it was not minimalistic.

Here's the version 4.

[code]

You may wonder how to upda

[2021-01-29 18:44] Noitidart commented on #263
I found an issue with the observer method. If the atom useEffect which updates the atom value is not mounted, during an external write, then the atom value is not updated. So solution to this is, on mount always use cached value (create in memory cache on every write and first read so its available for this use case). The useAtom atom's value will only become in sync with cache value once a write

[2021-01-29 23:12] dai-shi commented on #263
I guess, you need to read from the external source on mount. (if I understand your statement correctly)

[2021-01-31 00:24] lanyusan commented on #265
Have you pushed the chage to NPM? I tried it with the latest version @npm 0.12.7. Still the same problem

[2021-01-31 00:28] dai-shi commented on #265
@lanyusan No, but it's in codesandbox ci build. https://github.com/pmndrs/jotai/pull/282#issuecomment-767924946
[code]

[2021-01-31 11:51] #211 closed

[2021-01-31 11:51] #234 closed

[2021-01-31 11:52] #265 closed

[2021-01-31 11:52] #281 closed

[2021-02-01 14:42] n8sabes opened #287 "Can't import the named export 'BridgeProvider' from non EcmaScript module (only default export is available)"
Upgraded to 0.13.1 and now getting this error:

`Can't import the named export 'BridgeProvider' from non EcmaScript module (only default export is available)`

[2021-02-01 14:49] dai-shi commented on #287
Oh, no...

[2021-02-01 14:59] dai-shi commented on #287
Okay, I suppose it's too ealy to use `.mjs`.

[2021-02-01 15:31] dai-shi commented on #287
@n8sabes Could you try the build by codesandbox ci? https://github.com/pmndrs/jotai/pull/288#issuecomment-770940026

[2021-02-01 18:16] n8sabes commented on #287
@dai-shi I've not installed from codesandbox ci before, so not sure if I've done this correctly but, I ran the `yarn` command below and it appears to have solved the issue.

`yarn add https://pkg.csb.dev/pmndrs/jotai/commit/91c266cd/jotai`

BTW -- If there's an easier way to have installed the PR, please let me know.

Thank you for the quick fix!

[2021-02-01 23:42] dai-shi commented on #287
Thanks for the confirmation. Yes, that's the correct way. How could it be simpler?

[2021-02-01 23:43] #287 closed

[2021-02-01 23:58] dai-shi commented on #287
Published: https://www.npmjs.com/package/jotai/v/0.13.2

[2021-02-03 05:53] lanyusan commented on #265
Used `yarn add https://pkg.csb.dev/pmndrs/jotai/commit/43d50637/jotai` to tryit and got this error

[code]

[2021-02-03 05:58] dai-shi commented on #265
@lanyusan Sorry, it turns out that was a wrong one. Please try v0.13.2 now.

[2021-02-03 06:27] lanyusan commented on #265
Tried the latest version with nextjs still doesn't work but it looks not Jotai's problem. I created a naked nextjs app with nextjs standard `yarn create next-app`, which doesn't work with ie 11, which nextjs claims it works with ie11 out of box.
I will create an issue there.

[2021-02-05 14:16] dusanjovanov opened #294 "Call compute outside of React ?"
I have two async action atoms

[code]

I would like to call `loadSomething`'s `compute` function when `doSomething` has finished it's work. Is that possible ?

[2021-02-05 23:45] dai-shi commented on #294
Hi, I'm not sure if I get how `compute` is defined in `loadSomething`. Can you show a more concrete example?

(There's no magic, so we need to come up with ideas. At this point, I can't say if it's possible or not.)

[2021-02-05 23:48] dusanjovanov commented on #294
When I say `compute` i mean `const [loadSomethingResult, compute] = useAtom(loadSomething)`. `loadSomething` would fetch data from the server. I want to call that atom and refetch data once `doSomething` atom has done it's work (also sending some request to the server). I hope It's clearer now.

[2021-02-05 23:59] dai-shi commented on #294
yes, thanks. in this case, `compute(arg)` is equivalent to `set(loadSomething, arg)`, so it's an expected use case.

[code]

Does it make sense? `await set(loadSomething, ...)` is also possible.

[2021-02-06 08:16] dusanjovanov commented on #294
Thank you, this works. Great library by the way.

[2021-02-06 08:16] #294 closed

[2021-02-08 15:03] dusanjovanov opened #297 "Error: uninitialized atom"
Can you please explain what does this mean? I get this error in an async action when calling `get(derivedAtom)`.

[2021-02-08 15:15] dai-shi commented on #297
This error is shown when derivedAtom is not initialized, which means it's not used with `useAtom` in advance to read it in `write` (= in action). I understand your confusion, but it's not in Provider at the point and can't be avoided (otherwise, return `undefined`). I know this is unfortunate, and have been working on it, but no idea to overcome this (one idea in mind is throw promise, but we as a

[2021-02-08 15:30] dusanjovanov commented on #297
[code]

`loadViewsAtom`'s write is called in a component higher in the tree than where `useAtom`s for other atoms is called.
I hope this was clear :)

[2021-02-08 16:19] dai-shi commented on #297
Thanks. Yeah, it would be nice to support this use case.
The reason we can't now is `selectedViewAtom` can be async, and we can't distinguish whether it's async.

Meanwhile, what you can do is:
[code]

[2021-02-08 16:22] dai-shi commented on #297
Maybe, I should try this. Needs some investigation.

[2021-02-08 18:48] dusanjovanov commented on #297
Yes, but I need selectedViewAtom in a component as well :`useAtom(selectedViewAtom)`

[2021-02-08 18:53] dusanjovanov commented on #297
That actually worked, thanks!

[2021-02-15 09:48] #297 closed

[2021-02-15 10:27] motleydev opened #304 "Returning a promise from a reducer causes a memory leak"
Code sandbox:
https://codesandbox.io/s/zealous-mountain-bkfnb?file=/src/App.js

Basically, I want to handle async logic in the reducer and then update state with the returned value.

[2021-02-15 11:13] dai-shi commented on #304
It's reproducible in local test.. this is bad..

[2021-02-15 14:45] dai-shi commented on #71
While working on #304, I found this is not super nice. It currently works with undocumented behavior, but TS typing does not support for this use case.

We are getting used to handling async (#248), so there would be a better way.

Closing this as not recommended for now. Please open a new issue with a use case to discuss further.

[2021-02-15 14:45] #71 closed

[2021-02-15 14:45] #304 closed

[2021-02-16 18:12] astahmer commented on #60
Hey, sorry I know it's closed but I didn't know where to write about this.

I have a use-case where I need to share the same callback from a hook that could be used anywhere.
And did not need a promise and I also wanted to be able to pass multiple arguments, so I adapted `useAtomCallback` from its current source and made this, if anyone is interested :

[code]

My use case looks like this (simplif

[2021-02-18 13:26] Jancat opened #306 "Derived async atom cause endless loop"
[code]

Then the page is stuck.

HackerNews Examples (modified)
https://codesandbox.io/s/heuristic-haze-h6f86?file=/src/App.js

[2021-02-18 13:46] dai-shi commented on #306
Thanks for reporting. Not quite sure what's happening. The codedsandbox shows error for some times, and then after experimenting for a while, it is stuck.

<img width="260" alt="image" src="https://user-images.githubusercontent.com/490574/108365751-e7f20680-723a-11eb-8ec4-2707e05b4feb.png">

---
Will investigate it. 🤔
Any help from anyone appreciated.

[2021-02-18 16:16] aulneau commented on #306
I've found this happens too. I haven't been able to determine why exactly this happens, but typically seems to be when i have an async atom that is used within an async atom family.

[2021-02-18 23:13] dai-shi commented on #306
reproduced in a test. 🤔 how to fix.

[2021-02-19 09:30] #306 closed

[2021-02-19 12:22] dai-shi commented on #306
Published: https://www.npmjs.com/package/jotai/v/0.14.2

[2021-02-19 22:36] dai-shi opened #309 "[jotai/query] atomWithMutation"
follow up #248

It would be nice if we can add the mutation support.

[2021-02-19 22:37] dai-shi opened #310 "Rewrite readme.md eliminating image headers"
will do it.

[2021-02-20 05:45] Aslemammad commented on #309
That's great; I'll research for it.

[2021-02-20 17:41] miyamonz opened #312 "Can PrimitiveAtom be covariant?"
I want to store PrimitiveAtom that can take multiple types.

[code]
https://codesandbox.io/s/jotai-playground-forked-qdr1l?file=/src/App.tsx

it seems to be about covariance or contravariance issue in typescript.
If it's impossible in principle, I want to know another way to solve the problem.

[2021-02-20 20:54] garretteklof commented on #255
Hi @dai-shi - I've been experimenting with some of these patterns in one of my applications, and I had a question wrt `atomFamily`. I have an atom that is a list of ids that point to a family with an `areEqual` function (much like your atomFamily todo [codesandbox](https://codesandbox.io/s/react-typescript-forked-8zfrn)). I have another atom that is a filtered list. My question is what if we want

[2021-02-20 22:29] dai-shi commented on #312
Thanks for reporting. It would be nice if that didn’t raise the error. Anyone who is familiar with TS, please help.

Meanwhile, the recommended way is this.
[code]

[2021-02-20 23:13] dai-shi commented on #255
There’re probably several ways. What would be easy for your current setup is selectAtom with equalityFn. But, that requires to create an atom holding filtered list of atoms. So, the way you come up with is not that bad.

This is jotai puzzle. :thinking: Do you want only solutions to keep using atomFamily?

[2021-02-20 23:20] dai-shi commented on #255
Updated https://github.com/pmndrs/jotai/issues/255#issuecomment-759447615 .
We now have `selectAtom` instead of `useSelector` and a new `splitAtom`.

[2021-02-20 23:39] dai-shi commented on #245
@Thisen
One thing I would like to understands is how performance drops with increasing atoms.
Say, we have `n` atoms, and only updating one atom and re-render one component.
The ideal performance is it's same as `useState`. We should at least have a constant overhead. The worst would be linear overhead.

[2021-02-21 00:04] dai-shi commented on #312
[code]
Hm, I don't think this is possible because atom is defined as number and can't be overwritten with string.

Closing this unless anybody has other suggestions.

[2021-02-21 00:04] #312 closed

[2021-02-21 01:43] tell-y opened #313 "Error to use splitAtom with read-only atom"
Hi, I'm super happy I can use splitAtom util in my project.

## Edited
https://github.com/pmndrs/jotai/issues/313#issuecomment-782818328

## First post
I just noticed a type definition error is occurred when I use splitAtom with read-only atom, so I report it.

### Reproducing
You can see the error to add some lines in https://codesandbox.io/s/react-typescript-forked-8cv79?file=/src/App.tsx

[code

[2021-02-21 01:52] dai-shi commented on #313
Note, it's not only about typing, we need to prohibit `remove`.

We should also take care of removing from upstream.
https://github.com/pmndrs/jotai/blob/1946081c72548c9b2be868791895476d4cc20f44/src/utils/splitAtom.ts#L11

[2021-02-21 02:20] garretteklof commented on #255
Thanks for the quick reply. I'm always astonished by both your knowledge and promptness!

I am just experimenting with patterns so I have no constraints to keep using `atomFamily`. Now, I'm trying out a list of atoms (seems like may be the most `jotai` way as # 3 above) - I used a `selectAtom` to create a list of ids:

[code]

But the issue I'm running into with this is that I don't have the abili

[2021-02-21 02:41] dai-shi commented on #255
It sounds like there's some misunderstanding.

Yeah. But, with # 3, I wouldn't use `selectAtom`.

You can't create atom in render. If necessary, use `useMemo`.

---
Let's try something simple.

[code]

Is this readable? We can change `addAtom` to accept `param` directly.

[2021-02-21 04:15] garretteklof commented on #255
Ah, duh.

That pattern is definitely simple / readable. Thanks for simplifying all my trials! One thing is that `interactiveItemsAtom` will trigger render even when other properties updated in `itemsAtom`? (not `interactive`)

[2021-02-21 04:52] dai-shi commented on #255
Ah, that was the original concern. It's possible with some tricks.
[code]

(There might be a better way.

[2021-02-21 04:59] garretteklof commented on #255
Nice! I suppose that I could also use `focusAtom` again .. I like it better in this pattern. Thanks again for all the assistance on this. It's all been incredibly helpful.

[2021-02-21 05:04] dai-shi commented on #255
Neither `focusAtom` nor `selectAtom` doesn't have caching mechanism. If that's ok, this should work?

[code]

[2021-02-21 05:15] garretteklof commented on #255
Yep, that works nicely. The trick is wrapping it in its own `atom`; I'm creating a list of `id`s (not atoms) and before I was
`get(itemAtom).id)` which did trigger the update.

[2021-02-21 08:13] tell-y commented on #313
I posted it as uncompleted information.
In the first place, it seems that read-only atom with splitAtom is not working.
I created an example here [codesandbox](https://codesandbox.io/s/react-typescript-forked-u60nt?file=/src/App.tsx)

[code]

Sorry for bothering you.

[2021-02-21 21:50] #313 closed

[2021-02-22 11:47] 8th713 opened #315 "Install fails with npm@7"
### Steps To Reproduce
run `npm install jotai react scheduler react-dom`

### Result
[code]

### Related issue
npm/cli#2553

[2021-02-22 11:50] dai-shi commented on #315
🤯

[2021-02-23 11:03] miyamonz commented on #312
thanks for your reply!
I'll consider another way to solve my problem.

[2021-02-23 11:07] dai-shi commented on #312
[code]
Does this solve your problem?

[2021-02-23 12:42] #310 closed

[2021-02-24 08:21] fkocovski commented on #315
+1

[2021-02-24 08:27] fkocovski commented on #315
It might help others, I was node v15.9.0 and npm v7.5.3. I upgraded node to v15.10.0 and npm to v7.5.6 and it now works.

[2021-02-25 16:52] Sparklytical opened #318 "How to do atomWithReducer + localStorage correctly with Next.Js"
I've been trying to achieve the way of doing that, the logic is the general logic that if its SSR, send true, otherwise send the localStorage value.

This is my code -
[code]

Then using it like this -
[code]

But when its always showing value as null whenever i try to load the page. is there something wrong the way I'm doing it?

[2021-02-25 23:10] dai-shi commented on #318
https://codesandbox.io/s/zealous-ives-nwirx?file=/src/App.js
It seems to me working as expected on client side.
<img width="787" alt="image" src="https://user-images.githubusercontent.com/490574/109231390-d8aa2480-7809-11eb-81a5-ea089895f33b.png">

[2021-02-25 23:12] dai-shi commented on #318
BTW, it would be nice to add a check on write.
[code]

[2021-02-26 08:35] CodyJasonBennett opened #319 "Docs: Intro with conceptual differences with Redux, Context API, etc."
Jumping into Jotai, it's easier for me to pick up from existing schemes and patterns that I have worked with, especially when I am migrating.

What are your thoughts on this topic, relating to introductory concepts and patterns?

[2021-02-26 08:45] dai-shi commented on #319
Yes, we need a better introduction in docs. Suggestions are welcome.

What should it be look like? It would help be if there were something I need to fill out, or questions to answer.

[2021-02-26 09:04] dai-shi commented on #319
## Conceptual difference from useContext+useState
If you were to use useContext+useState, you would probably require many contexts, and face some issues.
- provider hell: it's likely that your root component has many context providers, which is technically okay, and sometimes desirable each provider serves context in different subtree
- dynamic addition/deletion: adding a new context at runtime is

[2021-02-26 17:44] Sparklytical commented on #318
Hey @dai-shi , when I open the tab first time, it do correctly shows the value as 'foo' in your sandbox, but when i delete the value from localStorage and reload the page again, it shows null like the screenshot. and this is that null problem that im having.

![null](https://user-images.githubusercontent.com/30311089/109335642-57de3d80-7888-11eb-9922-4195767d0b45.png)

[2021-02-26 22:03] dai-shi commented on #318
What is the expected behavior, and how would it be solved with `useState` in native React?

[2021-02-27 06:32] prophet1996 opened #322 "Jotai or zustand: Creating a ecomm store with Strapi ?"

[2021-02-27 07:49] dai-shi commented on #322
Try jotai/query if you like something new.

[2021-02-27 15:59] allforabit opened #323 "Error boundaries don't work in providerless mode"
I was having an issue where an error in an async read function would cause the app to lock up and show an error in the console but not trigger react error boundaries. I fixed it by adding the provider back in. So it seems as if error boundaries aren't working correctly in providerless mode.

[2021-02-27 17:59] #322 closed

[2021-02-27 18:00] prophet1996 commented on #322
I realized this should have been asked at a discussion forum. My bad .

[2021-02-27 22:29] dai-shi commented on #323
Thanks for this issue. I wasn't aware of the bug, but it's not too surprising as providerless mode is brand new.
Would you be able to add a failing test in `tests/error.test.tsx`?

[2021-02-28 00:42] allforabit commented on #323
Yes will do!

[2021-02-28 07:13] sahilrajput03 commented on #319
Nice explanation..!!

[2021-02-28 08:17] sahilrajput03 opened #324 "Are we supposed to use memo wrapping while using jotai ..?"
since if we don't wrap components around React.memo, react re-renders all child components by default, is there some recommendations for using react.memo around each component for using jotai effectively.?

Jotai is great work, but i also made a similar thing some time ago when i din't know about it then.. https://www.npmjs.com/package/usewhat , but its far different thing from jotai, thanks!!

Lo

[2021-02-28 08:21] Aslemammad commented on #324
There's nothing bad about re-rendering. It will be bad if it decreases performance. You can use the memo there, and maybe there are other approaches instead of the memo. I recommend you [this](https://overreacted.io/before-you-memo/). But I'd love to see where's the problem in jotai and your performance so that we can help you more.

[2021-02-28 08:50] dai-shi commented on #324
@sahilrajput03
In general, I'm not against using React.memo, it works well in some cases. I'd use it when useState has an array of objects.
With jotai, it's likely that we useAtom in deep in component tree, and it's less likely we need React.memo for performance optimization. If you organize the structure well, you would never need it.
Let me know if you have more specific questions. Happy to help

[2021-02-28 09:32] Sparklytical commented on #318
I added a recheck with the help of useEffect and my problem got solved. And thanks for creating such a good library.

[2021-02-28 09:32] #318 closed

[2021-02-28 10:50] sahilrajput03 commented on #324
Gonna read this article and get back to you..., thanks for replying ..:)

[2021-02-28 10:53] sahilrajput03 commented on #324
I just came to know about jotai from reading kent'c article about statemanagement.., but i am using this for my curren projects.., i am tired of making all contexts and their providers using usecontext.. 🤣

Thanks a lot for making jotai this good..!
:)

[2021-03-01 23:06] dai-shi commented on #324
Check my latest todos example, using memo.
https://codesandbox.io/s/jotai-todos-ijyxm?file=/src/App.tsx:961-998

[2021-03-02 05:59] sahilrajput03 commented on #324
I saved that codesandbox in my folder in codesandbox account, and will analy it sooner.
Thanks @dai-shi , i appreciate your work!

[2021-03-02 05:59] #324 closed

[2021-03-02 15:02] mauricekraus opened #327 "Snowpack atomState.d is not defined"
Hey, I bootstrapped my application with snowpack instead of CRA. So far it worked great with jotai, but I wanted to use atoms that get an asynchronous read function (get). Here I encountered a problem that does not occur with apps bootstrapped with CRA. Also, the error doesn't occur when I copy the code in myself and let it transpile through my pipeline.  Apparently atomState.d is not set when ite

[2021-03-02 21:29] allforabit commented on #269
Here's what I came up with to run a promise without suspense based on your example:
[code]

[2021-03-02 21:35] allforabit commented on #323
Will get to this before the end of the week...

[2021-03-02 23:59] dai-shi commented on #327
Thanks for reporting! Such an edge case is very helpful.

Me neither. I would like to see the transpiled code, the difference between snowpack and cra.
I have zero experience in snowpack (would like to learn it!), so suggestions/guides are appreciated.

Meanwhile, can you quickly check if #326 changes the situation? You can simply install the build by codesandbox ci.

[2021-03-03 00:27] dai-shi commented on #269
@allforabit Nice!!!
Curious if you don't need to support refetching?

[2021-03-03 10:38] allforabit commented on #269
Thanks @dai-shi

For now I don't need it but will post an update if I add it in. I only refetch when the dependency changes (which creates a new promise atom).

[2021-03-03 17:42] Andrewjeska opened #329 "Uncaught ReferenceError: regeneratorRuntime is not defined"
[code]

I'm getting this error when setting using `jotai/query`. I'm using it as shown below.

[code]

`getProfile` simply fetches the user's profile from the backend using the user's auth token.

Googling the error message cites a few issues people encountered with Babel.

For what it's worth, we're using `snowpack` for this repo.

Anyways, I haven't encountered this error before, something to do

[2021-03-03 17:53] Aslemammad commented on #329
I think it's related somehow to #327

[2021-03-03 21:17] Thisen commented on #329
This could have something to do with `@babel/plugin-transform-regenerator`, which is included in `@babel/preset-env`. The transform is for transpiling generator functions, which async/await statements are turned into.

The `regeneratorRuntime` is probably not included in the snowpack build, which causes it to error in the async scenario.

[2021-03-03 22:38] dai-shi commented on #329
[code]

The solution on user end is to install `@babel/plugin-transform-regenerator` or use `query.module.js`.

The solution on lib end is to remove async/await, which is currently only one place and not very meaningful. But, eventually other bundle may use async/await, so this is just a temporary solution. It might be better to explore fixing the rollup config and drop old browser, probably.

[2021-03-04 08:28] #329 closed

[2021-03-04 11:35] dai-shi opened #333 "Roadmap to v1"
We are getting ready. Here's action items.

## Fixing bugs

For this we need more bug reports.

- [x] #327 Snowpack atomState.d is not defined
- [x] #351 Freezes when updating multiple async atoms
- [x]  #354 'The path "." is not exported by "jotai"' using esbuild
- [x] #355 `setAtom` doesn't bail on same value if component reads from another atom
- [x] #373 "Too many re-renders."
- [x] #375 value

[2021-03-04 11:44] Thisen commented on #333
I think basic devtools should be a part of v1. Then we will know that the snapshot parts are stable.

[2021-03-04 11:45] Aslemammad commented on #333
@Aslemammad, I think I'm gonna do some about blog posts. But I have to finish some stuff going on here.

[2021-03-04 12:10] Aslemammad commented on #327
0.15.0 didn't fix this problem. The error still there.

[2021-03-04 12:12] Aslemammad commented on #327
#326 didn't fix that.

[2021-03-04 12:20] mjsarfatti opened #334 "Update example on https://jotai.surge.sh/"
Said example still shows the use of `<Provider>`, which I understand is not necessary anymore (since #308).

I'm using Jotai with react-three-fiber and I couldn't figure out why atoms weren't "synced" between the App and the Canvas root. Went in a small rabbit hole made of READMEs, Docs and Issues and was a little lost when some suggested to use `useBridge`, but I couldn't find the hook in the doc

[2021-03-04 12:30] dai-shi commented on #334
Thanks for reporting this and sorry for the confusion.
So, this falls into both updating the example and fixing docs. I will create a separate issue for docs.

[2021-03-04 12:31] mauricekraus commented on #329
Including @babel/plugin-transform-regenerator did not fix the issue (I even included regenerator runtime via cdn in the html) everywhere else it is defined but not in jotai. Can you guide me how to use query.module (did not manage to get this to work)

[2021-03-04 12:48] dai-shi opened #335 "[Docs] add provider-less mode"
and organize docs as a primary method and describe Provider for certain purposes.

cf. #334

[2021-03-04 20:06] nibtime commented on #234
Hi, I am just getting into Jotai. First impression: pretty awesome!

Then I got curious whether there is a recommended way of reconciling push-based collections (streams) (WebSockets or any kind of PubSub protocol, browser events, web workers) with React state, i.e. expressing this with the atom abstraction of Jotai. As I see there are already some ideas on this.

The nicest way I've seen for this

[2021-03-04 20:11] angusryer commented on #276
Thank you for this wonderful, simple library!
I think the issue I'm experiencing is a version of the above problem. Forgive me as I transition into typescript!

I'm defining my atoms in a separate file from the components they're used in, and accessing functions in yet another file that talk to a firestore db. When the user clicks a button to load a saved game, the atom is updated and the useEffec

[2021-03-04 22:54] dai-shi commented on #329
Please try v0.15.1, which doesn't use regeneratorRuntime. It should just work.

---

This was wrong. Confused with https://babeljs.io/docs/en/babel-runtime.

It depends on bundlers. It may or **may not** work doing something like this.
[code]

[2021-03-04 23:29] dai-shi commented on #276
😍

So, you want to show the suspense fallback on async write?
This is still a new area, and still exploring patterns.
Currently, if you use the atom with async write directly, it will suspend, not the atoms holding values.

Your first attempt sounds right. You would want to provide a _small_ repro (codesandbox) for us to investigate further.

To clarify, does it work fine if we don't care suspense

[2021-03-04 23:40] dai-shi commented on #234
@nibtime This is something we want to support on top of jotai core. `jotai/query` is the first attempt, and that required to implement `onMount` in core. Check out src/query/atomWithQuery.ts. It's basically using an observable in RQ. The implementation is a bit tricky. Would be nice if we have some ideas to improve it (without affecting much to core. preferably zero.)

Having written this, I notic

[2021-03-05 05:01] angusryer commented on #276
By "write", do you mean the calls to `set()` in the write-only atom? If so, then yes: while those atoms haven't been set with the data I'm trying to fetch, I'd like to show the suspense fallback. Is this what you mean by async write?

But none-the-less I got it to work! I realized after looking over the above example from @Noitidart that my use case is very similar, so providing `Suspense` and mak

[2021-03-05 07:57] Thisen opened #337 "Add TS Except tests for v1"
Jotai is minimalistic, but has many possibilities for composing different types of atoms together to create great solutions - This is one of the primary strengths of Jotai.

However, this also means that we need to make sure that types are correct and stay stable, so we don't break the public API accidentally. This happen in #332 and was fixed in #336.

I propose that we add [TS Expect](https://gi

[2021-03-05 08:00] Aslemammad commented on #337
I was thinking about this a while ago and wanted to add type testing; It's a great idea.

[2021-03-05 08:08] dai-shi commented on #337
@Thisen
Thanks for the suggestion!
Looks like a nice tool.
Would you mind creating a draft PR to show how it works? It would be good just for `useUpdateAtom` for example.

[2021-03-05 08:18] dai-shi commented on #276
`write` here means the second argument in `atom()`.
https://github.com/pmndrs/jotai/blob/09ac06216f537eae6d57cd344022e0182ae941bf/src/core/atom.ts#L23
async write means this `write` function returns a promise.

When I opened the csb, it doesn't show Loading...
Here's the modified version: https://codesandbox.io/s/async-fetch-to-set-primitive-atoms-via-a-write-only-atom-in-jotai-forked-jklyi?file=/

[2021-03-05 08:21] Thisen commented on #337
Sure @dai-shi, I'll look into it :)

[2021-03-05 14:36] Aslemammad commented on #327
@mauricekraus  #338 I think it's done now.

[2021-03-05 14:42] angusryer commented on #276
@dai-shi Thank you! That is what I was expecting.

- [x] Understand how to implement async atoms that trigger `Suspense` fallback

Recap for anyone who runs into this (correct me if I'm wrong):

**An atom will trigger the `Suspense` fallback only if:**

- the atom's write arg (2nd one) is async
- the awaited call is made directly and not from inside another containing function

This _will_ trigger

[2021-03-05 14:54] dai-shi commented on #276
@angusryer Thanks for the summary! Please do note this is about async `write`. In the readme, it's called "Async actions". We also have async `read`, which is "Derived async atoms" in the readme, and for this, all atoms having values (and their derived) will suspend.

[2021-03-05 17:50] angusryer commented on #276
My pleasure, and thanks for the clarification on the terminology!

[2021-03-05 19:35] Thisen opened #340 "Discussion: Provide jotai/nextjs utils"
We already provide some examples about how to use Jotai with Next.js and SSR in general.

This issue looks to start a discussion if it's possible for Jotai for provide a better story for using Jotai in a SSR scenario - We believe we could start with Next.js.

I believe this would be mostly useful in the scenario, where you have async atoms, which fetch their state using e.g. `fetch`.

This is most

[2021-03-05 19:43] Aslemammad commented on #340
We have something like initialData in react-query, which works in Provider; I think we update it to work with provider-less mode.

[2021-03-05 19:50] Thisen commented on #340
As described in the issue, I'm aware of the current API. However, I believe there's room for improvement. 🙂

[2021-03-05 20:03] aulneau commented on #340
I would agree, I think there is a lot of room for improvement and I bet it could be such that ssr can work kind of just out of the box, eg I define an atom that has an ability to fetch its own state, and it _just works_ with loading the initial data out of the box.

[2021-03-05 20:11] mauricekraus commented on #327
@Aslemammad good catch. Yep this resolves the issue! Thanks for your help.

[2021-03-05 20:11] #327 closed

[2021-03-05 20:34] Thisen commented on #340
I was thinking along the same lines @aulneau, but I didn't want to come with any solutions, as this should be a discussion.

[2021-03-05 20:36] Thisen commented on #340
Btw, I'm happy to work on any ideas that comes out of this.

[2021-03-05 20:38] Aslemammad commented on #340
Let's do more discussions on that with @dai-shi and other folks; then, we'll work on it. Thanks for the issue!

[2021-03-05 20:39] aulneau commented on #340
For sure :~) I don't mean to imply any correct solutions, and would be happy to help out too!

[2021-03-05 21:19] Thisen commented on #340
I believe a great place to start would be `getServerSideProps` and `getStaticProps` and give them a simplistic API to hydrate atoms.

Are there other use cases I'm not thinking of?

[2021-03-05 22:59] dai-shi commented on #340
Thanks for opening this issue up @Thisen .

I'm pretty sure there would be something to provide, but instead of thinking what is the thing, we would like to work on the best practices (especially because I'm not super familiar with next, yet). So the steps are:
1) Discuss in this issue
2) Improve docs and examples
3) And then, add a new util if it makes sense.

[2021-03-05 23:14] dai-shi commented on #340
@Aslemammad well, think it like the provider is left for use cases such as nextjs. we don't need to support provider-less mode and it's probably impossible. See the related discussion in zustand for example. Besides, changing the core api is the least thing we'd like to do. Keep it minimalistic. Let's do things on _top_ of the core.

[2021-03-05 23:27] nibtime commented on #234
@dai-shi No, you didn't misunderstand my point at all. I wanted to just throw in an idea on what I think is conceptually the right direction for dealing with this "push" data source problem. I don't have any assumption on how this is best to be implemented. Could be a package `jotai/rx` on top of `rx` that reconciles observables with Jotai (so essentially what the `use-observable` package does, bu

[2021-03-05 23:55] dai-shi commented on #234
@nibtime

That would be great! I could naively implement `atomWithObservable`, but rather wait for you to chime in. You seem to have far better understanding around this topic.

[2021-03-06 02:02] nibtime commented on #234
@dai-shi
it probably really only seems so 😄. I have an understanding only as a consumer of things, not as a producer, which requires deeper internal knowledge of React I don't have (which I hope I can improve by getting involved).

So as an idea on how I could initially contribute something: I could try to cook up some sample that involves a "push" data source. I am not a friend of mocking and wou

[2021-03-06 02:15] dai-shi commented on #234
@nibtime OK, got it. Here's the deal. I will quickly draft `atomWithObservable`, and you can help all the rest, experimenting, reporting/fixing bugs, making examples, writing docs and tutorials would be good. tests would also be important. And if all seem good, we can release it.

[2021-03-06 02:26] nibtime commented on #234
@dai-shi All right. I will set up a Next project for experimentation and start with the Jotai implementation when you drafted `atomWithObservable`.

[2021-03-06 10:29] Thisen commented on #315
@8th713, have you tried what @fkocovski suggests?

[2021-03-06 11:30] Thisen commented on #323
@allforabit, if you don't get around to do this, just leave a note on the issue and we can take over :)

[2021-03-06 12:34] allforabit commented on #323
Hi yes please if you can take over that would be great. I will get the jotai repo setup properly on my machine and will try to contribute for further issues.

[2021-03-06 13:44] dai-shi commented on #323
@allforabit Can you repro with codesandbox then?

[2021-03-06 13:45] Thisen commented on #323
Yeah, please add a reproduction - I haven't been able to reproduce this.

Thanks in advance!

[2021-03-06 14:32] allforabit commented on #323
Hi @dai-shi @Thisen I'm actually struggling to recreate it myself. It could have been something else in my app that was causing it. Here's the code sandbox that I'm trying to recreate it with: https://codesandbox.io/s/keen-chaum-2rnwm?file=/src/my-component.tsx I will try jotai in providerless mode again in my app and see if it will show up there. Otherwise this issue might not be relevant. Thanks

[2021-03-06 14:58] allforabit commented on #323
I tried it again in my app and it's working as expected. So closing the issue. Sorry for the incorrect report!

[2021-03-06 14:58] #323 closed

[2021-03-07 01:02] sandren commented on #340
Keeping the `<Provider>` component in Jotai's core API kind of already is supporting SSR in core so I think any API improvements related to Jotai usage in an SSR context should continue to be a part of core rather than new framework-specific util packages, especially since Next.js is only one of several React-based frameworks that support SSR. 😀

[2021-03-07 01:12] dai-shi commented on #340
jotai/nextjs would be very specific to nextjs depending on functions from nextjs. If there _were_ any generic SSR utils, we should put them in jotai/utils.

[2021-03-07 01:48] 8th713 commented on #315
Yeah, it now works with npm v7.5.6 and v.7.6.1.
The related issue has reopened, but it doesn't seem to affect jotai.
This issue can be closed.

[2021-03-07 08:54] Aslemammad commented on #334
#342

[2021-03-07 08:54] #334 closed

[2021-03-07 08:59] dai-shi commented on #334
It's deployed on the new site: https://jotai-demo.pmnd.rs/
The last thing is to redirect from the old site.

[2021-03-07 09:32] #315 closed

[2021-03-10 18:03] tarngerine commented on #197
hi, i have a similar need but rather than aborting i was thinking if it's possible for a (get) => {} to provide the previous atom value so i can just return that, e.g.

const atom = atom(...)

const derived = atom((get, previous) => {
  if(someCondition) return previous
  return newValue
})

although i dont know if this would prevent a rerender

[2021-03-10 18:13] Aslemammad commented on #197
@tarngerine Check this:
[code]
I didn't check this, but maybe the idea solves your problem.

[2021-03-10 19:29] tarngerine opened #347 "Dynamic selectAtom or focusAtom?"
Hi, curious how I might approach this issue

Given a data structure like:
[code]

i want to render an `<Element>` for each `id` which DOES NOT RERENDER whenever any of the other elements update

something like selectAtom or focusAtom or splitAtom would be nice, but splitAtom is only for arrays, and select/focus atom need to be defined outside of a component

how might I be able to do something lik

[2021-03-10 19:36] Aslemammad commented on #347
Actually, I'm not that much into focus and select utilities, but I refactored an example these days, take a look at [this](https://github.com/pmndrs/jotai/blob/master/examples/mega-form/src/App.tsx).

[2021-03-10 22:59] dai-shi commented on #347
All of these atom creating utilities have to be used outside components or with useMemo/useRef.

For this case, you could simply create a derived atom in component.

[code]

We should document this more clearly.

[2021-03-10 23:02] dai-shi commented on #197
If the `condition` is only from the atom (previous) value, equalityFn in selectAtom might help.

[2021-03-12 07:27] Thisen opened #351 "Freezes when updating multiple async atoms"
As a part of looking into improvements for `useAtomCallback`, I've stumbled upon a issue, [see the CodeSandbox reproduction](https://codesandbox.io/s/react-typescript-forked-76znh?file=/src/App.tsx).

It looks like there's a freeze, when I click one of those listitems, and Jotai starts to update a bunch of async read atoms.

I've added some tests on [a branch](https://github.com/Thisen/jotai/tree/

[2021-03-13 00:09] leifg opened #352 "Writeable Atom with derived default value"
I just recently went through a refactoring from recoil. Everything was pretty straightforward but one use case I couldn't build in jotai.

I have a list of countries I can fetch from the backend:

[code]

I built a defaultCountry atom based on this fetch

[code]

And now I have a `selectedCountry` atom which I want to initialize with the default country. But everything I tried resulted either in a

[2021-03-13 00:23] dai-shi commented on #352
Yeah, this use case is not well covered in the current api/docs. We did something similar in `jotai/query`.

So, what we could do is to use three atoms.
[code]

[2021-03-13 01:39] leifg commented on #352
OK but how do I use that in my code then?

[code]

Does that really update the value or do I need 2 variables? One for reading, one for writing?

[2021-03-13 01:51] dai-shi commented on #352
This looks fine.

[2021-03-13 14:03] nivekithan opened #354 "'The path "." is not exported by "jotai"' using esbuild"
I am this error when I am trying to build using esbuild
[code]
 I am not really sure weather the problem is with esbuild or jotai

you can check out that error by
[code]

[2021-03-13 18:02] dwelle opened #355 "`setAtom` doesn't bail on same value if component reads from another atom"
`setAtom(value)` doesn't bail on same value provided the component also uses another atom (it doesn't behave exactly like I just described in 100% of cases, but I think this is the gist).

csb: https://codesandbox.io/s/setatom-bail-failure-59tcw?file=/src/App.tsx

- jotai: 0.15.2
- strict mode: both strict & non-strict mode

[2021-03-13 18:29] dwelle commented on #355
If it'll help in investigation, the default value of the atom also comes into play. If the default value is identical to the one being set, the bailing works: https://codesandbox.io/s/setatom-bail-failure-forked-3b67s?file=/src/App.tsx

[2021-03-13 18:35] Aslemammad commented on #355
I'm investigating it; thanks for the report, @dwelle.

[2021-03-13 19:42] Aslemammad commented on #354
@nivekithan Thanks, I'm researching about it.

[2021-03-13 21:11] dwelle commented on #355
Funny enough, if there's a sibling compo using the same atom (as is being updated), it works correctly: https://codesandbox.io/s/quirky-einstein-u9v62?file=/src/App.js

[2021-03-13 21:52] dai-shi commented on #354
FWIW, here's the entry in package.json.
https://github.com/pmndrs/jotai/blob/c3ae5796dabcc9802fc576433e8c1cd8c518b1c3/package.json#L18-L22

Wondering what `namespace: ''` means...

[2021-03-14 06:27] evanw commented on #354
I'm the author of esbuild. This is happening because none of the conditions in the `"."` entry in the exports map apply in this case. Documentation about how the exports map works is here:

* https://nodejs.org/api/packages.html#packages_conditional_exports
* https://esbuild.github.io/api/#how-conditions-work

Import statements use the `import` condition, not the `module` condition. I'm curious ab

[2021-03-14 07:02] Aslemammad commented on #354
Thanks, @evanw. I was researching about this, And yes, it's reasonable. Thanks for the great solution.

[2021-03-14 09:41] dai-shi commented on #354
There's a discussion behind this: https://github.com/pmndrs/jotai/pull/289#discussion_r574271494

index.module.js is not really .mjs, so I removed. But let's add it again and see how it goes.

[2021-03-14 09:49] #351 closed

[2021-03-14 10:16] evanw commented on #354
It's ok to have `module`, and your rationale for having it (let people opt-in to `module` if they want to) is sound. But you might want to add a `default` condition so that your package doesn't break if no other condition applies. If you keep `module` but change `require` to `default` then you'll avoid the dual package hazard while allowing people to opt-in to `module` and also avoid this package

[2021-03-14 10:23] dai-shi commented on #354
having `default` instead of `require` sounds good.

Do you know if we should put `import` for `*.module.js` built by rollup?

[2021-03-14 18:29] evanw commented on #354
The `require` and `import` conditions are the only ones that are only active in certain situations. That is why using them causes the [dual package hazard](https://nodejs.org/api/packages.html#packages_dual_package_hazard). All other conditions are either always active or never active, and cannot cause the dual package hazard. So by switching from `module` to `import` you being the dual package ha

[2021-03-14 18:33] Aslemammad commented on #354
@evanw We deleted the require. Could you check #357?

[2021-03-14 21:23] evanw commented on #354
You are still using `import` so you still have the dual package hazard. If you're ok with having the dual package hazard then it's ok to leave it like that.

But if you want to avoid the dual package hazard, you'll need to remove the `import`. Specifying only `module` + `types` + `default` would be an approach that lets users opt-in to the module code, that ensures there is always a fallback avail

[2021-03-14 21:27] Aslemammad commented on #354
@evanw Yea, Let me fix it again and talk with @dai-shi about it.
BTW, do you have discord because I have some questions to ask (if you don't have problem with that)?

[2021-03-14 22:21] dai-shi commented on #354
I was aware of that issue. Was assuming esbuild users can use module build until `"module"` is supported.

okay, let's remove "import" and hope esbuild supports "module" some time soon.
(dual package hazard is actually more important, because jotai allows library usage.)

[2021-03-15 05:03] Aslemammad commented on #354
@dai-shi I'll fix it soon.

[2021-03-15 05:15] Aslemammad commented on #354
#359

[2021-03-15 07:30] #354 closed

[2021-03-15 16:55] larswittenberg commented on #265
I have the same problem. But without jotai the Create Next app works in IE11. I have to say that `next dev` also has a problem in IE11, but with `next build && next start` the Create Next App runs in IE11. Ok, the grid layout is displayed incorrectly, but no syntax error appears.

Node: 14.16.0
next.js: 10.0.8
jotai: 0.15.3

[2021-03-15 17:15] larswittenberg commented on #265
Using [https://github.com/martpie/next-transpile-modules](https://github.com/martpie/next-transpile-modules) I got it to run in IE11.

[code]

[2021-03-15 22:02] dai-shi commented on #265
Thanks for confirming. I guess this is a recommended solution at the moment.

[2021-03-17 14:58] aulneau opened #364 "Question around suspense for write atoms"
Here is a codesandbox -> https://codesandbox.io/s/amazing-night-9v1dr?file=/src/App.tsx

I'm a little confused about the suspense behavior around writable atoms.

This example has 3 atoms:
- base data atom
- a writable "effect" atom (could be used for subscriptions) which updates the base atom
- a "final" atom that references the "effect" atom, and transitively the base data atom

My expectation i

[2021-03-17 15:36] dai-shi commented on #364
I understand your confusion and it has nothing to do with "effect".
The suspense behavior with async write is kind of limited and we don't have any best practice yet.
The way it behaves now is if you "use" the async writable atom directly, the component suspends.

So, in summary, what you observed is the expected behavior, and it's hard to make it differently, at least for now. I'm open for implem

[2021-03-18 16:15] dlindenkreuz commented on #318
@Sparklytical Curious about your solution, I'd love to see it in a codesandbox!

In the meanwhile, I also found a workaround:

[code]

[2021-03-20 14:21] chj-damon commented on #253
so what do I have to do exactly to make it work?

[2021-03-20 14:46] dai-shi commented on #253
@chj-damon Actually, since v0.15.0, we have provider-less mode.
So, if you **don't** wrap each screen with Provider, it can just work.
Would you give it a try?

[2021-03-20 23:42] ansh commented on #43
I'm building a temporary internal app using Jotai for Global State, react-query for server state, and React Native (managed with Expo) for everything else! I'll definitely let you know if you want.

[2021-03-20 23:54] dai-shi commented on #43
@ansh Sounds good. Please report issues if you find anything. Otherwise, "it works!" comment would also help.

[2021-03-21 00:28] ansh commented on #4
Is it better to do it using a reducer or a derived atom than using useEffect?

[2021-03-21 00:41] dai-shi commented on #4
Note the discussion in this issue is a bit old. it's before we introduced `onMount`.

Using useEffect is just fine. If we define logic in atom, we have some benefits:
1. isolate logic outside react
2. make atoms reusable for different providers (also possible with custom hooks)
3. onMount works for dependency atoms

[2021-03-21 12:09] #319 closed

[2021-03-21 18:07] leifg commented on #352
OK that works. Thank you!

The bigger question is:

Os this considered a bug/unwanted behavior?

I feel like that use case is quite common.

[2021-03-21 23:49] dai-shi commented on #352
The current behavior is correct, I'd say.
What's missing is the way to create a new primitive-like atom with a default value with other atom values.

I don't think we can support this in core, because we want to keep it minimal, and there's no nice way to add a feature in the current minimal api.

So, the three atom solution is a valid approach currently.
It would be nice to have a uitil as it's q

[2021-03-22 00:05] dai-shi commented on #352
It would be nice to have a uitil as it's quite common.

Actually, it might be possible to implement it with just one atom, using some undocumented properties.
We already did `atomWithReducer` similarly, so let me work on it.

[2021-03-22 04:36] tomriddle7 opened #372 "Why null data save in "null"?"
https://codesandbox.io/s/gallant-napier-piskp

When I click 'reset localstorage', stringAtom become null.

But I refresh webpage, stringAtom call localstorage data and it become 'null'.

I don't understand why this happens.

How can I fix it?

[2021-03-22 07:29] chj-damon commented on #253
@dai-shi yes it works! thank you

[2021-03-22 07:31] dai-shi commented on #253
Good to know. Closing this as resolved.

[2021-03-22 07:31] #253 closed

[2021-03-22 07:52] dai-shi commented on #372
<img width="643" alt="image" src="https://user-images.githubusercontent.com/490574/111956750-7acddb80-8b2e-11eb-9094-dfcc89669171.png">

The stringAtom doesn't accept `null`. The easiest fix would be to pass an empty string.
https://codesandbox.io/s/lucid-browser-swchc

Closing this as it doesn't seem to be an issue in the lib, but a usage question. Feel free to continue questions/discussions.

[2021-03-22 07:52] #372 closed

[2021-03-23 00:21] leifg commented on #352
OK it seems like I don't get this to work with `atomFamily`. My use case is I have a list of languages in a filter dialogue and I want to preselect a certain number of default languages (only default languages are selected):

[code]

The selection works for all languages except for English (the default language). The setter of the `selectedLanguages ` is called but afterwards it doesn't call the g

[2021-03-23 00:38] dai-shi commented on #352
I'm not sure if I fully understand the weird behavior described. Does it only happen with the default thing?

[code]

I mean, does this reproduce the issue, or not?

[2021-03-23 00:44] leifg commented on #352
Sorry, let me clarify the wrong behavior.

This is how the selection looks like:

<img width="544" alt="Screen Shot 2021-03-22 at 17 40 30" src="https://user-images.githubusercontent.com/110321/112075499-e10a2c80-8b35-11eb-96cd-c157ecd5ac69.png">

No problem, English as the default. But I cannot deselect English, it will always be selected. All other language selections work perfectly fine.

I can

[2021-03-23 00:48] dai-shi commented on #352
Okay, I guess this should fix it.

[code]

[2021-03-23 00:55] leifg commented on #352
Thank you. Now I can select and deselect English but it is NOT enabled by default.

[2021-03-23 00:57] dai-shi commented on #352
Did you change it to `null`?

[2021-03-23 00:58] leifg commented on #352
Oh sorry, didn't see. Now it works. Thank you so much!

[2021-03-23 05:34] wancup opened #373 ""Too many re-renders." when I set value to atom in useEffect (v0.15.3)"
Thank you for awesome library!

I updated Jotai v0.15.2 to v0.15.3. in my project, and it starts to fall.
The error message is "Too many re-renders. React limits the number of renders to prevent an infinite loop.".

I uploaded the reproduction project to https://github.com/wancup/jotai-re-render-error-test. (It's ok in v0.15.2)
Main file is https://github.com/wancup/jotai-re-render-error-test/blob

[2021-03-23 06:10] dai-shi commented on #373
Yeah, it looks like a bug in v0.15.3.
Thanks for reporting and the reproduction!

I tried commenting out `fourfold2` line, and it seems to work.
https://codesandbox.io/s/heuristic-flower-npuq1?file=/src/App.js

We should fix the bug anyway...

[2021-03-23 14:38] aulneau opened #374 "`atomWithQuery` does not respect `react-query` options"
from discord:

Some of the best features of a tool like `react-query` have to do with its ability to refresh data at different times:
- on an interval
- on mount
- on network change
- on window focus

Currently `atomWithQuery` can take these options but it seems to not apply them.

[2021-03-23 14:47] dai-shi commented on #374
Thanks for reporting the issue. Let's investigate how to support them. We want to support them.

For now, I have a question: When should it "suspend" and when shouldn't it? Currently, it suspends for "refetch", but I wasn't so sure if it could be done silently.

[2021-03-23 15:48] aulneau commented on #374
I think it depends on the app. For me, I like that it would suspend at first if there is no data, but then not suspend when the data updates via any of the refresh variables. I don't think it should suspend on every single update.

react-query has an option to enable suspense -> https://react-query.tanstack.com/guides/suspense#_top, maybe we could allow more fine-tune control over suspense, eg `su

[2021-03-23 18:12] caltamiranob opened #375 "value from atom is not update and component is not rendered (v0.15.3)"
Hi everybody, i hope you can help me with the following problem beacuse i don't know what i'm doing bad.

I have a "store.js" file where i have all my atoms for specific module:

[code]

In another file i have my component where use atoms, when this component load the the initial values from atom are: loading: false and document: undefined; next invoke to the loadDocument method (this method updat

[2021-03-23 21:58] dai-shi commented on #374
Thanks, good to know. Let's revisit the suspense behavior too after we figure out how to support refreshInterval.

Note, unlike pure react-qurey, atomWithQuery doesn't have a loading flag. It prefers to use suspense for showing loading status.

[2021-03-23 22:20] dai-shi commented on #375
The code looks good and the behavior sounds weird.
Would you be able to create a codesandbox reproduction so that we can dig into it?
Thanks for your help.

[2021-03-24 01:16] caltamiranob commented on #375
Hi @dai-shi, I share the sandbox:

https://codesandbox.io/s/test-jotai-async-method-41oyb

Thanks for your help.

[2021-03-24 02:34] dai-shi commented on #375
Confirmed this is a bug in v0.15.3.

It works ok in v0.15.2.
https://codesandbox.io/s/test-jotai-async-method-forked-4z27y

[2021-03-24 02:35] dai-shi commented on #375
#373 might be related. The root cause could be the same.

[2021-03-24 11:03] dai-shi commented on #269
We have `onMount` now, so the best practice is slightly changed.

[2021-03-24 12:32] #373 closed

[2021-03-24 13:50] Sparklytical commented on #318
@dlindenkreuz hey sorry about it, i just did a useEffect that will check if the value is undefined, if it's check again or try to set state again. Sorry I tried finding the exact code where i did it, but it was missing/not able to find it.

[2021-03-24 14:34] caltamiranob commented on #375
Thanks @dai-shi, it works with v0.15.2.
Now, i have another problem but maybe is because i'm not understanding how jotai works.
I have create a component "DocumentInfo", in this component read the "document" atom what was setted in the parent component (ListDocuments), but the "document" atom have the initial value (undefined). How call the document atom is incorrect?

https://codesandbox.io/s/tes

[2021-03-24 15:12] aulneau commented on #374
Looking into this more, I realized for my use case the atom is never firing the `onMount` method, nor subscribing -- I am passing an initial value to the atom via a Provider (as the app is SSR). Would that cause an issue? I saw in a different test app (non-ssr), the refresh options apply correctly and the interval works.

[2021-03-24 15:20] dai-shi commented on #375
It's because you are using Provider incorrectly.
Provider will create a totally isolated state area in the subtree.
Either remove the Provider or place it closer to the root.
https://codesandbox.io/s/test-jotai-async-method-with-components-forked-ks9r1

[2021-03-24 15:54] dai-shi commented on #374
Oh, right. initial values in Provider are to store atom values as if they are already mounted. (It's conceptually different from atom's initial value.)
I'm not sure if this is somewhat solvable or rather intended. 🤔
In the mean time, we'd need to subscribe in useEffect at the Provider in this use case. (without using onMount...)

[2021-03-24 16:46] aulneau commented on #374
I see, that makes sense.

I think for me (and probably others) this would be an ideal experience when using `atomWithQuery` in next.js or any other ssr app.

- fetch data on server
- provide the initial data to the atom from the server
- when the client hydrates, the atom subscribes and respects any react-query options

I know react-query has two patterns for supplying the initial data, with the [

[2021-03-24 17:58] aulneau commented on #374
This works, but seems maybe a round about way of fixing it:

[code]

[2021-03-24 22:46] dai-shi commented on #374
I agree. We have a separate discussion about nextjs #340 (this is not ssr in general).
I guess some of ssr issues might not be tied to jotai/query.

So, confirming this again, do we have any issues currently in non-ssr?
If not, it would be clearer to close this and open a new one? or change the title/description of this issue.

[2021-03-25 12:02] #269 closed

[2021-03-26 10:18] #375 closed

[2021-03-26 10:43] caltamiranob opened #382 "multiple rendering in component"
Hi, i have the next problem but i don't know if it's my code or some bug in jotai:

I have the 'stores.js' file where have all my atoms.
[code]

I have the 'listDocument.js' component:
[code]

Also, i have the 'DocumentInfo.js' component that fetch detail of document in the useEffect, but this is rendering multiple times, if I comment 'setLoading' method, this not happens.

I share codesandbox:
ht

[2021-03-26 10:46] dai-shi commented on #382
Can you quickly check if this is the issue only in v0.15.3, and it works in v0.15.2?

[2021-03-26 11:10] caltamiranob commented on #382
I'll tried both version v0.15.2 y 0.15.3 and have the same problem, maybe it's my code...?

[2021-03-26 12:38] dai-shi commented on #382
Looks like you have a common loading atom that is used in various places, which is causing the infinite loop?

[2021-03-26 13:33] caltamiranob commented on #382
It's correct, the loading atom is causing infinite loop. I changed for handle loading in each component. Thanks.

[2021-03-26 13:33] #382 closed

[2021-03-27 00:39] dai-shi opened #385 "Generalize `atomFamily` (BREAKING CHANGE)"
We noticed our current `atomFamily` has an issue in its API design.
It doesn't allow to use other atom creation utils like `atomWithReset`.

Ref: https://github.com/pmndrs/jotai/pull/379#issuecomment-808281883

Let's change it to the generalized one before we finalize the api as v1.

[2021-03-27 14:25] #355 closed

[2021-03-27 14:31] #352 closed

[2021-03-27 15:48] dwelle commented on #355
Thank you @Aslemammad and @dai-shi for the fix!

[2021-03-28 02:53] leifg opened #387 "Dynamically set values of an atomFamily"
There is probably a different/better ways to achieve this but I wanted to model a selection dialogue using atomFamily booleans:

[code]

Now, the selected languages are returned from an API which I want to keep consistent.

I'm imagine an atom that lets me pass in the id dynamically. So instead of having just a value, get something that exposes the method that looks up the value via id.

[code]

A

[2021-03-28 03:12] dai-shi commented on #387
You need to track the params to use the family on your end.

[code]

It might be possible to consider adding `selectedLanguages.params()` feature. But, it's not reactive, so I don't think it's useful in this use case.

[2021-03-28 12:41] Thisen opened #388 "Snaphot-based devtools"
Umbrella issue for snapshot-based devtools.

Things to consider/ideate:

- [x] Hooks for snapshots
- [ ] Babel plugin for adding debug labels
- [ ] Dedicated devtools?

Feel free to add ideas/thoughts.

[2021-03-28 19:17] marcselman opened #389 "Write function with delayed call to set"
Hi,

I have an atom that I want to automatically be reset after a certain amount of time each time it is set.
I figured I could use a custom write function; something like this:
[code]
But this does not seem to work.
The second call to `set` has no effect. I suppose it has to do with the `setTimeout`.
Is there a simple way to achieve what I want?

Thanks for this library, I'm really enjoying it so

[2021-03-28 23:44] dai-shi commented on #389
Oh, no! This is another regression in v0.15.3 refactor.
Repro: https://codesandbox.io/s/purple-darkness-l73o7?file=/src/App.js
If we downgrade to v0.15.2, it works.

Thanks for reporting and your usage is correct.

[2021-03-29 00:01] dai-shi commented on #388
Thanks for opening this up.

So, snapshot-based means it allows time traveling? The first question that comes to my mind is how to support non serializable values. Probably keeping snapshot array in JS memory.

FWIW, we could do something similar with catchAllAtom and useAtomDevtools for serializable values.

[code]

[2021-03-29 00:21] dai-shi commented on #389
Okay, this is sort of an edge case.

The documented/recommended way is to use two atoms.
https://codesandbox.io/s/angry-flower-errno?file=/src/App.js
This works fine.

However, the original usage is "supported" (but not firstly recommended because we can't type properly in TS.) and **is** used in `atomWithReducer`. So, this is still a bug.

[2021-03-29 06:23] marcselman commented on #389
Thanks! I will use the recommended way then 👍🏻

[2021-03-29 07:01] Thisen opened #391 "Atom scope on waitForAll and splitAtom is missing"

[2021-03-30 12:35] panzerdp opened #393 "Jotai intro guide"
@dai-shi Thanks for writing such a simple but flexible library!

I wrote an introductory guide to Jotai: https://dmitripavlutin.com/react-jotai-state-management/
If you're interested, you can add it to Readme.md.

Thank you, Dmitri.

[2021-03-30 12:43] dai-shi commented on #393
@panzerdp Thanks for writing up the post! I already found it on Twitter and had a look.
If you are interested in contributing in documentation, you are more than welcome as that's something we need more work: #333
Also, we have pmndrs discord server and #jotai channel there for chat-based discussion.

Closing this, but feel free to add follow up comments.

[2021-03-30 12:43] #393 closed

[2021-03-30 12:51] dustinlacewell commented on #393
@panzerdp Great article. I think it could be improved if you emphasize how Jotai is different from useState. Their similarities are obvious, but it's not clear what differentiates them. Thanks for the write up!

[2021-03-30 13:20] #389 closed

[2021-03-31 15:05] #385 closed

[2021-04-01 10:59] dwelle opened #398 "`useAtomCallback` doesn't have types for 3-param signature"
[code]

sandbox: https://codesandbox.io/s/epic-voice-vgjhr?file=/src/App.tsx

[2021-04-01 11:44] dai-shi commented on #398
Nice catch. That's similar to what you reported and we discussed about `setAtom` before. I'll make typing a bit looser likewise.

[2021-04-01 12:54] #398 closed

[2021-04-01 13:57] dai-shi opened #401 "[Docs] Improve Getting Started"
`docs/introduction/getting-started.md`

[2021-04-01 13:58] dai-shi opened #402 "[Docs] Improve introduction to async"
`docs/introduction/async.md`

[2021-04-01 14:01] dai-shi commented on #85
This umbrella issue is not very actionable any more.
Just added some more issues in #333.
Let's track docs issues there. Closing this.

[2021-04-01 14:01] #85 closed

[2021-04-02 09:53] TeaBough opened #404 "Is there a way to easily clear all jotai atoms ?"
New to jotai I was wondering if there is a way to simply clean all jotai atoms ?
My use case is when the user logout I want to clear all of his states...
For the moment I need to reset atom's one by one on logout...
I could force to refresh the page on logout but that seems kind of dirty to me...

[2021-04-02 11:15] dai-shi commented on #404
In this case, please consider using `Provider` and if you unmount it, all atom values are gone.

[2021-04-02 11:57] TeaBough commented on #404
Thanks I'll try that !

[2021-04-02 11:57] #404 closed

[2021-04-02 13:26] dai-shi commented on #404
btw, it would be good for a doc. so, feedback is appreciated if it's either successful or failed.

[2021-04-03 12:20] edmulraney opened #406 "[Question] How do I get the next state value?"
[code]

[2021-04-03 12:27] dai-shi commented on #406
On the next render, you would get the next value. This behavior is the same as `useState`.

[code]

[2021-04-03 12:31] edmulraney commented on #406
Is there anyway to provide a callback to get the next value? I need it
within the same calling function

On Sat, 3 Apr 2021 at 13:27, Daishi Kato ***@***.***> wrote:

[2021-04-03 12:49] dai-shi commented on #406
In this specific case you know the result is `3`, but it's not the case with derived atoms.
Updating atom values is an async process, which is handled by react scheduler, so in general it's technically impossible to get the next value in sync.

https://github.com/pmndrs/jotai/blob/master/docs/api/utils.md#useatomcallback
For special use cases, we have a `useAtomCallback` util, which is powerful bu

[2021-04-03 13:51] edmulraney commented on #406
That's exactly my use case. Thank you!

[code]

[2021-04-03 14:46] dai-shi commented on #406
That's good to hear.
Please note the use case of this util is not thoroughly tested / considered.

There is a hypothetical case it may not work as expected in Concurrent Mode in the future.
(It's a sort of edge case, if there's a derived read atom (both sync and async), and if stateCallback is invoked before react updates the state in its scheduler, it would return an old value.)
Technically impos

[2021-04-03 15:55] aulneau commented on #374
I'm going to close this -- I've found a solution that allows me to get around the issue. To clarify for anyone coming with similar issues: when you use a provider and set the initial value of a given atom, it will not fire any kind of 'onMount' effects. The query atom respects all (most) of the applicable options you'd want to use -- `notifyOnPropsChange` seems to not work for unknown reasons.

[2021-04-03 15:55] #374 closed

[2021-04-03 22:29] dai-shi commented on #374
You mean `notifyOnChangeProps`, right?
The "tracked" option might not work as expected with `atomWithQuery` by design.
ref: https://github.com/tannerlinsley/react-query/pull/1578

[2021-04-04 04:38] dai-shi commented on #406
@edmulraney I actually would like to learn your use case, if you are still around.
To be honest, using `useAtomCallback` doesn't sound like a right solution, even if it's valid.
Wondered if we should make some guides around it and it would be helpful if you could provide a concrete use case. A codesandbox example would be perfect.

[2021-04-04 11:25] #401 closed

[2021-04-04 19:27] tarngerine commented on #406
in a normal react use case i often will just mirror the value i need to access to a useRef, e.g. when I'm implementing a draggable element and i don't want to rebind event handlers every time i updated the x/y position, i'll do something like

[code]

[2021-04-04 19:28] tarngerine commented on #406
i guess this is not exactly the same bc im not accessing the ref in the same event handler, not sure this would even work, sorry!

[2021-04-05 00:00] dai-shi commented on #406
@tarngerine Thanks for chiming in.
I think useRef+useEffect is more legit and less error-prone.

@edmulraney Do you think you can follow this pattern? or what would be the obstacles?

[2021-04-06 21:24] tarngerine opened #410 "imperatively get an atom value"
is this possible? e.g. from inside of a useeffect

usecase
- in a menu, when you select something from the list, we want to scroll to the item's positoin in the canvas
- the menu doesn't subscribe to the items themselves

[code]

[2021-04-06 21:30] tarngerine commented on #410
rationale here is performance, i dont want to subscribe to every item's atom from a sidebar and rerender the sidebar any time an item changes (they change frequently)

[2021-04-06 21:50] tarngerine commented on #410
or actually even better: can fetch it from a function call like

[code]

[2021-04-06 22:21] aulneau commented on #410
You should be able to use [useAtomCallback](https://github.com/pmndrs/jotai/blob/master/docs/api/utils.md#useatomcallback) for this.

[2021-04-07 08:57] dai-shi commented on #410
Reading atom values imperatively, is still something yet to be fully supported. (I still don't know a good implementation to work in concurrent mode.)
It does work now at its best, and the api won't change hopefully.

You can use useAtomCallback as @aulneau suggested, or can do in a more straightforward way.

[code]

So, you see the power of writable atom?

[2021-04-07 13:17] dai-shi commented on #48
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map
According to this, Map(iterable), Map.keys() and Map.entries() are not supported in IE11. We use those now.

Does anyone have access to IE11?

[2021-04-07 14:08] sandren commented on #48
Would supporting IE11 compromise the Jotai bundle size for modern browsers? If so, it's not worth it at this point. [Even Microsoft doesn't support IE11 anymore](https://www.theverge.com/2020/8/17/21372487/microsoft-internet-explorer-11-support-end-365-legacy-edge).

[2021-04-07 15:53] leifg commented on #387
Thank you! I slightly changed how I store the data.

[2021-04-07 18:28] Thisen commented on #48
I don't think we should stress about supporting IE11, we're also using symbols which isn't supported in IE11.

[2021-04-07 18:30] tarngerine commented on #410
writable atom power:
![](https://upload.wikimedia.org/wikipedia/en/9/9f/Over_9000%21.png)

thank you!

[2021-04-07 18:30] #410 closed

[2021-04-08 01:10] dai-shi commented on #48
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set
I also noticed Set(iterator) and similar, which are used a lot.

So, seems like so.

Yeah, but this one is easy. `Symbol = () => ({})`

---
So, concluding this:
- We don't officially support IE11.
- Map/Set/Symbol are blocking
  - (If one could polyfill them well, it might work.)

[2021-04-08 01:10] #48 closed

[2021-04-09 16:48] garrett-hopper opened #413 "atomFamily with atomWithDefault doesn't return WritableAtom"
It appears the types are off here. If I create an `atomFamily` which returns `atomWithDefault` atoms, I'm not able to write to the atoms.

[2021-04-09 21:24] garrett-hopper opened #414 "Error thrown in async write result in infinite loop"
Trying to debug this, it looks like the `Promise` wrapped test error is constantly alternating being thrown by [core/useAtom.ts#L33](https://github.com/pmndrs/jotai/blob/fa983b2b4d39cc123df1fc6e8e49f6e81f0b8e90/src/core/useAtom.ts#L33) and some internal React code.

This results in constant `Rendering Test` messages being logged.
[code]

[2021-04-09 22:45] aulneau commented on #414
I've ran into this too, and it can be hard to debug. I think this will fix it:
[code]

Basically if you do an async atom that doesn't actually do anything async, it seems to break. Def not ideal, I wonder what can be done. @dai-shi what do you think?

[2021-04-09 23:40] dai-shi commented on #414
Throwing a write promise is something I invented, and not like a de-facto yet.
So, it's subject to change in the future. So far, it's handy to suspend with write atoms.

I'm not sure if I understand the issue of OP. Oh, it's infinite loop. That's unexpected.
So, how can you make this to cause infinite loop? Does clicking the "Test" button once makes infinite loop?

---
There's one design issue. We

[2021-04-09 23:47] garrett-hopper commented on #414
Yeah, a single click of `Test` results in infinite rendering calls.
Turning on `Pause on caught exceptions` shows that the `Promise` wrapped `Error` is bouncing between React and Jotai.

[2021-04-09 23:50] garrett-hopper commented on #414
@dai-shi, testing with `https://pkg.csb.dev/pmndrs/jotai/commit/fb4fba1d/jotai`, it does indeed prevent the infinite loop, though the error ends up being thrown uncaught and is only logged to the console. It seems to me that it should be able to be caught by the `ErrorBoundary`.

[2021-04-09 23:52] dai-shi commented on #413
Sounds like a typing issue in `atomFamily`.
@Aslemammad you wanna look into it?

@garrett-hopper Would you help us by creating a small repro in codesandbox?

[2021-04-10 00:09] dai-shi commented on #414
Hmm, I expected it would show Loading... forever. What would happen if you remove the ErrorBoundary?

Anyway, good to know that #415 fixes it.

I originally thought so and implemented so. But, then realized that ErrorBoundary is for "render" errors. atom write is not "render" (while atom read is "render").

So, the idiom of this pattern is this:
[code]

(But, I agree that there's an impedance mism

[2021-04-10 00:16] garrett-hopper commented on #414
Yeah, it does show `Loading...` forever; the infinite loop is only seen in the console due to the `console.log('Rendering Test');`. (And I suppose my laptop fans spinning up. :thinking:)
Oh, that makes sense now. The write error would have to be stored, then it could trigger another render to throw it I suppose. (If I specifically wanted it to bubble up to the `ErrorBoundary`)
`try..catch` for wri

[2021-04-10 00:25] dai-shi commented on #414
OK, now got it. Because the write promise is no longer pending, React retries again and again.
So, I claim this is a bug in jotai and #415 is the proper fix.

Thanks for reporting and investigating!

[2021-04-10 00:34] #414 closed

[2021-04-10 00:42] garrett-hopper commented on #413
It looks like this isn't actually an issue.
I think my initializer was incorrect or perhaps I was missing the third type parameter on `atomFamily`. Or maybe I was just seeing ghosts. :shrug:

[2021-04-10 00:42] #413 closed

[2021-04-10 00:52] garrett-hopper commented on #414
@dai-shi, perhaps this should be a separate issue for discussion, but it seems like when a write function throws an error, it should be sent back to the caller so they can catch it and use something like [`useErrorHandler`](https://www.npmjs.com/package/react-error-boundary#useerrorhandlererror-error) from `react-error-boundary` to display it to the user. It seems like at the moment the error is c

[2021-04-10 00:57] garrett-hopper commented on #414
Oh, duh, I wasn't awaiting the returned promise. Nevermind; thanks for all your help!

[2021-04-10 01:03] garrett-hopper opened #416 "SetAtom<Update> result should be one of void or Promise<void>, not both"
Currently, the type of `SetAtom<Update>` is
[code]
When I call `useAtom`, it seems to me all the information is available to determine if the result of the write function will be a `Promise` or not.

It looks like this would require `WritableAtom` containing this information as a type parameter.

[2021-04-10 01:05] garrett-hopper commented on #416
For now, I'm using this in order to call `.catch` on the result.
[code]

[2021-04-10 03:01] dai-shi commented on #416
good point. 🤔

[2021-04-11 11:39] dai-shi commented on #416
It turns out that we don't know if setAtom returns void or Promise<void> statically.
So, it would be best typing for now. If someone can dig into it (which would require the whole internals), it would be nice.

So, your workaround https://github.com/pmndrs/jotai/issues/416#issuecomment-817046190 seems good.
Alternatively, it can be:
[code]

[2021-04-13 14:36] dzcpy commented on #211
Is it possible to use tools like `fast-json-patch` (https://github.com/Starcounter-Jack/JSON-Patch) to maintain the history of the atom? So only the differences are saved in each modification

[2021-04-13 23:05] dai-shi commented on #211
@dzcpy I think if we use two atoms, the history can be implemented. No need for `onMount` in this case.
The good way to think at first is how you would do it with `useState`. Then, it's straightforward to migrate to `atom` and `useAtom`. I can help on it.
Would you open a new discussion / issue?

[2021-04-13 23:10] dzcpy commented on #211
@dai-shi Thanks for your reply. I'll think about it and open a new issue if I can't solve it

[2021-04-14 10:59] NavidGhobadi opened #420 "[Question] Jotai advantages over Recoil"
I have recently gotten familiar with Jotai and still searching for a concrete list of Jotai advantages over Recoil.
somehow wondering why there should be Jotai state manager with absolutely similar approach to Recoil. I'm sure maintainers are doing their best to improve the library more and more, but I wan't to get some idea about current and future of the library

[2021-04-14 11:59] dai-shi commented on #420
This is a tricky question. It might be good to continue discussion instead of just answering once. I hope other people to jump in and have questions and answers.

For now, I have one technical aspect for an answer. Recoil atoms are distinguished by string keys and jotai atoms are by object references. Jotai's implementation is based on WeakMap, and data is garbage collected by JS engine. This simp

[2021-04-14 13:05] sandren commented on #420
A few advantages of Jotai over Recoil off the top of my head:

- Jotai has a smaller core API
- Jotai has a less boilerplate code (no string keys!)
- Jotai has a 90% smaller bundle size and is getting [_smaller_](https://bundlephobia.com/result?p=jotai@0.16.0) over time ([Recoil for comparison](https://bundlephobia.com/result?p=recoil@0.2.0))
- Jotai has a variety of official integrations for mana

[2021-04-15 00:58] garretteklof commented on #374
Perhaps a little off topic but is there a suggested pattern in place to create atoms based on a result from `atomWithQuery`? In my use case I'm retrieving a large object from an API (using React Query) and I'd like to then divvy this result into their own nested trees of atoms for more atomic usage across the app. Is this the way? Do I have to worry about orphan atoms?

[2021-04-15 01:20] dai-shi commented on #374
@garretteklof This falls into #255 and we are working on #400. Please jump in and give us feedbacks there.

@Aslemammad This reminds me of something. We should support read-only atoms in the advanced recipe. We need to use `selectAtom` instead of `focusAtom` for read-only atoms. `splitAtom` works both read-only and writable (primitive-like) atoms.

[2021-04-15 03:41] garretteklof commented on #391
Is this fixed? I'm getting `scope: undefined` when using `splitAtom` in `0.16.0`

[2021-04-15 04:03] dai-shi commented on #391
So, you specify an atom scope? Sounds like a new/unknown bug. Can you create a minimal repro?

[2021-04-15 04:10] garretteklof commented on #391
Related to my comment [here](https://github.com/pmndrs/jotai/issues/374#issuecomment-819943656) .. I'm trying to take an atom returned from `atomWithQuery` and 'split it' with `splitAtom`. The problem becomes that I can't update the atoms in the split (can read them) and I noticed that scope was undefined and thought that may have something to do with it. I invoked a similar pattern with array of

[2021-04-15 04:36] dai-shi commented on #391
The atom created with `atomWithQuery` is not a primitive atom. If you split it, it would give you read-only atoms (or if it doesn't, it's a typing bug.) I still hope you could make a minimal example that we can play with.

[2021-04-15 05:07] garretteklof commented on #391
I see. Okay, well if they're read-only then that's why I can't write to them 😅 I can make a minimal example but I think you just answered the question. My wording with "invoked a similar pattern elsewhere" was probably confusing. That wasn't using RQ. [This isn't a minimal example](https://codesandbox.io/s/jotai-query-demo-forked-eptgu?file=/src/App.tsx) for what I was doing but I took the `react-

[2021-04-15 06:47] dai-shi commented on #231
After working on splitAtom, I'm sure we can make this to `WritableAtom<Value, Value>`. I will make a small PR to fix it.

The original post is about supporting "async" atoms, which is not solved yet. @Thisen are you going to work on it eventually?

[2021-04-15 06:50] Thisen commented on #231
@dai-shi I will, but it's my lowest priority task. Should it bumped up and done after devtools work?

[2021-04-15 06:57] dai-shi commented on #391
Yeah, it's docs issue. I think `splitAtom` is by far confusing one when it comes to writable atoms. (maybe `focusAtom` too. related: #231.)

If an atom has type `WritableAtom<Value, Value>`, then splitAtom returns a list of writable atoms.
Otherwise, it returns a list of read-only atoms.
`PrimitiveAtom<Value>` covers `WritableAtom<Value, Value>`.

An atom returned by atomWithQuery is an writable a

[2021-04-15 07:00] dai-shi commented on #231
Yeah, please tackle this after devtools.
If possible, we want to add it before v1. If it's too hard, we give up and can work after v1.

[2021-04-15 12:04] #402 closed

[2021-04-15 12:54] dai-shi commented on #391
@garretteklof
btw, if what you want is to modify query result on client only, `atomWithDefault` might help.

[2021-04-16 05:55] Jack-Works opened #426 "[Question] use with concurrent mode"
I try to use jotai as a concurrent-mode library but I failed to produce the result I want as I'm following https://reactjs.org/docs/concurrent-mode-patterns.html#splitting-high-and-low-priority-state

## Expected:

When I type in the input, the result is updated with staled data of searchResultAtom because I'm updating it inside a `startTransition`.

## Actual

The App goes into the full-suspended

[2021-04-16 06:07] Thisen commented on #426
It's important to note that `unstable_useTransition` is unstable API and we haven't tested Jotai with this API at all.

However, it's interesting to know to keep us ready for concurrent mode, can you add a Codesandbox reproduction @Jack-Works?

Thanks in advance.

[2021-04-16 06:10] Thisen commented on #420
I believe one of the major differences, besides all the previous mentioned, is that Jotai is TypeScript focused and there's a focus on delivering good DX in a TypeScript environment.

[2021-04-16 06:17] Jack-Works commented on #426
Oh, I thought this library is concurrent-mode-ready...

Code sandbox: https://codesandbox.io/s/quirky-gauss-t8s02

You may want to know contracts of working in concurrent mode correctly: https://github.com/facebook/react/issues/17526#issuecomment-769151686

[2021-04-16 07:21] Thisen commented on #426
@Jack-Works, as ready as we can be, but we don't have any tests using the experimental branch of React.

[2021-04-16 07:36] Jack-Works commented on #426
Hi @Thisen Thou I don't know if I'm implementing it right, there is my own example of how should things work https://codesandbox.io/s/dreamy-elion-0kzkl
Click `revalidate` will trigger an update out of `startTransition` so it will render Suspense fallback. Click `revalidate in concurrent mode` will use `startTransition` and get a better visual effect.

[2021-04-16 07:53] dai-shi commented on #426
Well, it's hard to define what is CM-ready. Anyway, @Jack-Works this is nice catch. I will investigate it further. Thanks for the codesandbox too.

As @Thisen noted, we don't run our tests in the experimental build, so in one aspect it's not yet supported. We do support `<Suspense>` in Legacy Mode. (But, note it's technically unstable.)
One the other hand, I run some experiments with https://githu

[2021-04-16 08:01] Jack-Works commented on #426
How sync atoms trigger suspense? Does it throw a Promise?

[2021-04-16 08:09] dai-shi commented on #426
When render takes too much time, it will suspend. There's nothing special done in the library. That's how time slicing was working when I tested some time back. As it seems React is changing the (default?) behavior, I'd rather sit and wait until it's settled.

[2021-04-16 09:20] #335 closed

[2021-04-16 13:45] dai-shi commented on #426
@Jack-Works
It seems like you forgot to enable concurrent mode.
[code]

And this is something working based on your example.
https://codesandbox.io/s/happy-frost-skb09?file=/src/App.js

If the original example should work, there might be a timing issue in jotai.

But, I'm afraid of this. Better to wait for an official doc.

Please let me know if you find anything while playing with it.

[2021-04-16 14:08] Jack-Works commented on #426
Oh I'm sorry 😂

So I tested on the behavior in the concurrent mode, doesn't look correct either.

Reproduce: Type any character, for example, "abcd". Every character should have a 500ms span between them.

And here is the timeline of expected output and actual output. The intermediate results are not displayed

![image](https://user-images.githubusercontent.com/5390719/115036427-166d2480-9f00-11eb

[2021-04-16 14:42] dai-shi commented on #426
As jotai's setValue is mutating a ref, this is probably not possible by design.
My former lib `use-atom` would work like that, because it's truly useState, but I gave up that route. I call the behavior "state branching" and unless react provided some new function to expose it, it would never be possible. I might be wrong.

[2021-04-16 14:50] Jack-Works commented on #426
Yes, it is possible. There's two undocumented new API for this (redux-like) case:

`unstable_createMutableSource` and `unstable_useMutableSource`. The key idea is versioning, for each version (whatever it is), you should give React an immutable snapshot of the current state then React will handle those "state branching" for you.

Here is an example of this API (thou I don't know if it is correct):

[2021-04-16 14:53] RIP21 commented on #333
If some will wrap `urql` client into `jotai` it will be awesome :) But I guess it will require some good knowledge of internals to make it right.
This thingy :)
https://github.com/FormidableLabs/urql

[2021-04-16 15:04] dai-shi commented on #333
@RIP21 Nice idea. Would you create a dedicated issue please? I'm interested, but if someone is too, they can try.

[2021-04-16 15:16] dai-shi commented on #426
Hm, that was my original expectation and eventually thought uMS alone doesn't allow state branching while experimenting use-context-selector v2.
Maybe what you are referring and state branching is different.

Our plan is to migrate to uMS (real one), so if that solves your use case, it would be good.
...I tried it now, but no, it didn't fix it, unfortunately. Needs more investigation. Does your ex

[2021-04-16 15:28] RIP21 opened #427 "Create a bindings to the URQL GraphQL Client."
Jotai is an awesome local state management library, but especially with GraphQL usually, some specialized clients are way more preferable than Redux, Jotai, Recoil etc. although to get GraphQL client's data into the Jotai sometimes could be very helpful.
A common example would be a select options that are getting fetched from the GraphQL backend. Currently, the process is pretty annoying with `use

[2021-04-16 15:33] RIP21 commented on #333
@dai-shi done https://github.com/pmndrs/jotai/issues/427 :)
BTW, thanks for your work! :) Love Jotai so far :)

[2021-04-16 15:53] dai-shi commented on #427
I'm pretty interested in this. The point is if/how urql exposes non-React APIs.

I can work on it, but not immediately. So, if anyone is interested in taking it, leave a comment. Basically, one needs to understand how `atomWithQuery` in `jotai/query` is working now. (And, there would be room for improvement even in it.)

This would be called `jotai/urql`.

[2021-04-16 16:32] kitten commented on #427
This could be interesting! I haven't quite looked at all of jotai's internals yet, but I do know that since it's close to how `useMutableSource` can be emulated and our `useQuery` implementation also is close to how `useMutableSource` can be emulated, it shouldn't be "hard" per se https://github.com/FormidableLabs/urql/blob/main/packages/react-urql/src/hooks/useQuery.ts

[2021-04-16 22:19] Thiesl137 opened #428 "WIP - External stand-alone Devtool"
Hello Everyone!

My team and I have developed a minimal stand-alone devtool Atomic for React applications using Jotai!
It's a WIP and have just released a beta version for public use.

You can visit the [Website](https://atomictool.dev/) or [GitHub](https://github.com/oslabs-beta/atomic) to get more information.

It's currently under review with Chrome Web Store so not accessible by download yet.

[2021-04-17 01:27] dai-shi commented on #427
Yeah, at hook-level, what they are doing would be similar.

jotai/urql should probably directly depend on urql/core as atom-level it's no react involved. That's what we did with react-query.

using this: https://formidable.com/open-source/urql/docs/api/core/

and providing similar api like useQuery: https://formidable.com/open-source/urql/docs/api/urql/#usequery
(and eventually, useMutation and us

[2021-04-17 01:33] dai-shi opened #429 "[Docs] Rewrite persistence guide"
The current one is stale. It should utilize onMount more.

[2021-04-17 02:17] mhcoffin opened #430 "Support primitive atoms with a Promise as the initial value."
I think this would be a powerful feature. It would allow one to create an atom that is initially suspended, and then un-suspend it later, when data is available. See, for example,  a simple [subscription example](https://codesandbox.io/s/jotai-subscription-1-k416l). This was derived from something I was working in for firebase authentication. The same idea would work for firestore subscriptions. D

[2021-04-17 04:13] dai-shi commented on #430
Thanks for opening this up. This is something I thought about too. Not sure if it can be implemented in a straightforward way. React Suspense contract is to wait until the promise is resolved, right? So, we need to return a new promise. I can try that.

I wonder if anyone has an idea for typing.

[2021-04-17 04:15] dai-shi commented on #430
(Also wondering if this is possibly related with #426. In this case, it's a priority for me.)

[2021-04-17 17:36] mhcoffin commented on #430
Accidentally closed this.

[2021-04-18 00:30] kitten commented on #427
I suppose the next thing to figure out are unsubscriptions. If we want to create atoms for query (and subscription data) then there needs to be a way to end it. I haven't really dove into this codebase yet, but I hope that's in place;

If not though we could always see what other streams of information are universally interesting without having to have a clear stop or end event.

[2021-04-18 11:24] dai-shi commented on #430
https://codesandbox.io/s/jotai-subscription-1-forked-ol4rv
This is with the build #431.

[2021-04-18 11:33] #255 closed

[2021-04-18 23:24] dai-shi commented on #430
Oh my, the same issue can be reproduced with a normal async read atom.
https://codesandbox.io/s/winter-bash-rp2rr?file=/src/App.js
I think this is a bigger issue and not fixed yet by 8a2c510.

[2021-04-18 23:28] dai-shi commented on #430
let me create a new issue.

[2021-04-18 23:31] dai-shi opened #434 "async read atoms keep waiting the first promise to be resolved and can't be overriden by the second promise"
from: https://github.com/pmndrs/jotai/issues/430#issuecomment-822082692

repro: https://codesandbox.io/s/winter-bash-rp2rr?file=/src/App.js

[2021-04-18 23:59] dai-shi opened #435 "[Docs] How to deal with atoms in atom guide"
We have a special pattern to deal with an array in jotai. It's already shown in the todos example, but a separate guide would be nice.

[2021-04-19 16:41] RIP21 opened #436 "[Docs] Improve `atomFamily` typings to be obvious to use"
As per https://github.com/pmndrs/jotai/discussions/433#discussion-3327022

It's not currently 100% correct how `atomFamily` typings are working now especially if you want to explicitly pass generic arguments to it.

For instance:
[code]

If you pass third argument to be just `ProfitLossEngineState` it will break typings for all the setters that would like to use a callback like `setAtomState(it =>

[2021-04-19 22:28] dai-shi commented on #436
This is due to #392, which was breaking improvement, so it's technically not compatible with the previous types.

How can we make it more intuitive?

The alternative would be `atomFamily<Param, AtomType>`.
In your use case, it would be this:
[code]

[2021-04-19 23:47] RIP21 commented on #436
@dai-shi I guess a bit more examples would do. Also, a nice approach is to put some examples into `jsdoc` above the typings for different overloads this way it will be a bit cleaner for which overload is for which use case.
This way it will evolve with the implementation. Maybe there is even some sort of tool to run the code in rust docs examples as Rust has :) But I'm unsure about anything like t

[2021-04-20 00:28] dai-shi commented on #436
Okay, let's improve the doc in TS or add a TS section in atomFamily section.
My primary recommendation is to infer types from `atom()`. And, there's the issue in `atom()` typing. Anyway, would be good to fix both.

[2021-04-20 10:36] #429 closed

[2021-04-20 22:51] DynamicArray opened #439 "Atom snapshot"
In a writeable atom, I want to use the value of another existing atom. However, if I access it with the "get" param, my atom gets updated each time from there on in, which I don't want.

Is it possible to access a one-time, read-only snapshot of another atom, without creating a dependency on it?

[2021-04-20 23:37] dai-shi commented on #439
So, something like reverse "atomWithDefault". There could be some patterns for it depending on requirements.

Here's one of patterns with onMount.
[code]

I guess it would be easier if useEffect is acceptable to initialize.

[2021-04-21 09:42] DynamicArray commented on #439
Thank you for the quick reply.

I was hoping to avoid useEffect and the 2nd render that would produce.

This is an array of data with a semi-shared set of values. Where a particular array value has not been set directly, it uses the shared values. But an array value set directly, must not take the shared values.

Initially, the whole array was an atom, but now I'm playing with a version that has a

[2021-04-21 09:43] DynamicArray commented on #439
However, it would still be great - at some point - to be able to access the latest version of an atom, without creating a hook dependency.

[2021-04-21 15:54] edmulraney commented on #406
Hey @dai-shi I will revisit this soon and add some information around what I was trying.

[2021-04-21 18:15] #430 closed

[2021-04-21 18:15] #434 closed

[2021-04-21 19:31] DynamicArray commented on #439
Therein lies my problem. I'm (lazily, I know) relying on the dependency of gets in a read to update another atom, but not wanting all of those gets to be dependencies.

Perhaps that's what I need to do instead: force an update and use that as my place to make these changes.

[2021-04-22 16:04] mhcoffin opened #442 "Resolution of Promise atoms does not propagate correctly."
This example of atoms with Promise values works as expected: https://codesandbox.io/s/jotai-subscriber-a-xk21g.

However, this small variation hangs: https://codesandbox.io/s/jotai-subscriber-a-forked-58nso?file=/src/App.tsx.  This is likely due to infoAtom depending on a chain of Promises:
```infoAtom = atom((get) => get(userInfo(get(whoAmI))))```.

[2021-04-22 16:50] Thiesl137 commented on #428
The devtool is now available for download on the Chrome Web Store [here](https://chrome.google.com/webstore/detail/atomic-dev-tool/nnchkolpjdpkpbolophmdkglenapodbo)!

Again, publish issues and feedback so we can fine tune for snapshots API.

[2021-04-22 23:34] leifg opened #443 "Endless API call with 0.16.2, strange behavior"
I just upgraded to jot 0.16.2 and I am seeing some very strange behavior.

I am using an atom to fetch the country of my users:

[code]

Within fetchCurrentCountryCode I am making a request to an external service:

[code]

All of this works with jotai 0.16.1. But when i upgrade to 0.16.2 this request just hangs forever and my CPU goes crazy.

<img width="946" alt="Screen Shot 2021-04-22 at 16 26 3

[2021-04-23 00:20] dai-shi commented on #443
Thanks for reporting. Sounds like a tough one. I'm pretty sure this is caused by #431.
We'd need to create a stable repro and test to investigate further.
Please let us know if you or anyone finds anything to dig into it.

(Hopefully, the root cause is similar to #442, but we will see.)

[2021-04-23 14:48] dai-shi commented on #443
re: https://github.com/pmndrs/jotai/pull/444#issuecomment-825700501

It's unfortunate that #444 doesn't fix this.

Can you try it without `atomWithDefault` and see if the issue persists?

[2021-04-23 15:15] leifg commented on #443
yes, not using atomWithDefault fixes it.

[2021-04-23 22:22] dai-shi commented on #443
Thanks. That's good to know. Let me see if I can find something.

[2021-04-24 01:05] dai-shi commented on #443
Another trial:
[code]
Does this change anything?

[2021-04-24 01:36] leifg commented on #443
The problem still persists even after removing the `async` keyword

[2021-04-24 03:10] dai-shi commented on #443
Hm, I don't think I can repro the weird behavior with fake async functions. (Well, you said you can't either with with non-fake ones...)
I gave up for now. Please someone try if interested.

[2021-04-24 06:05] sarmadsangi opened #447 "[Question]: What is the most performant way for dynamically adding atoms or focus atoms for a large tree?"
Hi folks,

First of all, great work done with Jotai. Good documentation too.

I have a use-case where i am require to maintain a component tree and its styles, which are to be rendered on a page. Each of this component's style can be modified. At the moment i use a single `useState` to update the tree whenever a component style is updated. I feel Jotai can help optimise for performance here as thi

[2021-04-24 07:02] dai-shi commented on #447
Assuming you don't need any serialization, making an atom for the object with the id is a primary approach, and probably performant.

So, basically this. But, nesting atoms in a tree might not be handy in your use case. (Because, you can only add an item to its parent.)
In such a case,  using a big tree and focusAtom/splitAtom would be easier.

Creating id tree and using atomFamily can be another

[2021-04-24 14:21] #442 closed

[2021-04-24 14:49] RIP21 commented on #436
Regarding interactive docs.
https://www.npmjs.com/package/@typescript/twoslash
Maybe this thing may help make examples interactive and always up to date.

[2021-04-24 14:56] dai-shi commented on #436
Thanks for sharing.
We actually start using sandpack in our new pmndrs docs website. Still work in progress.

[2021-04-24 20:54] leifg commented on #443
I am currently trying to set up a minimal project to reproduce this issue without success.

From the other end I try to dumb down my production project to figure out where the problem arises.

And one thing I noticed is that with only 1 request the problem doesn't occur. So this line I found interesting:

[code]

I initially thought the looping might be an issue, but even if I reduce the number of

[2021-04-25 07:32] naivefun opened #449 "devTools for atomFamily"
now useAtomDevtools seems only accept atom as param. how to use atomFamily with devTools?

[2021-04-25 08:08] dai-shi commented on #449
Yes, useAtomDevtools only accepts one atom.

We are working on a new feature. #338 @Thisen is taking the lead.

Meanwhile, you can try a catchAllAtom workaround https://github.com/pmndrs/jotai/issues/388#issuecomment-808983607, but it would be hard to catch all atoms in atomFamily.

[2021-04-25 10:35] dzcpy opened #450 "[Question] Is there any way to create a readonly focusAtom? And is it possible to make it work with atomWithImmer?"
For example here's my atoms:
[code]
[code]
However since first parameter should be a WritableAtom so it doesn't work. How about implementing something like focusAtomValue and updateFocusAtom to dress this issue?

Also I found that atoms created by atomWithImmer couldn't be used by focusAtom. I can manually use immer to do the samething in the original atom, but is there a better way to do it?

[2021-04-25 12:29] dai-shi commented on #450
`focusAtom` only works for symmetric writable atoms. `selectAtom` works for readonly atoms.

You can do it natively too.
[code]

Or, you can try to make `currentPageElementsAtom` writable with `focusAtom`.
To use `focusAtom` in render with props, you need to use `useCallback`.
[code]

btw, I assume `pagesAtom`, `currentPageAtom` and `currentPageElementsAtom` are defined outside render.

---

`atom

[2021-04-26 00:27] dzcpy commented on #450
@dai-shi Thanks very much for your quick response. This library is amazing, it's very easy to use and I can see you put a lot of effort in maintaining it.
Your solution works great for me.

[2021-04-26 01:24] dzcpy commented on #447
I'm working on a project with a pretty similar use case. I do have the need to serialize it though.
What I'm currently doing that is to create the id using Symbol.for(id) so id field won't be serialized. And at the same time, I created a new object called `idToPath:{[id: symbol]: string}`, to map id to nested path. For example, {Symbol.for('32fss2d'): 'children.1.children.0'}. So every time there'

[2021-04-26 03:07] dai-shi opened #451 "add import of store state json to `useAtomDevtools`"
We should be able to the same as https://github.com/pmndrs/zustand/pull/373.

[2021-04-26 03:11] dai-shi opened #452 "extend atomWithImmer to accept normal update"
make `atomWithImmer` compatible with `WritableAtom<Value, Value>`.

refer the latter comment in https://github.com/pmndrs/jotai/issues/450#issuecomment-826316540

We can also do this for `withImmer`.

[2021-04-26 03:13] dai-shi commented on #450
So, you solved with the readonly approach? Nice.

Closing this as #452 is filed.

Thanks for using the lib. Feel free to report more issues.

[2021-04-26 03:13] #450 closed

[2021-04-26 03:33] dzcpy commented on #450
@dai-shi Well, I solved the readonly issue but not atomWithImmer one. I tried to dig a bit into it to see if I can create a PR, but it turned out that it's a bit complicated than I thought. Hopefully someone else can work on it to make it more universal.

[2021-04-26 03:43] dai-shi commented on #450
Well, the code for #452 would actually be a few lines.
[code]

But, types, tests, and docs wouldn't be trivial.

[2021-04-26 09:02] dai-shi commented on #447
It sounds like there could be a better way.

Can either/both of you create a smaller example to play/discuss with?
Do you still see difficulties with one-level-deep tree (aka list) or only with infinite-deep tree?

btw, serialization only might not a big issue, de-serialization is the hard part.

(This would become a good example in docs.)

[2021-04-26 12:52] Thisen commented on #231
I'm deep into devtools, so if anyone takes to pick this up, please do. If no one picks it up, I'll return to it. :)

[2021-04-26 14:24] dzcpy commented on #447
@dai-shi
Sure, here's my implementation. It's not very efficient though:
https://codesandbox.io/s/epic-mcclintock-ybjk4

[2021-04-26 14:46] dai-shi commented on #447
Thanks for the example! It's small enough to understand the structure.
It's still too big to give the complete rewrite from my side, so let me give some comments.

First of all, we have two basic approaches.
1. big atom approach
2. nested atom approach

what you are doing is 1 and it's fast for (de)serializing, but updating can be slower (still enough efficient). On the other hand, 2 is faster for

[2021-04-26 14:52] dai-shi commented on #447
atomFamily is another option, and that might fit with `idToSomethingMap` structure. I don't have much experience/thought on it.

Isn't it `selectAtom`? But, I guess it would be just fine with your current approach.

Yes, we'd need `useMemo(() => atom(...), [...])` pattern.

[2021-04-26 15:15] dzcpy commented on #447
@dai-shi
Thanks for your comments. It's really helpful.

For my use case I need to seralize it every time I change it, for keeping a history so it can undo / redo changes. The reason why I created an idToPath map instead of a derived getter atom is that I think it doesn't always need to be changed if the modification is just the payload, instead of adding / removing / reordering elements. But stil

[2021-04-26 15:30] dzcpy commented on #447
That'd be even better. It's just that I haven't found a way to do it.

[2021-04-26 22:46] dai-shi commented on #447
Have you seen `splitAtom`?
If you could make component tree structure the same as data tree structure, you could eliminate the map. That's the approach in https://docs.pmnd.rs/jotai/advanced-recipes/large-objects.

[2021-04-26 23:46] dzcpy commented on #447
Yes, I've noticed that. So let's say there is a feature that I want to select a component, and change the order of it, or to delete some of the selected components. Is it doable using `splitAtom`?

[2021-04-26 23:54] dai-shi commented on #447
Yes, it should! It's a relatively new function, so you might expect some bugs, but yeah that's the goal.

For reordering, your `id` is important which should be specified with `keyExtractor`.

[2021-04-27 01:22] dzcpy opened #454 "Is there an universal way to retrive the value of an atom without using useAtom?"
Is there an equivalent way to fetch the atom's value as in `zustand`, using `someStore.getState()`?
I'm currently having some issue to get this work:

[code]

[2021-04-27 02:21] dai-shi commented on #454
Short answer is no.

There exists multiple atom values for a single atom config at the same time. So, there's no notion of getting the single atom value just from a config. You have to `useAtom`.
Like `useState`, bridging react state and external variable, you would need `useEffect`.
Or, jotai provides `jotai/zustand` bundle to make the life easier.

You might need to tweak your head to better gra

[2021-04-27 02:40] dzcpy commented on #454
@dai-shi
Thanks very much for your reply. I think now I can resolve all of my issues .
At the same time I'm kind of thinking if I could hack it a little bit to save the getter function actually in an atom

Like:

[code]

[code]

This seems a bit wierd but I'll see if it works 🙄

[2021-04-27 03:07] dai-shi commented on #454
Good try. What you would want for the "write" part is this:

[code]

For (non-tracking) "read", it's tricky, because it's async.
Take a look at `useAsyncCallback`. That's something you want.

But using these two techniques is not "jotai" way. I feel like there's a better pattern for your use case.

[2021-04-27 03:14] dai-shi commented on #454
[code]

haha, this is hacky. hm, I used to check this, but not any more. note that even if it works now, it may not in the future. `read` is expected to be a pure function.

[2021-04-29 11:10] ericyip commented on #447
I was trying to do reorder using `splitAtom`, don't know how, the `splitAtom` return only a `remove` function?

[2021-04-29 11:15] dai-shi commented on #447
Oh, right. Yeah, I mean you reorder the original array atom and splitAtom works well with keyExtractor. To be honest, I haven't tried it. So, I'm happy to help your example.

[2021-04-29 12:47] dzcpy commented on #454
I've tested this hacky workaround and it works alright. So instead of using `useMemo` or `focusAtom` which could use extra memory for caching results, now I can use getter and setter plus custom hooks to do the same thing. And it's much more flexible.

For example:

The previous code snippet can be simplified like this:

[code]

[code]

[code]

[2021-04-29 15:31] dai-shi commented on #454
Nice try. As I said, `getAtom` is not recommended which may not work in the future.
The recommended way is:
[code]

[2021-04-30 00:09] dzcpy commented on #454
In this case let's say `idToPathMapAtom` got updated, since it's cached based on `id`, will it trigger update? If not `path` would be stale

[2021-04-30 03:26] dai-shi commented on #454
With this, it will re-evaluate when `idPathMapAtom` changes and only trigger re-render if `path` changes.

With `getAtom`, it may not trigger re-render when `idPathMapAtom` changes. At least not guaranteed.

With this, it will re-render every time `idToPathMap` is changed, regardless of the case if `path` isn't changed. So, it's not something you want.

Oh, by the way, we take the memory leak issu

[2021-05-01 06:36] HosseinAgha commented on #436
This took so much time to figure out.
IMO, the docs should at least warn people who are trying to explicitly type the `atomFamily`.

[2021-05-01 07:59] HosseinAgha commented on #387
It is a very common pattern using useAtomFamily, can we turn this into a utility?

[2021-05-01 08:32] dai-shi commented on #436
@HosseinAgha Thanks for chiming in. I will add some notes in docs.

[2021-05-01 08:40] dai-shi commented on #387
@HosseinAgha Would you elaborate it a bit? I'm not against to have a util for a common pattern, but in general I feel like there's a better way than using atomFamily.

[2021-05-01 10:49] HosseinAgha commented on #387
We use atomFamily for storing/updating the server data. (specifically a map between entity Ids to their value)
We need to initially get the previous data from the server and store it on atom families.
We achieve that using a WriteOnly atom:
[code]

Now we can batch initialize multiple atoms stored in an atomFamily. Other updates can happen normally in an Item related component:

[code]

[2021-05-01 11:05] dai-shi commented on #436
@HosseinAgha Would you review this? https://github.com/pmndrs/website/pull/65

[2021-05-01 12:32] HosseinAgha commented on #436
Sure. I'll start right away.

[2021-05-01 22:37] dai-shi commented on #387
Thanks. It looks good. Well, it's good as is to me.
To generalize this pattern is a bit hard. atomFamily is very flexible and not just `id` to atom mapping.
(In other words, the `itemsWriteOnlyAtom` is based on some domain knowledge.)

---

For a simple `id` to atom mapping, I'd use just an atom. I will write a guide about atoms-in-atom #435, and maybe that should cover the mapping use case.

That

[2021-05-02 09:08] dzcpy commented on #447
Hi, could you please shed some like on how to implement similar logic with `splitAtom` and `keyExtractor`? After doing a bit of research, I still haven't found the correct way of doing it. Many thanks!

[2021-05-02 10:52] dai-shi commented on #447
Sure.

So, I made this example.
https://codesandbox.io/s/react-typescript-forked-4dzl6?file=/src/App.tsx
...and found a bug. The very first time, if you move an item, it show two duplicated items. But, it seems this weird behavior is only for the first time. cc @Aslemammad

[2021-05-02 11:18] dai-shi commented on #436
https://github.com/pmndrs/website/pull/65#issuecomment-830792790

[2021-05-02 11:18] #436 closed

[2021-05-02 13:56] HosseinAgha commented on #387
Thank you for the explanation.

One small point about the TODO example.

Sending atoms down using props does not feel good for me. It almost feels like sending a Reactive OOP-object with a getter and setter. This feels wrong in the functional reactive paradigm of React. I think the memo based atomFamilies are much more functional. Also, having a module-level (import) dependency on atoms unleashes

[2021-05-02 21:27] dai-shi commented on #387
Thanks for the feedback. Maybe we show options and let developers choose. Atom configs are not like reactive objects. It's just a reference instead of a string key. I understand it may feel not good for someone. For me, one concern with atomFamily is it's Map based instead of WeakMap. Educating the use of `remove()` may solve it.

[2021-05-02 23:44] leifg commented on #443
OK it took me a little bit but I was able to reproduce the issue, locally and deployed.

I created a simple project called [locator](https://github.com/leifg/locator). I added detailed instructions that can be found in the README. For archive reasons I'm gonna post the README of the project:

# Locator

This is a test project to reproduce the behavior in [pmndrs/jotai#443](https://github.com/pmndr

[2021-05-03 00:37] dai-shi commented on #443
Thanks for the reproduction. I confirmed it locally too.

Even, this simplified code causes the issue.
[code]

But, this one doesn't.
[code]

[2021-05-03 00:46] dai-shi commented on #443
Okay, if I make fetchEntities completely sync, the problem goes away.

[code]

There must be a bug (infinite loop) somewhere.

[2021-05-03 01:24] dai-shi commented on #443
Here's the minimal repro I made.
[code]

So, the issue is async chain with atomWithDefault.
I will try to create a test for this.

---

Meanwhile, what you can do is this.

[code]

This fixes the strange behavior.

[2021-05-03 06:24] #451 closed

[2021-05-03 06:32] dai-shi commented on #272
Closing as resolved.

[2021-05-03 06:32] #272 closed

[2021-05-03 06:34] dai-shi commented on #150
Closing as stale.

[2021-05-03 06:34] #150 closed

[2021-05-03 06:39] dai-shi commented on #197
I think it's mostly answered. Please open a new discussion if necessary.

[2021-05-03 06:43] dai-shi commented on #347
https://docs.pmnd.rs/jotai/basics/primitives

<img width="759" alt="image" src="https://user-images.githubusercontent.com/490574/116847798-40c02100-ac26-11eb-94ea-50f65d3fa631.png">

[2021-05-03 06:43] #347 closed

[2021-05-03 06:48] dai-shi commented on #439
We don't have any plan to change the core api, but there should be workarounds (may need to be less lazy), so we could discuss more with concrete use cases.

Closing this. Feel free to continue discussion here or open a new discussion.

[2021-05-03 06:48] #439 closed

[2021-05-03 13:12] dzcpy commented on #447
@dai-shi
Thanks for your reply. I've done a bit of research and found a new library is way more convinient and feature rich working with large scale tree like states: `mobx-keystone`. Anyway `jotai` is definately a exceptional too as well. But maybe in this case not quite suitable for this kind of applications

[2021-05-05 23:23] dai-shi commented on #427
So I made a skeleton in #463 looking at https://formidable.com/open-source/urql/docs/api/core/
It's mostly from `jotai/query`. I'm not yet sure around Context, Operation and so on.
It's not tested at all, but would anyone like to play with it? Feedbacks are welcome.

[2021-05-05 23:26] kitten commented on #427
@dai-shi It may take me a tad to get back into the `jotai` codebase but I'm happy to give it a quick read and try tomorrow ✌️

[2021-05-06 01:05] dai-shi commented on #427
Good to know. Is there any way to allow user to refetch query, or should it be even disallowed?

[2021-05-06 10:55] kitten commented on #427
@dai-shi typically we have a method or function in the bindings that just swaps out the source, so it'll call `client.executeQuery` again.

So the full logic in vue/react/preact/svelte is:

1. The user passes inputs which are typically used reactively:

[code]

The generic here from `TypedDocumentNode` is for the output. This is copied from the Vue bindings but looks the same for React minus the r

[2021-05-06 11:12] dai-shi commented on #427
Okay, so there's basically no way to refetch. Is it bad idea to use `client.query` instead of `client.executeQuery`?

[2021-05-06 11:47] dai-shi commented on #427
56ccd10 modified based on my current understanding.

[2021-05-06 12:35] kitten commented on #427
It's not a bad idea per se, but `createRequest` + `client.executeQuery` gives you a better way to diff sources. It allows you to avoid unnecessarily switching sources, as if you use `request.key` to diff `query` + `variables` you can avoid starting a new source when that's not needed, as it's common to create `variables` with a new object, which would otherwise trigger a change.

The way to refetc

[2021-05-06 12:50] dai-shi commented on #427
The thing is we don't need to diff as it's only updated if needed. It's not like react hooks.

So, if paused=false, `executeQuery({ requestPolicy: 'network-only' })` doesn't do anything? I'm not still sure how imperative update works (like how I should get the result), but other than that, it feels good.

[2021-05-06 12:53] kitten commented on #427
@dai-shi oh sorry! I misunderstood the question. If you only allow imperative updates then you won't need pause indeed? I suppose a user could then implement that themselves.

So, if I don't misunderstand then you only need to handle changes to the inputs as, when the user changes the `requestPolicy` that's sufficient to alter how data is refetched.

[2021-05-06 13:28] dai-shi commented on #427
Hm? I didn't mean to only allow imperative updates.
Oh, my misunderstanding was the subscription of query is one shot only. Let me use `toPromise` which simplifies quite a bit.

[2021-05-07 07:19] Aslemammad commented on #447
@dai-shi After 443, I'll get back to this one, but maybe @PuruVJ can figure this out if he's interested.

[2021-05-07 13:00] dzcpy commented on #447
Sorry if my comment is not appropriate to make here but after doing a bit of research, I found that `mobx-keystone` works perfectly well, in aspects like feature rich (with a lot of built-in tools for manipulating tree nodes), easy of use / architecture of user's code and the performance as well, when working with a large tree structure as state.
`jotai` is another top grade library too, but in my

[2021-05-07 13:21] dai-shi commented on #447
Yeah, we need more best practices and some utils to deal with tree structure effectively. For now, we are still working on a flat list and `splitAtom`. Jotai core is pretty solid. After all, it's simple global state modeled after useState. (Plus, derived state + suspense, which is big.) Then, things are built on top of it. Some are easy, and some are hard. I call this task/problem/process "jotai p

[2021-05-08 12:51] kitten commented on #427
I think a subscribe leading to a `set` would probably be sufficient? A promise wouldn't reflect future results when the cache updates or a refresh occurs. I guess the only remaining question then is whether an atom can be "destroyed" i.e. whether it can unsubscribe when the atom isn't in use anymore?

[2021-05-08 13:01] dai-shi commented on #427
Hm, then what I thought I misunderstood was misunderstanding.

So, it's not one-shot. It can update results multiple times for `client.query`.

So, we should use subscription and destory it on unmount. My previous commits did it.

I'm not familiar with wonka, but it is recommended to use, right? It would require another peer dependency.

[2021-05-08 15:52] kitten commented on #427
@dai-shi Yea, I did just realise that this is all in one package, so `@urql/core` and `wonka` would become optional dependencies. That said, `@urql/core` (and other bindings) always depend on `wonka` so it should be available once `@urql/core` is.

Ok, I guess that means we're in-between two "working but almost there" kind of solutions? 🤔 Sorry about the misunderstandings! 😞 I left some comments o

[2021-05-08 23:39] dai-shi commented on #427
I wish `@urql/core` re-export `wonka` api, because otherwise library consumers have to install both optional peer dependencies (especially for strict bundlers like yarn2).

Yeah, seems like we are almost there. Let me add some comments in the commit.

[2021-05-08 23:51] kitten commented on #427
From my perspective it is pretty agnostic until you hit `subscribe`, so I think we should expose `subscribe` alongside `toPromise` but I'm not too sure about either yet. To be completely honest, we were very focused on bindings usages, so we haven't gotten quite that far yet 🤔

[2021-05-09 00:05] dai-shi commented on #427
Yeah, for now it's fine. It's kind of specific bundling issue for `jotai/urql`. (In docs, we need to educate users to install `@urql/core` and `wonka`.)

[2021-05-09 00:27] dai-shi commented on #427
Oh, `extensions` are something returned by server... 🤔

[2021-05-09 13:24] dai-shi commented on #276
So, what's remaining is this?

anyone can help?

[2021-05-09 13:25] dai-shi commented on #276
#364 seems to be related.

[2021-05-09 15:31] dai-shi commented on #443
Published: https://www.npmjs.com/package/jotai/v/0.16.4

[2021-05-09 18:45] Noitidart commented on #276
Oh I'll hit that please, just in middle of catching up on the weeks work I got behind on a deadline this week. haha it happens from time to time

[2021-05-10 08:04] dai-shi commented on #252
Our plan for this issue for v1 is to add some guide in docs about testing.
Not sure how much it covers the discussion raised in this issue, but we will see.
Let's move forward.

[2021-05-10 08:46] dai-shi commented on #416
Closing as answered.

[2021-05-10 08:46] #416 closed

[2021-05-10 08:51] dai-shi commented on #387
In summary, there's nothing wrong with using atomFamily and having another util around it is surely an option.
That said, my focus now is on atoms-in-atom pattern. We will see how #435 goes. We'd revisit how we'd show multiple patterns in docs.
For now, closing this as answered.

[2021-05-10 08:51] #387 closed

[2021-05-11 16:45] zcaudate opened #469 "atoms still work when not placed within a Provider Context"
I tried a small experiment by not using Provider Context and seeing if the atoms are updating. It turns out that they do.

Is there some sort of a Global Provider context for atoms and if so what does the use of the scoped Provider context do?

[2021-05-12 05:45] zcaudate commented on #469
Oh...  so `Provider` allow atoms to be localised and effectively model local state.

That's a really cool design. Thanks!

In terms of design, when would one choose to go the `Provider` with atoms option over just using `useState`?

[2021-05-12 08:50] zcaudate opened #472 "how to Browserify jotai"

[2021-05-12 08:53] zcaudate commented on #472
Sorry I pressed enter by accident.

I'm having trouble with browserifying both jotai and valtio, without including React in the bundle. Is there an existing *.js file that can be included in the script tag?

[2021-05-12 09:53] zcaudate commented on #469
yep. that makes sense.

I built a little global state library before discovering jotai and from my limited experience, localised prop drilling is the way to go for pure ui components like buttons and menus (I get mount/dismount errors if I use too much global state) but for modules needing data coordination (like forms), it's actually better to go with some sort of global state.

So it's either lo

[2021-05-12 10:00] zcaudate commented on #472
This is what I came up with (for my testing needs) but I'm hoping there's an existing method that I can use.

https://github.com/zcaudate/browser.build-jotai

[2021-05-12 12:32] Noitidart commented on #276
PR opened thanks to @angusryer's notes - https://github.com/JLarky/jotai/pull/1

[2021-05-12 12:49] zcaudate commented on #472
I ended up just packaging react with the bundle because it wouldn't work other wise.

No idea why.

https://github.com/zcaudate/browser.build-harness

[2021-05-12 12:49] #472 closed

[2021-05-12 23:24] dai-shi commented on #469
Yeah, for your use cases, you wouldn't need Provider. It will be required for some special use cases like SSR or library usage.

[2021-05-12 23:27] dai-shi commented on #276
Why pointing to JLarky repo??

[2021-05-13 00:48] Noitidart commented on #276
Oh shoot haha. Will fix.

[2021-05-13 00:52] Noitidart commented on #276
Fixed! hahah
https://github.com/pmndrs/website/pull/78

[2021-05-13 01:49] #276 closed

[2021-05-13 05:43] zcaudate opened #473 "how to access the value on the default store for a given atom"
After an atom is created, I'd like to access it's value for within the default store (using it like valtio)

Where is the value being stored and how can I get access to it without going through the react lifecycle?

[2021-05-13 05:50] dai-shi commented on #473
It's based on React context actually, so the value is store in context somehow. The only way to get it is `useAtom`. This is important as an atom value is not truly global in JS memory. If you would like to bridge react world and outside react, `useEffect` is a primary mean. Alternatively, atom has `onMount` which helps. Practically, you could use `jotai/valtio` for your use case.

[2021-05-13 07:27] zcaudate commented on #473
okay, that makes sense. I will still need valtio then.

thanks!

[2021-05-13 07:27] #473 closed

[2021-05-13 17:19] sandren commented on #473
Jotai's `atomWithProxy` can cover your use case. The docs for it can be found here: https://docs.pmnd.rs/jotai/integrations/valtio

[2021-05-13 17:39] zcaudate opened #475 "setting an atom with a promise results in `deleting atomState with read promise` error"
I put together an example here:

https://github.com/zcaudate/js-blessed.store-test

but basically I'm getting an error when using atoms with Suspense.

I'd like to be able to have an atom that is initialised with nil, can have a promise resolving to some data and then be reset back to nil.

So in the example, the atom's [initial value](https://github.com/zcaudate/js-blessed.store-test/blob/master/

[2021-05-13 17:43] zcaudate commented on #473
yep, I'm using it here: https://github.com/zcaudate/js-blessed.store-test/blob/master/src/js/react/store.js#L66

[2021-05-13 19:16] DavoBR opened #476 "Bad setState() call when use atomWithQuery"
i am facing with this error using atom with query

![image](https://user-images.githubusercontent.com/498724/118175253-de250d00-b3fd-11eb-91bf-400a584866c2.png)

it can be reproduced using the original sample with jotai 0.16.4

https://codesandbox.io/s/jotai-query-demo-forked-i28ug?file=/package.json

[2021-05-13 21:34] dai-shi commented on #475
Thanks for reporting. It turns out this is valid and not a bug.
#471 fixes it.

https://ci.codesandbox.io/status/pmndrs/jotai/pr/471/builds/129397
[code]
Would you try the csb build to confirm it?

[2021-05-13 21:44] dai-shi commented on #476
Thanks for reporting.
I think this is the issue we are aware in tests with recent wip changes.
My investigation so far indicates this is DEV-only problem (useDebugState), so production won't have any issues (but we can't see the warnings anyway.)

Just a confirmation, v0.16.3 doesn't show this warning, does it?

[2021-05-14 00:05] DavoBR commented on #476
thanks for reply, i tested with 0.16.3 and 0.16.2 and i get the same warning, but with 0.16.1 the warning is not showing, in the meantime i will be using this version

[2021-05-14 01:09] zcaudate commented on #475
@dai-shi - I tried the [dev build](https://github.com/zcaudate/js-blessed.store-test/tree/4a5823750ba4b598c833aff02d0482c940f603f9) and the error has gone away but now I'm getting this error:

[code]

it seems like resetting the Suspense element is not allowed.

[2021-05-14 07:31] dai-shi commented on #476
Oh, I see. Thanks for confirming. I'll investigate how we can fix it.

[2021-05-14 07:35] dai-shi commented on #475
Thanks for trying.
I'm not exactly sure if it's the expected behavior or a possible bug.
Would it be possible for you to create a minimal repro in codesandbox?
Base: https://codesandbox.io/s/react-typescript-5woxr

[2021-05-14 09:18] zcaudate commented on #475
okay. this actually works on the dom:

https://codesandbox.io/s/react-typescript-forked-813p1?file=/src/App.tsx

It must be an issue with the react-blessed renderer.

[2021-05-14 09:18] #475 closed

[2021-05-14 09:18] zcaudate commented on #475
thanks for your help!

[2021-05-14 14:25] dai-shi commented on #476
@DavoBR When you got time, would you try #477 build?
https://ci.codesandbox.io/status/pmndrs/jotai/pr/477/builds/130326
[code]

[2021-05-15 00:27] #435 closed

[2021-05-15 23:50] dai-shi commented on #476
Just confirmed this is solved. https://codesandbox.io/s/jotai-query-demo-forked-6nhdb

[2021-05-15 23:50] #476 closed

[2021-05-16 10:22] kapv89 opened #479 "typescript type of values from atom incorrect"
I have some code that looks like this

[code]

The inferred type of `userFromAtom` and `tokenFromAtom` should be `User | null` and `string | null` respectively, but the type I get for them is `User` and `string`. Please fix this.

[2021-05-16 10:42] kapv89 commented on #479
Nevermind  .... this was an issue with my tsconfig.json

[2021-05-16 10:42] #479 closed

[2021-05-17 07:23] Albert-Gao commented on #159
Actually, Proxy support for Hermes just landed with 0.64, But I am perfectly fine. Jotai is my go-to statement for React/React Native now.

[2021-05-17 09:10] verekia opened #480 "Updating an atom outside of useAtom hook"
I believe the answer is probably going to be similar to #454, but worth checking :)

I am trying to update an atom outside of a component. For instance that can be in a `handleClick` function that is outside of a component to be reused between multiple components.

[code]

Is there any way to do this? If not, could this become possible in the future, or is there any workaround? Thank you.

As a si

[2021-05-17 09:19] dai-shi commented on #480
How about this?

[code]

The fact is there's no such global thing. Atom values reside inside React. `myAtom` is just a config (atom definition). You can't determine which atom value you are updating, if you are outside React.

[2021-05-17 09:23] dai-shi commented on #480
A workaround would be to use module state. We have two-way bindings. And, we have three options: `jotai/valtio`, `jotai/zustand`, and `jotai/redux`. (Hoping this comment doesn't confuse you.)

But, for your use case described in the first comment, it's not recommended.

[2021-05-17 10:08] verekia commented on #480
Thank you for your quick answer!

I've got your example working in a [CodeSandbox](https://codesandbox.io/s/clever-darwin-buym0?file=/src/App.js).
It took me so long to (kind of) understand what's going on haha.

Isn't it against the rules of hook to execute the hook in the render function of the buttons ? (`onClick={useHandleClick()}`)

In the example it works, but in my app I am getting `Error:

[2021-05-17 11:01] dai-shi commented on #480
It's just a shorthand for this:
[code]

So, nothing wrong.

Are you calling the function like `ButtonA()`, instead rendering like `<ButtonA />`?

Yeah, I agree to avoid too tricky things.

[2021-05-17 11:45] dai-shi opened #482 "Provide convenient type utilities (also hide internal types possibly)"
This issue is to track the idea in https://github.com/pmndrs/jotai/pull/481 and something further.

### Types officially exported now

- Atom
- WritableAtom
- PrimitiveAtom

### Types that would probably be better to export

- Getter
- Setter
- SetStateAction

### Type utilities

- ExtractAtomValue (or a better name)

### Types we want to hide as implementation details

- Read
- Write
- AnyAtom (P

[2021-05-19 07:33] verekia commented on #480
Good point, thank you for the explanation.
My codebase is not at a point where I can easily go back to test the issue in Jotai. I've switched to Zustand with no commit in between. We can close the issue, thank you very much for the quick answers :)

[2021-05-19 07:33] #480 closed

[2021-05-19 08:43] dai-shi commented on #447
https://github.com/pmndrs/jotai/issues/447#issuecomment-830789506

This was actually my bad. I forgot `key={}`. And, it's working fine with the latest version (v0.16.5). It's broken in v0.14.5.

https://codesandbox.io/s/react-typescript-forked-5cnu1?file=/src/App.tsx
It's working as expected.

[2021-05-19 13:22] ErfanAsadi opened #485 "Is there a way to use jotai synced with NextJs router?"
At first let me thank you for your awsome store management,
There is a point, storing some data (state) on the query field of the URL is necessary some times,
But I don't like to handle this directly, I think syncing store with the URL will be a good idea.
In this situation we will have for example a `NextRouterAtom` which is connected to the URL and changing query or state will cause changing the

[2021-05-20 07:07] Thisen commented on #485
We want to tackle NextJS stuff after v1, however feel free to add ideas in #340.

[2021-05-20 13:34] dai-shi commented on #428
@Thiesl137 #474 is merged, and it's basically ready. what's remaining is docs, but you can play around with it.

[2021-05-20 13:54] Thisen opened #487 "Babel plugins: Adding debug label and fast refresh support"
Continued from #388.

We want to support the following with babel plugins:
- Adding debug labels to atoms
- Fast Refresh support

[2021-05-20 13:56] Thisen commented on #388
Closed, as babel plugin and dedicated devtools will be after v1. See #428  and #487

[2021-05-20 13:56] #388 closed

[2021-05-20 15:34] #428 closed

[2021-05-21 00:23] dai-shi commented on #428
Docs PR: https://github.com/pmndrs/website/pull/87

[2021-05-21 14:34] diegoarcega commented on #13
awesome explanation guys. I would be very nice to have a comparison between Zustand or Jotai and Redux.

Question: what are the differences of having the state in react (jotai) over having it externally (zustand) ?  I get that the zustand store can be accessed outside of the react world, but why have it in react ?

[2021-05-21 22:19] dai-shi commented on #13
Do you mean a comparison between jotai and redux? What kind of comparison do you expect?

zustand (and valtio) is module state, and it's basically global in JS memory.
jotai (and recoil) is react state, and although atom definition is global, its state is not.

You can do something like this:
[code]

jotai state is like `useState` and can't be directly accessed outside the react world.

[2021-05-22 08:47] #482 closed

[2021-05-23 05:39] ErfanAsadi commented on #485
Thanks @dai-shi ,
I read about `atomWithHash`, Unfortunately It is just supporting hash in the URL,
I think We need a more general atom which is completely connected to the router (Not just in NextJS).

[2021-05-23 05:48] dai-shi commented on #485
I'm not sure how we can completely connect to the router without two way bindings.
Hm, I think you can always assume changing the route through the atom.
I guess you can create one with `atomWithStorage`, but as it's not "storage", `atomWithRouter` can be implemented for specific router purpose.
Will you work on it? I'm not sure what API people expect. Also, not certain how/if it can be used in ne

[2021-05-23 08:27] ErfanAsadi commented on #485
Sure I will work on that,,
Just let me to read the existing packages which are for connecting router to the Redux and other store managements to see how they work exactly,
I will inform you soon.

[2021-05-23 15:03] SquirrelJimmy opened #490 "[BUG] derived atoms don't update depended on other atoms which update when router back"
I use derived atoms filterTodoList, that depends on filterState, I don't use Provider, when I navigate to other page and go back,
I can update filterState but filterTodoList doesn't update automatic, this is link for recurrent：https://codesandbox.io/s/jovial-shadow-4qnd8.
![动画](https://user-images.githubusercontent.com/24666536/119265874-fcb7af00-bc1a-11eb-8de6-c83b5583737a.gif)

I find in source

[2021-05-23 21:53] Andreyco opened #491 "[useAtomCallback] Incorrect return type"
As of now, `useAtomCallback` wraps everything in `Promise`, which is correct behaviour.

However, if callback returns promise, return type is double nested in `Promise`

[code]

Nested promise is awaited correctly, it is only typing that is incorrect.

[2021-05-23 21:54] Zombobot1 opened #492 "[BUG] TypeError: source[GET_VERSION] is not a function"
jotai version: 0.16.6

I get this error when I try to get atoms snapshot.

I implemented the official [example](https://docs.pmnd.rs/jotai/api/devtools#use-atoms-snapshot), and checked that **process.env.NODE_ENV** equals to development. However, the error still persists.

[2021-05-23 22:00] dai-shi commented on #490
Wow, nice catch!
The fix seems fairly reasonable, but it makes existing tests to fail. (There should be other places to fix in addition, maybe.) 🤔

Would you be interested in working on a PR?
We should have a test for this too. (How can we test such a behavior?)
A failing test without a fix would still be helpful.

[2021-05-23 22:03] dai-shi commented on #492
@Zombobot1 Thanks for reporting.

@Thisen Can you investigate it?

[2021-05-23 22:13] dai-shi commented on #491
Interesting. It's because nested promise is resolved automatically.

The fix should be something like this:
[code]

Would you like to try?

[2021-05-23 22:15] Zombobot1 commented on #492
Just in case you need my code to reproduce the error:

[code]

[2021-05-24 01:21] sex-squirrel commented on #490
yeah, I will have a try when I have a cup of tea

[2021-05-24 07:33] Thisen commented on #492
I'll look into it @dai-shi @Zombobot1

[2021-05-24 07:41] Thisen commented on #492
@Zombobot1, can you reproduce in a Codesandbox?

I tried the following test, without no fails:
[code]

[2021-05-24 08:59] sex-squirrel commented on #490
![image](https://user-images.githubusercontent.com/24666536/119310434-4eefe300-bca2-11eb-8d62-39b7cf863eaf.png)

[2021-05-24 09:27] dai-shi commented on #490
Ah, that function. As noted, it's not implemented perfectly. 😓
So, does it mean the bug is caused because it unmounts some atoms that shouldn't be unmounted?
(that explains why swapping deleteAtom and listeners.delete seems to fix the issue.)

[2021-05-24 13:26] sex-squirrel commented on #490
emmm....I think some atom unMounted, if it's depends alive, that mounted again, it's deps is new, not the first deps! recoil has not the issue I have tried yet

[2021-05-24 14:09] dai-shi commented on #490
Hm, it's pretty obvious that this is some bug around unmount. But, I'm not exactly sure the root cause of the bug.
Would you be able to create a failing test? Maybe in `tests/dependency.test.tsx`.

[2021-05-24 14:15] dai-shi commented on #449
I'm hoping https://github.com/pmndrs/jotai/issues/428 would resolve this issue.

There might be another way to use `useAtomsSnapshot` and Redux DevTools Extension. 🤔

[2021-05-24 14:19] dai-shi commented on #364
Resolved by https://github.com/pmndrs/website/pull/78

[2021-05-24 14:19] #364 closed

[2021-05-24 14:22] dai-shi commented on #245
Let me close this for https://github.com/krausest/js-framework-benchmark/pull/862 and #486.
We are still trying for react-redux-benchmarks, and will see how it goes.

[2021-05-24 14:22] #245 closed

[2021-05-24 21:31] Zombobot1 commented on #492
@Thisen [Here](https://codesandbox.io/s/immutable-shadow-0m9yi?file=/src/index.js) it is

[2021-05-24 22:47] #491 closed

[2021-05-25 08:04] #492 closed

[2021-05-25 14:35] chj-damon opened #496 "how to reset atom in unit test?"
I know I can follow the doc here: https://docs.pmnd.rs/jotai/guides/resettable in my code to achieve this.
But I'm writing unit tests in my project, which it appears that the atom value would be persisted somehow, but I think all the atom values used in different unit tests should not be the same.

my hook is defined below:
[code]

and my unit test is below:
[code]

[2021-05-25 14:53] dai-shi commented on #496
atomWithReset is not primarily for testing. Provider is.
jotai is based on react context and to isolate state within memory, we need to use `<Provider>`.

According to https://react-hooks-testing-library.com/usage/advanced-hooks#context
[code]
This may help.

[2021-05-25 14:57] dai-shi commented on #252
related: #496

[2021-05-25 23:54] dai-shi commented on #496
It was too naive. Here I made the codesandbox example.
https://codesandbox.io/s/zealous-heyrovsky-w1u4t?file=/src/useOnBoardingService.test.tsx
You need  to create two hooks under the same Provider.

For the `act()` warning, it's probably the same one we had in tests in our repo. Currently worked around, but we'd need to investigate for a proper fix for it. `help wanted` for this.

[2021-05-26 02:06] chj-damon commented on #496
Thanks, it works perfectly now. the `act()` warning has gone too. I think this may answer [252](https://github.com/pmndrs/jotai/issues/252) of how to write unit tests.

[2021-05-26 02:06] #496 closed

[2021-05-26 02:38] dai-shi commented on #496
Yeah, we should write some docs wrt #252. This issue helped understanding the usage. Thanks!

[2021-05-26 02:49] chj-damon commented on #496
besides, I think it's better to write logic code in custom hooks separately, instead of writing theme in components.

[2021-05-26 03:14] dai-shi commented on #496
I'd personally do that even with useState. It's more about how you organize your code in React in general.
The library is rather unopinionated about the code structure. Happy to see someone come up with best practices.

[2021-05-26 07:16] J-env opened #497 "Code not compiled to ES5 after build"
Code not compiled to ES5 after build.

I am using **next.js**.

There are arrow function const and for of statements in the code.
I compared the codes of other files, and there is no such situation.

// jotai lib
![image](https://user-images.githubusercontent.com/25259920/119617279-40d1cc00-be34-11eb-87af-16f6e6f3300e.png)

// other lib
![image](https://user-images.githubusercontent.com/25259920/1

[2021-05-26 07:57] Thisen commented on #497
Jotai uses [package exports](https://webpack.js.org/guides/package-exports/) in package.json, which makes it clear to bundlers like Webpack and Rollup what source code it can bundle. I assume you're using Chrome from the screenshots and Next.js knows it's serving the code to a modern browser, therefore it can utilize modern JS features.

Are you having any issues?

[2021-05-26 08:29] J-env commented on #497
I set up browserslist.

[code]

Compilation of other libraries is normal. It's weird.
I want to compile jotai into es5.

[2021-05-26 08:35] Thisen commented on #497
I believe Next.js detects what browser you are in and serves code that can run in that browser. I advice you to try out your app in IE11.

[2021-05-26 08:45] J-env commented on #497
I have debugged. Syntax error, es6 cannot be recognized.
Mainly other libraries are normal.

![image](https://user-images.githubusercontent.com/25259920/119630403-81841200-be41-11eb-863e-f96fb3edc44a.png)
![image](https://user-images.githubusercontent.com/25259920/119630435-8648c600-be41-11eb-8fbf-db2b6767522e.png)

[2021-05-26 08:59] Thisen commented on #497
What version of Node are you using?
What version of Next.js are you using?

[2021-05-26 09:01] J-env commented on #497
[code]

[2021-05-26 09:03] Thisen commented on #497
Please try out the latest LTS of Node (I think it's 14.17.0) - If this doesn't solve your issue, please provide a Github repo with a reproduction.

[2021-05-26 09:13] dai-shi commented on #497
@J-env

jotai provides two bundles: commonjs in es5 for old browsers and module js for modern browsers.
nextjs would have used cjs before, but if not, you need to transpile module code into es5 by yourself.
See: https://github.com/pmndrs/jotai/issues/265#issuecomment-799784574

[2021-05-26 10:43] J-env commented on #497
Thanks. Already resolved.

[2021-05-26 19:16] #497 closed

[2021-05-26 19:16] Thisen commented on #497
Closed, since resolved.

[2021-05-26 23:35] dai-shi commented on #490
I made a failing test in https://github.com/pmndrs/jotai/tree/fix/issue-490. I hope this is the one in this issue.

[2021-05-27 01:35] dai-shi commented on #490
https://codesandbox.io/s/ancient-morning-gvkuk
Fixed by #498

[2021-05-27 07:17] sex-squirrel commented on #490
I also find just now
![image](https://user-images.githubusercontent.com/24666536/119782252-84910800-befe-11eb-931e-0b08b7c788dc.png)
![image](https://user-images.githubusercontent.com/24666536/119782323-a4283080-befe-11eb-83fb-68d6e0d7643c.png)

[2021-05-27 07:22] sex-squirrel commented on #490
please release soon, I waite for this to show someone a using case which used jotai😸😸

[2021-05-27 07:54] #490 closed

[2021-05-27 07:56] dai-shi commented on #490
You can just use the codesandbox build if you are in hurry.

https://ci.codesandbox.io/status/pmndrs/jotai/pr/498/builds/134242

[code]

[2021-05-27 09:57] SquirrelJimmy commented on #490
thank you so mach!

[2021-05-28 09:41] dai-shi commented on #337
closed by #489

[2021-05-28 11:16] Thisen commented on #252
I believe we should echo `react-testing-library`'s [guiding principles](https://testing-library.com/docs/guiding-principles) around focusing on testing like how a user would interact with your code/components.

Therefore we could encourage:
- You should test your components, using your atoms
- If you have a alot of logic in an atom, you use `react-hooks-testing-library`

I'm happy to make a write-

[2021-05-28 12:57] dai-shi commented on #252
That's great news. Please go ahead.

[2021-05-30 12:59] dai-shi commented on #252
Closing this as https://github.com/pmndrs/website/pull/92 is merged.

Although the original question may not be fully answered, please open a new issue or discussion instead of continuing discussions here.

[2021-05-30 12:59] #252 closed

[2021-05-30 15:19] Thisen commented on #231
@merisbahti @mhcoffin @dai-shi, are there still an issue here? Please fill me in.
A codesandbox reproduction or failing test would be appreciated.

[2021-05-30 23:01] dai-shi commented on #231
Okay, I checked the codesandbox in https://github.com/pmndrs/jotai/issues/231#issuecomment-743437912, which is a failing reproduction.

The `personAtom` definition was not correct and fixed:
[code]

Confirmed the bug in v0.11.3, and confirmed it's fixed in v0.16.8.
https://codesandbox.io/s/focusatom-with-non-primitive-atoms-forked-c5d7r?file=/src/App.tsx:440-605

---
Digging it more.
It doesn't wo

[2021-05-30 23:01] #231 closed

[2021-05-30 23:06] dai-shi commented on #231
btw, `atom(value, write)` usage is not documented. i've been wondering about it. so far it's a hidden feature and only exposes as `atomWithReducer`.

---
another thing found is `const a = atom(() => value, (_, set, v) => { set(a, v) })` is not supported, but seems working by chance. We should probably restrict it.

[2021-05-31 00:20] dai-shi commented on #447
This has been a great discussion. We've fixed some bugs.
The current recommendation for tree structure is using splitAtom and focusAtom.
However, we noticed some use cases should be handled more nicely.
We will continue to explore best practices and collect feedbacks.

Closing this now, and for further discussions, please open a new issue/discussion.

[2021-05-31 00:20] #447 closed

[2021-05-31 00:27] dai-shi commented on #426
Let me close this for now and revisit it once React releases a new version.

jotai v1 won't support CM officially, but it should work. And to my knowledge, the current behavior is correct (or best effort) at the moment.

[2021-05-31 00:27] #426 closed

[2021-06-02 12:02] diegoarcega commented on #13
Sorry, I mean a comparison between jotai, zustand and redux, It would be more of a comparison of speed, if one has quirks (zombie child issue for example), caveats, limitations.

jotai (and recoil) is react state, and although atom definition is global, its state is not.

Are there performance penalties or any other caveats of picking **module state** over **react state** ?
If I am able to use the

[2021-06-02 23:07] dai-shi commented on #13
Speed/performance is a hard one. If it's about extra re-renders in React, all work good. For implementation efficiency, one would need to measure in a similar setting to your app. There might be differences, but technically jotai/zustand/redux all depend on immutability, so theoretical limit should be similar. valtio depends on proxies (like mobx) and can have some overhead.

Zombie child issue co

[2021-06-04 14:38] #452 closed

[2021-06-09 12:23] tell-y opened #510 "Facing an error with splitAtom version of todos example"
Hi,
I tried to use splitAtom() to learn it with the todos example.
Then I'm facing an error with a specific operation.

Representation code:
https://codesandbox.io/s/todos-splitatom-sample-ts-jh9mz

The specific operation:
https://user-images.githubusercontent.com/6883692/121356500-dd838600-c96b-11eb-9a09-b75caab9318c.mov

Maybe it's a bug so I just report It.
Thanks.

[2021-06-09 19:00] ahfarmer commented on #420
I haven't tried Jotai yet - but just been pretty heavily burned by Recoil. Recoil essentially holds on to every piece of state it is every given. See these GitHub issues about memory leaks: https://github.com/facebookexperimental/Recoil/issues/1064 https://github.com/facebookexperimental/Recoil/issues/1040 https://github.com/facebookexperimental/Recoil/issues/981 https://github.com/facebookexperim

[2021-06-09 21:35] ahfarmer opened #511 "useRecoilCallback equivalent"
Trying to migrate from `recoil` because of memory leaks. Does `jotai` have a `useRecoilCallback` equivalent?

My use-case is that I have a timestamp atom which updates many times per second. I want to write a callback that can grab that timestamp in a callback, without the callback having to continuously be recreated.

[code]

I can improve it a bit with refs, but its a bit ugly and still not the

[2021-06-09 22:12] dai-shi commented on #511
Welcome to jotai world!

[code]

Alternatively, there is `useAtomCallback` which does the same thing underneath with promise interface.

[2021-06-10 19:28] ahfarmer opened #512 "atomFamily not updating with param from another atom"
I've got a derived atomFamily that uses a string atom as a parameter in another atomFamily. The problem is that when the first atomFamily updates, the derived atomFamily doesn't seem to notice.

Here's the full reproduction, which can be pasted into App.tsx of a project created with `npx create-react-app jotclock --template typescript`.

This app just has an atomFamily of clock times, and an atom

[2021-06-10 23:18] dai-shi commented on #512
Nice catch. This seems a regression in v0.16.10.

https://codesandbox.io/s/keen-cherry-06nxw?file=/src/App.tsx
I added Provider and debugLabel to check `dependents`.

v0.16.10 (after clicking the button)

<img width="517" alt="image" src="https://user-images.githubusercontent.com/490574/121608619-53334300-ca8d-11eb-9205-3b4f6cc116eb.png">

v0.16.9 (after clicking the button)

<img width="507" alt=

[2021-06-10 23:27] ahfarmer commented on #512
You're right, its not an atomFamily issue. Here's a repro without atomFamily:

[code]

[2021-06-11 14:28] #512 closed

[2021-06-11 23:19] dai-shi commented on #510
This is already handled. So, the bug seems to be caused by a subtle timing issue. @Aslemammad is investigating it.

[2021-06-14 06:02] sebastienbarre opened #517 "[Bug] atom state not found in flush undefined (introduced in 0.16.11)"
I had been using 0.16.7 for a while, and decided to upgrade my dependencies tonight.
This updated my app to 0.16.11, where Jotai started failing left and right for me with multiple errors popping up in the console:
[code]
I reverted back to 0.16.7 and started climbing the release versions to isolate the culprit.
0.16.10 still works fine for me... it seems 0.16.11 is problematic in my situation.
Le

[2021-06-14 07:04] dai-shi commented on #517
Thanks for reporting.

The fix in v0.16.11 is very important. Here's the diff.

[code]

I assume the problem is caused by creating an array from map iterator.

---

OK, I think I get it.

The cjs build: `var pending = [].concat(state.p);` <--- WRONG transpilation

The esm build: `const pending = [...state.p];`

[2021-06-14 07:10] dai-shi commented on #517
Can you try the codesandbox build in #518 and see if it fixes your issue?

[2021-06-14 11:22] #517 closed

[2021-06-14 14:45] sebastienbarre commented on #517
I can't test my app in a codesandbox, but I can try to update to v1.0.0 in a few

[2021-06-14 14:48] sebastienbarre commented on #517
This worked, thank you, v1.0.0 does not trigger the aforementioned errors.

[2021-06-14 15:24] dai-shi commented on #517
Cool! and what a relief.

By "try codesandbox build", I mean you can install the build with `npm` or `yarn` to your local app.

https://ci.codesandbox.io/status/pmndrs/jotai/pr/518/builds/139548 It's a bit hard to find the link and the instructions. 😕

[2021-06-15 11:43] fkocovski opened #521 "async set atom remains cached"
I have an async atom that looks like follows

[code]

Now up until `v0.16.8` if I wanted to imperatively refresh my data I could use something like

[code]

However starting with `v.0.16.9` after calling `updateData` every component that has

[code]

has now stale data that dates back to before calling the imperative refresh. Any ideas? This is a breaking change for our application.

[2021-06-15 13:01] dai-shi commented on #521
Sorry for the confusion.

https://github.com/pmndrs/jotai/blob/39bc8b31d05835f4af83b3dcf0d2971f984aa52c/src/core/vanilla.ts#L440-L441
It's prohibited now. You don't get this error?

The canonical pattern is to use two atoms. Or, can you try `atomWithDefault`?

[2021-06-15 13:18] fkocovski commented on #521
Ouch :(

No such warning on my side. If this really is prohibited now it would require a tremendous refactoring on our end. Do you think there might be a workaround?

What would be the actual pattern with `atomWithDefault`? Sadly going with 2 atoms might prove difficult in our case, since the data contained by that async atom is really central for many components.

Thank you for responding so quic

[2021-06-15 22:10] dai-shi commented on #521
Actually, atomWithDefault is implemented with 2 atoms internally.

[code]

this is supposed to work.

[2021-06-16 07:12] fkocovski commented on #521
How stable is the `atomWithDefault` API? Do you have plans for a short term refactoring or breaking changes in this regard? I'm trying to evaluate the required effort for refactoring since it would involve quite some components that relied on this approach.

Moreover I am still trying to understand the actual logic of `atomWithDefault`. Would you care to elaborate a little bit? I'd love to underst

[2021-06-16 11:36] SquirrelJimmy opened #522 "Can't get an async atom with default value in writable atom when update"
I have some useages:
[code]
if `read` did't mounted when I used, it throw a error `Promise<pendding>`, if `read` had mounted, it's ok

[2021-06-16 11:37] SquirrelJimmy commented on #522
`atomWithDefault` has same issue

[2021-06-16 12:08] dai-shi commented on #521
I think it's complete. Please check the source code if you are interested in how it's implemented.

It works like PrimitiveAtom, but the initial value is specified by `read` which tracks dependencies.
Once it's overwritten, it behaves like a normal primitive atom, and no more tracking.

Yeah, I'd rather encourage reading the code, and you might have an idea for some variants for your purpose.

[2021-06-16 12:22] dai-shi commented on #522
Thanks for opening this.

I'm aware of this.

https://github.com/pmndrs/jotai/blob/00aaaf7678c68b7976d5bbd54ed639a6b57c763b/src/core/vanilla.ts#L411-L421

But, I'm note sure what we should do.
For now, it throws a promise, and you can catch it and retry.
This doesn't seem ideal. So, I decided to collect some feedback.

This is going to take some time, and your idea is welcomed.

----

In the mean

[2021-06-16 12:34] fkocovski commented on #521
Ok I will have a look at the implementation of `atomWithDefault`. The thing I don't really get is why is such a behaviour dangerous for a primitive `atom`?

[2021-06-16 13:06] fkocovski commented on #521
When I try to implement it like this I first get a warning in my IDE that `atomWithDefault` only expects 1 argument, i.e. no write part, and then when I call the update function with `useUpdateAtom` it never gets invoked. Am I doing something wrong there?

[2021-06-16 13:21] dai-shi commented on #521
Oops, that was my bad. So, it has to be something like this.

[code]

It may not seem ideal, but does this at least work?

[2021-06-16 13:31] fkocovski commented on #521
Don't you mean to use a normal `atom` for the `const someAsyncAtom`? Otherwise the problem still remains the same.

[2021-06-16 13:35] fkocovski commented on #521
Ok so I tested it with `v1.0.0` and the following code and it appears to be working

[code]

However we have 30+ such cases scattered across our code base, I really can't have a duplication of all those atoms :( Is there any other more elegant way that we could keep it backwards compatible?

[2021-06-16 14:26] SquirrelJimmy commented on #522
Thanks so much! Em... I will try it by storing a promise value, if you have some perfect idea, I will upgrade jotai

[2021-06-16 14:59] dai-shi commented on #521
Well, I mean it's composable. You can create your own util on your end.

[code]

Oh, this doesn't work...

---

[code]

I hope this works for you with this pattern.
(And, if so, we can improve it by embedding atomWithDefault impl.)

[2021-06-16 17:40] redbar0n commented on #13
What if one wants this?
* atoms, bottom-up and composable
* time-travel debugging - to not only debug easier client-side, but also to be able to transfer all actions to server, for easy bug reproducability
* everything stored outside of the React tree - to avoid rendering concerns, and to be cross-framework compat.)

[2021-06-16 22:00] dai-shi commented on #13
"localized" and "everything outside" sound conflicting??

[2021-06-16 23:33] redbar0n commented on #13
yeah, that’s how it sounds.. I meant only that it would be nice to co-locate state with components, but not have the stores themselves be inside/tied to the render tree (yet somehow be able to target and trigger rendering.. maybe hooks is the best for this after all…).

So sort of like Zustand, if I’m not mistaken, but atomized design which is bottom-up composable. Maybe Jotai with hooks would be

[2021-06-16 23:44] dai-shi commented on #13
If I'm not mistaken, time-traveling is still possible with internal states. `usetAtomDevtools` does it (for each atom, but technically you could create a catch-all atom). And, we have new hooks like `useAtomsSnapshot` and `useGotoAtomsSnapshot`, and a dedicated devtool is work in progress #428.

[2021-06-16 23:45] dai-shi commented on #333
We did it! 🎉 🎉 🎉

[2021-06-16 23:45] #333 closed

[2021-06-17 08:28] fkocovski commented on #521
Ok I see your point. I think however that it would be nice if there was a kind of "out-of-the-box" solution for this use case, as I reckon it might be quite frequent. Just my 2C ;) I will try your approach with the custom solution and report back. Many thanks!

[2021-06-17 08:42] dai-shi commented on #521
Yeah, after writing the last snippet, I felt the same. This use case is slightly different from `atomWithDefault`, so a dedicated util would be nice. Your feedback is appreciated. Would love to hear how your solution goes.

[2021-06-17 08:43] dai-shi commented on #521
cc @aulneau

[2021-06-17 10:49] fkocovski commented on #521
Ok so I took a look at our current atoms and the most frequent use case is as follows:

1. Initially get data in async fashion by accessing other atoms' data.
2. The write part can be divided in 2 parts:
- Imperatively call function that refreshes the data. This is basically the same call as done in the initial get part
- Manually pass data that was queried from somewhere else and just set data pa

[2021-06-17 11:07] dai-shi commented on #521
1. this doesn't have to be async
2. i prefer not to depend on hooks

I think the implementation will be the combination of atomWithReset and atomWithDefault.

I'm not sure what it should be called but the implementation is something like this:

[code]

[2021-06-17 11:15] dai-shi commented on #521
Do you want to make the value change if dependencies are changed after refresh? Or you need control on it?

[2021-06-18 01:36] alvin0216 opened #523 "How to use atom like hooks?"
I want to use updateAtom in another atom, for example ~

![image](https://user-images.githubusercontent.com/34113677/122492318-1f6d9580-d018-11eb-840a-489e05f76175.png)

[2021-06-18 07:39] dai-shi commented on #523
[code]
Is this what you are asking?

[2021-06-18 08:16] alvin0216 commented on #523
Like this, can jotai achieve it?

[code]

Thanks for your answer

[2021-06-18 08:24] alvin0216 commented on #523
And I have anthoer question：

it can't take effect here when I use jotai out of hooks:

[code]

[2021-06-18 08:39] dai-shi commented on #523
Almost. Here it is:

[code]

[2021-06-18 08:44] dai-shi commented on #523
Like this?
[code]

Rule of thumb: Think how you would do with `useState`.

[2021-06-18 09:02] alvin0216 commented on #523
It almost what i want...thanks so much.

[code]

In some scenarios, we only want to read the current value of a atom, without subscribing to its updates.

[umijs/hox](https://github.com/umijs/hox#readonly) support it...

[2021-06-18 09:30] dai-shi commented on #523
Jotai atomic way:

[code]

[2021-06-19 02:07] kozubsky opened #528 "Does atom value that is not defined in closest Provider fetched from ancestor Providers?"
Hello Daishi! First of all, let me thank you for awesome libraries! =)

Well, let's look at this code:
[code]

It will render:

[code]

The question is: is there way for counter 2 to fetch ("inherit") a `colorAtom` value from a root provider in case when `colorAtom` is not defined in initialValues of closest provider A?

I am wondering how I can use jotai atoms for using in subtree components with

[2021-06-19 04:36] dai-shi commented on #528
No, this is not possible by design. It will look for a store in the closest Provider, and that's it.

How is this possible with React Context? Anyway, it will never happen as it would be bad in performance as you imply.

I'm not sure about your use case. We have atom "scope" but I guess it doesn't help you.

[2021-06-20 02:00] dai-shi commented on #521
The previous one is violating a rule. Here's the fixed one.

[code]

Now, I think this is just an extension to atomWithDefault.

[2021-06-20 02:46] dai-shi commented on #427
Hello folks, here's a small example:
https://codesandbox.io/s/react-typescript-forked-d9zkq?file=/src/App.tsx

Two notes:
- Initializing clientAtom is tricky and doesn't work in provider-less mode
- Is there a better way to create TypedDocumentNode in codesandbox?

[2021-06-20 05:30] kozubsky commented on #528
Hello Daishi! Thank you for answer!

I understood that atom values "inheritance" is not possible by design in jotai. Also, I realized that "inheritance" in React Context I meant is not inheritance, but other thing.

In React we have createContext function, and we able to create different context "types". For example, we can create `ColorContextProvider`, containing values {color: (default) 'red'}

[2021-06-20 05:44] kozubsky commented on #528
Wow, just tested jotai Providers scoping, and it works, the behaviour seems to be the same as in React Context example above.

[code]
Can you overview this solution from performance point of view? Should it be better than with React Context solution? What if we increase Providers count to 50, for example?

[2021-06-20 08:36] vasilenka opened #538 "useMount doesn't execute the unmount function when value updated"
I'm trying to track when a value of an atom unmounted

From this snippet, I am expecting to see 'unmounting' logged on the console when I start typing on the input field, but there's nothing logged on the console

[code]

Does there's no re-render happened on the App, so no un-mount happened?

The weird thing is, It's working just fine a few days ago
So I am not sure what's happening here

Here's

[2021-06-20 09:20] dai-shi commented on #528
Good, so it seems like scoping works for you. Internally, it's just multiple React contexts, and the performance should be the same (meaning good).

[2021-06-20 09:26] dai-shi commented on #538
Conceptually, mounting atom happen if  the atom is used with `useAtom` for the first time, unmounting is all `useAtom`s are no longer used.

So, with you code snippet, not showing "unmounting" is expected.

[2021-06-20 11:54] vasilenka commented on #538
I see...
My mistake there for thinking it's the equivalent of useEffect

Thank you for clarifying!

[2021-06-20 11:54] #538 closed

[2021-06-21 00:26] dai-shi commented on #427
Updated version: https://codesandbox.io/s/react-typescript-forked-yqboc?file=/src/App.tsx

This is resolved.

[2021-06-21 01:08] alvin0216 commented on #523
thank you very much!